<div id="login" update-text-fields>
    <div class="row">
        <div class="col s12 m6 l4 offset-m3 offset-l4">
            <div class="login-form">
                <div class="row">
                    <form class="col s12" name="vm.loginForm" ng-submit="vm.loginForm.$valid && vm.login(vm.user)" novalidate>
                        <div class="row">
                            <md-input-container class="col s12">
                                <label class="required" for="email">Email</label>
                                <input id="email" type="email" ng-model="vm.user.email" name="email" required ng-maxlength="40">
                                <div class="errors">
                                    <span ng-show="vm.loginForm.$submitted && vm.loginForm.email.$error.required">Required</span>
                                    <span ng-show="vm.loginForm.$submitted && vm.loginForm.email.$error.email">Please enter a valid email</span>
                                    <span ng-show="vm.loginForm.$submitted && vm.loginForm.email.$error.maxlength">The value is too long</span>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <md-input-container class="col s12">
                                <label class="required" for="email">Password</label>
                                <input id="email" type="password" class="validate" ng-model="vm.user.password" name="password" required ng-maxlength="40">
                                <div class="errors">
                                    <span ng-show="vm.loginForm.$submitted && vm.loginForm.password.$error.required">Required</span>
                                    <span ng-show="vm.loginForm.$submitted && vm.loginForm.password.$error.maxlength">The value is too long</span>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="row login-btn">
                            <button class="btn waves-effect waves-light" ng-class="{'disabled': vm.inProgress}" ng-disabled="vm.inProgress" type="submit" name="action">Login
                                <i class="material-icons right">trending_flat</i>
                                <i class="material-icons right icon-pending">replay</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

