<div class="create-page create-job-title">
    <div class="col-xs-12">
        <div class="create-form create-job-title-form">
            <h2 class="text-center">Create new Job Title</h2>
            <form name="vm.create_job_title_form" ng-submit="vm.create_job_title_form.$valid && vm.createJobTitle(vm.job_title)" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group float-input">
                            <label class="active">Name *</label>
                            <input type="text" ng-focus="vm.create_job_title_form.name.$focused = true" class="form-control" ng-model="vm.job_title.name" name="name" required ng-maxlength="255">
                            <div class="icons" ng-show="vm.create_job_title_form.name.$focused">
                                <i ng-if="!vm.create_job_title_form.name.$error.required && !vm.create_job_title_form.name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_job_title_form.name.$error.required || vm.create_job_title_form.name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_job_title_form.$submitted && vm.create_job_title_form.name.$error.required">Required</span>
                                <span ng-show="vm.create_job_title_form.$submitted && vm.create_job_title_form.name.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group float-input">
                            <label class="active">Job Title *</label>
                            <input type="text" ng-focus="vm.create_job_title_form.job_title.$focused = true" class="form-control" ng-model="vm.job_title.job_title" name="job_title" required ng-maxlength="255">
                            <div class="icons" ng-show="vm.create_job_title_form.job_title.$focused">
                                <i ng-if="!vm.create_job_title_form.job_title.$error.required && !vm.create_job_title_form.job_title.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_job_title_form.job_title.$error.required || vm.create_job_title_form.job_title.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_job_title_form.$submitted && vm.create_job_title_form.job_title.$error.required">Required</span>
                                <span ng-show="vm.create_job_title_form.$submitted && vm.create_job_title_form.job_title.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="active">Job Description</label>
                            <textarea name="job_description" cols="30" rows="5" ng-focus="vm.create_job_title_form.job_description.$focused = true" class="form-control" ng-model="vm.job_title.job_description" name="job_description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group float-input">
                            <label class="active">Order</label>
                            <input type="text" ng-focus="vm.create_job_title_form.order.$focused = true" class="form-control" ng-model="vm.job_title.order" name="order" ng-pattern="/^\d+$/">
                            <div class="icons" ng-show="vm.create_job_title_form.order.$focused">
                                <i ng-if="!vm.create_job_title_form.order.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_job_title_form.order.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_job_title_form.$submitted && vm.create_job_title_form.order.$error.pattern">Please enter a number</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="active">Active</label>
                            <input type="checkbox" ng-focus="vm.create_job_title_form.status.$focused = true" ng-model="vm.job_title.status" name="status" ng-true-value="1" ng-false-value="0">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-disabled="inProgress" type="submit" class="btn ui-btn btn-full-width orange-btn-sm" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>