<div class="row acl-tabs">
    <ul class="tabs" material-tabs>
        <li ng-show="user.can('view.admins')" class="tab col s3 m2"><a ui-sref="app.acl.list" ng-class="{'active': $state.includes('app.acl.list')}">Users</a></li>
        <li ng-show="user.can('view.roles')" class="tab col s3 m2"><a ui-sref="app.acl.roles" ng-class="{'active': $state.includes('app.acl.roles')}">Roles</a></li>
    </ul>
</div>
<div ui-view="acl-admin"></div>
