.detail-job-page {
    margin-bottom: 50px;
    &.full-wrap {
        .bg-wrap {
            height: 276px;
            &:after {
                height: 276px;
            }
        }
    }
    %icon {
        margin-right: 5px;
    }
    %element {
        float: left;
        margin: 0 22px 15px 0;
    }
    %wrapper {
        padding: 15px;
        background: #fff;
        margin-bottom: 15px;
    }
    h3 {
        font-size: 16px;
        margin: 10px 0 15px;
        font-weight: 300;
    }
    .login-wrapper {
        float: left;
        margin-right: 10px;
    }
    .register-wrapper {
        float: left;
        margin-right: 10px;
    }
    .apply-wrapper {
        float: left;
        margin: 0;
        .apply-without-registration {
            color: #0071bc;
            &:hover {
                color: #0071bc;
            }
        }
    }
    .report-abuse-wrapper {
        margin-top: 10px;
        .report-abuse {
            color: #0071bc;
            &:hover {
                color: #0071bc;
            }
        }
    }
    .left-block {
        // float: left;
        // width: 72%;
        .job-information-action {
            background: #fff;
            margin-bottom: 15px;
            .information {
                clear: both;
                border-bottom: 1px solid #e4e4e4;
                padding: 15px;
                .job-title {
                    font-size: 18px;
                    line-height: 1;
                    font-weight: 400;
                    margin: 0;
                }
                .company-name {
                    font-weight: 400;
                    color: #2c2b2b;
                    margin-top: 5px;
                }
                h2,
                h3 {
                    font-size: 16px;
                    margin: 10px 0 15px;
                }
                .experience-location {
                    margin-top: 10px;
                    overflow: hidden;
                    .experience {
                        @extend %element;
                    }
                    .salary {
                        @extend %element;
                    }
                    .location {
                        @extend %element;
                    }
                    .experience,
                    .location,
                    .salary {
                        .icon {
                            @extend %icon;
                        }
                    }
                }
                .education-nationality-gender {
                    overflow: hidden;
                    .education {
                        @extend %element;
                        width: 48%;
                        .icon {
                            @extend %icon;
                        }
                    }
                    .nationality {
                        @extend %element;
                        width: 32%;
                        .icon {
                            @extend %icon;
                        }
                    }
                    .gender {
                        @extend %element;
                        width: 10%;
                        .text {
                            text-transform: capitalize;
                        }
                        .icon {
                            @extend %icon;
                        }
                    }
                }
            }
            .action-wrapper {
                padding: 15px;
                overflow: hidden;
            }
        }
        .job-description-wrapper {
            margin-bottom: 15px;
            .information {
                @extend %wrapper;
                margin: 0;
                border-bottom: 1px solid #e4e4e4;
                .email-share {
                    .email {
                        line-height: 1;
                        padding-bottom: 2px;
                        display: inline-block;
                        margin: 6px 0 0;
                    }
                    .horizontal {
                        border-right: 1px solid #d6d6d6;
                        height: 20px;
                        margin: 4px 8px 0;
                    }
                    .share {
                        line-height: 1;
                        padding-bottom: 2px;
                        display: inline-block;
                        margin: 6px 0 0;
                    }
                }
            }
            .industry-functional {
                @extend %wrapper;
                margin: 0;
                .link {
                    &:after {
                        padding: 0 0 0 8px;
                        color: #555;
                        content: "/\00a0";
                    }
                    &:last-child {
                        &:after {
                            content: '';
                        }
                    }
                }
            }
        }
        .desired-candidate-profile-wrapper,
        .keywords-wrapper {
            @extend %wrapper;
        }
        .keywords-wrapper {
            .keywords {
                background: #f7f7f7;
                display: inline-block;
                padding: 5px 15px;
                margin: 0;
                span {
                    padding-left: 4px;
                    &:after {
                        padding: 0 0 0 8px;
                        color: #555;
                        content: "/\00a0";
                    }
                    &:last-child {
                        &:after {
                            content: '';
                        }
                    }
                }
            }
        }
    }
    .right-block {
        // width: 26.5%;
        // float: right;
        // margin-left: 1.5%;
        .company-wrapper {
            background: #fff;
            padding-bottom: 30px;
            margin-bottom: 15px;
            padding: 28px 15px 30px 15px;
            .company-name {
                margin: 0;
                padding: 0;
                line-height: 24px;
            }
            .company-info {
                margin-top: 15px;
                overflow: hidden;
                .heading {
                    color: #000;
                    font-weight: bold;
                }
            }
            .company-contact {
                .heading {
                    font-size: 16px;
                    font-weight: normal;
                    color: #555;
                }
                .sub-heading {
                    font-weight: bold;
                    color: #000;
                }
            }
            .company-address,
            .company-fax,
            .company-mobile {
                .heading {
                    float: left;
                }
                .text {
                    float: left;
                }
            }
            .company-website {
                .text {
                    a {
                        color: #555;
                    }
                }
            }
        }
        .advertisements-wrapper {
            .advertisements {
                .advertisement-item {
                    margin-bottom: 15px;
                    img {
                        background-size: cover;
                        background-repear: no-repeat;
                        width: 100%;
                    }
                }
            }
        }
        .similar-jobs-wrapper {
            @extend %wrapper;
            padding: 0;
            .title-view-all {
                overflow: hidden;
                padding: 0 15px;
                .title {
                    margin: 25px 0 15px;
                }
                .view-all {
                    margin-top: 25px;
                    color: #0071bc;
                    &:hover {
                        color: #0071bc;
                    }
                }
            }
            .list-jobs {
                clear: both;
                .job {
                    padding: 15px;
                    border-top: 1px solid #e4e4e4;
                    color: #7e7e7e;
                    &:hover {
                        background: #eefefe;
                    }
                    .job-title {
                        font-size: $normal;
                        font-weight: 400;
                        color: #555;
                        margin-top: 0;
                        line-height: 24px;
                    }
                    .company-name {
                        font-size: 13px;
                        color: #7e7e7e;
                        margin-top: 2px;
                        font-weight: 400;
                        margin-bottom: 14px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .experience,
                    .location {
                        margin-bottom: 10px;
                        .icon {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}