.list-jobs-page {
    .ui-select-bootstrap {
        .ui-select-toggle {
            outline: 0;
            height: 60px;
            border-radius: 0;
            box-shadow: none;
            border: 0;
            border-right: 1px solid #d5d5d6;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            line-height: 45px;
            font-size: 18px;
            &:hover,
            &:active,
            &:focus {
                background-color: #fff;
            }
        }
    }
    .ui-select-bootstrap {
        .ui-select-match-text {
            display: inline-block;
            line-height: 45px;
        }
    }
    .ui-select-bootstrap>.ui-select-choices,
    .ui-select-bootstrap>.ui-select-no-choice {
        opacity: 1!important;
    }
    .search-job {
        position: relative;
        height: 276px;
    }
    .adv-search {
        position: relative;
        margin-top: 32px;
        form {
            margin-bottom: 18px;
            >div {
                position: relative;
                float: left;
            }
        }
        .keyword-section {
            width: 47%;
            input {
                border-right: 1px solid #d5d5d6;
                border-left: 1px solid transparent;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }
        }
        .heading {
            font-size: 20px;
            font-weight: 300;
            color: #fff;
            display: block;
            margin-bottom: 13px;
            label {
                font-weight: normal;
                margin-bottom: 0;
            }
        }
        input {
            border: none;
            background-color: #fff;
            height: 60px;
            width: 100%;
            padding: 15px 20px 15px 18px;
            font-size: 18px;
            font-weight: 300;
            color: #555;
            outline: 0;
        }
        .location-section {
            width: 24%;
            input {
                border-right: 1px solid #d5d5d6;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                border-radius: 0;
            }
        }
        .experience-section {
            width: 14%;
            select {
                margin: 0;
                width: 100%;
                height: 60px;
                background: #fff;
                border: 0;
                padding: 0 15px;
                font-size: 18px;
                &:focus,
                &:active {
                    outline: 0;
                }
            }
        }
        .submit-section {
            width: 15%;
            input {
                background-color: #ff2e49;
                font-size: 18px;
                font-weight: 500;
                color: #fff;
                cursor: pointer;
                border-radius: 0;
            }
        }
    }
    .refine-search-wrapper {
        .search-heading {
            font-weight: bold;
            color: #777;
            margin-bottom: 15px;
            float: left;
        }
        .reset-all {
            float: right;
            color: #777;
            margin-top: 10px;
            text-decoration: underline;
        }
        .filters {
            clear: both;
            .filter-wrapper {
                &:after {
                    content: "";
                    width: 100%;
                    height: 17px;
                    display: block;
                    border-top: 1px solid #d4d4d4;
                    margin-top: 10px;
                }
                .filter-heading {
                    font-size: $normal;
                    color: #777;
                    margin-bottom: 12px;
                    font-weight: 400;
                    float: left;
                    margin-top: 0;
                    padding-left: 15px;
                    position: relative;
                    &.clickable {
                        cursor: pointer;
                    }
                    &:before {
                        content: "\f107";
                        font-family: "FontAwesome";
                        position: absolute;
                        left: 0;
                    }
                    &.arrow-right {
                        &:before {
                            content: "\f105";
                            font-family: "FontAwesome";
                            position: absolute;
                            left: 0;
                        }
                    }
                }
                .reset {
                    display: block;
                    float: right;
                    font-weight: 400;
                    font-size: 13px;
                }
                .filter-options {
                    clear: both;
                    .option {
                        margin-bottom: 8px;
                        overflow: hidden;
                        label {
                            font-weight: normal;
                            cursor: pointer;
                        }
                        input[type=checkbox] {
                            float: left;
                            margin: 1px 2% 1px 1%;
                            width: 8%;
                        }
                        .text {
                            font-size: 13px;
                            color: #7e7e7e;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            -o-text-overflow: ellipsis;
                            -moz-text-overflow: ellipsis;
                            overflow: hidden;
                            width: 65%;
                            float: left;
                            font-weight: normal;
                            a {
                                color: inherit;
                                &:hover {
                                    color: #0e76b5;
                                }
                            }
                        }
                        .total-jobs {
                            font-size: 13px;
                            color: #727272;
                            font-weight: 300;
                            float: right;
                        }
                    }
                }
                .show-more {
                    color: #0e76b5;
                    font-size: 11px;
                    margin-left: 22px;
                }
            }
            .refine-button {
                &:active,
                &:focus {
                    outline: 0;
                }
                &.fixed {
                    position: fixed;
                    display: block;
                    bottom: 5px;
                    width: 218px;
                }
                button {
                    width: 100%;
                    background-color: #0099cb;
                    padding: 8px;
                    border: 0;
                    color: #fff;
                    font-size: $normal;
                    text-transform: uppercase;
                }
            }
        }
    }
    .normal-international-jobs-wrapper {
        .headings {
            .search-result {
                font-weight: bold;
                color: #777;
            }
            .jobs-found-sortby {
                overflow: hidden;
                .jobs-found {
                    font-size: $normal;
                    font-weight: 400;
                    color: #777;
                    float: left;
                }
                .sortby {
                    float: right;
                    position: relative;
                    line-height: 18px;
                    font-size: $normal;
                    >a {
                        color: #777;
                        margin-left: 6px;
                        display: inline-block;
                        text-align: right;
                        &:before {
                            content: "\f160";
                            font-family: "FontAwesome";
                            height: 14px;
                            line-height: 1;
                            margin-right: 8px;
                            width: 16px;
                            display: inline-block;
                        }
                        &:after {
                            content: "\f107";
                            font-family: "FontAwesome";
                            height: 14px;
                            margin-left: 7px;
                            font-size: 18px;
                            width: 16px;
                            display: inline-block;
                        }
                    }
                    &:hover {
                        .data {
                            display: block;
                        }
                    }
                    .data {
                        display: none;
                        position: absolute;
                        left: -2px;
                        z-index: 9;
                        right: 0;
                        top: 17px;
                        border: 1px solid #eaeaea;
                        background-color: #fff;
                        padding: 5px 0;
                        a {
                            outline: 0;
                            border: none;
                            display: block;
                            color: #666;
                            font-size: 12px;
                            padding: 7px 15px 7px 22px;
                            &:hover {
                                background-color: #666;
                                color: #fff;
                            }
                            &.checked {
                                background-color: #fff;
                                cursor: default;
                                color: #666;
                                &:before {
                                    content: "\f00c";
                                    font-family: "FontAwesome";
                                    position: absolute;
                                    left: 6px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .list-jobs,
        .international-jobs {
            clear: both;
            .heading {
                color: #777;
            }
            .job-wrapper {
                .job {
                    background: #fff;
                    margin-top: 10px;
                    overflow: auto;
                    position: relative;
                    .information {
                        &.has-company-logo {
                            width: calc(100% - 160px);
                            float: left;
                        }
                        padding: 16px 10px 12px 22px;
                        .job-title {
                            h2 {
                                margin: 0;
                                font-size: 16px;
                                margin-bottom: 3px;
                                font-weight: 400;
                                display: block;
                                color: #555;
                                line-height: 24px;
                            }
                        }
                        .company-name {
                            font-size: $normal;
                            margin-bottom: 15px;
                            color: #7e7e7e;
                            font-weight: 400;
                            display: inline-block;
                            line-height: 24px;
                        }
                        .experience-location {
                            overflow: hidden;
                            font-weight: 300;
                            color: #777;
                            .experience,
                            .location {
                                float: left;
                                line-height: 21px;
                                margin-right: 20px;
                                .icon {
                                    margin-right: 10px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .company-logo {
                        float: right;
                        margin: 30px 13px 0 0px;
                        width: 140px;
                        height: 50px;
                        overflow: hidden;
                        img {
                            // max-width: 100%;
                            // max-height: 100%;
                            width: 140px;
                            height: 50px;
                        }
                    }
                    .keyword-postedOn {
                        padding: 13px 22px;
                        background-color: #f6f6f6;
                        float: left;
                        line-height: 17px;
                        color: #7a7a7a;
                        clear: both;
                        width: 100%;
                        .keyword {
                            .link,
                            span {
                                color: #7a7a7a;
                            }
                        }
                        .postedOn {
                            color: #aaa;
                            font-size: 11px;
                            font-weight: 300;
                            float: right;
                            margin-top: 5px;
                        }
                    }
                    .options {
                        height: 18px;
                        width: 28px;
                        position: absolute;
                        top: 11px;
                        right: 5px;
                        cursor: pointer;
                        padding-left: 10px;
                        .icon {
                            color: #7a7a7a;
                            font-size: 16px;
                        }
                        .menu {
                            display: none;
                            position: absolute;
                            width: 130px;
                            top: 18px;
                            right: 5px;
                            border: 1px solid #eaeaea;
                            background-color: #fff;
                            padding: 5px 0;
                            .view-similar-jobs {
                                color: #666;
                                font-size: 12px;
                                padding: 7px 15px;
                                display: block;
                            }
                        }
                        &:hover {
                            .menu {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .list-jobs {
            .heading {
                color: #777;
                margin-bottom: 10px;
            }
        }
        .international-jobs {
            clear: both;
        }
    }
    .includes-jobs-from-wrapper {
        margin-top: 15px;
        .heading {
            color: #777;
            font-weight: bold;
            line-height: 24px;
        }
        .advertisements {
            .advertisement-item {
                margin-bottom: 15px;
                img {
                    background-size: cover;
                    background-repear: no-repeat;
                    width: 100%;
                }
            }
        }
        .related-searches-wrapper {
            margin: 10px 0 0 0;
            .heading {
                font-size: $normal;
                color: #777;
                font-weight: 400;
                margin-top: 0;
                padding-left: 15px;
                position: relative;
                padding: 0;
                margin-bottom: 10px;
            }
            .related-searches {
                background: #f8f8f8;
                padding: 15px;
                .related-job {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .social {
            margin-top: 20px;
            .social-item {
                .icon {
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    color: #fff;
                    padding: 0;
                    font-size: 14px;
                }
            }
            .social-facebook {
                .icon {
                    background: #3b589a;
                }
            }
            .social-google-plus {
                .icon {
                    background: #e12f2f;
                }
            }
            .social-twitter {
                .icon {
                    background: #54acec;
                }
            }
            .social-linkedin {
                .icon {
                    background: #0077b5;
                }
            }
        }
    }
}