<div class="modal-system">
    <div class="modal-header">
        <h2 class="modal-title" id="modal-title" ng-bind="vm.data.title"></h2>
    </div>
    <div class="modal-footer">
        <button class="btn ui-btn btn-orange" type="button" ng-click="vm.ok()" ng-bind="vm.data.ok"></button>
    </div>
</div>
