<div id="login">
    <div class="container">
        <div class="col-xs-12">
            <h4 class="page-title text-center animated fadeInUp">Welcome back, friend</h4>
            <div class="login-form animated fadeInUp">
                <form name="vm.login_form" ng-submit="vm.login_form.$valid && vm.login(vm.employee)" novalidate>
                    <div class="form-group float-input">
                        <label>Email *</label>
                        <input type="email" ng-focus="vm.login_form.email.$focused = true" class="form-control" name="email" ng-model="vm.employee.email" required>
                        <div class="icons" ng-show="vm.login_form.email.$focused">
                            <i ng-if="!vm.login_form.email.$error.required && !vm.login_form.email.$error.email" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                            <i ng-if="vm.login_form.email.$error.required || vm.login_form.email.$error.email" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="errors">
                            <span ng-show="vm.login_form.$submitted && vm.login_form.email.$error.required">Required</span>
                            <span ng-show="vm.login_form.$submitted && vm.login_form.email.$error.email">Please enter a valid email address</span>
                        </div>
                    </div>
                    <div class="form-group float-input">
                        <label>Password *</label>
                        <input type="password" ng-focus="vm.login_form.password.$focused = true" name="password" class="form-control" ng-model="vm.employee.password" ng-maxlength="20" ng-minlength="6" required>
                        <div class="icons" ng-show="vm.login_form.password.$focused">
                            <i ng-if="!vm.login_form.password.$error.required && !vm.login_form.password.$error.maxlength && !vm.login_form.password.$error.minlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                            <i ng-if="vm.login_form.password.$error.required || vm.login_form.password.$error.maxlength || vm.login_form.password.$error.minlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="errors">
                            <span ng-show="vm.login_form.$submitted && vm.login_form.password.$error.required">Required</span>
                            <span ng-show="vm.login_form.$submitted && vm.login_form.password.$error.maxlength">The value is too long</span>
                            <span ng-show="vm.login_form.$submitted && vm.login_form.password.$error.minlength">The value is too short</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="forgot-password pull-right" ui-sref="user.password.forgot">Forgot Password?</a>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="text-uppercase btn ui-btn btn-white btn-full-width" value="Login">
                    </div>
                    <div class="social-login">
                        <ul>
                            <li ng-click="vm.authenticate('facebook')">
                                <div class="icon text-center">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                <div class="text text-center">
                                    <span>Log In via Facebook</span>
                                </div>
                            </li>
                            <!-- <li ng-click="vm.authenticate('linkedin')">
                                <div class="icon text-center">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                                <div class="text text-center">
                                    <span>Log In via LinkedIn</span>
                                </div>
                            </li> -->
                            <li ng-click="vm.authenticate('google')">
                                <div class="icon text-center">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                                <div class="text text-center">
                                    <span>Log In via Google</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>