<div class="employee-expand">
    <h4 class="center-dash" ng-bind="data.user.getName()"></h4>
    <div class="row center-align">
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <strong class="key">Date of Birth: </strong>
                    <span class="value" ng-bind="data.user.getBirth() | timeFormat:'MMM DD, YYYY'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <strong class="key">Country: </strong>
                    <span class="value" ng-bind="data.user.getCountry()"></span>
                </div>
            </div>
            <div class="row address">
                <div class="col s12">
                    <strong class="key">Address: </strong>
                    <span class="value" ng-bind="data.user.getAddress()"></span>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <strong class="key">Gender: </strong>
                    <span class="value" ng-bind="data.user.getGender()"></span>
                </div>
            </div>
            <div class="row industry">
                <div class="col s12">
                    <strong class="key">Industry: </strong>
                    <span class="value" ng-bind="data.user.showIndustry"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="data.user.getEmployee().last_positions | hasItem">
        <h4 class="center-dash">Background/Experience</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table exp">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Company</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="position in data.user.getEmployee().last_positions">
                                <td ng-bind="position.role"></td>
                                <td ng-bind="position.company_name"></td>
                                <td ng-bind="position.start_date | timeFormat:'LL'"></td>
                                <td ng-bind="position.end_date | timeFormat:'LL'"></td>
                                <td ng-bind="position.comment"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="center-dash">Availabilities</h4>
        <div class="row">
            <div class="col-md-12 availablity-wrapper">
                <div class="day-wrapper set-availablity" ng-repeat="(key, day) in  data.dayAvailabilities">
                    <h5>{{day.name}} <span class="pull-right day-show" ng-class="{'active': day.selected}"></span></h5>
                    <div class="select-wrap">
                        <p id="day_{{key}}_{{k}}" ng-repeat="(k, availability) in day.availabilities">{{availability.getTitle()}} <span class="pull-right time-select" ng-class="{'time-color': availability.selected}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align" ng-if="data.user.employee.getDrivingLicense() != ''">
        <h4 class="center-dash">Driving License</h4>
        <div class="driving-license">
            <p ng-bind="data.user.employee.getDrivingLicense()"></p>
        </div>
        <div class="row">
            <div class="col s4 driving-license-image">
                <!-- <img ng-src="{{data.user.getDrivingLicenseImage()}}"> -->
                <nf-pdf ng-if="data.user.getDrivingLicenseImageExtension() === 'pdf'" url="data.user.getDrivingLicenseImage()" options="vm.nfPdfOptions"></nf-pdf>
                <img ng-if="data.user.getDrivingLicenseImageExtension() !== 'pdf'" ng-src="{{data.user.getDrivingLicenseImage()}}">
            </div>
        </div>
    </div>
    <div class="row center-align" ng-if="data.user.employee.getVehicle() != ''">
        <h4 class="center-dash">Vehicle</h4>
        <div class="vehicles">
            <p ng-bind="data.user.employee.getVehicle()"></p>
        </div>
    </div>
</div>
