<div class="list-users">
    <div class="row action-box">
        <div class="col offset-s8 s4 user-action right-align">
            <div class="more-action">
                <md-menu>
                    <md-button aria-label="Open phone interactions menu" ng-click="openMenu($mdOpenMenu, $event)">
                        More <i class="icon material-icons">expand_more</i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="vm.verifyIdStatus('verified')">
                                Verify ID
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="vm.verifyIdStatus('rejected')">
                                Reject ID
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="vm.resendVerifyEmail()">
                                Resend verify Email
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <ul>
                <!-- <li class="active" ng-if="user.can('update.users')">
                    <a ng-click="vm.changeStatusAllUser('active')" title="Active User"><i class="material-icons">check_circle</i></a>
                </li>
                <li class="pending" ng-if="user.can('update.users')">
                    <a ng-click="vm.changeStatusAllUser('pending')" title="Pending User"><i class="material-icons">pause_circle_filled</i></a>
                </li>
                <li class="archive" ng-if="user.can('update.users')">
                    <a ng-click="vm.changeStatusAllUser('banned')" title="Ban User"><i class="material-icons">cancel</i></a>
                </li> -->
                <li class="new-user" ng-if="user.can('create.users')">
                    <a ui-sref="app.employees.create" title="Create new Employee"><i class="material-icons">add_circle</i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row filter">
        <div class="col m6 s12 filter-tag">
            <label for="tag">Tag</label>
            <select ui-select2 multiple ng-model="vm.tag" ng-options="options as options.getName() for options in vm.tags" ng-change="vm.changeTag(vm.tag)"></select>
        </div>
        <div class="col m2 s12 filter-status">
            <label for="status">Status</label>
            <select ng-model="vm.status" ng-change="vm.filterStatus(vm.status)" ng-options="options as options.status for options in vm.user_status"></select>
        </div>
        <div class="col m2 s12 right-align all-box">
            <a class="full-width waves-effect waves-light btn bg-green" ng-class="{'disabled': vm.params.list !== 'today'}" ui-sref="app.employees.all({list: 'all', page: 1})">All</a>
        </div>
        <div class="col m2 s12 right-align today">
            <a class="full-width waves-effect waves-light btn bg-green" ng-class="{'disabled': vm.params.list === 'today'}" ui-sref="app.employees.all({list: 'today', page: 1})">Today</a>
        </div>
    </div>
    <div class="row search-box">
        <div class="col s12 m6 select-all">
            <input type="checkbox" id="select-all" ng-model="vm.selectedAll" ng-click="vm.selectAll()">
            <label for="select-all">Select all</label>
            <span class="number-select" ng-show="vm.selectedUser.length > 0"> ( All {{vm.selectedUser.length}} {{vm.selectedUser.length === 1 ? 'item' : 'items'}}  on this page are selected.)</span>
        </div>
        <div class="search col m6 s12">
            <div class="search-wrapper card">
                <input id="search" class="input-search" ng-model="vm.params.search" placeholder="Search..." ng-keydown="vm.searchKeyEvent($event, vm.params.search)"><i class="icon-search material-icons" ng-click="vm.searchPage(vm.params.search)">search</i>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                Sort By:
                <sortable-attributes></sortable-attributes>
            </div>
        </div>
    </div>
    <preloader ng-if="vm.users | isUndefined"></preloader>
    <div class="row">
        <div class="col s12">
            <table class="striped table-users" ng-if="vm.users !== undefined">
                <thead>
                    <tr>
                        <th></th>
                        <th class="clickable id-col">ID <span sortable="id"></span></th>
                        <th class="clickable email-col">Email <span sortable="email"></span></th>
                        <th class="clickable name-col">Name <span sortable="first_name"></span></th>
                        <th class="clickable city-col">City <span sortable="city"></span></th>
                        <th class="clickable city-col">Profile Completed <span sortable="profile_completed_percent"></span></th>
                        <th>Status <span sortable="status"></span></th>
                        <th>ID verification <span sortable="identity_check_status"></span></th>
                        <th>What's app</th>
                        <th>Date of registration <span sortable="created_at"></span></th>
                        <th>Activated <span sortable="activated"></span></th>
                        <th>Review score</th>
                        <th>Tags</th>
                        <th>Description</th>
                        <th>Private Note</th>
                        <th>Salary</th>
                        <th class="right-align">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in vm.users">
                        <td>
                            <md-checkbox ng-model="u.selected" aria-label="Select User" ng-change="vm.updateSelectedUser()">
                            </md-checkbox>
                        </td>
                        <td ng-bind="u.getId()"></td>
                        <td>
                            <span ng-bind="u.getEmail()"></span>
                            <i ng-if="u.getEmailVerified()" class="icon-verify material-icons green-text">check_circle</i>
                            <i ng-if="u.getIsLoggedOnApp()" class="material-icons green-text">stay_current_portrait</i>
                        </td>
                        <td>
                            <span ng-bind="u.getNameAdminList()"></span>
                            <a class="hint" expand-data data-id="u.getId()" api="user" template="/webapp/js/admin/components/employee/list/_employee_expand.tpl.html">
                                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Show expand data"></i>
                            </a>
                        </td>
                        <td ng-bind="u.getCity()"></td>
                        <td>{{u.getProfileCompletedPercent()}}%</td>
                        <td ng-bind="u.user_status"></td>
                        <td class="text-capitalize">
                            <span ng-if="u.getIdImage()" ng-bind="u.getIdentityCheckStatus()"></span>
                        </td>
                        <td ng-bind="u.getWhatsApp()"></td>
                        <td ng-bind="u.getCreatedAt() | timeFormat: 'lll'"></td>
                        <td>
                            <span ng-show="u.getActivated() != '0000-00-00 00:00:00'" ng-bind="u.getActivated() | timeFormat: 'DD/MM/YYYY'"></span>
                        </td>
                        <td><span ng-if="u.getAvgStar() != 0 && u.getTotalReview() != 0">{{u.getAvgStar()}} ({{u.getTotalReview()}})</span></td>
                        <td class="ee-tags">
                            <md-chips readonly="true" ng-model="u.tags">
                                <md-chip-template>
                                    <span><strong>{{$chip.name}}</strong></span>
                                </md-chip-template>
                            </md-chips>
                        </td>
                        <td><a ng-if="u.getSummary() != ''" title="{{u.getSummary()}}"><i class="material-icons">more_horiz</i></a></td>
                        <td class="private-note center-align">
                            <a ng-if="!u.hasPrivateNote" title="Write note" ng-click="vm.addPrivateNote($event, u)">
                                <i class="icon material-icons">add</i>
                            </a>
                            <div ng-if="u.hasPrivateNote">
                                <p ng-bind="u.employee.private_note"></p>
                                <a title="Edit note" ng-click="vm.addPrivateNote($event, u)">
                                    <i class="icon material-icons">edit</i>
                                </a>
                            </div>
                        </td>
                        <td class="private-note center-align">
                            <a ng-if="!u.hasSalary" title="Add salary" ng-click="vm.addSalary($event, u)">
                                <i class="icon material-icons">add</i>
                            </a>
                            <div ng-if="u.hasSalary">
                                <p ng-bind="u.employee.salary"></p>
                                <a title="Edit salary" ng-click="vm.addSalary($event, u)">
                                    <i class="icon material-icons">edit</i>
                                </a>
                            </div>
                        </td>
                        <td class="right-align action">
                            <a ng-if="user.can('update.users')" ui-sref="app.change-password-user({id: u.getId()})" class="change-password">
                                <p><i class="material-icons">lock</i></p>
                            </a>
                            <a ng-if="user.can('view.dashboard.as.employee')" ng-click="vm.loginAsUser(u.getId())" class="view-dashboard">
                                <p><i class="material-icons">visibility</i></p>
                            </a>
                            <a ng-if="user.can('update.users')" ui-sref="app.employees.edit({id: u.getId()})" class="edit">
                                <p><i class="material-icons">mode_edit</i></p>
                            </a>
                            <a ng-if="user.can('delete.users')" ng-click="vm.deleteUser(u)" class="delete">
                                <p><i class="material-icons">delete</i></p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination data="vm.pagination"></pagination>
        </div>
    </div>
</div>
