<div class="private-note-employee-modal">
    <div class="modal-header">
        Private Note for {{user.getName()}}
        <a class="right close" ng-click="cancel()">
            <i class="material-icons">clear</i>
        </a>
    </div>
    <div class="modal-body">
        <form name="privateNoteEmployeeForm" ng-submit="privateNoteEmployeeForm.$valid && privateNoteEmployee(private_note)" novalidate>
            <div class="note-box">
                <div class="content">
                    <textarea ng-model="private_note" cols="30" rows="10" name="private_note"></textarea>
                </div>
                <div class="action">
                    <button class="note btn waves-effect waves-light" ng-class="{'disabled': inProgress}" type="submit" name="action">submit
                        <i class="material-icons right">send</i>
                        <i class="material-icons right icon-pending">replay</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
