<div class="employee-salary-modal">
    <div class="modal-header">
        Salary for {{user.getName()}}
        <a class="right close" ng-click="cancel()">
            <i class="material-icons">clear</i>
        </a>
    </div>
    <div class="modal-body">
        <form name="EmployeeSalaryForm" ng-submit="EmployeeSalaryForm.$valid && EmployeeSalary(salary)" novalidate>
            <div class="note-box">
                <div class="content">
                    <input type="text" class="form-control" ng-model="salary" name="salary" ng-pattern="/^\d+$/" ng-maxlength="20">
                    <div class="errors">
                        <span ng-show="EmployeeSalaryForm.$submitted && EmployeeSalaryForm.salary.$error.maxlength">The value is too long</span>
                        <span ng-show="EmployeeSalaryForm.$submitted && EmployeeSalaryForm.salary.$error.pattern">Please enter a series of numbers</span>
                    </div>
                </div>
                <div class="action">
                    <button class="note btn waves-effect waves-light" ng-class="{'disabled': inProgress}" type="submit" name="action">submit
                        <i class="material-icons right">send</i>
                        <i class="material-icons right icon-pending">replay</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
