@media (max-width: 320px) {
    .full-wrap {
        &.detail-job-page {
            .right-block {
                .advertisements-wrapper {
                    .advertisements {
                        .advertisement-item {
                            width: 100%;
                            float: none;
                        }
                    }
                }
            }
        }
    }
}