#admin-companies {
    select {
        display: inline-block;
    }
    %industries {
        list-style: none;
        text-align: left;
        margin-top: 15px;
        .industry-item {
            display: inline-block;
            padding: 10px 15px;
            border: 2px solid $red;
            border-radius: 5px;
            margin-right: 15px;
            color: $grey-color;
            background: transparent;
            cursor: pointer;
            margin-bottom: 10px;
            &.active {
                background: $red;
                color: #fff;
            }
            &:hover,
            &:focus {
                outline: 0;
            }
        }
    }
    .float-input {
        position: relative;
        height: 60px;
        label {
            position: absolute;
            z-index: 1;
            color: $grey-color;
            font-size: 14px;
            transition: all 0.2s;
            top: 10px;
            left: 10px;
            &.active {
                font-size: 10px;
                top: -12px;
                left: 0px;
            }
        }
        i {
            position: absolute;
            right: 5px;
            font-size: 24px;
            top: 6px;
            &.invalid {
                color: #bdc3c7;
            }
        }
        &.company-description-wrapper {
            height: initial;
            i {
                right: 20px;
            }
        }
    }
    #register {
        position: relative;
        color: $red;
        font-family: $museo_sans300;
        padding-bottom: 40px;
        .row {
            margin-bottom: 0;
        }
        .employer-register-form {
            h2 {
                font-family: $museo_sans300;
                font-size: 48px;
                color: $red;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .tags {
                margin-bottom: 50px;
            }
        }
        p {
            color: $grey-color;
        }
        #choose-user-type,
        #register-form {
            position: absolute;
            width: 100%;
            top: 50px;
        }
        #choose-user-type {
            .container {
                .row {
                    .col:first-child {
                        border-right: 1px solid #333;
                    }
                }
            }
        }
        .page-title {
            margin-top: 80px;
            font-size: 45px;
            font-weight: bold;
            margin-bottom: 40px;
            color: $grey-color;
        }
        .form-title {
            font-weight: 100;
            font-size: 40px;
            margin-bottom: 40px;
            color: $grey-color;
        }
        .description {
            margin-bottom: 20px;
        }
        .employer {
            padding-bottom: 40px;
            >div {
                max-width: 450px;
                width: 100%;
            }
        }
        .employer {
            border-right: 2px solid $grey-color;
            >div {
                padding-right: 40px;
            }
        }
        .country-box {
            .float-input {
                i {
                    right: 15px;
                }
            }
        }
        .form-group {
            margin-bottom: 15px;
            .form-control {
                border: 1px solid transparent;
                border-radius: 0px;
                box-shadow: none;
                background: transparent;
                border-bottom: 1px solid $grey-color;
                color: $grey-color;
                margin-bottom: 0;
                z-index: 2;
                position: relative;
                &.select-box {
                    background: initial;
                    &:hover,
                    &:focus {
                        outline: 0;
                    }
                }
            }
            .btn-default {
                background: transparent;
                border: 2px solid $grey-color;
                box-shadow: none;
                color: $grey-color;
                border-radius: 6px;
                height: initial;
                padding: 12px 30px;
                margin-top: 40px;
                font-family: $museo_sans300;
                font-size: 22px;
            }
            .btn-full-width {
                width: 100%;
                margin-top: 20px;
                font-size: 20px;
                padding: 10px;
                text-transform: uppercase;
                &:focus {
                    outline: none;
                }
            }
        }
        .sub-btn {
            background: transparent;
            border: 2px solid $grey-color;
            box-shadow: none;
            color: $grey-color;
            border-radius: 6px;
            font-size: 22px;
            padding: 12px 30px;
            width: initial;
            text-transform: uppercase;
        }
        .employer-register-form {
            max-width: 600px;
            margin: 0px auto;
            .title {
                h3 {
                    font-size: 40px;
                    color: $grey-color;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 24px;
                    margin-bottom: 40px;
                    color: $grey-color;
                }
            }
            .industries {
                @extend %industries;
            }
        }
    }
}
