#admin-companies {
    .btn {
        box-shadow: initial;
    }
    .back {
        background: #ffc107;
        &:hover {
            background: #2bbbad;
        }
    }
    .list-users {
        margin-top: 15px;
        input[type=search]:focus:not([readonly]) {
            border: 0;
            border-bottom: 0;
            box-shadow: initial;
        }
        .select2-container {
            .select2-search--inline {
                .select2-search__field {
                    margin: 0px;
                    height: initial;
                }
            }
        }
        .clickable {
            cursor: pointer;
        }
        .disabled {
            pointer-events: none;
            background-color: #DFDFDF !important;
            box-shadow: none;
            color: #9F9F9F !important;
            cursor: default;
        }
        .user-registered-box {
            margin: 0 15px;
        }
        .filter {
            .to,
            .from {
                margin-bottom: 0;
            }
            md-select {
                margin: 0;
            }
            select {
                display: block;
            }
        }
        .header {
            color: $color-header;
            font-weight: 300;
        }
        .archive-box {
            margin-right: 15px;
        }
        .filter-role,
        .filter-status {
            select {
                height: 32px;
            }
        }
        .all-box,
        .today {
            margin-top: 18px;
        }
        .bg-green {
            background-color: #039be5;
            &:hover {
                background-color: #2bbbad;
            }
        }
        .bg-yellow {
            background-color: #fa9325;
            &:hover {
                background-color: #2bbbad;
            }
        }
        .user-action {
            ul {
                margin: 0;
                li {
                    display: inline-block;
                    a {
                        i {
                            font-size: 3em;
                        }
                    }
                }
                .pending {
                    i {
                        color: #fa9325
                    }
                }
                .archive {
                    i {
                        color: #f44336;
                    }
                }
            }
        }
        .bg-box {
            display: inline-block;
            background: #039be5;
            padding: 10px;
            color: #fff;
            height: 44px;
            i {
                vertical-align: middle;
            }
        }
        .search-box {
            @extend %search-box;
        }
        .select-all {
            margin-top: 8px;
        }
        .table-users {
            .id-col {
                min-width: 75px;
            }
            tr {
                th {
                    outline: 0;
                    .orderBy-icon {
                        width: 24px;
                        height: 24px;
                        float: right;
                    }
                    i {
                        vertical-align: middle;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
            }
            tbody {
                .edit {
                    color: #009688;
                }
                .delete {
                    color: $color-header;
                }
                .action {
                    width: 8.33%;
                }
            }
        }
        a {
            cursor: pointer;
        }
    }
}
