@media (max-width: 480px) {
    .detail-job-page {
        .login-wrapper {
            width: 100%;
            float: none;
            overflow: auto;
            text-align: center;
            margin: 0 0 15px 0;
            .login-button {
                float: none; // min-width: 150px;
            }
        }
        .register-wrapper {
            width: 100%;
            float: none;
            overflow: auto;
            text-align: center;
            margin: 0;
            .register-button {
                float: none; // min-width: 150px;
            }
        }
        .left-block {
            .job-information-action {
                .information {
                    .education-nationality-gender {
                        .education,
                        .nationality,
                        .gender {
                            width: 100%;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}