<section id="get-a-call" class="hidden">
    <div class="popup-headline">
        <!--   <div class="pp-logo">
            <img src="/assets/images/logo-red.svg">
        </div> -->
        <div class="pp-close" ng-click="hideRightConnerPopup()">
            <i class="fa fa-minus-square-o"></i>
        </div>
        <div class="popup-headline">
            <h3>We launch the App soon!</h3>
        </div>
    </div>
    <div class="popup-content">
        <p class="text-center">
            Tell us if you want to Test the App before the launch, give us feedback about your experience and
            <br>Get Rewarded!
        </p>
        <div class="pp-form">
            <form method="post" name="get_the_app_form" ng-submit="get_the_app_form.$valid && becomeBetaTester(get_the_app)" novalidate>
                <div class="pull-right">
                    <input type="submit" class="ui-btn btn-orange btn-small" value="Become Beta Tester!">
                </div>
                <div class="form-group">
                    <label>+65</label>
                    <input type="text" class="form-control" name="phone_number" ng-model="get_the_app.phone_number" placeholder="..." ng-pattern="/^\d+$/" required ng-maxlength="20">
                    <div class="errors-wrapper">
                        <div class="errors">
                            <span ng-show="get_the_app_form.$submitted && get_the_app_form.phone_number.$error.required">Required</span>
                            <span ng-show="get_the_app_form.$submitted && get_the_app_form.phone_number.$error.maxlength">The value is too long</span>
                            <span ng-show="get_the_app_form.$submitted && get_the_app_form.phone_number.$error.pattern">Please enter a valid phone number</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p class="text-center">
            Win 2 cinema tickets ;)
        </p>
    </div>
</section>

<section id="get-a-call-small" class="hidden">
    <div class="popup-content">
        <a ng-click="showBetaTestAppPopup()">
            <img src="/assets/images/logo-white.png">
        </a>
    </div>
</section>
