<ul class="pagination right pagination-box">
    <li ng-if="page != 1" ng-click="prev(); callbackPrev(page)">
    	<a href="javascript:;"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </li>
    <li class="active">
        Page <span ng-bind="page"></span>
    </li>
    <li class="waves-effect" ng-click="next(); callbackNext(page)">
    	<a><i class="glyphicon glyphicon-chevron-right"></i></a>
    </li>
</ul>
