<ol class="breadcrumb" ng-if="data.length > 0">
    <li ng-repeat="(key, item) in data" ng-class="{'active': !item.state}">
    	<a ng-if="item.state" ui-sref="{{item.state}}({{item.options}})" ui-sref-opts="({inherit: false})" ng-bind="item.title"></a>
    	<span ng-if="!item.state" ng-bind="item.title"></span>
    </li>
</ol>