<ul class="pagination pull-right" ng-show="data.getTotalPages() > 1">
    <li ng-if="currentPage > 1" ng-click="goto(currentPage - 1)">
        <a aria-label="Previous"><span aria-hidden="true">Prev</span></a>
    </li>
    <li ng-repeat="page in pages" ng-click="goto(page)" ng-class="{active: page === currentPage}">
        <a ng-bind="page"></a>
    </li>
    <li ng-if="currentPage < data.getTotalPages()" ng-click="goto(currentPage + 1)">
        <a aria-label="Next"><span aria-hidden="true">Next</span></a>
    </li>
</ul>