@media (max-width: 992px) {
    .footer_test_yourself {
        .footer_test {
            line-height: 24px;
            height: initial;
            font-size: 14px;
            .footer_left,
            .footer_right {
                float: none;
                text-align: center;
                width: 100%;
            }
            .footer_left {
                margin-top: 15px;
            }
            .footer_right {
                margin-bottom: 15px;
                p {
                    float: none;
                }
            }
        }
        .footer_below {
            font-size: 14px;
            line-height: 24px;
            height: initial;
            font-size: 14px;
        }
    }
}
