<div class="full-wrap detail-job-page">
    <div class="bg-wrap"></div>
    <div class="container custom-container">
        <breadcrumb data="vm.breadcrumbs"></breadcrumb>
        <div class="row">
            <div class="left-block col-sm-9">
                <div class="job-information-action">
                    <div class="information">
                        <h1 class="job-title" ng-bind="vm.job.getTitle()"></h1>
                        <h2 class="company-name" ng-bind="vm.job.employer.employer.getCompanyName()"></h2>
                        <div class="experience-location">
                            <div class="experience">
                                <i class="icon fa fa-suitcase"></i>
                                <span class="text" ng-bind="vm.job.experience.getLabel()"></span>
                            </div>
                            <div class="salary">
                                <i class="icon fa fa-money"></i>
                                <span class="text">{{ vm.STRIPE_CURRENCY_SYMBOL }}{{ vm.job.getMinSalary() }} - {{ vm.STRIPE_CURRENCY_SYMBOL }}{{ vm.job.getMaxSalary() }}</span>
                            </div>
                            <div class="location">
                                <i class="icon fa fa-map-marker"></i>
                                <span class="text" ng-if="vm.job.city">{{ vm.job.city.getName() }} - {{ vm.job.country.getName() }}</span>
                                <span class="text" ng-if="!vm.job.city">{{ vm.job.getLocation() }}</span>
                            </div>
                        </div>
                        <div class="education-nationality-gender">
                            <div class="education">
                                <i class="icon fa fa-graduation-cap"></i>
                                <span class="text" ng-bind="vm.job.getCertificate()"></span>
                            </div>
                            <div class="nationality">
                                <i class="icon fa fa-globe"></i>
                                <span class="text" ng-bind="vm.job.nationality.getName()"></span>
                            </div>
                            <div class="gender" ng-if="vm.job.gender">
                                <i class="icon fa fa-user"></i>
                                <span class="text" ng-bind="vm.job.getGender()"></span>
                            </div>
                        </div>
                    </div>
                    <div class="action-wrapper">
                        <div class="login-wrapper" ng-if="!user">
                            <a href="{{ asset('/login') }}" force-reload class="ui-btn btn-blue-sky login-button">Login To Apply</a>
                        </div>
                        <div class="register-wrapper" ng-if="!user">
                            <a href="{{ asset('/sign_up') }}" force-reload class="ui-btn btn-red register-button">Register & Apply</a>
                        </div>
                        <div class="apply-wrapper" ng-if="user">
                            <a href="#" class="ui-btn btn-red apply-button" ng-click="featureComingSoon()">Apply</a>
                        </div>
                    </div>
                </div>
                <div class="job-description-wrapper">
                    <div class="information">
                        <h3 class="title pull-left">Job Description</h3>
                        <div class="email-share pull-right">
                            <a href="#" class="share" ng-click="featureComingSoon()">Share</a>
                        </div>
                        <div class="clearfix"></div>
                        <div ng-bind="vm.job.getDescription()"></div>
                    </div>
                    <div class="industry-functional" ng-if="vm.job.industries | hasItem">
                        <div class="industry">
                            <span class="title">Industry Type :</span>
                            <a class="link" ui-sref="app.job-vacancies.list({page: 1, keyword: industry.getName()})" ng-repeat="industry in vm.job.industries" ng-bind="industry.getName()"></a>
                        </div>
                    </div>
                </div>
                <div class="desired-candidate-profile-wrapper">
                    <h3 class="title">Desired Candidate Profile</h3>
                    <div ng-bind="vm.job.getDesiredCandidateProfile()"></div>
                </div>
                <div class="keywords-wrapper" ng-if="vm.job.tags | hasItem">
                    <h3 class="title">Keywords</h3>
                    <div class="keywords">
                        <span ng-repeat="tag in vm.job.tags" ng-bind="tag.getName()"></span>
                    </div>
                </div>
                <div class="all-jobs">
                    <a href="javascript:;" class="ui-btn btn-red register-button pull-right" ng-click="featureComingSoon()">All Jobs</a>
                </div>
            </div>
            <div class="right-block col-sm-3">
                <div class="company-wrapper">
                    <h3 class="company-name" ng-bind="vm.job.employer.employer.getCompanyName()"></h3>
                    <div class="company-info company-contact">
                        <div class="heading">Contact</div>
                        <div class="sub-heading">Name/ Designation:</div>
                        <div class="text" ng-bind="vm.job.employer.employer.getContactName()"></div>
                    </div>
                    <div class="company-info company-address">
                        <div class="heading">Address: </div>
                        <div class="text" ng-bind="vm.job.employer.employer.getCompanyAddress()"></div>
                    </div>
                    <div class="company-info company-mobile">
                        <div class="heading">Mob.: </div>
                        <div class="text" ng-bind="vm.job.employer.getPhone()"></div>
                    </div>
                    <div class="company-info company-website">
                        <div class="heading">Website</div>
                        <div class="text">
                            <a ng-href="{{ vm.job.employer.employer.getWebsite() }}" target="_blank">{{ vm.job.employer.employer.getWebsite() }}</a>
                        </div>
                    </div>
                </div>
                <div class="advertisements-wrapper" ng-if="vm.advertisements | hasItem">
                    <div class="advertisements row">
                        <div class="advertisement-item col-sm-12" ng-repeat="advertisement in vm.advertisements">
                            <a ng-href="{{ advertisement.getUrl() }}" target="_blank">
                                <img ng-src="{{ asset('/uploads/3x2.png')}}" alt="{{ advertisement.getName() }}" style="background-image: url({{ advertisement.getImage() }}); background-size: cover;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="similar-jobs-wrapper" ng-if="vm.similar_jobs | hasItem">
                    <div class="title-view-all">
                        <h3 class="title pull-left">Similar Jobs</h3>
                        <a href="#" class="view-all pull-right" ng-click="featureComingSoon()">View All</a>
                    </div>
                    <div class="list-jobs">
                        <a ui-sref="app.job-vacancies.detail({slug: job.getSlug()})" class="job-wrapper" ng-repeat="job in vm.similar_jobs">
                            <div class="job">
                                <h5 class="job-title" ng-bind="job.getTitle()"></h5>
                                <h6 class="company-name" ng-bind="job.employer.employer.getCompanyName()"></h6>
                                <div class="experience">
                                    <i class="icon fa fa-suitcase"></i>
                                    <span class="text" ng-bind="job.experience.getLabel()"></span>
                                </div>
                                <div class="location">
                                    <i class="icon fa fa-map-marker"></i>
                                    <span class="text" ng-if="job.city">{{ job.city.getName() }} - {{ job.country.getName() }}</span>
                                    <span class="text" ng-if="!job.city">{{ job.getLocation() }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>