<div class="payment-history">
    <table class="striped table-history">
        <thead>
            <tr>
                <th>ID</th>
                <th>Total Amount</th>
                <th>Service Fee</th>
                <th>Currency</th>
                <th>Description</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Status</th>
                <th>Refunded Amount</th>
                <th class="actions-col center-align" ng-if="vm.user.can('update.transactions')">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in vm.transactions">
                <td ng-bind="transaction.getId()"></td>
                <td ng-bind="transaction.getFormatedAmount()"></td>
                <td ng-bind="transaction.getFormatedServiceFee()"></td>
                <td ng-bind="transaction.getCurrency()"></td>
                <td ng-bind="transaction.getDescription()"></td>
                <td>
                    <a target="_blank" ui-sref="app.companies.edit({id: transaction.customer.getId()})" ng-bind="transaction.customer.getEmail()"></a>
                </td>
                <td ng-bind="transaction.getCreatedAt() | timeFormat:'llll'"></td>
                <td class="center-align">
                    <span ng-if="transaction.isRefunded()">Refunded</span>
                </td>
                <td ng-bind="transaction.getFormatedRefundedAmount()"></td>
                <td class="actions-col center-align" ng-if="vm.user.can('update.transactions')">
                    <button ng-click="vm.refund(transaction)" class="ui-btn btn-small btn-white" ng-disabled="transaction.isRefunded()">Refund</button>
                    <a ui-sref="app.payment.transactions.detail({'id':transaction.getId()})">More</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="right-align">
        <pagination data="vm.pagination"></pagination>
    </div>
</div>
