@media (max-width: 768px) {
    .full-wrap {
        &.detail-job-page {
            .bg-wrap {
                height: 276px;
            }
            .left-block {
                width: 100%;
            }
            .right-block {
                width: 100%;
                margin: 15px 0 0 0;
                .advertisements-wrapper {
                    .advertisements {
                        .advertisement-item {
                            width: 50%;
                            float: left;
                        }
                    }
                }
            }
        }
    }
}