@media (max-width: 767px) {
    .list-jobs-page {
        .includes-jobs-from-wrapper {
            padding: 0 15px;
        }
    }
}

@media (max-width: 768px) {
    .list-jobs-page {
        .search-job {
            height: initial;
        }
        .adv-search {
            padding-bottom: 0;
            form {
                margin-bottom: 15px;
            }
            .heading {
                text-align: center;
                margin: 15px 0;
            }
            .keyword-section,
            .location-section,
            .experience-section,
            .submit-section {
                width: 100%;
                float: none;
            }
            .submit-section {
                .heading {
                    display: none;
                }
                input {
                    margin-top: 15px;
                }
            }
        }
    }
}