<div class="create-page create-qualification">
    <div class="col-xs-12">
        <div class="create-form create-qualification-form">
            <h2 class="text-center">Create new Qualification</h2>
            <form name="vm.create_qualification_form" ng-submit="vm.create_qualification_form.$valid && vm.createQualification(vm.qualification)" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Name *</label>
                            <input type="text" ng-focus="vm.create_qualification_form.name.$focused = true" class="form-control" ng-model="vm.qualification.name" name="name" required ng-maxlength="255">
                            <div class="icons" ng-show="vm.create_qualification_form.name.$focused">
                                <i ng-if="!vm.create_qualification_form.name.$error.required && !vm.create_qualification_form.name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_qualification_form.name.$error.required || vm.create_qualification_form.name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_qualification_form.$submitted && vm.create_qualification_form.name.$error.required">Required</span>
                                <span ng-show="vm.create_qualification_form.$submitted && vm.create_qualification_form.name.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Order</label>
                            <input type="text" ng-focus="vm.create_qualification_form.order.$focused = true" class="form-control" ng-model="vm.qualification.order" name="order" ng-pattern="/^\d+$/">
                            <div class="icons" ng-show="vm.create_qualification_form.order.$focused">
                                <i ng-if="!vm.create_qualification_form.order.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_qualification_form.order.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_qualification_form.$submitted && vm.create_qualification_form.order.$error.pattern">Please enter a number</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="active">Active</label>
                            <input type="checkbox" ng-focus="vm.create_qualification_form.status.$focused = true" ng-model="vm.qualification.status" name="status" ng-true-value="1" ng-false-value="0">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-disabled="inProgress" type="submit" class="btn ui-btn btn-full-width orange-btn-sm" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>