<div class="row">
    <ul class="tabs" material-tabs>
        <li class="tab col s3 m2"><a ui-sref="app.payment.transfers.list" ng-class="{'active': $state.includes('app.payment.transfers.list')}">Transfer</a></li>
        <li class="tab col s3 m2"><a ui-sref="app.payment.transactions.list" ng-class="{'active': $state.includes('app.payment.transactions.list')}">Transaction</a></li>
        <li class="tab col s3 m2"><a ui-sref="app.payment.create" ng-class="{'active': $state.includes('app.payment.create')}">Create Transfer</a></li>
        <li class="tab col s3 m2"><a ui-sref="app.payment.connected_accounts" ng-class="{'active': $state.includes('app.payment.connected_accounts')}">Connected Accounts</a></li>
    </ul>
</div>
<div ui-view="payment"></div>
