<div class="list-page list-jobs">
    <div class="job-filter">
        <div class="row filter">
            <div class="col-sm-2 col-xs-12 filter-status">
                <label class="ui-label" for="status">Status</label>
                <select class="ui-select" ng-model="vm.status" ng-change="vm.changeStatus(vm.status)" ng-options="options as options.name for options in vm.statuses"></select>
            </div>
            <div class="col-sm-3 col-sm-offset-7 text-right item-action new-record-wrapper">
                <ul>
                    <li class="active">
                        <a ng-click="vm.changeStatusAllItem('active')" title="Active">
                        <i class="icon fa fa-check-circle"></i>
                    </a>
                    </li>
                    <li class="pending">
                        <a ng-click="vm.changeStatusAllItem('pending')" title="Pending">
                        <i class="icon fa fa-pause-circle"></i>
                    </a>
                    </li>
                    <li class="new-item">
                        <a ui-sref="app.jobs.create" title="Create new Job">
                        <i class="icon fa fa-plus-circle"></i>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jobs">
        <div class="row search-box">
            <div class="col-sm-6 col-xs-12 select-all">
                <input type="checkbox" id="select-all" ng-model="vm.selectedAll" ng-click="vm.selectAll()">
                <label for="select-all">Select all</label>
                <span class="number-select" ng-show="vm.selectedItem.length > 0"> ( All {{vm.selectedItem.length}} {{vm.selectedItem.length === 1 ? 'item' : 'items'}}  on this page are selected.)</span>
            </div>
            <div class="search col-sm-6 col-xs-12">
                <div class="search-wrapper card">
                    <input id="search" class="input-search form-control" ng-model="vm.params.search" placeholder="Search..." ng-keydown="vm.searchKeyEvent($event, vm.params.search)"><i class="icon-search fa fa-search" ng-click="vm.searchPage(vm.params.search)"></i>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-6 col-xs-12">
                    Sort By:
                    <sortable-attributes></sortable-attributes>
                </div>
            </div> -->
        </div>
        <preloader ng-if="vm.jobs | isUndefined"></preloader>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped ui-table table-items table-jobs" ng-if="vm.jobs !== undefined">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="clickable id-col">ID <!-- <span sortable="id"></span> --> </th>
                            <th class="image-col">Image</th>
                            <th class="clickable">Title <!-- <span sortable="title"></span> --> </th>
                            <th>Company</th>
                            <th>Type <!-- <span sortable="type"></span> --> </th>
                            <th class="phone-col">Mobile</th>
                            <th class="clickable">Address <!-- <span sortable="address"></span> --> </th>
                            <th class="status-col">Active <!-- <span sortable="active"></span> --> </th>
                            <th class="actions-col text-right">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.jobs">
                            <td>
                                <input type="checkbox" ng-model="item.selected" ng-change="vm.updateSelectedItem()">
                            </td>
                            <td ng-bind="item.getId()"></td>
                            <td class="image-col">
                                <div class="text-center">
                                    <user-profile-image image="item.employer.getImage()"></user-profile-image>
                                </div>
                            </td>
                            <td class="title-col">
                                <span>{{item.getTitle()}}</span>
                                <!-- <a class="hint" expand-data data-id="item.getId()" api="job" template="/webapp/js/admin/components/jobs/list/_list_expand.tpl.html">
                                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Show expand data"></i>
                            </a> -->
                            </td>
                            <td>
                                <p ng-bind="item.employer.getName()"></p>
                                <a ui-sref="app.companies.edit({id: item.employer.getId()})" ng-bind="item.employer.getEmail()"></a>
                            </td>
                            <td>
                                <p ng-bind="item.getJobType()"></p>
                            </td>
                            <td class="phone-col">
                                <a>{{item.employer.getFormattedPhoneNumber()}}</a>
                            </td>
                            <td ng-bind="item.getAddress()"></td>
                            <td>
                                {{ item.getActive() ? 'Active' : 'Pending' }}
                            </td>
                            <td class="text-right action">
                                <a ui-sref="app.jobs.update({slug: item.getSlug()})" class="edit">
                                    <p class="ui-p"><i class="icon fa fa-pencil-square-o"></i></p>
                                </a>
                                <a ng-click="vm.deleteItem(item)" class="delete">
                                    <p class="ui-p"><i class="icon fa fa-trash"></i></p>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination data="vm.pagination"></pagination>
            </div>
        </div>
    </div>
</div>