<div class="job-expand">
    <div class="row">
        <div class="col s12">
            <h2 ng-bind="data.getTitle()"></h2>
            <p class="rate">{{data.getHourlyRate()}}$/hr</p>
            <div class="job-description" ng-if="data.getDescription() != ''">
                <h3 class="left-dash">Job Description</h3>
                <p ng-bind-html="data.getDescription()"></p>
            </div>
            <div class="job-requirements" ng-if="data.getRequirement() != ''">
                <h3 class="left-dash">Job Requirements</h3>
                <p ng-bind-html="data.getRequirement()"></p>
            </div>
        </div>
    </div>
</div>
