@media (max-width: 992px) {
    .header {
        .logo {
            float: none;
            text-align: center;
            width: 100%;
        }
        .menu-toggle {
            display: block;
        }
        .menu-header {
            display: none;
            float: none;
            overflow: hidden;
            margin-bottom: 10px;
            width: 100%;
            ul {
                >li {
                    float: none;
                    display: inline-block;
                    width: 100%;
                    &.divider {
                        display: none;
                    }
                    &.tab-notification {
                        width: 100%;
                        a {
                            padding: 10px 0;
                            height: initial;
                        }
                    }
                    >a {
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}