<div class="modal-header">
    <h4 class="modal-title text-center" ng-bind="exam.messageDialog"></h4></div>
<div class="modal-body" ng-if="exam.typeExam === 'Login'">
    It cost {{ exam.CURRENTCY_SYMBOL }}<span ng-bind="exam.price"></span> to take a standard <span ng-bind-html="exam.name"></span>, where you will be timed and true Exam situation is simulated. You can also be able to review your questions and see solutions plus explanations. Click subscribe to continue or cancel to log out.
</div>
<div class="modal-footer">
    <div class="popup-control">
        <div ng-if="exam.typeExam === 'noLogin'">
            <a href="{{ asset('sign_up') }}" class="btn btn-primary">Click to Register</a>
            <a href="{{ asset('login') }}" class="btn btn-success">Click to Login</a>
            <a href="javascript:;" ng-click="cancel()" class="btn btn-default">Cancel</a>
            <a ng-show="exam.selectButton === 'both' || exam.selectButton === 'review'" ng-click="inProgress = true; redirectReview()" ng-disabled="inProgress" href="javascript:;" class="btn btn-success pull-right">Review Test</a>
        </div>
        <div ng-if="exam.typeExam === 'Login'">
        	<a ng-show="exam.selectButton === 'both' || exam.selectButton === 'payment'" ng-click="inProgress = true; redirectPayment()" ng-disabled="inProgress" href="javascript:;" class="btn btn-primary">Subscribe</a>
        	<a href="{{ asset('/testyourself') }}" class="btn btn-default">Cancel/back to Home</a>
        	<a ng-show="exam.selectButton === 'both' || exam.selectButton === 'review'" ng-click="inProgress = true; redirectReview()" ng-disabled="inProgress" href="javascript:;" class="btn btn-success pull-right">Review and exit</a>
        </div>
        <div ng-if="exam.typeExam === 'noActive'">
            <a href="{{ asset('/testyourself') }}" class="btn btn-default">Cancel/back to Home</a>
            <a ng-show="exam.selectButton === 'both' || exam.selectButton === 'review'" ng-click="inProgress = true; redirectReview()" ng-disabled="inProgress" href="javascript:;" class="btn btn-success pull-right">Review and exit</a>
        </div>
        <div ng-if="exam.typeExam === 'timeOut'">
            <a ng-show="exam.selectButton === 'both' || exam.selectButton === 'review'" ng-click="inProgress = true; redirectReview()" ng-disabled="inProgress" href="javascript:;" class="btn btn-success pull-right margin-left-10">Review Test</a>
            <a href="javascript:;" ng-click="cancel()" class="btn btn-default pull-right">Cancel</a>
        </div>
    </div>
</div>
