@media (max-width: 600px) {
    #admin-jobs {
        .job-filter {
            .active,
            .archive,
            .pending,
            .all-box {
                margin-bottom: 15px;
            }
            .filter-status {
                margin: 15px 0;
            }
            .add-new {
                margin: 0;
            }
            .job-action {
                text-align: center;
            }
        }
    }
}
