<div class="payment">
    <div class="container">
        <h4>Send money to employee</h4>
        <form name="vm.payment_form" ng-submit="vm.payment_form.$valid && vm.pay(vm.transaction)" novalidate>
            <div class="edit-item">
                <div class="row">
                    <div class="col s12">
                        <div class="form-group">
                            <label>Employee Email *</label>
                            <input type="email" class="form-control" ng-model="vm.transaction.email" name="email" required>
                            <div class="errors">
                                <span ng-show="vm.payment_form.$submitted && vm.payment_form.email.$error.required">Required</span>
                                <span ng-show="vm.payment_form.$submitted && vm.payment_form.email.$error.email">Please enter a valid email</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="form-group">
                            <label>Amount in SGD * (Ex: 100.5)</label>
                            <input type="text" class="form-control" name="amount" ng-model="vm.transaction.amount" ng-pattern="/^\d{1,8}$|^\d{1,8}\.\d{1,2}$/" required>
                            <div class="errors">
                                <span ng-show="vm.payment_form.$submitted && vm.payment_form.amount.$error.required">Required</span>
                                <span ng-show="vm.payment_form.$submitted && vm.payment_form.amount.$error.pattern">Please enter a valid amount</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="form-group">
                            <label>PIN</label>
                            <input type="password" class="form-control" name="pin" ng-model="vm.transaction.pin" required>
                            <div class="errors">
                                <span ng-show="vm.payment_form.$submitted && vm.payment_form.pin.$error.required">Required</span>
                                <span ng-show="vm.payment_form.$submitted && vm.payment_form.pin.$error.pattern">Please enter a valid amount</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary orange-btn-sm" value="Send Money">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
