<section id="edit-profile" class="edit-employer-profile">
    <div class="er-actions">
        <div class="container-fluid">
            <div class="row">
                <div class="item status pull-right">
                    <label class="ui-label">Status</label>
                    <select class="ui-select" ng-model="vm.profile.status" ng-options="status.id as status.status for status in vm.user_status" ng-change="vm.updateStatus(vm.profile)"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="edit-left">
                <div class="img-wrapper" upload-file="vm.avatar" on-complete="vm.avatarUploaded" progress-percentage="vm.avatar_upload_percentage" in-progress="vm.avatarUploadInProgress" accept="png|jpg|jpeg" upload-type="companies" data-id="{{ vm.profile.getId() }}">
                    <user-profile-image image="vm.profile.getAvatar()" is-update-profile="true" user-role="employer"></user-profile-image>
                </div>
                <div class="progress" ng-show="vm.avatarUploadInProgress">
                    <div class="determinate" style="width: {{vm.avatar_upload_percentage}}%">
                        <span ng-if="vm.avatar_upload_percentage < 100">{{vm.avatar_upload_percentage}}%</span>
                        <span ng-if="vm.avatar_upload_percentage == 100">Processing</span>
                    </div>
                </div>
                <a upload-file="vm.avatar" on-complete="vm.avatarUploaded" progress-percentage="vm.avatar_upload_percentage" in-progress="vm.avatarUploadInProgress" accept="png|jpg|jpeg" class="btn btn-primary orange-btn-sm" id="up-pic-btn" upload-type="companies" data-id="{{ vm.profile.getId() }}">Upload Picture</a>
                <input type="file" name="" id="up-picture" style="display: none;">
                <div class="star" ng-if="vm.analyticReview && vm.analyticReview.total_reviews !== 0">
                    <input-stars max="5" ng-model="vm.analyticReview.avg_star" name="star" readonly></input-stars>
                    <p class="total-reviews">{{vm.analyticReview.total_reviews}} {{vm.analyticReview.message_total_reviews}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="edit-right">
                <form id="update-profile-employer-form" name="vm.employer_update_form" ng-submit="isValidFormOrScrollToError(vm.employer_update_form) && vm.update(vm.profile)" update-text-fields novalidate>
                    <div class="edit-item">
                        <h3 class="left-dash">Company information</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group float-input">
                                    <label class="active">Company Name *</label>
                                    <input class="form-control" type="text" ng-model="vm.profile.employer.company_name" name="company_name" required ng-maxlength="100">
                                    <div class="errors">
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.company_name.$error.required">Required</span>
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.company_name.$error.maxlength">The value is too long</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group float-input">
                                    <label class="active">Registed Number *</label>
                                    <input type="text" class="form-control" ng-model="vm.profile.employer.registration_number" name="registration_number" required ng-maxlength="15">
                                    <div class="errors">
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.registration_number.$error.required">Required</span>
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.registration_number.$error.maxlength">The value is too long</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group float-input">
                                    <label class="active">Website URL</label>
                                    <input type="text" name="website" ng-model="vm.profile.employer.website" class="form-control" ng-pattern="/(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/">
                                    <div class="errors">
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.website.$error.pattern">Website URL format invalid</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group float-input">
                                    <label class="active">Company Address *</label>
                                    <input type="text" class="form-control" ng-model="vm.profile.employer.company_address" name="company_address" required>
                                    <div class="errors">
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.company_address.$error.required">Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col s12">
                                <a class="change-password" ui-sref="app.change-password({email: vm.profile.email})">Change password</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Company description</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="company-description" placeholder="Write few words about your company here..." ng-model="vm.profile.employer.company_about"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Contact</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group float-input">
                                    <label class="active">Contact Name</label>
                                    <input type="text" class="form-control" ng-model="vm.profile.employer.contact_name" name="contact_name" required>
                                    <div class="errors">
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.contact_name.$error.required">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group float-input">
                                    <label class="active">Contact Position</label>
                                    <input type="text" class="form-control" ng-model="vm.profile.employer.contact_position" name="contact_position" required>
                                    <div class="errors">
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.contact_position.$error.required">Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group float-input">
                                    <label class="active">Email *</label>
                                    <input type="email" class="form-control" ng-model="vm.profile.email" name="email" required ng-maxlength="40">
                                    <div class="errors">
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.email.$error.required">Required</span>
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.email.$error.email">Please enter a valid email</span>
                                        <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.email.$error.maxlength">The value is too long</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group float-input">
                                            <select class="form-control selectpicker" ng-model="vm.profile.country" ng-options="country as country.name for country in vm.countries"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group float-input">
                                            <label class="active">Phone Number *</label>
                                            <input type="text" class="form-control" ng-model="vm.profile.mobile" name="mobile" ng-pattern="/^(\d{6,12})$/" required ng-maxlength="40">
                                            <div class="errors">
                                                <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.mobile.$error.required">Required</span>
                                                <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.mobile.$error.maxlength">The value is too long</span>
                                                <span ng-show="vm.employer_update_form.$submitted && vm.employer_update_form.mobile.$error.pattern">Please enter a valid phone number</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 warning">
                                <p ng-if="vm.profile.needVerifyNewEmail()"><i class="fa fa-warning"></i> You have updated your email address, Please verify your new email <strong>{{vm.profile.getPendingEmail()}}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="save-all">
                                <input type="submit" ng-disabled="inProgress" class="btn ui-btn btn-full-width orange-btn-sm" value="Save all Changes">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
