md-virtual-repeat-container {
    margin-top: 91px;
}

#admin-employees {
    .ee-actions {
        z-index: 9;
        min-height: 60px;
        background: #fff;
        border-bottom: 1px solid #999;
        padding-top: 10px;
        box-shadow: 0px 3px 10px #999;
        &.pinned {
            width: calc(100% - 300px);
        }
        .item {
            &.status {
                min-width: 200px;
            }
        }
        .more-action {
            margin-top: 20px;
            margin-left: 20px;
            md-menu {
                button {
                    margin: 0;
                    padding: 0;
                    height: 36px;
                    span {
                        display: inline-block;
                    }
                    .icon {
                        vertical-align: middle;
                        height: 28px;
                    }
                }
            }
        }
    }
    #edit-user {
        .progress {
            height: 20px;
            background: #fcd9d4;
            .determinate {
                color: #fff;
                background: #ef6b59;
            }
        }
        .change-password {
            font-family: $museo_sans100;
            text-decoration: underline;
            color: $red;
        }
        .about-yourself-box {
            span {
                font-family: museo_sans100;
            }
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border-radius: 4px;
            text-transform: capitalize;
            box-shadow: initial;
        }
        .img-wrapper {
            width: 100%;
            max-width: 200px;
            max-height: 200px;
            border: 1px solid #fcd9d4;
            margin-top: 20px;
            margin-bottom: 26px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            cursor: pointer;
        }
        .industry-interest-box {
            .left-dash {
                margin-bottom: 0;
                margin-top: 22px;
                bottom: 10px;
                margin-bottom: 16px;
            }
            md-autocomplete-wrap {
                box-shadow: none;
                input[type="search"] {
                    margin-bottom: 0px;
                    border-bottom: 1px solid #333;
                }
            }
            input[type="radio"],
            input[type="checkbox"] {
                @extend %ui-input;
                margin-left: 0;
                position: relative;
                opacity: 1;
                left: 0px;
                &:checked {
                    position: relative;
                    opacity: 1;
                    left: 0px;
                }
            }
            md-chips-wrap {
                box-shadow: none;
                .md-chip-input-container {
                    display: none;
                }
                .md-chip-content {
                    md-chip-template {
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
            select {
                height: 35px;
                background: transparent;
                padding-right: 30px;
                font-size: 14px;
                -webkit-appearance: none;
                border-radius: 0px;
                border-width: 1px;
                border-style: solid;
                border-color: transparent transparent rgb(79, 79, 79);
                border-image: initial;
                width: 100%;
                box-shadow: initial;
                &:hover,
                &:focus {
                    outline: 0;
                }
            }
            .industry-item {
                margin-bottom: 26px;
                &:first-child {
                    margin-top: 46px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .industry-wrapper {
                    border: 2px solid #fcd9d4;
                    border-radius: 6px;
                    padding: 10px 0;
                    overflow: auto;
                    .job-duration {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .interested-job {
                            padding-top: 4px;
                        }
                        select[disabled="disabled"] {
                            opacity: 0.5;
                            cursor: pointer;
                        }
                        .interested-job-duration {
                            .company {
                                overflow: hidden;
                                float: left;
                                width: calc(100% - 65px);
                            }
                            .add {
                                float: right;
                                .btn {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .edit-left {
            .btn-primary.orange-btn-sm {
                max-width: none;
                padding: 11px 12px;
                margin-bottom: 20px;
            }
            .upload-video {
                margin-bottom: 0;
            }
            .star {
                text-align: center;
                ul {
                    margin-bottom: 5px;
                    li {
                        display: inline-block;
                        i {
                            outline: none;
                            font-size: 17px;
                            &:focus {
                                outline: none;
                            }
                            &.active {
                                color: #FDE35E;
                                text-shadow: black 0 0 1px, 0 0 1px;
                            }
                        }
                    }
                }
                .total-reviews {
                    margin: 0;
                }
            }
        }
        .edit-right {
            h2 {
                font-family: $museo_sans300;
                font-size: 48px;
                color: #ef6b59;
            }
            h3 {
                font-family: $museo_sans100;
                font-size: 24px;
                color: #ef6b59;
                padding-bottom: 20px;
            }
            h4 {
                font-family: $museo_sans500;
                color: #4f4f4f;
                margin-top: 20px;
                font-size: 17px;
            }
            .left-dash {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30px;
                    border-top: 5px solid #ef6b59;
                }
            }
            .row {
                margin-bottom: 15px;
                margin-left: -15px;
            }
            .form-group {
                .form-control {
                    margin-bottom: 0;
                    display: block;
                    width: 100%;
                    line-height: 1.42857143;
                    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    font-family: $museo_sans300;
                    color: #4f4f4f;
                    background-color: rgba(255, 255, 255, 0);
                    border: 1px solid transparent;
                    border-bottom: 1px solid #4f4f4f;
                    border-radius: 0;
                    -webkit-box-shadow: inset 0 0px 0px transparent;
                    -moz-box-shadow: inset 0 0px 0px transparent;
                    box-shadow: inset 0 0px 0px transparent;
                    height: 35px;
                    padding: 6px 5px;
                    font-size: 14px;
                    box-sizing: border-box;
                }
                select:focus {
                    outline: 0;
                }
                textarea {
                    width: 100%;
                    min-height: 120px;
                    border: none;
                    background-image: linear-gradient(to right, #FAFAFA 0px, transparent 0px), linear-gradient(to left, #FAFAFA 0px, transparent 0px), repeating-linear-gradient(#FAFAFA, #FAFAFA 39px, #4f4f4f 39px, #4f4f4f 40px, #FAFAFA 40px);
                    line-height: 38px;
                    padding: 8px 10px;
                    background-attachment: local;
                    resize: none;
                    overflow: hidden;
                    &:hover,
                    &:focus {
                        outline: 0;
                    }
                }
            }
            .edit-item {
                label {
                    display: inline-block;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: bold;
                    font-family: $museo_sans300;
                    color: #4f4f4f;
                    font-size: 17px;
                    &.text {
                        font-family: $museo_sans100;
                        font-size: 14px;
                    }
                }
                .gender {
                    .form-group {
                        margin-top: 10px;
                    }
                }
                .gender input[type="radio"]:checked,
                .allow-singapore-selection input[type="radio"]:checked {
                    background: #EF6B59;
                }
                .gender input[type="radio"],
                .allow-singapore-selection input[type="radio"] {
                    border: 1px solid #333;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    width: 15px;
                    height: 15px;
                    margin: 4px 0 0;
                    margin-left: 20px;
                    margin-right: 20px;
                    position: relative;
                    top: 4px;
                    opacity: 1;
                    left: 0;
                    &:focus {
                        outline: 0;
                    }
                }
                .btn-primary {
                    &.industry-interest,
                    &.language,
                    &.preferred_location {
                        font-family: $museo_sans500;
                        color: #4f4f4f;
                        background-color: #fff;
                        border: 1px solid #4f4f4f;
                        width: 170px;
                        margin-top: 20px;
                        font-size: 17px;
                        margin-right: 20px;
                        height: 38px;
                        &.active {
                            background-color: #4f4f4f;
                            color: #fff;
                        }
                    }
                }
                .background-experience-box {
                    .col {
                        padding: 0;
                    }
                }
                .table-responsive {
                    border: 1px solid #4f4f4f;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    .errors {
                        min-height: 21px;
                    }
                    table {
                        thead {
                            border-bottom: 1px solid #4f4f4f;
                            tr {
                                th {
                                    font-family: $museo_sans500;
                                    color: #4f4f4f;
                                    font-size: 17px;
                                    padding-top: 13px;
                                    padding-bottom: 13px;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    font-family: $museo_sans100;
                                    font-size: 14px;
                                    color: #4f4f4f;
                                    border-bottom: 1px solid #4f4f4f;
                                    padding-top: 15px;
                                    padding-bottom: 15px;
                                    input[type="text"] {
                                        height: 26px;
                                        margin-bottom: 0;
                                    }
                                }
                                &:last-child {
                                    td {
                                        border-bottom: 1px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                }
                .points {
                    li {
                        display: inline-block;
                        margin-right: 15px;
                        float: left;
                        a {
                            button {
                                margin-top: 2px;
                                &.btn-green {
                                    border: 2px solid #27ae60;
                                    i,
                                    span {
                                        color: #27ae60;
                                    }
                                }
                                &.btn-red {
                                    border: 2px solid $red;
                                    i,
                                    span {
                                        color: $red;
                                    }
                                }
                            }
                            i {
                                margin-top: 8px;
                                font-size: 10px;
                                color: #333;
                                margin-right: 5px;
                            }
                            span {
                                color: #333;
                                font-size: 14px;
                                font-family: $museo_sans300;
                            }
                        }
                        p {
                            padding: 5px 15px;
                            border-radius: 4px;
                            border: 2px solid transparent;
                            margin-top: 0px;
                            &.good-point {
                                span {
                                    color: #27ae60
                                }
                            }
                            &.bad-point {
                                span {
                                    color: $red;
                                }
                            }
                            span {
                                font-family: $museo_sans300;
                                &:first-child {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
                &.history-status {
                    .history-status-table {
                        max-height: 200px;
                        overflow: auto;
                    }
                }
                &.history-jobs {
                    .job-accepted-table,
                    .job-completed-table,
                    .job-rejected-table,
                    .job-canceled-table {
                        max-height: 200px;
                        overflow: auto;
                    }
                }
                &.history-transferred {
                    table {
                        tr {
                            td {
                                p {
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }
            .save-changes {
                margin-top: 20px;
            }
            .set-availablity.day-wrapper {
                border-color: #ef6b59;
            }
            .set-availablity h5 {
                border-bottom-color: #ef6b59;
            }
            .day-wrapper {
                width: 100%;
                max-width: 96px;
                float: left;
                margin-right: 25px;
                border: 1px solid #4f4f4f;
                margin-bottom: 25px;
                h5 {
                    font-family: $museo_sans300;
                    color: #4f4f4f;
                    font-size: 14px;
                    margin-top: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #4f4f4f;
                    i {
                        color: #fff;
                        cursor: pointer;
                    }
                }
                .bootstrap-select {
                    &.btn-group {
                        .dropdown-toggle {
                            .filter-option {
                                font-family: $museo_sans300;
                                font-size: 12px;
                            }
                            .caret {
                                top: 16%;
                                right: 22%;
                            }
                        }
                    }
                    .btn-default {
                        border-bottom: 1px solid transparent;
                    }
                }
                .form-group {
                    margin-bottom: 5px;
                }
                &.selectFrom {
                    &.selectTo {
                        border: 1px solid #ef6b59;
                        background: #ef6b59;
                    }
                }
                &.selectFrom {
                    &.selectTo {
                        h5 {
                            color: #ffffff;
                            border-bottom: 1px solid #ffffff;
                        }
                        .bootstrap-select.btn-group .dropdown-toggle .filter-option {
                            font-family: $museo_sans500;
                            color: #ffffff;
                        }
                    }
                }
            }
            .day-show {
                width: 15px;
                height: 15px;
                border: 1px solid #4f4f4f;
                display: inline-block;
                margin-right: 2px;
                cursor: pointer;
                &:hover,
                &:focus {
                    outline: 0
                }
            }
            .set-availablity {
                h5 {
                    .day-show {
                        border-color: #333;
                        &.active {
                            border-color: #ef6b59;
                            background: #ef6b59;
                        }
                    }
                }
                .time-color {
                    background: #ef6b59;
                    border-color: #ef6b59;
                }
            }
            .select-wrap {
                padding-left: 5px;
                input {
                    display: none;
                }
                label {
                    width: 15px;
                    float: right;
                    top: 5px;
                    right: 7px;
                    height: 15px;
                    border-radius: 0;
                    border: 1px #4f4f4f solid;
                    display: block;
                    line-height: 1;
                    text-align: center;
                    color: black;
                    font-size: 40pt;
                    cursor: pointer;
                    background: white;
                    position: relative;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 14px;
                    width: 14px;
                    background: #ef6b59;
                    content: '';
                    opacity: 0;
                    border: 1px #ef6b59 solid;
                }
                input:checked + label:before {
                    opacity: 1;
                }
                p {
                    text-transform: capitalize;
                    font-family: $museo_sans100;
                    font-size: 16px;
                    color: #4f4f4f;
                    margin: 0 0 10px 0;
                }
            }
            .time-select {
                width: 15px;
                height: 15px;
                border: 1px solid #4f4f4f;
                display: inline-block;
                cursor: pointer;
                float: right;
                margin-right: 7px;
                margin-top: 4px;
                &:hover,
                &:focus {
                    outline: 0;
                }
            }
            .employee-id {
                .btn {
                    width: initial;
                }
                .row {
                    margin-bottom: 0;
                }
                .form-group {
                    margin-bottom: 15px;
                    .warning p {
                        color: $red;
                        font-size: 14px;
                        margin: 0 0 10px 0;
                        font-family: $museo_sans100;
                    }
                }
                .id-image {
                    img {
                        max-width: 250px;
                        max-height: 400px;
                    }
                }
            }
            .gender,
            .driving-license,
            .vehicles,
            .allow-singapore-selection,
            .university,
            .whats-app-different-mobile {
                input[type="radio"],
                input[type="checkbox"] {
                    position: static;
                    left: 0;
                    opacity: 1;
                    border: 1px solid #333;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    width: 15px;
                    height: 15px;
                    margin-left: 20px;
                    margin-right: 20px;
                    &:checked {
                        background: $red;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .driving-license-image {
                    img {
                        max-width: 250px;
                        max-height: 400px;
                    }
                    .upload_driving_license_image {
                        width: auto;
                    }
                }
            }
            .whats-app-different-mobile {
                margin-top: 15px;
                margin-bottom: 15px;
                input[type="radio"],
                input[type="checkbox"] {
                    margin-left: 0;
                }
                label {
                    font-family: $museo_sans100;
                    font-size: 14px;
                    padding: 0;
                    &:before {
                        display: none;
                    }
                }
            }
            .not-available-period {
                margin-bottom: 5px;
                .table-responsive {
                    margin-top: 0;
                }
                .table {
                    .user-not-avaiable-date {
                        border: none;
                        border-bottom: 1px solid #333;
                        height: 36px;
                        color: $grey-color;
                        font-family: $museo_sans100;
                        font-size: $fontsize-normal;
                        width: 100%;
                    }
                    >thead {
                        >tr {
                            >th {
                                font-family: $museo_sans500;
                                color: $grey-color;
                                font-size: $fontsize-normal;
                                border-bottom: 1px solid $grey-color;
                                padding-top: 13px;
                                padding-bottom: 13px;
                                font-weight: normal;
                                &:nth-child(1),
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(5) {
                                    max-width: 100px;
                                }
                                &:last-child {
                                    max-width: 30px;
                                }
                            }
                        }
                    }
                    >tbody {
                        >tr {
                            >td {
                                border-bottom: 1px solid $grey-color;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                .form-group {
                                    .form-control {
                                        font-family: $museo_sans100;
                                        font-size: $fontsize-normal;
                                        color: $grey-color;
                                    }
                                }
                                &:nth-child(1),
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(5) {
                                    max-width: 100px;
                                }
                                &:last-child {
                                    text-align: center;
                                    max-width: 30px;
                                    i {
                                        margin-top: 10px;
                                    }
                                }
                            }
                            &:last-child td {
                                border-bottom: 1px solid transparent;
                            }
                        }
                    }
                }
                .add-more-not-available {
                    font-size: 14px;
                    color: #4f4f4f;
                    font-family: $museo_sans500;
                    border-color: #4f4f4f;
                    &:hover {
                        background: #4f4f4f;
                        color: #fff;
                    }
                }
            }
            .referral-program {
                .btn {
                    width: auto;
                }
            }
            .university {
                .university-select {
                    height: 35px;
                }
            }
            .save-all {
                .btn {
                    text-transform: none;
                    padding: 14px 12px;
                }
            }
        }
    }
}
