.email-management-users,
#admin-employees {
    padding-bottom: 60px;
    preloader {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .btn {
        box-shadow: initial;
    }
    .back {
        background: #ffc107;
        &:hover {
            background: #2bbbad;
        }
    }
    .list-users {
        margin-top: 15px;
        .action-box {
            margin-bottom: 0;
        }
        input[type=search]:focus:not([readonly]) {
            border: 0;
            border-bottom: 0;
            box-shadow: initial;
        }
        .select2-container {
            .select2-search--inline {
                .select2-search__field {
                    margin: 0px;
                    height: initial;
                }
            }
        }
        .ee-tags {
            .md-chips {
                box-shadow: none;
            }
            .md-chip-content {
                strong {
                    font-size: 12px;
                    font-family: $museo_sans300;
                }
            }
        }
        .clickable {
            cursor: pointer;
        }
        .disabled {
            pointer-events: none;
            background-color: #DFDFDF !important;
            box-shadow: none;
            color: #9F9F9F !important;
            cursor: default;
        }
        .user-registered-box {
            margin: 0 15px;
        }
        .filter {
            .to,
            .from {
                margin-bottom: 0;
            }
            md-select {
                margin: 0;
            }
            select {
                display: block;
            }
        }
        .header {
            color: $color-header;
            font-weight: 300;
        }
        .archive-box {
            margin-right: 15px;
        }
        .filter-role,
        .filter-status {
            select {
                height: 32px;
            }
        }
        .all-box,
        .today {
            margin-top: 18px;
        }
        .bg-green {
            background-color: #039be5;
            &:hover {
                background-color: #2bbbad;
            }
        }
        .bg-yellow {
            background-color: #fa9325;
            &:hover {
                background-color: #2bbbad;
            }
        }
        .select-all {
            margin-top: 8px;
        }
        .user-action {
            ul {
                margin: 0;
                float: right;
                li {
                    display: inline-block;
                    a {
                        i {
                            font-size: 36px;
                        }
                    }
                }
                .pending {
                    i {
                        color: #fa9325
                    }
                }
                .archive {
                    i {
                        color: #f44336;
                    }
                }
            }
            .more-action {
                float: right;
                md-menu {
                    button {
                        margin: 0;
                        padding: 0;
                        height: 36px;
                        span {
                            display: inline-block;
                        }
                        .icon {
                            vertical-align: middle;
                            height: 28px;
                        }
                    }
                }
            }
            .send-sms {
                float: right;
                margin-right: 10px;
            }
        }
        .bg-box {
            display: inline-block;
            background: #039be5;
            padding: 10px;
            color: #fff;
            height: 44px;
            i {
                vertical-align: middle;
            }
        }
        .search-box {
            @extend %search-box;
        }
        .table-users {
            .id-col {
                min-width: 75px;
            }
            .email-col,
            .name-col {
                max-width: 200px;
            }
            .city-col,
            .status-col {
                min-width: 100px;
            }
            tr {
                th {
                    outline: 0;
                    i {
                        vertical-align: middle;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
            }
            tbody {
                td {
                    &:hover,
                    &:focus {
                        outline: 0;
                    }
                }
                .edit {
                    color: #009688;
                }
                .delete {
                    color: $color-header;
                }
                .action {
                    width: 8.33%;
                }
                .icon-verify {
                    font-size: 14px;
                }
                .private-note {
                    a {
                        display: inline-block;
                        width: 30px;
                        height: 38px;
                        .icon {
                            width: 20px;
                            height: 20px;
                            font-size: 20px;
                            vertical-align: middle;
                            color: #fff;
                            background: #039be5;
                        }
                    }
                }
            }
        }
        a {
            cursor: pointer;
        }
    }
}
