.employee-salary-modal {
    min-width: 600px;
    .modal-header,
    .modal-body {
        padding: 15px;
    }
    .modal-header {
        background: #EF6B59;
        color: #fff;
        font-size: 18px;
        .close {
            cursor: pointer;
            color: #ccc;
            &:hover {
                color: #fff;
            }
        }
        .title {
            color: #fff;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0;
        }
    }
    .modal-body {
        input {
            margin: 0;
        }
        md-input-container {
            margin-bottom: 0;
        }
        .content {
            margin-bottom: 10px;
        }
        .action {
            .note {
                background: #EF6B59;
                &:hover {
                    background: #e63b24;
                }
            }
        }
    }
}
