.send-sms-to-employee {
    position: relative;
    font-family: $museo_sans300;
    padding-bottom: 40px;
    select {
        display: block;
        height: 32px;
    }
    .send-type input[type="radio"]:checked {
        background: #EF6B59;
    }
    .send-type input[type="radio"] {
        border: 1px solid #333;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        width: 15px;
        height: 15px;
        margin: 4px 0 0;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        top: 4px;
        opacity: 1;
        left: 0;
        &:focus {
            outline: 0;
        }
    }
    .sms-form {
        max-width: 600px;
        margin: 0px auto;
        .title {
            h3 {
                font-size: 30px;
                color: $grey-color;
                margin-bottom: 20px;
            }
            p {
                font-size: 24px;
                margin-bottom: 40px;
                color: $grey-color;
            }
        }
        h2 {
            font-family: $museo_sans300;
            font-size: 40px;
            color: $red;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .content-wrapper {
            .user-attributes {
                ul {
                    li {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .send-sms {
            margin-top: 15px;
        }
    }
    p {
        color: $grey-color;
    }
    .form-group {
        margin-bottom: 15px;
        .form-control {
            border: 1px solid transparent;
            border-radius: 0px;
            box-shadow: none;
            background: transparent;
            border-bottom: 1px solid $grey-color;
            color: $grey-color;
            margin-bottom: 0;
            z-index: 2;
            position: relative;
            &.select-box {
                background: initial;
                &:hover,
                &:focus {
                    outline: 0;
                }
            }
            &:hover,
            &:focus {
                outline: 0;
            }
        }
        .btn-default {
            background: transparent;
            border: 2px solid $grey-color;
            box-shadow: none;
            color: $grey-color;
            border-radius: 6px;
            height: initial;
            padding: 12px 30px;
            margin-top: 40px;
            font-family: $museo_sans300;
            font-size: 22px;
        }
        .btn-full-width {
            width: 100%;
            margin-top: 20px;
            font-size: 20px;
            padding: 10px;
            text-transform: uppercase;
            &:focus {
                outline: none;
            }
        }
    }
}
