<div class="payment-history">
    <table class="striped table-history">
        <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Account Balance</th>
                <th>Currency</th>
                <th>View Stripe Dashboard As</th>
                <th class="actions-col right-align">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users">
                <td ng-bind="user.getId()"></td>
                <td ng-bind="user.getFirstName()"></td>
                <td ng-bind="user.getLastName()"></td>
                <td>
                    <a ui-sref="app.employees.edit({id: user.getId()})" ng-bind="user.getEmail()"></a>
                </td>
                <td ng-bind="user.balance.getFormattedAmount()"></td>
                <td ng-bind="user.balance.currency"></td>
                <td><a href="https://dashboard.stripe.com/{{user.payment.id}}" target="_blank">Stripe Dashboard</a></td>
                <td class="actions-col center-align" ng-if="vm.user.can('update.transactions')">
                    <a ui-sref="app.payment.transfers.detail({'id':transaction.getId()})">More</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="right-align">
        <pagination data="vm.pagination"></pagination>
    </div>
</div>
