.view-dashboard-employer {
    overflow: auto;
    padding: 20px;
    preloader {
        display: block;
        text-align: center;
    }
    .btn-primary {
        &.goback-admin-dashboard {
            width: initial;
        }
    }
    .dashboard-header {
        overflow: auto;
    }
    %post-job {
        width: 150px;
        height: 36px;
        padding: 0;
        display: inline-block;
        text-transform: capitalize;
        border-radius: 5px;
        line-height: 36px;
        margin-top: 20px;
    }
    .dashboard-body {
        .employer-dashboard {
            $sidebar-item-height: 40px;
            $er-sidebar-selected-color: none;
            $er-sidebar-hover-color: #ccc;
            $er-sidebar-hover-text-color: black;
            $er-sidebar-text-color: #555;
            $sidebar-item-icon-font-size: 24px;
            $er-sidebar-hover-text-font-size: 16px;
            $er-sidebar-hover-text-font-weight: 600;
            preloader {
                text-align: center;
                display: block;
                margin-top: 15px;
            }
            padding-bottom: 100px;
            .dash-top {
                background: #fbfbfb;
                padding-bottom: 20px;
            }
            pagination {
                .show-entities {
                    display: inline-block;
                    overflow: auto;
                    p {
                        line-height: 34px;
                        margin-bottom: 0px;
                        margin-right: 5px;
                    }
                }
                .pagination {
                    margin-bottom: 0px;
                    li {
                        font-size: 14px;
                        a {
                            color: #333;
                        }
                        &.active {
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            a {
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
            .profile-img-wrap {
                margin-top: 20px;
                .profile-img {
                    border: 1px solid rgba(239, 107, 89, 0.45);
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    position: relative;
                    cursor: pointer;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
            .user-info {
                h3 {
                    font-family: $museo_sans500;
                    color: #282828;
                    font-size: 24px;
                }
                $p-font-size: 16px;
                $line-height: 1.4;
                $lines-to-show: 5;
                p {
                    font-family: $museo_sans100;
                    color: #323232;
                    font-size: $p-font-size;
                    margin: 0 0 10px;
                }
                .company-about {
                    display: block;
                    height: $p-font-size*$line-height*$lines-to-show;
                    line-height: $line-height;
                    /* Fallback for non-webkit */
                    display: -webkit-box;
                    /* Fallback for non-webkit */
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .line {
                    display: inline-block;
                    width: 163px;
                    height: 20px;
                    background: #fcd9d4;
                    float: right;
                    position: relative;
                    margin-top: 8px;
                    border-radius: 4px;
                    .line-inner {
                        position: absolute;
                        width: 55%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: #ef6b59;
                    }
                    span {
                        border-radius: 4px;
                    }
                    .profile-complete {
                        color: #323232;
                        font-size: 12px;
                        font-family: $museo_sans300;
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        z-index: 1;
                        line-height: 20px;
                    }
                }
            }
            .hidden-field {
                display: none;
            }
            .btn-primary.orange-btn-sm {
                font-family: $museo_sans300;
                font-size: 14px;
                color: #fff;
                background: #ef6b59;
                border: none;
                border-color: #fb7260;
                width: 100%;
                max-width: 170px;
                text-transform: capitalize;
                line-height: 36px;
                box-shadow: initial;
                height: 36px;
                padding: 0;
                text-shadow: initial;
                &.disabled {
                    opacity: 0.5;
                }
            }
            .btn-primary.green-btn-sm {
                font-family: $museo_sans300;
                font-size: 14px;
                color: #fff;
                background: #16a085;
                border-color: #16a085;
                width: 100%;
                max-width: 170px;
                text-transform: capitalize;
                line-height: 36px;
                box-shadow: initial;
                height: 36px;
                padding: 0;
                text-shadow: initial;
            }
            #sort {
                background: #fff;
            }
            .btn-primary.orange-btn-sm:focus {
                background: #ef6b59;
                border-color: #fb7260;
            }
            .btn-primary.orange-btn-sm:hover {
                background: #f9968f;
                border-color: #fb7260;
            }
            .btn-primary.white-btn-2 {
                font-family: $museo_sans500;
                font-size: 17px;
                color: #666666;
                background: #fff;
                border-color: #666666;
                width: 100%;
                max-width: 170px;
                padding: 0 12px;
                border: 1px solid #666;
                line-height: 36px;
                box-shadow: initial;
                text-shadow: initial;
                text-transform: capitalize;
            }
            .btn-primary.white-btn-2:focus {
                background: #fff;
                border-color: #666666;
            }
            .btn-primary.white-btn-2:hover {
                background: #fff;
                border-color: #ef6b59;
                color: #ef6b59;
            }
            .btn-primary.white-btn-2.active-white {
                background: #fff;
                border-color: rgba(239, 107, 89, 0.47);
                color: #ef6b59;
            }
            .btn-primary.white-btn-2.active-white {
                &:hover {
                    background: rgba(204, 204, 204, 0.2);
                }
            }
            .no-job {
                text-align: center;
                padding: 10px 0;
                margin-top: 10px;
                .title {
                    font-family: $museo_sans300;
                    font-size: 17px;
                    margin-bottom: 10px;
                }
                .post-job {
                    @extend %post-job;
                }
            }
            .welcome-message {
                text-align: center;
                padding: 10px 0 50px 0;
                background: rgb(255, 215, 210);
                border: 0;
                -webkit-box-shadow: 0px 4px 15px #bfbfbf;
                -moz-box-shadow: 0px 4px 15px #bfbfbf;
                box-shadow: 0px 4px 15px #bfbfbf;
                margin-bottom: 20px;
                margin-top: 10px;
                .title {
                    font-family: $museo_sans300;
                    font-size: 50px;
                    font-weight: 500;
                    color: rgb(252, 95, 80);
                    padding: 0 30px;
                    max-width: 700px;
                    margin: auto;
                    margin-bottom: 0;
                    margin-top: 30px;
                }
                .description {
                    font-weight: lighter;
                    color: #313131;
                    padding: 0 30px;
                    font-family: $museo_sans300;
                    max-width: 600px;
                    margin: auto;
                    margin-bottom: 10px;
                    font-size: 16px;
                }
                .post-job {
                    @extend %post-job;
                    border: 0;
                    &:hover {
                        border-color: transparent;
                    }
                }
            }
            .job-list {
                border: 1px solid rgba(239, 107, 89, 0.53);
                -webkit-box-shadow: 10px 10px 20px 0 #b8b8b8;
                -moz-box-shadow: 10px 10px 20px 0 #b8b8b8;
                box-shadow: 10px 10px 20px 0 #b8b8b8;
                padding-right: 15px;
                margin-bottom: 30px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                .shift-item {
                    border-top: 1px solid rgba(239, 107, 89, 0.53);
                    /*&[index="0"] {
                .employee-wrapper,
                .border-r {
                    padding-top: 0px!important; 
                }
            }*/
                    .employee-wrapper {
                        padding-bottom: 10px;
                    }
                }
                .border-r {
                    .job-status-wrapper {
                        margin: 25px -15px 40px 0;
                        text-align: center;
                        font-family: $museo_sans300;
                        color: #46cc92;
                    }
                }
                .job-wrapper {
                    .job-list-r {
                        .job {
                            .job-content {
                                .job-title {
                                    margin-top: 25px;
                                    width: calc(100% - 70px);
                                    float: left;
                                    h3 {
                                        margin: 0;
                                        white-space: nowrap;
                                        font-size: 20px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        text-align: left;
                                    }
                                    p {
                                        margin-bottom: 0px;
                                    }
                                }
                                .job-detail-wrapper {
                                    float: right;
                                }
                                .job-detail {
                                    margin-top: 25px;
                                    font-size: 14px;
                                    color: $red;
                                    text-decoration: underline;
                                    display: inline-block;
                                    font-family: $museo_sans300;
                                    text-align: right;
                                }
                            }
                            .owner-job {
                                margin-top: 10px;
                                margin-bottom: 10px;
                                font-size: 14px;
                                font-family: $museo_sans300;
                                padding: 0 15px;
                                .employer {
                                    float: left;
                                    margin: 8px 92px 0 31px;
                                    .icon {
                                        margin-right: 5px;
                                        height: 21px;
                                    }
                                }
                                .mark-complete-job {
                                    float: right;
                                    .complete-job {
                                        display: inline-block;
                                        width: 170px;
                                        height: 36px;
                                        border-radius: 5px;
                                        text-align: center;
                                        box-shadow: initial;
                                        outline: 0;
                                        border: 0;
                                        &.disabled {
                                            opacity: 0.5;
                                            &:hover {
                                                background: #ef6b59;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-primary.white-btn-2 {
                    margin-right: 20px;
                }
                >.row {
                    margin-bottom: 0;
                    margin-left: 0;
                }
                &.inactive {
                    opacity: 0.5;
                }
            }
            .job-filter {
                padding-top: 35px;
                padding-bottom: 40px;
                .btn-primary.white-btn-2 {
                    margin-right: 20px;
                }
                span {
                    font-family: $museo_sans100;
                    font-size: 17px;
                    color: #323232;
                    display: inline-block;
                    margin-right: 30px;
                }
            }
            .job-list-l {
                margin-bottom: 26px;
                p {
                    font-family: $museo_sans300;
                    font-size: 12px;
                    color: #ef6b59;
                    span {
                        font-family: $museo_sans300;
                        font-size: 14px;
                        color: #ef6b59;
                    }
                    strong {
                        font-family: $museo_sans500;
                    }
                }
                h3 {
                    font-family: $museo_sans500;
                    color: #ef6b59;
                    font-size: 30px;
                    margin-top: 0;
                    span {
                        font-family: $museo_sans100;
                        color: #ef6b59;
                    }
                }
            }
            .day {
                margin-bottom: 15px;
                span {
                    font-family: $museo_sans500;
                    border: 1px solid #ef6b59;
                    display: inline-block;
                    padding: 2px;
                    line-height: 100%;
                    font-size: 10px;
                    width: 15px;
                    text-align: center;
                    color: #ef6b59;
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                span.day-background {
                    color: #fff;
                    background: #ef6b59;
                }
            }
            .shift-description {
                max-height: 51px;
                overflow: hidden;
                margin-bottom: 0;
            }
            .job-list-l .shift-time {
                font-size: 14px;
            }
            .not-interested,
            .apply,
            .view-job,
            .review {
                margin-top: 30px;
            }
            .review {
                margin-right: 10px;
            }
            .not-interested {
                color: #ef6b59;
                display: block;
                margin: 10px 0 0 0;
                width: 170px;
                text-align: center;
                background: initial;
                border: 0;
                box-shadow: initial;
                &:hover,
                &:focus {
                    outline: 0;
                }
            }
            .job-list-top {
                overflow: hidden;
                padding-top: 7px;
                padding-bottom: 30px;
                img {
                    width: 20%;
                    max-width: 70px;
                    height: 70px;
                    float: left;
                    border: 2px solid #ef6b59;
                }
                .job-text {
                    width: 76%;
                    float: left;
                    padding-left: 25px;
                    .description {
                        max-height: 40px;
                        overflow: hidden;
                    }
                    .review {
                        color: $red;
                        font-size: 12px;
                    }
                }
                h3 {
                    margin-top: 8px;
                    font-family: $museo_sans300;
                    font-size: 18px;
                    color: #313131;
                    margin-bottom: 5px;
                    &:hover {
                        color: #ef6b59;
                    }
                    span {
                        font-family: $museo_sans100;
                    }
                }
                p {
                    margin: 0 0 10px;
                }
            }
            .border-r {
                border-right: 1px solid rgba(239, 107, 89, 0.51);
                padding-top: 32px;
                min-height: 217px;
            }
            #job-item {
                .border-r {
                    min-height: initial;
                }
                .right-wrapper {
                    min-height: 80px;
                }
                .employee-wrapper {
                    min-height: 180px;
                    padding-top: 32px;
                    .job-list-r {
                        .employee {
                            .list-employee {
                                .employee-profile {
                                    a {
                                        display: inline-block;
                                        width: 100%;
                                        color: $red;
                                        font-family: $museo_sans300;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                        h3 {
                                            height: 24px;
                                            line-height: 21px;
                                        }
                                    }
                                    p.rejected-employee {
                                        font-size: 10px;
                                        color: $red;
                                    }
                                    .employee-name {
                                        ul {
                                            float: left;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .job-list {
                    >div {
                        display: flex;
                    }
                    .border {
                        position: relative;
                        overflow: hidden;
                        &:before {
                            content: '';
                            position: absolute;
                            width: calc(100% - 15px);
                            border-bottom: 1px solid rgba(239, 107, 89, 0.53);
                            bottom: 0;
                            right: 0;
                        }
                        .border-r {
                            min-height: 80px;
                            display: table;
                            padding-right: 0;
                        }
                        .job-list-l {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            padding: 0;
                            margin: 0;
                            width: 100%;
                        }
                        .job-list-r {
                            margin-bottom: 0;
                            .job-list-top {
                                padding-bottom: 0;
                                .job-text {
                                    padding-left: 0;
                                }
                                .job-edit-container {
                                    display: table;
                                    min-height: 70px;
                                    float: right;
                                    .job-edit {
                                        display: table-cell;
                                        vertical-align: middle;
                                        .edit {
                                            display: block;
                                            padding: 0 40px;
                                            border-radius: 5px;
                                            text-align: center;
                                            width: 170px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .job-list-r {
                        .employee {
                            .employee-title {
                                font-family: $museo_sans300;
                                font-size: 14px;
                                margin-bottom: 10px;
                            }
                            .list-employee {
                                overflow-y: hidden;
                                margin-bottom: 20px;
                                clear: both;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                user-profile-image {
                                    img {
                                        width: 20%;
                                        max-width: 70px;
                                        max-height: 70px;
                                        float: left;
                                        border-radius: 6px;
                                    }
                                }
                                .employee-profile {
                                    padding-left: 10px;
                                    float: left;
                                    padding-top: 6px;
                                    .employee-name {
                                        overflow: auto;
                                        h3 {
                                            font-family: $museo_sans300;
                                            color: #313131;
                                            font-size: 18px;
                                            margin: 0;
                                        }
                                    }
                                    .profile {
                                        font-family: $museo_sans300;
                                        color: #313131;
                                        min-width: 89px;
                                        display: inline-block;
                                        &:hover {
                                            color: #ef6b59;
                                        }
                                        i {
                                            font-size: 10px;
                                        }
                                    }
                                    .reject-employee {
                                        display: block;
                                        text-decoration: underline;
                                        color: $red;
                                        font-family: $museo_sans300;
                                    }
                                }
                                .actions {
                                    float: right;
                                    padding-top: 15px;
                                    a {
                                        color: $red;
                                        line-height: 25px;
                                        font-family: $museo_sans300;
                                    }
                                    .btn-icon {
                                        display: inline-block;
                                        margin-top: 0px;
                                        margin-right: 30px;
                                    }
                                    .hire-btn {
                                        margin-left: 30px;
                                        border: 1px solid #fb7260;
                                        border-radius: 5px;
                                        width: 170px;
                                        height: 36px;
                                        display: inline-block;
                                        text-align: center;
                                        box-shadow: initial;
                                        outline: 0;
                                        vertical-align: middle;
                                        &.disabled {
                                            opacity: 0.5;
                                            &:hover {
                                                background: transparent;
                                            }
                                        }
                                    }
                                    .review-employee {
                                        margin-right: 10px;
                                        border: 1px solid #fb7260;
                                        border-radius: 5px;
                                        width: 170px;
                                        height: 36px;
                                        display: inline-block;
                                        text-align: center;
                                        box-shadow: initial;
                                        outline: 0;
                                        vertical-align: middle;
                                        &.disabled {
                                            opacity: 0.5;
                                            &:hover {
                                                background: transparent;
                                            }
                                        }
                                    }
                                    .contact-employee {
                                        margin-left: 0;
                                        border: 1px solid #fb7260;
                                        border-radius: 5px;
                                        width: 170px;
                                        height: 36px;
                                        display: inline-block;
                                        text-align: center;
                                        box-shadow: initial;
                                        outline: 0;
                                        vertical-align: middle;
                                        &.disabled {
                                            opacity: 0.5;
                                            &:hover {
                                                background: transparent;
                                            }
                                        }
                                    }
                                    .reject-employee {
                                        vertical-align: top;
                                        line-height: 36px;
                                        color: $red;
                                        text-decoration: underline;
                                        font-size: 14px;
                                        display: inline-block;
                                        height: 36px;
                                        border-radius: 5px;
                                        text-align: center;
                                        margin-left: 10px;
                                        box-shadow: initial;
                                        outline: 0;
                                        border: 0;
                                        font-family: $museo_sans300;
                                        &.disabled {
                                            opacity: 0.5;
                                            &:hover {
                                                background: #ef6b59;
                                            }
                                        }
                                    }
                                    .hired-employee {
                                        cursor: auto;
                                        margin: 0 10px;
                                        background: initial;
                                        border: initial;
                                        color: #46cc92;
                                        font-size: 14px;
                                        font-family: $museo_sans300;
                                        height: 36px;
                                        line-height: 36px;
                                        vertical-align: middle;
                                        .icon {
                                            font-size: 14px;
                                            color: #fff;
                                            background: #46cc92;
                                            padding: 5px;
                                            border-radius: 5px;
                                            vertical-align: middle;
                                            margin-right: 5px;
                                            margin-top: -6px;
                                        }
                                        &:focus {
                                            outline: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
