@media(min-width: 768px) and (max-width: 1200px) {
    .box-min-height {
        min-height: 193px;
    }
    .navbar-header {
        float: none !important;
        .navbar-toggle {
            display: block !important;
        }
        .navbar-brand.header-home {
            line-height: 40px !important;
        }
    }
    .navbar-collapse {
        margin-right: -15px !important;
        margin-left: -15px !important;
        border-top: 1px solid #e7e7e7 !important;
        .navbar-nav {
            float: none !important;
            li {
                float: none !important;
                a {
                    line-height: 20px !important;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .header_test_yourself {
        /**
         * Change break point for navbar bootstrap
         */
        .navbar-header {
            float: none;
        }
        .navbar-left,
        .navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-collapse.in {
            display: block !important;
        }
        /**
         * End change break point for navbar bootstrap
         */
        #myNavbar {
            .dropdown.li_menu_test>ul {
                display: none !important;
            }
            .dropdown.li_menu_test.open-parent>a {
                background-color: #e7e7e7;
            }
            .dropdown.li_menu_test.open-parent>ul {
                display: block !important;
                .sub_li_menu_test>ul {
                    display: none !important;
                }
                .sub_li_menu_test.open-parent>ul {
                    background-color: #111112;
                    padding-left: 20px;
                    display: block !important;
                }
            }
            .dropdown.li_menu_test.open>a:hover {
                color: #000 !important;
            }
            .dropdown.li_menu_test.open-parent {
                .dropdown-menu {
                    position: static;
                    float: none;
                    width: auto;
                    margin-top: 0;
                    background-color: transparent;
                    border: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    li {
                        a {
                            color: #fff !important;
                        }
                    }
                }
                .menu-child {
                    display: block !important;
                    li {
                        a {
                            color: #fff;
                            width: calc(100% - 70px);
                            .caret {
                                display: none;
                            }
                        }
                        .caret {
                            position: absolute;
                            right: 5px;
                            top: 15px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}