@media (max-width: 1200px) {
    #home {
        .container_home {
            .home_page {
                .title {
                    .testyourself-test {
                        .general-tests {
                            &.academic-tests,
                            &.professional-tests {
                                .flop {
                                    .test_bg {
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}