@media (max-width: 1200px) {
    .header_test_yourself {
        .dropdown-header,
        .dropdown-menu>li>a {
            padding: 12px 20px;
        }
        .navbar-toggle {
            margin-right: 0;
        }
        .container_site {
            .navbar {
                .header-home {
                    height: 100%;
                    margin: 0;
                }
                .navbar-collapse {
                    ul {
                        li {
                            a {
                            	padding-left: 15px;
                            	padding-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}