<div class="list-jobs-page">
    <div class="full-wrap search-job">
        <div class="bg-wrap"></div>
        <div class="container custom-container">
            <breadcrumb data="vm.breadcrumbs"></breadcrumb>
            <div class="adv-search">
                <form name="vm.search_form" ng-submit="vm.searchJobs(vm.search)" novalidate>
                    <div class="keyword-section suggest">
                        <span class="heading">
                        <label for="keyword">Enter Keywords</label>
                    </span>
                        <div class="keyword-wrap">
                            <div class="input-wrap">
                                <input type="text" id="keyword" name="keyword" placeholder="Enter job titles" ng-model="vm.search.keyword">
                            </div>
                        </div>
                    </div>
                    <div class="location-section suggest">
                        <span class="heading">
                        <label for="location">Location</label>
                    </span>
                        <div class="location-wrap">
                            <div class="input-wrap">
                                <ui-select ng-model="vm.search.location" title="Choose a location">
                                    <ui-select-match placeholder="City">{{ $select.selected.name }}</ui-select-match>
                                    <ui-select-choices repeat="city in vm.cities | filter: $select.search">
                                        <span ng-bind="city.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="experience-section">
                        <span class="heading">
                        <label for="experience">Experience</label>
                    </span>
                        <select name="experience" id="experience" class="form-group" ng-model="vm.search.experience" ng-options="option as option.label for option in vm.search_experiences">
                        </select>
                    </div>
                    <div class="submit-section">
                        <span class="heading">&nbsp;</span>
                        <input type="submit" value="Search" class="btn red">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container custom-container">
            <div class="row">
                <div class="refine-search-wrapper col-sm-3 col-xs-3">
                    <h4 class="search-heading">Refine Search</h4>
                    <a href="#" class="reset-all" ng-if="vm.show_reset_all_filter_button" ng-click="vm.resetAllFilter()">Reset All</a>
                    <div class="filters" id="job-filter-wrapper">
                        <div class="filter-wrapper filter-industry" ng-if="vm.raw_industries | hasItem">
                            <h5 class="filter-heading">Industry</h5>
                            <a href="javascript:;" id="reset-filter-location" class="reset" ng-if="vm.params.filter_industry_ids" ng-click="vm.resetFilter('filter_industry_ids')">Reset</a>
                            <div class="filter-options">
                                <div class="option" ng-repeat="industry in vm.industries">
                                    <input type="checkbox" name="industry_{{ industry.getId() }}" id="industry_{{ industry.getId() }}" ng-model="industry.selected" ng-true-value="true" ng-false-value="false" ng-change="vm.checkDisplayRefineSearch()">
                                    <label class="text">
                                        <label for="industry_{{ industry.getId() }}" title="{{ industry.getName() }}" ng-bind="industry.getName()"></label>
                                    </label>
                                    <span class="total-jobs" ng-bind="industry.getTotalJobs()"></span>
                                </div>
                            </div>
                        </div>
                        <div class="filter-wrapper filter-location" ng-if="vm.raw_states | hasItem">
                            <h5 class="filter-heading clickable" ng-class="{'arrow-right': vm.toggle.states}" ng-click="vm.toggleFilter('states')">Location</h5>
                            <a href="javascript:;" id="reset-filter-location" class="reset" ng-if="vm.params.filter_state_ids" ng-click="vm.resetFilter('filter_state_ids')">Reset</a>
                            <div class="filter-options">
                                <div class="option" ng-repeat="state in vm.states">
                                    <input type="checkbox" name="location_{{ state.getId() }}" id="location_{{ state.getId() }}" ng-model="state.selected" ng-true-value="true" ng-false-value="false" ng-change="vm.checkDisplayRefineSearch()">
                                    <label class="text">
                                        <label for="location_{{ state.getId() }}" title="{{ state.getName() }}" ng-bind="state.getName()"></label>
                                    </label>
                                    <span class="total-jobs" ng-bind="state.getTotalJobs()"></span>
                                </div>
                            </div>
                        </div>
                        <div class="filter-wrapper filter-job-titles" ng-if="vm.raw_job_titles | hasItem">
                            <h5 class="filter-heading">Job Titles</h5>
                            <a href="javascript:;" id="reset-filter-location" class="reset" ng-if="vm.params.filter_job_title_ids" ng-click="vm.resetFilter('filter_job_title_ids')">Reset</a>
                            <div class="filter-options">
                                <div class="option" ng-repeat="job_title in vm.job_titles">
                                    <input type="checkbox" name="job_title_{{ job_title.getId() }}" id="job_title_{{ job_title.getId() }}" ng-model="job_title.selected" ng-true-value="true" ng-false-value="false" ng-change="vm.checkDisplayRefineSearch()">
                                    <label class="text">
                                        <label for="job_title_{{ job_title.getId() }}" title="{{ job_title.getName() }}" ng-bind="job_title.getName()"></label>
                                    </label>
                                    <span class="total-jobs" ng-bind="job_title.getTotalJobs()"></span>
                                </div>
                            </div>
                        </div>
                        <div class="filter-wrapper filter-qualification" ng-if="vm.raw_qualifications | hasItem">
                            <h5 class="filter-heading">Qualification</h5>
                            <a href="javascript:;" id="reset-filter-location" class="reset" ng-if="vm.params.filter_qualification_ids" ng-click="vm.resetFilter('filter_qualification_ids')">Reset</a>
                            <div class="filter-options">
                                <div class="option" ng-repeat="qualification in vm.qualifications">
                                    <input type="checkbox" name="qualification_{{ qualification.getId() }}" id="qualification_{{ qualification.getId() }}" ng-model="qualification.selected" ng-true-value="true" ng-false-value="false" ng-change="vm.checkDisplayRefineSearch()">
                                    <label class="text">
                                        <label for="qualification_{{ qualification.getId() }}" title="{{ qualification.getName() }}" ng-bind="qualification.getName()"></label>
                                    </label>
                                    <span class="total-jobs" ng-bind="qualification.getTotalJobs()"></span>
                                </div>
                            </div>
                        </div>
                        <div class="filter-wrapper filter-experience" ng-if="vm.raw_experiences | hasItem">
                            <h5 class="filter-heading">Experience</h5>
                            <a href="javascript:;" id="reset-filter-location" class="reset" ng-if="vm.params.filter_experience_ids" ng-click="vm.resetFilter('filter_experience_ids')">Reset</a>
                            <div class="filter-options">
                                <div class="option" ng-repeat="experience in vm.experiences">
                                    <input type="checkbox" name="experience_{{ experience.getId() }}" id="experience_{{ experience.getId() }}" ng-model="experience.selected" ng-true-value="true" ng-false-value="false" ng-change="vm.checkDisplayRefineSearch()">
                                    <label class="text">
                                        <label for="experience_{{ experience.getId() }}" title="{{ experience.getLabel() }}" ng-bind="experience.getLabel()"></label>
                                    </label>
                                    <span class="total-jobs" ng-bind="experience.getTotalJobs()"></span>
                                </div>
                            </div>
                        </div>
                        <div class="refine-button fixed" fixed-refine-button>
                            <button type="button" ng-click="vm.filterJobs()" ng-show="vm.show_refine_button">Refine</button>
                        </div>
                    </div>
                </div>
                <div class="normal-international-jobs-wrapper col-sm-6 col-xs-9">
                    <div class="headings">
                        <h4 class="search-result" ng-bind="vm.search_result_message"></h4>
                        <div class="jobs-found-sortby">
                            <span class="jobs-found" ng-if="vm.jobs.length === 0">Oops! No jobs found with your search criteria</span>
                            <span class="jobs-found col-sm-6" ng-if="vm.jobs.length === 1">{{ vm.jobs.length }} Job Found</span>
                            <span class="jobs-found" ng-if="vm.jobs.length > 1">{{ vm.jobs.length }} Jobs Found</span>
                            <div class="sortby">
                                <a href="#">Sort By</a>
                                <div class="data">
                                    <a href="javascript:;" ng-class="{'checked': vm.order_by_key !== 'created_at'}" ng-click="vm.sortBy('relevance')">Relevance</a>
                                    <a href="javascript:;" ng-class="{'checked': vm.order_by_key === 'created_at'}" ng-click="vm.sortBy('created_at')">Date</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-jobs" ng-if="vm.jobs | hasItem">
                        <div class="job-wrapper">
                            <div class="job" ng-repeat="job in vm.jobs">
                                <div class="information" ng-class="{'has-company-logo': job.employer.getAvatar()}">
                                    <div class="job-title">
                                        <a ui-sref="app.job-vacancies.detail({slug: job.getSlug()})" target="_blank">
                                            <h2 title="{{ job.getTitle() }}" ng-bind="job.getTitle()"></h2>
                                        </a>
                                    </div>
                                    <div class="company-name" ng-bind="job.employer.employer.getCompanyName()"></div>
                                    <div class="experience-location">
                                        <div class="experience">
                                            <i class="icon fa fa-suitcase"></i>
                                            <span class="text" ng-bind="job.experience.getLabel()"></span>
                                        </div>
                                        <div class="location">
                                            <i class="icon fa fa-map-marker"></i>
                                            <span class="text">{{ job.city.getName() }} - {{ job.country.getName() }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="company-logo" ng-if="job.employer.getAvatar()">
                                    <img ng-src="{{ job.employer.getAvatar() }}" title="{{ job.getTitle() }}">
                                </div>
                                <div class="keyword-postedOn">
                                    <div class="keyword">
                                        <span ng-bind="job.display_tag"></span>
                                    </div>
                                    <div class="postedOn">Posted {{ job.getCreatedAt() | timeFormat: 'DD MMM YYYY' }}</div>
                                </div>
                                <div class="options">
                                    <i class="icon fa fa-angle-down"></i>
                                    <div class="menu">
                                        <a href="#" class="view-similar-jobs">View similar jobs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination data="vm.pagination"></pagination>
                    </div>
                    <div class="international-jobs" ng-if="vm.international_jobs | hasItem">
                        <h4 class="heading">Some international job maybe you want to see</h4>
                        <div class="job-wrapper">
                            <div class="job" ng-repeat="job in vm.international_jobs">
                                <div class="information" ng-class="{'has-company-logo': job.employer.getAvatar()}">
                                    <div class="job-title">
                                        <a ui-sref="app.job-vacancies.detail({slug: job.getSlug()})" target="_blank">
                                            <h2 title="{{ job.getTitle() }}" ng-bind="job.getTitle()"></h2>
                                        </a>
                                    </div>
                                    <div class="company-name" ng-bind="job.employer.employer.getCompanyName()"></div>
                                    <div class="experience-location">
                                        <div class="experience">
                                            <i class="icon fa fa-suitcase"></i>
                                            <span class="text" ng-bind="job.experience.getLabel()"></span>
                                        </div>
                                        <div class="location">
                                            <i class="icon fa fa-map-marker"></i>
                                            <span class="text">{{ job.getLocation() }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="company-logo" ng-if="job.employer.getAvatar()">
                                    <img ng-src="{{ job.employer.getAvatar() }}" title="{{ job.getTitle() }}">
                                </div>
                                <div class="keyword-postedOn">
                                    <div class="keyword">
                                        <span ng-bind="job.display_tag"></span>
                                    </div>
                                    <div class="postedOn">Posted {{ job.getCreatedAt() | timeFormat: 'DD MMM YYYY' }}</div>
                                </div>
                                <div class="options">
                                    <i class="icon fa fa-angle-down"></i>
                                    <div class="menu">
                                        <a href="#" class="view-similar-jobs" ng-click="featureComingSoon()">View similar jobs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="includes-jobs-from-wrapper col-sm-3 col-xs-12">
                    <div class="above-advertisements" ng-if="vm.above_advertisements | hasItem">
                        <div class="advertisements row">
                            <div class="advertisement-item col-sm-12 col-xs-6" ng-repeat="advertisement in vm.above_advertisements">
                                <a ng-href="{{ advertisement.getUrl() }}" target="_blank">
                                <img ng-src="{{ asset('/uploads/3x2.png')}}" alt="{{ advertisement.getName() }}" style="background-image: url({{ advertisement.getImage() }}); background-size: cover;">
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="related-searches-wrapper" ng-if="vm.params.location && vm.job_titles | hasItem">
                        <div class="heading">Related Searches</div>
                        <div class="related-searches">
                            <div class="related-job" ng-repeat="job_title in vm.job_titles">
                                <a ui-sref="app.job-vacancies.list({page: 1, location: vm.params.location, keyword: job_title.getName()})">{{ job_title.getName() }} Jobs in {{ vm.params.location }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="under-advertisements" ng-if="vm.under_advertisements | hasItem">
                        <div class="advertisements row">
                            <div class="advertisement-item col-sm-12 col-xs-6" ng-repeat="advertisement in vm.under_advertisements">
                                <a ng-href="{{ advertisement.getUrl() }}" target="_blank">
                                <img ng-src="{{ asset('/uploads/3x2.png')}}" alt="{{ advertisement.getName() }}" style="background-image: url({{ advertisement.getImage() }}); background-size: cover;">
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="social">
                        <p class="social-heading">Share</p>
                        <a ng-if="web_info.getFacebook() !== ''" class="social-item social-facebook" ng-href="{{ web_info.getFacebook() }}" target="_blank">
                            <i class="icon fa fa-facebook"></i>
                        </a>
                        <a ng-if="web_info.getTwitter() !== ''" class="social-item social-twitter" ng-href="{{ web_info.getTwitter() }}" target="_blank">
                            <i class="icon fa fa-twitter"></i>
                        </a>
                        <a ng-if="web_info.getLinkedin() !== ''" class="social-item social-linkedin" ng-href="{{ web_info.getLinkedin() }}" target="_blank">
                            <i class="icon fa fa-linkedin"></i>
                        </a>
                        <!-- <a class="social-item social-google-plus" href="#">
                            <i class="icon fa fa-google-plus"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>