@media (max-width: 600px) {
    .list-jobs-page {
        .refine-search-wrapper {
            width: 100%;
            float: none;
            margin-top: 15px;
            margin-bottom: 0;
            top: 0;
            .filters {
                .refine-button {
                    &.fixed {
                        width: 100%;
                    }
                }
            }
        }
        .normal-international-jobs-wrapper,
        .includes-jobs-from-wrapper {
            width: 100%;
            float: none;
        }
    }
}