.profile-container {
    font-family: "Trebuchet MS";
    .profile-title {
        font-size: 24px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        border-bottom: 1px solid #1995DC;
    }
    .profile-form {
        .btn-profile {
            color: #ffffff;
            background-color: #428bca;
            border-color: #357ebd;
            &:active {
                color: #ffffff;
                background-color: #3276b1;
                border-color: #285e8e;
            }
        }
    }
}
