.admin_home {
    .navbar-nav>li>.dropdown-menu {
        max-height: 500px;
        overflow: auto;
    }
}

.a_no_hover {
    &:hover {
        text-decoration: none!important;
    }
}

.required,
.no-record,
.error {
    color: #a94442;
}

.alert {
    margin-top: 20px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.img-thumbnail {
    width: 200px;
}

.margin-auto {
    margin: auto;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.no-padding {
    padding: 0!important;
}

.custom-alert {
    margin-top: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
}

.errors {
    span {
        font-size: 12px;
        color: #c0392b;
    }
}