#add_exams {
    a {
        text-decoration: none;
    }
    .form-horizontal {
        .edit_users-admin {
            .panel {
                .container_test_input {
                    padding: 15px;
                    width: 100%;
                    .duration_add_exam {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .list_option_add {
        display: none;
        margin-top: 15px;
        .question {
            padding: 15px;
        }
    }
}

.container_test_input {
    width: 100%;
}

.edit_users-admin {
    .panel {
        .form-horizontal {
            padding:15px !important;
        }
    }
}

.admin_home {
    .admin_home_container {
        .navbar {
            background: #000;
            .container {
                .dropdown-toggle {
                    color: white;
                }
                .navbar-brand {
                    color: white;
                }
            }
        }
    }
}

.admin_footer {
    // position: fixed; 
    width: 100%;
    bottom: 0px;
    .admin_description {
        background-color: #000;
        padding: 20px;
        p {
            text-align: center;
            color: white;
            margin: 0;
        }
    }
}

.admin_dashboard {
    .content_admin_table {
        .container {
            .title_h3 {
                margin-top: 0;
                border-bottom: 1px solid #1995DC;
                padding-bottom: 10px;
                margin-bottom: 15px;
            }
            .dashboard_admin {
                clear: left;
                float: left;
                width: 100%;
                margin-bottom: 30px;
                img {
                    width: 100%;
                    box-shadow: 5px 10px 5px #3d3d3d;
                    border: 1px solid #1995dc;
                }
            }
        }
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

#blankpageadmin {
    .mgr-bottom15 {
        margin-bottom: 15px;
    }
}

.index_category {
    fieldset {
        width: 100%;
    }
}

#add_exams {
    .add_questions_list_table {
        width: 100%;
    }
}

.button_list_question_manage {
    width: 100%;
    text-align: left;
}

// .hidden_Conllap_class {
//     display: none;
// }
// .add_questions_list_table .panel-group .panel-heading {
//     margin-bottom: 10px;
// }
.list_Exam_in_question {
    .form-group {
        margin-bottom: 10px !important;
        clear: left;
        display: table;
        width: 100%;
        .duration_add_exam {
            padding: 0 15px;
        }
    }
}

.content_question_list_add {
    display: none;
    .remove_option_in_question {
        padding: 0;
    }
}

.button_list_question_submit {
    margin-top: 20px;
    clear: left;
    padding: 30px;
    button {
        margin-right: 10px;
    }
}

.add_question_new {
    clear: left;
    padding-top: 20px;
}

.answer_question_input {
    margin: 15px 0;
}
