<div class="create-page create-tag">
    <div class="col-xs-12">
        <div class="create-form create-tag-form">
            <h2 class="text-center">Create new Tag</h2>
            <form name="vm.create_tag_form" ng-submit="vm.create_tag_form.$valid && vm.createTag(vm.tag)" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Name *</label>
                            <input type="text" ng-focus="vm.create_tag_form.name.$focused = true" class="form-control" ng-model="vm.tag.name" name="name" required ng-maxlength="255">
                            <div class="icons" ng-show="vm.create_tag_form.name.$focused">
                                <i ng-if="!vm.create_tag_form.name.$error.required && !vm.create_tag_form.name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_tag_form.name.$error.required || vm.create_tag_form.name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_tag_form.$submitted && vm.create_tag_form.name.$error.required">Required</span>
                                <span ng-show="vm.create_tag_form.$submitted && vm.create_tag_form.name.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Order</label>
                            <input type="text" ng-focus="vm.create_tag_form.order.$focused = true" class="form-control" ng-model="vm.tag.order" name="order" ng-pattern="/^\d+$/">
                            <div class="icons" ng-show="vm.create_tag_form.order.$focused">
                                <i ng-if="!vm.create_tag_form.order.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_tag_form.order.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_tag_form.$submitted && vm.create_tag_form.order.$error.pattern">Please enter a number</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="active">Active</label>
                            <input type="checkbox" ng-focus="vm.create_tag_form.active.$focused = true" ng-model="vm.tag.active" name="active" ng-true-value="true" ng-false-value="false">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-disabled="inProgress" type="submit" class="btn ui-btn btn-full-width orange-btn-sm" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>