<div class="payment-history">
    <table class="striped table-history">
        <thead>
            <tr>
                <th></th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Description</th>
                <th>Employee</th>
                <th>Date</th>
                <th class="actions-col right-align">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in vm.transactions">
                <td></td>
                <td ng-bind="transaction.getFormatedAmount()"></td>
                <td ng-bind="transaction.getCurrency()"></td>
                <td ng-bind="transaction.getDescription()"></td>
                <td>
                    <a target="_blank" ui-sref="app.employees.edit({id: transaction.customer.getId()})" ng-bind="transaction.customer.getEmail()"></a>
                </td>
                <td ng-bind="transaction.getCreatedAt() | timeFormat:'llll'"></td>
                <td class="actions-col center-align" ng-if="vm.user.can('update.transactions')">
                    <a ui-sref="app.payment.transfers.detail({'id':transaction.getId()})">More</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="right-align">
        <pagination data="vm.pagination"></pagination>
    </div>
</div>
