<div class="company-expand">
    <h2 class="center-dash"><span ng-bind="data.user.employer.getCompanyName()"></span> <span ng-show="data.user.employer.getUrl()"> | </span><a href="{{data.user.employer.getUrl()}}" ng-bind="data.user.employer.getUrl()"></a></h2>
    <p class="center-align" ng-bind="data.user.employer.getCompanyAbout()"></p>
    <div class="row center-align">
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <span class="key">Registration No.: </span>
                    <span class="value" ng-bind="data.user.employer.getRegistrationNumber()"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="key">Email address: </span>
                    <span class="value" ng-bind="data.user.getEmail()"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="key">Address: </span>
                    <span class="value" ng-bind="data.user.employer.getCompanyAddress()"></span>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <span class="key">Contact Name: </span>
                    <span class="value" ng-bind="data.user.employer.getCompanyName()"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="key">Phone Number: </span>
                    <span class="value">+ {{data.user.getPhone()}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="key">Industry: </span>
                    <span class="value">{{data.user.showIndustry}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
