<div class="list-page list-users">
    <div class="row filter">
        <div class="col-sm-2 col-xs-12 filter-status">
            <label class="ui-label" for="status">Status</label>
            <select class="ui-select" ng-model="vm.status" ng-change="vm.filterStatus(vm.status)" ng-options="options as options.status for options in vm.user_status"></select>
        </div>
        <div class="col-sm-2 col-sm-offset-8 text-right user-action new-record-wrapper">
            <ul>
                <li class="new-user">
                    <a ui-sref="app.companies.create" title="Create new Company">
                        <i class="icon fa fa-plus-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row search-box">
        <div class="col-xs-12 col-sm-6 select-all">
            <input type="checkbox" id="select-all" ng-model="vm.selectedAll" ng-change="vm.selectAll()">
            <label for="select-all">Select all</label>
            <span class="number-select" ng-show="vm.selectedUser.length > 0"> ( All {{vm.selectedUser.length}} {{vm.selectedUser.length === 1 ? 'item' : 'items'}}  on this page are selected.)</span>
        </div>
        <div class="search col-xs-12 col-sm-6">
            <div class="search-wrapper card">
                <input id="search" class="input-search form-control" ng-model="vm.params.search" placeholder="Search..." ng-keydown="vm.searchKeyEvent($event, vm.params.search)"><i class="icon-search fa fa-search" ng-click="vm.searchPage(vm.params.search)"></i>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-xs-12 col-sm-6">
            Sort By:
            <sortable-attributes></sortable-attributes>
        </div>
    </div> -->
    <preloader ng-if="vm.users | isUndefined"></preloader>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped ui-table table-items table-users" ng-if="vm.users !== undefined">
                <thead>
                    <tr>
                        <th></th>
                        <th class="clickable id-col">ID <!-- <span sortable="id"></span> --></th>
                        <th class="clickable email-col">Email <!-- <span sortable="email"></span> --></th>
                        <th>Company Name</th>
                        <th>Registration Number</th>
                        <th>Contact Name</th>
                        <th>Mobile <!-- <span sortable="phone"></span> --></th>
                        <th>Status <!-- <span sortable="status"></span> --></th>
                        <th class="right-align">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in vm.users">
                        <td>
                            <input type="checkbox" ng-model="u.selected" ng-change="vm.updateSelectedUser()">
                        </td>
                        <td ng-bind="u.getId()"></td>
                        <td ng-bind="u.getEmail()"></td>
                        <td>
                            <span ng-bind="u.employer.getCompanyName()"></span>
                        </td>
                        <td ng-bind="u.employer.getRegistrationNumber()"></td>
                        <td ng-bind="u.employer.getContactName()"></td>
                        <td ng-bind="u.getPhone()"></td>
                        <td ng-bind="u.user_status"></td>
                        <td class="text-right action">
                            <!--  <a ui-sref="app.change-password-user({id: u.getId()})" class="change-password">
                                <p class="ui-p"><i class="material-icons">lock</i></p>
                            </a>
                            <a ng-click="vm.loginAsUser(u.getId())" class="view-dashboard">
                                <p class="ui-p"><i class="material-icons">visibility</i></p>
                            </a> -->
                            <a ui-sref="app.companies.edit({id: u.getId()})" class="edit">
                                <p class="ui-p"><i class="icon fa fa-pencil-square-o"></i></p>
                            </a>
                            <a ng-click="vm.deleteUser(u)" class="delete">
                                <p class="ui-p"><i class="icon fa fa-trash"></i></p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination data="vm.pagination"></pagination>
        </div>
    </div>
</div>