<div class="transaction-details">
    <div class="row">
        <div class="col s12">
            <p ng-bind="vm.transaction.getDescription()"></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="list-transactions">
                <tr>
                    <td>Transaction ID</td>
                    <td ng-bind="vm.transaction.getTransactionId()"></td>
                </tr>
                <tr>
                    <td>Total Amount</td>
                    <td><span ng-bind="vm.transaction.getFormatedAmount()"></span> <span class="text-uppercase" ng-bind="vm.transaction.getCurrency()"></span></td>
                </tr>
                <tr>
                    <td>Service Fee</td>
                    <td><span ng-bind="vm.transaction.getFormatedServiceFee()"></span> <span class="text-uppercase" ng-bind="vm.transaction.getCurrency()"></span></td>
                </tr>
                <tr ng-if="vm.transaction.getFormatedRefundedAmount() > 0">
                    <td>Refunded</td>
                    <td><span ng-bind="vm.transaction.getFormatedRefundedAmount()"></span> <span class="text-uppercase" ng-bind="vm.transaction.getCurrency()"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped table-history" ng-if="vm.transaction.refunds | hasItem">
                <thead>
                    <tr>
                        <th>Refunded ID</th>
                        <th>Refunded Amount</th>
                        <th>Currency</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in vm.transaction.refunds">
                        <td ng-bind="transaction.getTransactionId()"></td>
                        <td ng-bind="transaction.getFormatedAmount()"></td>
                        <td ng-bind="transaction.getCurrency()"></td>
                        <td ng-bind="transaction.getCreatedAt() | timeFormat:'llll'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-if="vm.transaction.getFormatedAvailableRefundAmount() > 0">
        <div class="col s12">
            <a class="ui-btn btn-small btn-orange" ng-click="vm.toggleRefundForm = !vm.toggleRefundForm">
                <span ng-if="!vm.toggleRefundForm">Refund</span>
                <span ng-if="vm.toggleRefundForm">Hide</span>
            </a>
        </div>
        <div class="col s12 refund-form">
            <form ng-if="vm.toggleRefundForm" name="vm.refund_form" ng-submit="vm.transaction.getFormatedAvailableRefundAmount() >= vm.amount && vm.refund_form.$valid && vm.refund(vm.transaction, vm.amount)" novalidate>
                <div class="form-group">
                    <label>Amount in SGD * (Ex: 100.5)</label>
                    <input type="text" class="form-control" name="amount" ng-model="vm.amount" ng-pattern="/^\d{1,8}$|^\d{1,8}\.\d{1,2}$/" required>
                    <div class="errors">
                        <span ng-show="vm.refund_form.$submitted && vm.refund_form.amount.$error.required">Required</span>
                        <span ng-show="vm.refund_form.$submitted && vm.refund_form.amount.$error.pattern">Please enter a valid amount</span>
                        <span ng-show="vm.refund_form.$submitted && vm.transaction.getFormatedAvailableRefundAmount() < vm.amount">Can't refund with amount more than {{vm.transaction.getFormatedAvailableRefundAmount()}}</span>
                    </div>
                </div>
                <input type="submit" class="ui-btn btn-small btn-orange" value="Submit">
            </form>
        </div>
    </div>
</div>
