body {
  background: #e8e8e8;
  color: #555;
  font-size: 13px; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

a:hover, a:focus, a:active {
  text-decoration: none; }

.btn .red {
  background-color: #d45455; }

.custom-container {
  width: 990px; }

.full-wrap {
  min-width: 100%; }
  .full-wrap .bg-wrap {
    background: url(../images/bg-wrap.jpg) center/cover no-repeat #465764;
    float: left;
    height: 100%;
    min-width: 100%;
    position: absolute;
    width: 990px;
    z-index: -1;
    overflow: hidden;
    opacity: .9; }
    .full-wrap .bg-wrap:after {
      background: url(../images/bg-wrap.jpg) center/cover no-repeat #465764;
      float: left;
      height: 100%;
      min-width: 100%;
      position: absolute;
      width: 990px;
      z-index: -1;
      content: "";
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='20'); }

.social .social-heading {
  font-size: 12px;
  color: #555;
  font-weight: bold; }

.social .social-item {
  margin: 4px 0 0 2px;
  line-height: 16px;
  clear: none;
  font-size: 20px;
  display: inline-block;
  transition: all .5s; }
  .social .social-item:hover {
    webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }

.breadcrumb {
  background: initial;
  padding: 0;
  margin: 17px 0; }
  .breadcrumb li {
    font-size: 11px; }
    .breadcrumb li a {
      text-decoration: underline;
      color: #dae0e4; }
  .breadcrumb > .active {
    color: #dae0e4; }

.breadcrumb > li + li:before {
  content: "\f105";
  font-family: "FontAwesome";
  color: #919ea9; }

.pagination {
  margin: 15px 0; }
  .pagination li a {
    cursor: pointer; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0; }

.pagination > li > a,
.pagination > li > span {
  border: 0;
  margin: 0 1px;
  color: #666;
  font-size: 12px;
  padding: 3px 8px; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #fff;
  border-color: #fff;
  color: #666; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #a0a0a0;
  border-color: #a0a0a0; }

.ui-btn {
  transition: all .3s;
  color: #fff;
  padding: 8px 22px;
  display: inline-block;
  font-size: 14px;
  width: 150px;
  text-align: center; }
  .ui-btn:hover, .ui-btn:focus {
    color: #fff;
    outline: 0; }
  .ui-btn.btn-red {
    background-color: #ee0000; }
    .ui-btn.btn-red:hover {
      background-color: #bf2b2b; }
  .ui-btn.btn-blue-sky {
    background-color: #09c; }
    .ui-btn.btn-blue-sky:hover {
      background-color: #1a7d9e; }
  .ui-btn.btn-white {
    background-color: #fff; }
    .ui-btn.btn-white:hover {
      background-color: #fff; }
  .ui-btn.color-red {
    color: #ff2e49; }

#nf-notify {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#nf-notify {
  height: 0px;
  color: #FFF;
  overflow: hidden;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10; }
  #nf-notify .notify-container {
    text-align: center;
    width: 100%; }
    #nf-notify .notify-container .fa {
      vertical-align: middle;
      font-size: 18px;
      margin-top: -2px;
      margin-right: 3px; }
    #nf-notify .notify-container .right-align {
      float: right;
      cursor: pointer; }
    #nf-notify .notify-container .notify-message {
      font-size: 14px; }
    #nf-notify .notify-container .fa-close {
      float: right;
      cursor: pointer; }
    #nf-notify .notify-container a {
      color: #fff;
      text-decoration: underline; }

#nf-notify.notify-success {
  background: #00e676; }

#nf-notify.notify-warning {
  background: #fa9325; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

#nf-preloader .nf-preloader-bg {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px; }
  #nf-preloader .nf-preloader-bg .progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    overflow: hidden; }
    #nf-preloader .nf-preloader-bg .progress .indeterminate {
      background-color: #d45455; }
      #nf-preloader .nf-preloader-bg .progress .indeterminate:before {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
      #nf-preloader .nf-preloader-bg .progress .indeterminate:after {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        -webkit-animation-delay: 1.15s;
        animation-delay: 1.15s; }

.footer {
  background: #565656;
  color: #a4a3a3;
  font-size: 14px;
  padding: 40px 0 0;
  min-width: 100%;
  margin-top: 35px; }
  .footer .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer; }
    .footer .scroll-top .icon {
      background: #fff;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      color: #a4a3a3; }
  .footer .link-item {
    margin-bottom: 10px; }
    .footer .link-item a {
      color: #fff; }
  .footer .social-wrapper a {
    clear: initial; }
    .footer .social-wrapper a.social-facebook .icon {
      background: #fff;
      color: #555;
      border-radius: 4px; }
    .footer .social-wrapper a.social-youtube .icon {
      background: #fff;
      color: #555;
      border-radius: 4px; }
    .footer .social-wrapper a.social-instagram .icon, .footer .social-wrapper a.social-twitter .icon {
      font-size: 23px; }
  .footer .social-wrapper .social-item {
    width: initial;
    height: initial;
    background: initial; }
  .footer .social-wrapper .icon {
    font-size: 18px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    color: #fff; }
  .footer .follow-us-wrapper .heading {
    color: #fff;
    margin-bottom: 10px; }
  .footer .extra-links {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 15px; }
    .footer .extra-links a {
      color: #fff;
      font-weight: 400;
      margin: 0 5px;
      position: relative;
      padding-left: 10px; }
      .footer .extra-links a:after {
        content: '|';
        position: absolute;
        right: -15px; }
      .footer .extra-links a:last-child:after {
        content: '';
        display: none; }
  .footer .copy-right {
    text-align: center;
    color: #fff;
    display: block;
    background: #484848;
    padding: 10px 0; }
    .footer .copy-right a {
      color: #fff; }

.header .logo {
  float: left;
  margin: 10px 0;
  width: 15%; }
  .header .logo img {
    max-height: 72px;
    max-witdh: 100%; }

.header .menu-toggle {
  display: none;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 4px;
  cursor: pointer; }
  .header .menu-toggle .icon-bar {
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 4px; }
    .header .menu-toggle .icon-bar:first-child {
      margin-top: 0; }

.header .menu-header {
  display: block;
  float: right;
  height: 100%; }
  .header .menu-header ul > li {
    float: left;
    cursor: pointer;
    height: 100%;
    position: relative;
    text-align: center;
    transition: all .4s ease-in-out;
    margin: 0 1px;
    border: 1px solid transparent;
    border-bottom: 0; }
    .header .menu-header ul > li:hover {
      box-shadow: 0 -10px 32px -12px #000;
      border-color: #cdcdcd;
      background-color: #3b4044; }
      .header .menu-header ul > li:hover a {
        color: #fff; }
    .header .menu-header ul > li > a {
      font-weight: 400;
      font-size: 14px;
      color: #666;
      padding: 20px 2px 21px;
      display: block;
      height: 100%; }
  .header .menu-header ul li .icon {
    width: 100%;
    font-size: 20px;
    margin: 0 auto 10px; }
  .header .menu-header ul li.divider {
    width: 1px;
    height: 22px;
    background-color: #b2b2b2;
    float: left;
    margin: 30px 0;
    padding: 0;
    cursor: auto; }
  .header .menu-header ul li.tab-notification {
    width: 65px;
    margin-left: -2px;
    margin-right: -2px;
    position: relative;
    z-index: 1; }
    .header .menu-header ul li.tab-notification a {
      padding-top: 28px;
      height: 91px;
      position: relative;
      z-index: 1;
      box-sizing: border-box; }
    .header .menu-header ul li.tab-notification .icon {
      font-size: 26px; }
    .header .menu-header ul li.tab-notification .text {
      display: none; }

.detail-job-page {
  margin-bottom: 50px; }
  .detail-job-page.full-wrap .bg-wrap {
    height: 276px; }
    .detail-job-page.full-wrap .bg-wrap:after {
      height: 276px; }
  .detail-job-page .left-block .job-information-action .information .experience-location .experience .icon, .detail-job-page .left-block .job-information-action .information .experience-location .location .icon, .detail-job-page .left-block .job-information-action .information .experience-location .salary .icon, .detail-job-page .left-block .job-information-action .information .education-nationality-gender .education .icon, .detail-job-page .left-block .job-information-action .information .education-nationality-gender .nationality .icon, .detail-job-page .left-block .job-information-action .information .education-nationality-gender .gender .icon {
    margin-right: 5px; }
  .detail-job-page .left-block .job-information-action .information .experience-location .experience, .detail-job-page .left-block .job-information-action .information .experience-location .salary, .detail-job-page .left-block .job-information-action .information .experience-location .location, .detail-job-page .left-block .job-information-action .information .education-nationality-gender .education, .detail-job-page .left-block .job-information-action .information .education-nationality-gender .nationality, .detail-job-page .left-block .job-information-action .information .education-nationality-gender .gender {
    float: left;
    margin: 0 22px 15px 0; }
  .detail-job-page .left-block .job-description-wrapper .information, .detail-job-page .left-block .job-description-wrapper .industry-functional, .detail-job-page .left-block .desired-candidate-profile-wrapper, .detail-job-page .left-block .keywords-wrapper, .detail-job-page .right-block .similar-jobs-wrapper {
    padding: 15px;
    background: #fff;
    margin-bottom: 15px; }
  .detail-job-page h3 {
    font-size: 16px;
    margin: 10px 0 15px;
    font-weight: 300; }
  .detail-job-page .login-wrapper {
    float: left;
    margin-right: 10px; }
  .detail-job-page .register-wrapper {
    float: left;
    margin-right: 10px; }
  .detail-job-page .apply-wrapper {
    float: left;
    margin: 0; }
    .detail-job-page .apply-wrapper .apply-without-registration {
      color: #0071bc; }
      .detail-job-page .apply-wrapper .apply-without-registration:hover {
        color: #0071bc; }
  .detail-job-page .report-abuse-wrapper {
    margin-top: 10px; }
    .detail-job-page .report-abuse-wrapper .report-abuse {
      color: #0071bc; }
      .detail-job-page .report-abuse-wrapper .report-abuse:hover {
        color: #0071bc; }
  .detail-job-page .left-block .job-information-action {
    background: #fff;
    margin-bottom: 15px; }
    .detail-job-page .left-block .job-information-action .information {
      clear: both;
      border-bottom: 1px solid #e4e4e4;
      padding: 15px; }
      .detail-job-page .left-block .job-information-action .information .job-title {
        font-size: 18px;
        line-height: 1;
        font-weight: 400;
        margin: 0; }
      .detail-job-page .left-block .job-information-action .information .company-name {
        font-weight: 400;
        color: #2c2b2b;
        margin-top: 5px; }
      .detail-job-page .left-block .job-information-action .information h2,
      .detail-job-page .left-block .job-information-action .information h3 {
        font-size: 16px;
        margin: 10px 0 15px; }
      .detail-job-page .left-block .job-information-action .information .experience-location {
        margin-top: 10px;
        overflow: hidden; }
      .detail-job-page .left-block .job-information-action .information .education-nationality-gender {
        overflow: hidden; }
        .detail-job-page .left-block .job-information-action .information .education-nationality-gender .education {
          width: 48%; }
        .detail-job-page .left-block .job-information-action .information .education-nationality-gender .nationality {
          width: 32%; }
        .detail-job-page .left-block .job-information-action .information .education-nationality-gender .gender {
          width: 10%; }
          .detail-job-page .left-block .job-information-action .information .education-nationality-gender .gender .text {
            text-transform: capitalize; }
    .detail-job-page .left-block .job-information-action .action-wrapper {
      padding: 15px;
      overflow: hidden; }
  .detail-job-page .left-block .job-description-wrapper {
    margin-bottom: 15px; }
    .detail-job-page .left-block .job-description-wrapper .information {
      margin: 0;
      border-bottom: 1px solid #e4e4e4; }
      .detail-job-page .left-block .job-description-wrapper .information .email-share .email {
        line-height: 1;
        padding-bottom: 2px;
        display: inline-block;
        margin: 6px 0 0; }
      .detail-job-page .left-block .job-description-wrapper .information .email-share .horizontal {
        border-right: 1px solid #d6d6d6;
        height: 20px;
        margin: 4px 8px 0; }
      .detail-job-page .left-block .job-description-wrapper .information .email-share .share {
        line-height: 1;
        padding-bottom: 2px;
        display: inline-block;
        margin: 6px 0 0; }
    .detail-job-page .left-block .job-description-wrapper .industry-functional {
      margin: 0; }
      .detail-job-page .left-block .job-description-wrapper .industry-functional .link:after {
        padding: 0 0 0 8px;
        color: #555;
        content: "/\00a0"; }
      .detail-job-page .left-block .job-description-wrapper .industry-functional .link:last-child:after {
        content: ''; }
  .detail-job-page .left-block .keywords-wrapper .keywords {
    background: #f7f7f7;
    display: inline-block;
    padding: 5px 15px;
    margin: 0; }
    .detail-job-page .left-block .keywords-wrapper .keywords span {
      padding-left: 4px; }
      .detail-job-page .left-block .keywords-wrapper .keywords span:after {
        padding: 0 0 0 8px;
        color: #555;
        content: "/\00a0"; }
      .detail-job-page .left-block .keywords-wrapper .keywords span:last-child:after {
        content: ''; }
  .detail-job-page .right-block .company-wrapper {
    background: #fff;
    padding-bottom: 30px;
    margin-bottom: 15px;
    padding: 28px 15px 30px 15px; }
    .detail-job-page .right-block .company-wrapper .company-name {
      margin: 0;
      padding: 0;
      line-height: 24px; }
    .detail-job-page .right-block .company-wrapper .company-info {
      margin-top: 15px;
      overflow: hidden; }
      .detail-job-page .right-block .company-wrapper .company-info .heading {
        color: #000;
        font-weight: bold; }
    .detail-job-page .right-block .company-wrapper .company-contact .heading {
      font-size: 16px;
      font-weight: normal;
      color: #555; }
    .detail-job-page .right-block .company-wrapper .company-contact .sub-heading {
      font-weight: bold;
      color: #000; }
    .detail-job-page .right-block .company-wrapper .company-address .heading,
    .detail-job-page .right-block .company-wrapper .company-fax .heading,
    .detail-job-page .right-block .company-wrapper .company-mobile .heading {
      float: left; }
    .detail-job-page .right-block .company-wrapper .company-address .text,
    .detail-job-page .right-block .company-wrapper .company-fax .text,
    .detail-job-page .right-block .company-wrapper .company-mobile .text {
      float: left; }
    .detail-job-page .right-block .company-wrapper .company-website .text a {
      color: #555; }
  .detail-job-page .right-block .advertisements-wrapper .advertisements .advertisement-item {
    margin-bottom: 15px; }
    .detail-job-page .right-block .advertisements-wrapper .advertisements .advertisement-item img {
      background-size: cover;
      background-repear: no-repeat;
      width: 100%; }
  .detail-job-page .right-block .similar-jobs-wrapper {
    padding: 0; }
    .detail-job-page .right-block .similar-jobs-wrapper .title-view-all {
      overflow: hidden;
      padding: 0 15px; }
      .detail-job-page .right-block .similar-jobs-wrapper .title-view-all .title {
        margin: 25px 0 15px; }
      .detail-job-page .right-block .similar-jobs-wrapper .title-view-all .view-all {
        margin-top: 25px;
        color: #0071bc; }
        .detail-job-page .right-block .similar-jobs-wrapper .title-view-all .view-all:hover {
          color: #0071bc; }
    .detail-job-page .right-block .similar-jobs-wrapper .list-jobs {
      clear: both; }
      .detail-job-page .right-block .similar-jobs-wrapper .list-jobs .job {
        padding: 15px;
        border-top: 1px solid #e4e4e4;
        color: #7e7e7e; }
        .detail-job-page .right-block .similar-jobs-wrapper .list-jobs .job:hover {
          background: #eefefe; }
        .detail-job-page .right-block .similar-jobs-wrapper .list-jobs .job .job-title {
          font-size: 14px;
          font-weight: 400;
          color: #555;
          margin-top: 0;
          line-height: 24px; }
        .detail-job-page .right-block .similar-jobs-wrapper .list-jobs .job .company-name {
          font-size: 13px;
          color: #7e7e7e;
          margin-top: 2px;
          font-weight: 400;
          margin-bottom: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .detail-job-page .right-block .similar-jobs-wrapper .list-jobs .job .experience,
        .detail-job-page .right-block .similar-jobs-wrapper .list-jobs .job .location {
          margin-bottom: 10px; }
          .detail-job-page .right-block .similar-jobs-wrapper .list-jobs .job .experience .icon,
          .detail-job-page .right-block .similar-jobs-wrapper .list-jobs .job .location .icon {
            margin-right: 10px; }

.list-jobs-page .ui-select-bootstrap .ui-select-toggle {
  outline: 0;
  height: 60px;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  border-right: 1px solid #d5d5d6;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  line-height: 45px;
  font-size: 18px; }
  .list-jobs-page .ui-select-bootstrap .ui-select-toggle:hover, .list-jobs-page .ui-select-bootstrap .ui-select-toggle:active, .list-jobs-page .ui-select-bootstrap .ui-select-toggle:focus {
    background-color: #fff; }

.list-jobs-page .ui-select-bootstrap .ui-select-match-text {
  display: inline-block;
  line-height: 45px; }

.list-jobs-page .ui-select-bootstrap > .ui-select-choices,
.list-jobs-page .ui-select-bootstrap > .ui-select-no-choice {
  opacity: 1 !important; }

.list-jobs-page .search-job {
  position: relative;
  height: 276px; }

.list-jobs-page .adv-search {
  position: relative;
  margin-top: 32px; }
  .list-jobs-page .adv-search form {
    margin-bottom: 18px; }
    .list-jobs-page .adv-search form > div {
      position: relative;
      float: left; }
  .list-jobs-page .adv-search .keyword-section {
    width: 47%; }
    .list-jobs-page .adv-search .keyword-section input {
      border-right: 1px solid #d5d5d6;
      border-left: 1px solid transparent;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent; }
  .list-jobs-page .adv-search .heading {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    display: block;
    margin-bottom: 13px; }
    .list-jobs-page .adv-search .heading label {
      font-weight: normal;
      margin-bottom: 0; }
  .list-jobs-page .adv-search input {
    border: none;
    background-color: #fff;
    height: 60px;
    width: 100%;
    padding: 15px 20px 15px 18px;
    font-size: 18px;
    font-weight: 300;
    color: #555;
    outline: 0; }
  .list-jobs-page .adv-search .location-section {
    width: 24%; }
    .list-jobs-page .adv-search .location-section input {
      border-right: 1px solid #d5d5d6;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-radius: 0; }
  .list-jobs-page .adv-search .experience-section {
    width: 14%; }
    .list-jobs-page .adv-search .experience-section select {
      margin: 0;
      width: 100%;
      height: 60px;
      background: #fff;
      border: 0;
      padding: 0 15px;
      font-size: 18px; }
      .list-jobs-page .adv-search .experience-section select:focus, .list-jobs-page .adv-search .experience-section select:active {
        outline: 0; }
  .list-jobs-page .adv-search .submit-section {
    width: 15%; }
    .list-jobs-page .adv-search .submit-section input {
      background-color: #ff2e49;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      border-radius: 0; }

.list-jobs-page .refine-search-wrapper .search-heading {
  font-weight: bold;
  color: #777;
  margin-bottom: 15px;
  float: left; }

.list-jobs-page .refine-search-wrapper .reset-all {
  float: right;
  color: #777;
  margin-top: 10px;
  text-decoration: underline; }

.list-jobs-page .refine-search-wrapper .filters {
  clear: both; }
  .list-jobs-page .refine-search-wrapper .filters .filter-wrapper:after {
    content: "";
    width: 100%;
    height: 17px;
    display: block;
    border-top: 1px solid #d4d4d4;
    margin-top: 10px; }
  .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-heading {
    font-size: 14px;
    color: #777;
    margin-bottom: 12px;
    font-weight: 400;
    float: left;
    margin-top: 0;
    padding-left: 15px;
    position: relative; }
    .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-heading.clickable {
      cursor: pointer; }
    .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-heading:before {
      content: "\f107";
      font-family: "FontAwesome";
      position: absolute;
      left: 0; }
    .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-heading.arrow-right:before {
      content: "\f105";
      font-family: "FontAwesome";
      position: absolute;
      left: 0; }
  .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .reset {
    display: block;
    float: right;
    font-weight: 400;
    font-size: 13px; }
  .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-options {
    clear: both; }
    .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-options .option {
      margin-bottom: 8px;
      overflow: hidden; }
      .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-options .option label {
        font-weight: normal;
        cursor: pointer; }
      .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-options .option input[type=checkbox] {
        float: left;
        margin: 1px 2% 1px 1%;
        width: 8%; }
      .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-options .option .text {
        font-size: 13px;
        color: #7e7e7e;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        overflow: hidden;
        width: 65%;
        float: left;
        font-weight: normal; }
        .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-options .option .text a {
          color: inherit; }
          .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-options .option .text a:hover {
            color: #0e76b5; }
      .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .filter-options .option .total-jobs {
        font-size: 13px;
        color: #727272;
        font-weight: 300;
        float: right; }
  .list-jobs-page .refine-search-wrapper .filters .filter-wrapper .show-more {
    color: #0e76b5;
    font-size: 11px;
    margin-left: 22px; }
  .list-jobs-page .refine-search-wrapper .filters .refine-button:active, .list-jobs-page .refine-search-wrapper .filters .refine-button:focus {
    outline: 0; }
  .list-jobs-page .refine-search-wrapper .filters .refine-button.fixed {
    position: fixed;
    display: block;
    bottom: 5px;
    width: 218px; }
  .list-jobs-page .refine-search-wrapper .filters .refine-button button {
    width: 100%;
    background-color: #0099cb;
    padding: 8px;
    border: 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; }

.list-jobs-page .normal-international-jobs-wrapper .headings .search-result {
  font-weight: bold;
  color: #777; }

.list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby {
  overflow: hidden; }
  .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .jobs-found {
    font-size: 14px;
    font-weight: 400;
    color: #777;
    float: left; }
  .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby {
    float: right;
    position: relative;
    line-height: 18px;
    font-size: 14px; }
    .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby > a {
      color: #777;
      margin-left: 6px;
      display: inline-block;
      text-align: right; }
      .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby > a:before {
        content: "\f160";
        font-family: "FontAwesome";
        height: 14px;
        line-height: 1;
        margin-right: 8px;
        width: 16px;
        display: inline-block; }
      .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby > a:after {
        content: "\f107";
        font-family: "FontAwesome";
        height: 14px;
        margin-left: 7px;
        font-size: 18px;
        width: 16px;
        display: inline-block; }
    .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby:hover .data {
      display: block; }
    .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby .data {
      display: none;
      position: absolute;
      left: -2px;
      z-index: 9;
      right: 0;
      top: 17px;
      border: 1px solid #eaeaea;
      background-color: #fff;
      padding: 5px 0; }
      .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby .data a {
        outline: 0;
        border: none;
        display: block;
        color: #666;
        font-size: 12px;
        padding: 7px 15px 7px 22px; }
        .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby .data a:hover {
          background-color: #666;
          color: #fff; }
        .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby .data a.checked {
          background-color: #fff;
          cursor: default;
          color: #666; }
          .list-jobs-page .normal-international-jobs-wrapper .headings .jobs-found-sortby .sortby .data a.checked:before {
            content: "\f00c";
            font-family: "FontAwesome";
            position: absolute;
            left: 6px;
            font-size: 10px; }

.list-jobs-page .normal-international-jobs-wrapper .list-jobs,
.list-jobs-page .normal-international-jobs-wrapper .international-jobs {
  clear: both; }
  .list-jobs-page .normal-international-jobs-wrapper .list-jobs .heading,
  .list-jobs-page .normal-international-jobs-wrapper .international-jobs .heading {
    color: #777; }
  .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job,
  .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job {
    background: #fff;
    margin-top: 10px;
    overflow: auto;
    position: relative; }
    .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information,
    .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information {
      padding: 16px 10px 12px 22px; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information.has-company-logo,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information.has-company-logo {
        width: calc(100% - 160px);
        float: left; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information .job-title h2,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information .job-title h2 {
        margin: 0;
        font-size: 16px;
        margin-bottom: 3px;
        font-weight: 400;
        display: block;
        color: #555;
        line-height: 24px; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information .company-name,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information .company-name {
        font-size: 14px;
        margin-bottom: 15px;
        color: #7e7e7e;
        font-weight: 400;
        display: inline-block;
        line-height: 24px; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information .experience-location,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information .experience-location {
        overflow: hidden;
        font-weight: 300;
        color: #777; }
        .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information .experience-location .experience,
        .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information .experience-location .location,
        .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information .experience-location .experience,
        .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information .experience-location .location {
          float: left;
          line-height: 21px;
          margin-right: 20px; }
          .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information .experience-location .experience .icon,
          .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .information .experience-location .location .icon,
          .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information .experience-location .experience .icon,
          .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .information .experience-location .location .icon {
            margin-right: 10px;
            font-size: 14px; }
    .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .company-logo,
    .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .company-logo {
      float: right;
      margin: 30px 13px 0 0px;
      width: 140px;
      height: 50px;
      overflow: hidden; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .company-logo img,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .company-logo img {
        width: 140px;
        height: 50px; }
    .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .keyword-postedOn,
    .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .keyword-postedOn {
      padding: 13px 22px;
      background-color: #f6f6f6;
      float: left;
      line-height: 17px;
      color: #7a7a7a;
      clear: both;
      width: 100%; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .keyword-postedOn .keyword .link,
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .keyword-postedOn .keyword span,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .keyword-postedOn .keyword .link,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .keyword-postedOn .keyword span {
        color: #7a7a7a; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .keyword-postedOn .postedOn,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .keyword-postedOn .postedOn {
        color: #aaa;
        font-size: 11px;
        font-weight: 300;
        float: right;
        margin-top: 5px; }
    .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .options,
    .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .options {
      height: 18px;
      width: 28px;
      position: absolute;
      top: 11px;
      right: 5px;
      cursor: pointer;
      padding-left: 10px; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .options .icon,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .options .icon {
        color: #7a7a7a;
        font-size: 16px; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .options .menu,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .options .menu {
        display: none;
        position: absolute;
        width: 130px;
        top: 18px;
        right: 5px;
        border: 1px solid #eaeaea;
        background-color: #fff;
        padding: 5px 0; }
        .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .options .menu .view-similar-jobs,
        .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .options .menu .view-similar-jobs {
          color: #666;
          font-size: 12px;
          padding: 7px 15px;
          display: block; }
      .list-jobs-page .normal-international-jobs-wrapper .list-jobs .job-wrapper .job .options:hover .menu,
      .list-jobs-page .normal-international-jobs-wrapper .international-jobs .job-wrapper .job .options:hover .menu {
        display: block; }

.list-jobs-page .normal-international-jobs-wrapper .list-jobs .heading {
  color: #777;
  margin-bottom: 10px; }

.list-jobs-page .normal-international-jobs-wrapper .international-jobs {
  clear: both; }

.list-jobs-page .includes-jobs-from-wrapper {
  margin-top: 15px; }
  .list-jobs-page .includes-jobs-from-wrapper .heading {
    color: #777;
    font-weight: bold;
    line-height: 24px; }
  .list-jobs-page .includes-jobs-from-wrapper .advertisements .advertisement-item {
    margin-bottom: 15px; }
    .list-jobs-page .includes-jobs-from-wrapper .advertisements .advertisement-item img {
      background-size: cover;
      background-repear: no-repeat;
      width: 100%; }
  .list-jobs-page .includes-jobs-from-wrapper .related-searches-wrapper {
    margin: 10px 0 0 0; }
    .list-jobs-page .includes-jobs-from-wrapper .related-searches-wrapper .heading {
      font-size: 14px;
      color: #777;
      font-weight: 400;
      margin-top: 0;
      padding-left: 15px;
      position: relative;
      padding: 0;
      margin-bottom: 10px; }
    .list-jobs-page .includes-jobs-from-wrapper .related-searches-wrapper .related-searches {
      background: #f8f8f8;
      padding: 15px; }
      .list-jobs-page .includes-jobs-from-wrapper .related-searches-wrapper .related-searches .related-job {
        margin-bottom: 10px; }
        .list-jobs-page .includes-jobs-from-wrapper .related-searches-wrapper .related-searches .related-job:last-child {
          margin-bottom: 0; }
  .list-jobs-page .includes-jobs-from-wrapper .social {
    margin-top: 20px; }
    .list-jobs-page .includes-jobs-from-wrapper .social .social-item .icon {
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      padding: 0;
      font-size: 14px; }
    .list-jobs-page .includes-jobs-from-wrapper .social .social-facebook .icon {
      background: #3b589a; }
    .list-jobs-page .includes-jobs-from-wrapper .social .social-google-plus .icon {
      background: #e12f2f; }
    .list-jobs-page .includes-jobs-from-wrapper .social .social-twitter .icon {
      background: #54acec; }
    .list-jobs-page .includes-jobs-from-wrapper .social .social-linkedin .icon {
      background: #0077b5; }

@media (max-width: 992px) {
  .custom-container {
    width: initial;
    padding: 0 15px; }
  .full-wrap .bg-wrap {
    width: 100%; } }

@media (max-width: 992px) {
  .header .logo {
    float: none;
    text-align: center;
    width: 100%; }
  .header .menu-toggle {
    display: block; }
  .header .menu-header {
    display: none;
    float: none;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%; }
    .header .menu-header ul > li {
      float: none;
      display: inline-block;
      width: 100%; }
      .header .menu-header ul > li.divider {
        display: none; }
      .header .menu-header ul > li.tab-notification {
        width: 100%; }
        .header .menu-header ul > li.tab-notification a {
          padding: 10px 0;
          height: initial; }
      .header .menu-header ul > li > a {
        padding: 10px 0; } }

@media (max-width: 992px) {
  .custom-container {
    width: initial;
    padding: 0 15px; }
  .full-wrap .bg-wrap {
    width: 100%; } }

@media (max-width: 768px) {
  .full-wrap {
    position: relative; }
    .full-wrap .bg-wrap {
      height: 100%; } }

@media (max-width: 768px) {
  .full-wrap.detail-job-page .bg-wrap {
    height: 276px; }
  .full-wrap.detail-job-page .left-block {
    width: 100%; }
  .full-wrap.detail-job-page .right-block {
    width: 100%;
    margin: 15px 0 0 0; }
    .full-wrap.detail-job-page .right-block .advertisements-wrapper .advertisements .advertisement-item {
      width: 50%;
      float: left; } }

@media (max-width: 767px) {
  .list-jobs-page .includes-jobs-from-wrapper {
    padding: 0 15px; } }

@media (max-width: 768px) {
  .list-jobs-page .search-job {
    height: initial; }
  .list-jobs-page .adv-search {
    padding-bottom: 0; }
    .list-jobs-page .adv-search form {
      margin-bottom: 15px; }
    .list-jobs-page .adv-search .heading {
      text-align: center;
      margin: 15px 0; }
    .list-jobs-page .adv-search .keyword-section,
    .list-jobs-page .adv-search .location-section,
    .list-jobs-page .adv-search .experience-section,
    .list-jobs-page .adv-search .submit-section {
      width: 100%;
      float: none; }
    .list-jobs-page .adv-search .submit-section .heading {
      display: none; }
    .list-jobs-page .adv-search .submit-section input {
      margin-top: 15px; } }

@media (max-width: 768px) {
  .footer .extra-links a {
    display: block;
    margin-bottom: 10px;
    padding: 0; }
    .footer .extra-links a:after {
      content: '';
      display: none; }
    .footer .extra-links a:last-child {
      margin-bottom: 0; } }

@media (max-width: 767px) {
  .footer .area-3 {
    clear: both; } }

@media (max-width: 768px) {
  .full-wrap {
    position: relative; }
    .full-wrap .bg-wrap {
      height: 100%; } }

@media (max-width: 600px) {
  .list-jobs-page .refine-search-wrapper {
    width: 100%;
    float: none;
    margin-top: 15px;
    margin-bottom: 0;
    top: 0; }
    .list-jobs-page .refine-search-wrapper .filters .refine-button.fixed {
      width: 100%; }
  .list-jobs-page .normal-international-jobs-wrapper,
  .list-jobs-page .includes-jobs-from-wrapper {
    width: 100%;
    float: none; } }

@media (max-width: 480px) {
  .full-width-xs {
    width: 100%; } }

@media (max-width: 480px) {
  .detail-job-page .login-wrapper {
    width: 100%;
    float: none;
    overflow: auto;
    text-align: center;
    margin: 0 0 15px 0; }
    .detail-job-page .login-wrapper .login-button {
      float: none; }
  .detail-job-page .register-wrapper {
    width: 100%;
    float: none;
    overflow: auto;
    text-align: center;
    margin: 0; }
    .detail-job-page .register-wrapper .register-button {
      float: none; }
  .detail-job-page .left-block .job-information-action .information .education-nationality-gender .education,
  .detail-job-page .left-block .job-information-action .information .education-nationality-gender .nationality,
  .detail-job-page .left-block .job-information-action .information .education-nationality-gender .gender {
    width: 100%;
    margin-right: 0; } }

@media (max-width: 480px) {
  .footer .area-1,
  .footer .area-2,
  .footer .area-3,
  .footer .area-4 {
    text-align: center; } }

@media (max-width: 480px) {
  .full-width-xs {
    width: 100%; } }

@media (max-width: 320px) {
  .full-wrap.detail-job-page .right-block .advertisements-wrapper .advertisements .advertisement-item {
    width: 100%;
    float: none; } }
