@charset "UTF-8";
#blankpage .container_site .images .banner, #blankpage .container_site .images-photograp {
  margin-bottom: 15px;
  height: 100%;
  padding: 15px !important;
  border-radius: 5px;
  border: 1px solid #1269b1;
  background: #1269b1;
  color: #fff; }

#blankpage .post .image-cover {
  overflow: hidden;
  width: 100%; }

#blankpage .post .left-link-row {
  margin: 0 0 15px 0; }

#blankpage .post .sub-link-row {
  margin: 0; }

#blankpage .post .only-introduction-content {
  padding-left: 30px; }

#blankpage .container_site .mgr-bottom15 {
  margin-bottom: 15px; }

#blankpage .container_site .mgr-top35 {
  margin-top: 35px; }

#blankpage .container_site .link_left {
  border: 1px solid #1269b1;
  background: #1269b1;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  color: #fff; }

#blankpage .container_site .link_right {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #1269b1;
  background: #1269b1;
  color: #fff; }

#blankpage .container_site .introduction {
  height: auto;
  border-radius: 5px;
  padding: 15px;
  margin-left: -15px;
  border: 1px solid #1269b1;
  background: #1269b1;
  color: #fff; }
  #blankpage .container_site .introduction .introduction_title {
    margin-top: 0px !important;
    border-bottom: 2px solid #222;
    padding-bottom: 10px; }

#blankpage .container_site .sublink {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #1269b1;
  background: #1269b1;
  color: #fff; }

#blankpage .container_site .forum {
  margin-top: 10px; }
  #blankpage .container_site .forum a {
    color: #7b7b7b; }

#blankpage .container_site .images .banner {
  width: 100%; }
  #blankpage .container_site .images .banner img {
    max-height: 150px;
    width: 100%; }

#blankpage .container_site ul {
  padding-left: 15px !important; }
  #blankpage .container_site ul li {
    list-style: none;
    margin: 5px;
    border-bottom: 1px dotted #dedede; }
    #blankpage .container_site ul li a {
      font-size: 16px;
      font-weight: normal;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.no-padding {
  padding: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.full-width {
  width: 100% !important; }

.no-margin {
  margin: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

table.bordered > thead > tr,
table.bordered > tbody > tr {
  border-bottom: 1px solid #d0d0d0; }

.required,
.no-record,
.error {
  color: #a94442; }

.errors span {
  font-size: 12px;
  color: #c0392b; }

.min-height-500 {
  min-height: 500px; }

.img-thumbnail {
  width: 200px; }

.exam-start-page #show-more-button {
  text-decoration: underline; }

.panel-default > .panel-heading {
  cursor: pointer; }

#frontend_document .search-wrapper .input-group {
  width: 100%; }
  #frontend_document .search-wrapper .input-group .input-group-addon {
    width: 52px; }

#frontend_document .search-wrapper .form-group-search {
  width: 50%; }

#frontend_document .search-document .search-form .submit-search {
  background: transparent;
  border: 0;
  outline: 0; }

#frontend_document .list-document .frame-container .child-frame {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 20px auto; }

#frontend_document .list-document .frame-container img {
  width: 100%;
  height: 200px;
  max-height: 210px;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 10px; }

#frontend_document .list-document .frame-container .info-doc .name-doc {
  max-height: 70px;
  overflow: hidden;
  margin: 10px 0;
  font-size: 15px;
  height: 48px; }

.exam-result-container .required {
  color: #a94442; }

.exam-result-container .no-padding {
  padding: 0; }

.exam-result-container .page-header h1 {
  font-size: 20px; }

.exam-result-container .page-body .table-result-content .pdf-print {
  margin-bottom: 10px; }
  .exam-result-container .page-body .table-result-content .pdf-print .pdf-button,
  .exam-result-container .page-body .table-result-content .pdf-print .print-button {
    background: #1269b1;
    border-color: #03579f; }
    .exam-result-container .page-body .table-result-content .pdf-print .pdf-button:active,
    .exam-result-container .page-body .table-result-content .pdf-print .print-button:active {
      background-image: linear-gradient(to bottom, #449d44 0, #449d44 100%);
      background-image: -webkit-linear-gradient(top, #449d44 0, #449d44 100%);
      background-image: -o-linear-gradient(top, #449d44 0, #449d44 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#449d44), to(#449d44));
      border-color: #398439; }
    .exam-result-container .page-body .table-result-content .pdf-print .pdf-button:hover,
    .exam-result-container .page-body .table-result-content .pdf-print .print-button:hover {
      background: #03579f;
      border-color: #014c8c; }

.exam-result-container .page-body .table-result-content .table-result {
  font-size: 12px; }

.exam-result-container .page-body .review-content .review_test_result {
  cursor: pointer;
  padding: 8px 15px;
  height: auto;
  width: auto;
  background-image: linear-gradient(to bottom, #337ab7 0, #337ab7 100%);
  background-image: -webkit-linear-gradient(top, #337ab7 0, #337ab7 100%);
  background-image: -o-linear-gradient(top, #337ab7 0, #337ab7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#337ab7));
  border-radius: 30px; }
  .exam-result-container .page-body .review-content .review_test_result:hover {
    background-color: #337ab7; }
  .exam-result-container .page-body .review-content .review_test_result .title {
    font-size: 17px; }
    .exam-result-container .page-body .review-content .review_test_result .title:hover {
      text-decoration: none; }

@-webkit-keyframes glowing {
  0% {
    background-color: #F95140;
    -webkit-box-shadow: 0 0 3px #F95140; }
  50% {
    background-color: #0094FF;
    -webkit-box-shadow: 0 0 10px #0094FF; }
  100% {
    background-color: #F95140;
    -webkit-box-shadow: 0 0 3px #F95140; } }

@-moz-keyframes glowing {
  0% {
    background-color: #F95140;
    -moz-box-shadow: 0 0 3px #F95140; }
  50% {
    background-color: #0094FF;
    -moz-box-shadow: 0 0 10px #0094FF; }
  100% {
    background-color: #F95140;
    -moz-box-shadow: 0 0 3px #F95140; } }

@-o-keyframes glowing {
  0% {
    background-color: #F95140;
    box-shadow: 0 0 3px #F95140; }
  50% {
    background-color: #0094FF;
    box-shadow: 0 0 10px #0094FF; }
  100% {
    background-color: #F95140;
    box-shadow: 0 0 3px #F95140; } }

@keyframes glowing {
  0% {
    background-color: #F95140;
    box-shadow: 0 0 3px #F95140; }
  50% {
    background-color: #0094FF;
    box-shadow: 0 0 10px #0094FF; }
  100% {
    background-color: #F95140;
    box-shadow: 0 0 3px #F95140; } }
  .exam-result-container .page-body .review-content .review_test_result .review-animation {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none; }

.exam-result-container .page-body .review-content .table-review {
  border: 1px solid #ccc; }
  .exam-result-container .page-body .review-content .table-review tbody > tr > td, .exam-result-container .page-body .review-content .table-review tbody > tr > th, .exam-result-container .page-body .review-content .table-review tfoot > tr > td, .exam-result-container .page-body .review-content .table-review tfoot > tr > th, .exam-result-container .page-body .review-content .table-review thead > tr > td, .exam-result-container .page-body .review-content .table-review thead > tr > th {
    border-top: 0; }

.exam-container .page-content #Container_jbeeb_6 {
  background: #fc555a !important; }

.exam-container .page-content #Container_jbeeb_9 {
  background: #32ce79 !important; }

.exam-container .page-content #Container_jbeeb_12 {
  background: #fcbe55 !important; }

.exam-container .page-content .main-container .list_question_exam_font_en .ng-scope img {
  width: 52%;
  margin-bottom: 20px; }

.global_test_poin {
  margin-bottom: 30px; }

#home .home_page {
  /* The two faces of the cube */
  /* Position the faces */
  /* Rotate the cube */
  /**
         * Apply CSS for IE 9 & 10
         */ }
  #home .home_page .title {
    margin-top: 20vh; }
    #home .home_page .title a {
      text-decoration: none; }
    #home .home_page .title .algin {
      text-align: center;
      font-size: 17px;
      line-height: 60px;
      letter-spacing: 0;
      font-weight: 400;
      color: #fff;
      font-family: inherit;
      height: 60px;
      overflow: hidden; }
    #home .home_page .title .test_bg {
      background: #0098F9;
      background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
      background: -webkit-linear-gradient(top, #0098F9, #0098F9);
      background: -moz-linear-gradient(top, #0098F9, #0098F9);
      background: -ms-linear-gradient(top, #0098F9, #0098F9);
      background: -o-linear-gradient(top, #0098F9, #0098F9);
      background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
      -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      text-shadow: #057534 0 1px 0;
      color: #ffffff;
      border: 1px solid #2f4664;
      vertical-align: middle; }
      #home .home_page .title .test_bg:active {
        text-shadow: #057534 0 1px 0;
        border: 1px solid #057534;
        background: #0098F9;
        background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
        background: -webkit-linear-gradient(top, #0098F9, #0098F9);
        background: -moz-linear-gradient(top, #0098F9, #0098F9);
        background: -ms-linear-gradient(top, #0098F9, #0098F9);
        background: -o-linear-gradient(top, #0098F9, #0098F9);
        background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%); }
      #home .home_page .title .test_bg:hover {
        border: 1px solid #057534;
        text-shadow: #057534 0 1px 0;
        background: #0098F9;
        background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
        background: -webkit-linear-gradient(top, #0098F9, #0098F9);
        background: -moz-linear-gradient(top, #0098F9, #0098F9);
        background: -ms-linear-gradient(top, #0098F9, #0098F9);
        background: -o-linear-gradient(top, #0098F9, #0098F9);
        background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
        color: #ffffff; }
    #home .home_page .title .flop .test_bg {
      border: 1px solid #2f4664;
      background: #0098F9;
      background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
      background: -webkit-linear-gradient(top, #0098F9, #0098F9);
      background: -moz-linear-gradient(top, #0098F9, #0098F9);
      background: -ms-linear-gradient(top, #0098F9, #0098F9);
      background: -o-linear-gradient(top, #0098F9, #0098F9);
      background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
      -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      text-shadow: #0098F9 0 1px 0; }
      #home .home_page .title .flop .test_bg:active {
        border: 1px solid #2f4664;
        text-shadow: #0098F9 0 1px 0;
        background: #0098F9;
        background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
        background: -webkit-linear-gradient(top, #0098F9, #0098F9);
        background: -moz-linear-gradient(top, #0098F9, #0098F9);
        background: -ms-linear-gradient(top, #0098F9, #0098F9);
        background: -o-linear-gradient(top, #0098F9, #0098F9);
        background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
        color: #fff; }
      #home .home_page .title .flop .test_bg:hover {
        border: 1px solid #2f4664;
        text-shadow: #0098F9 0 1px 0;
        background: #0098F9;
        background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
        background: -webkit-linear-gradient(top, #0098F9, #0098F9);
        background: -moz-linear-gradient(top, #0098F9, #0098F9);
        background: -ms-linear-gradient(top, #0098F9, #0098F9);
        background: -o-linear-gradient(top, #0098F9, #0098F9);
        background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
        color: #ffffff; }
    #home .home_page .title .agriculture_bg {
      border: 1px solid #e83e2e;
      background: #c03a2b;
      background: -webkit-gradient(linear, left top, left bottom, from(#e74d3c), to(#c03a2b));
      background: -webkit-linear-gradient(top, #e74d3c, #c03a2b);
      background: -moz-linear-gradient(top, #e74d3c, #c03a2b);
      background: -ms-linear-gradient(top, #e74d3c, #c03a2b);
      background: -o-linear-gradient(top, #e74d3c, #c03a2b);
      background-image: -ms-linear-gradient(top, #e74d3c 0%, #c03a2b 100%);
      -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      text-shadow: #e74d3c 0 1px 0; }
      #home .home_page .title .agriculture_bg:active {
        text-shadow: #e74d3c 0 1px 0;
        border: 1px solid #e83e2e;
        background: #c03a2b;
        background: -webkit-gradient(linear, left top, left bottom, from(#e74d3c), to(#e74d3c));
        background: -webkit-linear-gradient(top, #e74d3c, #c03a2b);
        background: -moz-linear-gradient(top, #e74d3c, #c03a2b);
        background: -ms-linear-gradient(top, #e74d3c, #c03a2b);
        background: -o-linear-gradient(top, #e74d3c, #c03a2b);
        background-image: -ms-linear-gradient(top, #e74d3c 0%, #c03a2b 100%);
        color: #fff; }
      #home .home_page .title .agriculture_bg:hover {
        border: 1px solid #e83e2e;
        text-shadow: #e74d3c 0 1px 0;
        background: #e74d3c;
        background: -webkit-gradient(linear, left top, left bottom, from(#c03a2b), to(#e74d3c));
        background: -webkit-linear-gradient(top, #c03a2b, #e74d3c);
        background: -moz-linear-gradient(top, #c03a2b, #e74d3c);
        background: -ms-linear-gradient(top, #c03a2b, #e74d3c);
        background: -o-linear-gradient(top, #c03a2b, #e74d3c);
        background-image: -ms-linear-gradient(top, #c03a2b 0%, #e74d3c 100%);
        color: #ffffff; }
    #home .home_page .title .bt {
      margin: 2% 0px; }
    #home .home_page .title #tys_textanimation .jumbotron1 .tlt {
      color: #fff;
      text-align: center;
      font-size: 65px !important; }
  #home .home_page .cube {
    text-align: center;
    margin: 0 auto;
    height: 50px;
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s;
    -ms-transition: transform .33s;
    /* Animate the transform properties */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    /* <-NB */ }
  #home .home_page .flippety,
  #home .home_page .flop {
    height: 50px; }
  #home .home_page .flippety {
    -webkit-transform: translateZ(50px);
    transform: translateZ(25px);
    -ms-transform: translateZ(25px); }
  #home .home_page .flop {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-25px);
    -ms-transform: rotateX(-90deg) translateZ(-25px); }
  #home .home_page .cube:hover {
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg);
    -ms-transform: rotateX(89deg);
    /* Text bleed at 90º */ }
  @media screen and (min-width: 0\0) {
    #home .home_page .flippety {
      height: 50px;
      -webkit-transform: translateZ(50px);
      transform: translateZ(25px);
      -ms-transform: translateZ(25px); }
    #home .home_page .flop {
      height: 0;
      -webkit-transform: rotateX(-90deg) translateZ(-50px);
      transform: rotateX(-90deg) translateZ(-25px);
      -ms-transform: rotateX(-90deg) translateZ(-25px); }
    #home .home_page .cube {
      -ms-transform-style: none;
      -ms-transform: none; }
      #home .home_page .cube:hover {
        -ms-transform-style: none;
        -ms-transform: none; }
        #home .home_page .cube:hover .flippety {
          height: 0;
          -webkit-transition: -webkit-transform .33s;
          transition: transform .33s;
          -ms-transition: transform .33s;
          -webkit-transform: rotateX(-90deg) translateZ(50px);
          transform: rotateX(-90deg) translateZ(25px);
          -ms-transform: rotateX(-90deg) translateZ(25px); }
        #home .home_page .cube:hover .flop {
          height: 50px;
          -webkit-transition: -webkit-transform .33s;
          transition: transform .33s;
          -ms-transition: transform .33s;
          -webkit-transform: translateZ(-50px);
          transform: translateZ(-25px);
          -ms-transform: translateZ(-25px); } }
  #home .home_page .f-top-al {
    margin-top: 2%; }

#home .container_home .home_page .slider_home {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto; }
  #home .container_home .home_page .slider_home ul {
    list-style-type: none;
    padding: 0; }
    #home .container_home .home_page .slider_home ul li a {
      text-decoration: none; }
      #home .container_home .home_page .slider_home ul li a img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed; }

#home .container_home .home_page .title #tys_textanimation {
  float: none; }

#home .container_home .home_page .title .testyourself-test {
  width: 100%;
  text-align: center; }
  #home .container_home .home_page .title .testyourself-test .general-tests {
    width: 30%;
    display: inline-block; }
    #home .container_home .home_page .title .testyourself-test .general-tests .test_bg {
      font-size: 14px; }
    #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flop .test_bg {
      line-height: 28px; }
  #home .container_home .home_page .title .testyourself-test .professional-tests {
    margin-left: 20px;
    margin-right: 20px; }

.container_site {
  max-width: 1170px;
  margin: auto; }

#layer .hide {
  display: none; }

#layer .login-btn {
  border: 5px solid #fff;
  border-radius: 80px;
  color: #fff;
  display: block;
  font-size: 26px;
  height: 150px;
  left: 50%;
  line-height: 150px;
  margin-left: -80px;
  position: absolute;
  text-align: center;
  top: 33vh;
  transition: all 0.75s ease-in-out 0s;
  width: 150px;
  z-index: 1000; }
  #layer .login-btn .login-logo .square1 {
    display: none; }
  #layer .login-btn .login-logo .square2 {
    border: medium none;
    left: 63px;
    top: 63px;
    z-index: 1001;
    display: none; }

#layer .left-door {
  border-right: 3px solid #ccc;
  left: 0;
  background-color: #fff;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  transition: all 1s ease-in-out 0s;
  width: 50%; }

#layer .right-door {
  background-color: #fff;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  transition: all 1s ease-in-out 0s;
  width: 50%;
  border-left: 3px solid #ccc;
  right: 0; }

#layer .login-animate {
  width: 0; }

#layer .themed-background-default {
  background-color: #fff !important;
  position: absolute;
  top: 50%;
  margin-top: -75px; }

.exam_font_en_action form ul li {
  list-style-type: none; }

.login_site {
  margin-top: 10%; }

.login .login-options {
  overflow: auto;
  width: 100%;
  height: 40px; }
  .login .login-options .social-icon-color {
    display: block;
    height: 100%;
    padding: 5px 0;
    font-size: 16px; }
    .login .login-options .social-icon-color:hover {
      text-decoration: none; }
    .login .login-options .social-icon-color i {
      color: #FFF;
      font-size: 28px;
      margin-left: 20px;
      float: left; }
    .login .login-options .social-icon-color .social-title {
      display: inline-block;
      color: #FFF;
      line-height: 30px;
      overflow: hidden;
      display: block;
      text-align: center; }
      .login .login-options .social-icon-color .social-title .icon-linkedin {
        float: none;
        margin-left: 2px;
        font-size: 20px; }

.login .login-facebook {
  background: #3B5998; }

.login .login-google {
  background: #dd4b39;
  margin: 15px 0; }

.login .login-linkedin {
  background: #6ecae8; }

.login .login-andy {
  background: red; }

.payment-container .custom-alert {
  margin-bottom: 15px; }

.payment-container .alert-payment {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px; }

.payment-container .centered-form {
  /* Default mode */ }
  .payment-container .centered-form .tabbable-panel {
    border: 1px solid #eee;
    padding: 10px; }
  .payment-container .centered-form .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px; }
    .payment-container .centered-form .tabbable-line > .nav-tabs > li {
      width: 100%;
      text-align: center; }
      .payment-container .centered-form .tabbable-line > .nav-tabs > li > a {
        border: 0;
        margin-right: 0;
        color: #737373;
        text-align: center; }
        .payment-container .centered-form .tabbable-line > .nav-tabs > li > a > i {
          color: #a6a6a6; }
      .payment-container .centered-form .tabbable-line > .nav-tabs > li.open, .payment-container .centered-form .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 4px solid #fbcdcf; }
      .payment-container .centered-form .tabbable-line > .nav-tabs > li.open > a,
      .payment-container .centered-form .tabbable-line > .nav-tabs > li:hover > a {
        border: 0;
        background: none !important;
        color: #333333; }
      .payment-container .centered-form .tabbable-line > .nav-tabs > li.open > a > i,
      .payment-container .centered-form .tabbable-line > .nav-tabs > li:hover > a > i {
        color: #a6a6a6; }
      .payment-container .centered-form .tabbable-line > .nav-tabs > li.open .dropdown-menu,
      .payment-container .centered-form .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
        margin-top: 0px; }
      .payment-container .centered-form .tabbable-line > .nav-tabs > li.active {
        border-bottom: 4px solid #f3565d;
        position: relative; }
        .payment-container .centered-form .tabbable-line > .nav-tabs > li.active > a {
          border: 0;
          color: #333333; }
          .payment-container .centered-form .tabbable-line > .nav-tabs > li.active > a > i {
            color: #404040; }
  .payment-container .centered-form .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0; }
  .payment-container .centered-form .portlet .tabbable-line > .tab-content {
    padding-bottom: 0; }

#andy-loader {
  position: fixed;
  text-align: center;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.1); }
  #andy-loader .text {
    position: relative;
    top: 50%;
    color: #fff;
    font-size: 24px;
    width: 60%;
    margin: auto;
    background: #32ce79; }

#areaCoundown #andy-loader {
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  background: initial; }
  #areaCoundown #andy-loader .text {
    top: 0;
    width: 100%; }

.school-detail-container .school-detail-content .school .school-image img {
  width: 100%; }

.school-detail-container .school-detail-content .school .school-content a {
  color: #000; }
  .school-detail-container .school-detail-content .school .school-content a:hover, .school-detail-container .school-detail-content .school .school-content a:active {
    text-decoration: none;
    color: #000; }

.school-detail-container .school-detail-content .school .school-content .school-name {
  margin: 0; }

.school-ranking-container .school-ranking-filter {
  margin-bottom: 20px; }
  .school-ranking-container .school-ranking-filter .filter {
    background: #f5f5f5;
    padding: 15px; }
    .school-ranking-container .school-ranking-filter .filter .form-group {
      margin-bottom: 15px; }

.school-ranking-container .school-ranking-content .school {
  margin-bottom: 15px;
  width: 100%; }
  .school-ranking-container .school-ranking-content .school tr th,
  .school-ranking-container .school-ranking-content .school tr td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top; }
  .school-ranking-container .school-ranking-content .school tr td a {
    color: #000; }
    .school-ranking-container .school-ranking-content .school tr td a:hover, .school-ranking-container .school-ranking-content .school tr td a:active {
      text-decoration: none;
      color: #000; }

.exam-list-container .page-content .exam-table .title-on-mobile {
  display: none; }

.exam-list-container .page-content .exam-table tr th,
.exam-list-container .page-content .exam-table tr td {
  vertical-align: middle; }

.exam-list-container .page-content .exam-table .a-tag-exam + .tooltip > .tooltip-inner {
  background-color: #D02121; }

.exam-list-container .page-content .exam-table .a-tag-exam + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid #D02121; }

.exam-list-container .page-content .exam-table .tooltip-mobile {
  display: none;
  background-color: #D02121;
  color: #fff;
  padding: 15px;
  line-height: 24px; }

.exam-list-container .page-content .term-use {
  margin-top: 10px; }

.main_content_inner_page {
  background: #fff none repeat scroll 0 0; }
  .main_content_inner_page .page-header {
    margin-top: 0; }
    .main_content_inner_page .page-header h1 {
      font-size: 21px; }

#testyourself .container-fluid .bottom_contact_us_section {
  background: #373c50 url("../assets/images/testyourself/ban7.jpg") no-repeat scroll center bottom/cover;
  color: #fff;
  font-size: 15px;
  margin-top: 30px; }
  #testyourself .container-fluid .bottom_contact_us_section img {
    height: 33px;
    margin-bottom: 10px;
    text-align: center;
    width: 33px; }
  #testyourself .container-fluid .bottom_contact_us_section div[class^="col-"] {
    margin: 40px 0;
    text-align: center; }

#testyourself .container-fluid .footer {
  background: #101417 none repeat scroll 0 0;
  border-top: 1px solid #fff;
  color: #fff;
  padding: 30px 0; }
  #testyourself .container-fluid .footer .footer_right {
    text-align: right; }
    #testyourself .container-fluid .footer .footer_right .connect img {
      float: right; }
    #testyourself .container-fluid .footer .footer_right .connect div {
      float: right; }
    #testyourself .container-fluid .footer .footer_right img {
      display: inline-block; }

.main_content_inner_page .page-content .review_test_result {
  border-radius: 21px;
  height: 50px;
  margin: 0 auto 10px;
  padding-top: 10px;
  width: 164px; }
  .main_content_inner_page .page-content .review_test_result a {
    color: #fff !important;
    font-size: 20px; }

.main_content_inner_page .page-content .review_test_result:hover {
  background-color: #286090; }

.modal-header {
  border: 0 !important; }

.modal-body {
  border-top: 1px solid #e5e5e5 !important;
  border-bottom: 1px solid #e5e5e5 !important; }

.modal-footer {
  text-align: left !important;
  border: 0 !important; }

.main_content_inner_page .blue_box1 {
  background-color: #5bc0de;
  border: #46b8da solid 1px;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  padding: 5px;
  display: inline-block; }

.main_content_inner_page .tol-attmpt {
  min-width: 180px;
  text-align: center; }

.main_content_inner_page .page-content .page-header .back_home_test {
  padding: 20px 15px 15px 15px;
  clear: left; }
  .main_content_inner_page .page-content .page-header .back_home_test a {
    text-decoration: none;
    color: black; }

.main_content_inner_page .list_question_exam_font_en {
  background: white;
  padding: 15px;
  box-shadow: 0 0 5px #ddd; }
  .main_content_inner_page .list_question_exam_font_en .question h4 {
    clear: left; }
  .main_content_inner_page .list_question_exam_font_en .question .list_options li {
    clear: left; }
    .main_content_inner_page .list_question_exam_font_en .question .list_options li p {
      float: left; }
    .main_content_inner_page .list_question_exam_font_en .question .list_options li input {
      float: left;
      margin-right: 10px; }
    .main_content_inner_page .list_question_exam_font_en .question .list_options li label {
      width: calc(100% - 30px); }

.main_content_inner_page .list_question_exam_font_en_submit {
  text-align: center;
  padding-top: 20px; }
  .main_content_inner_page .list_question_exam_font_en_submit button {
    margin-bottom: 10px; }

.header_test_yourself .container_site .navbar .header-home {
  height: 80px; }
  .header_test_yourself .container_site .navbar .header-home:hover {
    background: #2a445a; }

body {
  background: unset !important; }
  body .nav > li > a {
    padding: 15px 16px; }

.center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center; }

.header_test_yourself .container_site .logo_register {
  height: 135px;
  clear: left;
  float: left;
  width: 100%;
  position: relative; }
  .header_test_yourself .container_site .logo_register .logo {
    margin: 5px 0;
    height: 125px;
    background-size: contain !important; }
  .header_test_yourself .container_site .logo_register .register_col {
    height: 100%; }
    .header_test_yourself .container_site .logo_register .register_col .register a {
      font-size: 13px; }
    .header_test_yourself .container_site .logo_register .register_col .register p {
      float: right;
      top: 50%;
      right: 0;
      position: absolute;
      margin-top: -10px;
      padding-right: 15px; }
      .header_test_yourself .container_site .logo_register .register_col .register p .login,
      .header_test_yourself .container_site .logo_register .register_col .register p .sign_up {
        color: #7b7b7b; }

.header_test_yourself .container_site .navbar {
  clear: left;
  background-color: #1269b1;
  background-repeat: no-repeat; }
  .header_test_yourself .container_site .navbar .navbar-brand {
    font-size: 17px;
    padding: 5px; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li:hover {
    background: #2a445a; }
    .header_test_yourself .container_site .navbar .navbar-collapse ul li:hover > a {
      color: #FFF; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li a {
    font-size: 17px; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li .sub_li_menu_test a .caret {
    position: absolute;
    right: 5px;
    margin-top: 12px; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul .dropdown-menu > li > a:focus,
  .header_test_yourself .container_site .navbar .navbar-collapse ul .dropdown-menu > li > a:hover {
    background-color: #2a445a;
    background-image: -webkit-linear-gradient(top, #2a445a 0, #2a445a 100%);
    background-image: -o-linear-gradient(top, #2a445a 0, #2a445a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2a445a), to(#2a445a));
    background-image: linear-gradient(to bottom, #2a445a 0, #2a445a 100%); }
  .header_test_yourself .container_site .navbar .navbar-right {
    font-size: 15px; }

.header_test_yourself .container_site .navbar-default {
  background-image: none !important; }

.header_test_yourself .container_site .navbar-default .navbar-brand:focus,
.header_test_yourself .container_site .navbar-default .navbar-brand:hover {
  color: white; }

.header_test_yourself .container_site .navbar-default .navbar-nav > li > a,
.header_test_yourself .container_site .navbar-default .navbar-brand {
  color: white; }

.header_test_yourself .container_site .navbar-static-top {
  z-index: 10 !important; }

.header_test_yourself .container_site .submenu-other {
  right: 100%;
  left: auto; }

.slider_site .item {
  background-size: cover !important;
  background-repeat: no-repeat !important; }
  .slider_site .item img {
    width: 100%;
    height: 100%; }

.feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-pagination {
  position: absolute;
  bottom: 3.5%;
  left: 1.5%; }
  .feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-pagination .owl-page span {
    background-color: #fff;
    opacity: 1;
    filter: Alpha(Opacity=100); }
  .feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-pagination .owl-page:hover span {
    background-color: #216b9a; }
  .feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-pagination .owl-page.active span {
    background-color: #2b2621; }

.feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-buttons .owl-prev,
.feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-buttons .owl-next {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-color: #fff;
  transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: #fff;
  color: #333;
  top: 44%;
  background-image: none !important;
  text-indent: 0;
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-buttons .owl-prev:hover,
  .feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-buttons .owl-next:hover {
    color: #fff;
    background-color: #216b9a; }

.feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-buttons .owl-prev {
  background-position: -2px 0;
  left: 0; }
  .feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-buttons .owl-prev:before {
    content: '\f053';
    font-family: "Fontawesome"; }

.feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-buttons .owl-next {
  background-position: -48px 0;
  right: 0; }
  .feeture_test_yourself .container_site .slider_test_yourself .owl-carousel .owl-controls .owl-buttons .owl-next:before {
    content: '\f054';
    font-family: "Fontawesome"; }

.feeture_test_yourself .container_site .slider_test_yourself .owl-carousel:hover .owl-buttons .owl-prev,
.feeture_test_yourself .container_site .slider_test_yourself .owl-carousel:hover .owl-buttons .owl-next {
  opacity: 1;
  filter: alpha(opacity=1); }

.feeture_test_yourself .container_site .menu_test_yourself_right {
  border: 1px solid #eee;
  padding: 15px; }
  .feeture_test_yourself .container_site .menu_test_yourself_right ul {
    padding: 0; }
    .feeture_test_yourself .container_site .menu_test_yourself_right ul li {
      list-style-type: none;
      margin-bottom: 10px; }
      .feeture_test_yourself .container_site .menu_test_yourself_right ul li a {
        font-size: 17px;
        color: #7b7b7b;
        text-decoration: none; }

.content_testyourself {
  clear: left; }
  .content_testyourself .container_site .free_share {
    padding: 15px 0; }
    .content_testyourself .container_site .free_share p {
      color: #888888;
      font-size: 23px;
      text-align: center; }
      .content_testyourself .container_site .free_share p .number,
      .content_testyourself .container_site .free_share p .subject {
        color: #1269b1;
        font-weight: bold; }
  .content_testyourself .container_site .flash_video {
    margin-bottom: 30px;
    display: table;
    width: 100%; }
    .content_testyourself .container_site .flash_video .list_step {
      margin-bottom: 15px; }
      .content_testyourself .container_site .flash_video .list_step .img {
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 130px;
        max-width: 130px;
        margin: auto; }
        .content_testyourself .container_site .flash_video .list_step .img img {
          width: 100%; }
      .content_testyourself .container_site .flash_video .list_step .img2 {
        padding-bottom: 53.5%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 360px;
        margin: auto;
        max-height: 194px; }
      .content_testyourself .container_site .flash_video .list_step .img3 iframe {
        width: 100%;
        max-height: 188px; }
      .content_testyourself .container_site .flash_video .list_step .title {
        background-color: #1269b1;
        text-align: center;
        font-size: 17px; }
        .content_testyourself .container_site .flash_video .list_step .title a {
          text-decoration: none;
          padding: 18px 0;
          display: block;
          color: white; }
    .content_testyourself .container_site .flash_video .item1 {
      background: #ffdc64;
      border-bottom: #948550 solid 5px; }
    .content_testyourself .container_site .flash_video .item2 {
      background: #ffbc65;
      border-bottom: #8b7352 solid 5px; }
    .content_testyourself .container_site .flash_video .item3 {
      background: #95e5ff;
      border-bottom: #4c7f8f solid 5px; }
    .content_testyourself .container_site .flash_video .not-border {
      border-bottom: none; }
  .content_testyourself .container_site .big_black_title {
    color: #888888;
    margin: 20px 0;
    border-bottom: #7a7979 dashed 1px;
    padding-bottom: 30px; }
    .content_testyourself .container_site .big_black_title h2 {
      font-size: 55px;
      text-align: center; }
      .content_testyourself .container_site .big_black_title h2 .for_learning {
        color: #015295; }
    .content_testyourself .container_site .big_black_title p {
      text-align: center;
      font-size: 18px; }

.footer_test_yourself a {
  text-decoration: none; }

.footer_test_yourself .hits {
  text-align: center;
  background-color: #07579a;
  padding: 10px 20px;
  display: table;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 30px; }
  .footer_test_yourself .hits a {
    color: white; }

.footer_test_yourself .contactUs {
  text-align: center;
  margin-top: 20px; }

.footer_test_yourself .bottom_contact_us_section {
  margin-top: 30px;
  background: url(../frontend/images/footer_top.jpg) no-repeat bottom #373C50;
  background-size: cover;
  color: #FFF;
  font-size: 15px;
  padding: 10px 0; }

.footer_test_yourself .bottom_contact_us_section h2 {
  background: #FFF;
  display: block;
  padding-bottom: 20px;
  margin-top: 0; }

.footer_test_yourself .bottom_contact_us_section a {
  color: #FFF; }

.footer_test_yourself .bottom_contact_us_section div[class^="col-"] {
  text-align: left;
  margin: 10px 0; }

.footer_test_yourself .bottom_contact_us_section img {
  margin-bottom: 10px;
  text-align: center;
  width: 33px;
  height: 33px; }

.footer_test_yourself .footer_test {
  background: #101417;
  float: left;
  width: 100%;
  color: white;
  height: 80px;
  line-height: 80px; }
  .footer_test_yourself .footer_test .footer_right p {
    float: right; }
    .footer_test_yourself .footer_test .footer_right p .icon_twitter {
      margin-left: 15px; }
    .footer_test_yourself .footer_test .footer_right p .icon_fb {
      margin-left: 15px; }
  .footer_test_yourself .footer_test p {
    margin: 0; }
    .footer_test_yourself .footer_test p a {
      color: white; }
      .footer_test_yourself .footer_test p a:hover {
        text-decoration: none; }

.footer_test_yourself .footer-address {
  clear: both;
  background: #101417;
  color: #fff;
  padding: 15px;
  text-align: center; }
  .footer_test_yourself .footer-address .title {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: "Cormorant Garamond"; }
  .footer_test_yourself .footer-address .body {
    overflow: hidden; }
    .footer_test_yourself .footer-address .body .icon {
      display: inline-block;
      vertical-align: top; }
      .footer_test_yourself .footer-address .body .icon i {
        font-size: 20px; }
    .footer_test_yourself .footer-address .body .content {
      display: inline-block; }

.footer_test_yourself .footer_below {
  background: #101417;
  float: left;
  width: 100%;
  color: white;
  height: 30px;
  line-height: 30px; }

.li_menu_test ul {
  padding: 0; }
  .li_menu_test ul .sub_li_menu_test {
    position: relative; }
    .li_menu_test ul .sub_li_menu_test ul {
      position: absolute;
      top: -3px;
      left: 100%;
      margin-left: -1px; }

.message {
  clear: left; }

.profile_img_current {
  width: 130px;
  border: 1px solid #ddd;
  padding: 2px; }

.bg_white {
  background: white !important; }

#signup .container_sign_up {
  width: 100%; }
  #signup .container_sign_up .cap_chart_site {
    overflow: hidden; }
  #signup .container_sign_up .sign-up-popup .text-popup {
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 13px;
    margin-bottom: 0px;
    padding: 3px;
    background-color: rgba(30, 116, 19, 0.74);
    border-radius: 3px;
    color: #fff; }

#signup .container_fluider_sigup {
  padding: 0;
  overflow: hidden; }

#signup .main_content_inner_page .reg_box .reg_title {
  font-size: 25px;
  height: 36px;
  margin-bottom: 60px; }
  #signup .main_content_inner_page .reg_box .reg_title img {
    float: left; }
  #signup .main_content_inner_page .reg_box .reg_title div {
    float: left;
    margin-left: 15px;
    margin-top: 10px; }

#signup .main_content_inner_page .reg_box .customfile-wrap .customfile-upload {
  background: #dfdfdf none repeat scroll 0 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-left: -1px;
  padding: 6px 10px;
  position: absolute;
  right: 16px;
  text-transform: uppercase;
  top: 1.4px;
  width: 80px; }

#signup .main_content_inner_page .reg_box .customfile-wrap .customfile-filename {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  margin: 0px; }

#signup .main_content_inner_page .reg_box .customfile-wrap .texbox_rounded {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-sizing: border-box;
  max-width: 360px;
  padding: 12px;
  width: 100%; }

.label_gender_register {
  min-width: 60px; }

.sign_up_page {
  clear: left; }

#testyourself .main_content_inner_page .page-content h1 {
  margin: 15px 0; }

#testyourself .main_content_inner_page .page-content .page-header h1 {
  font-size: 21px; }

#testyourself .main_content_inner_page .page-content .page-header .fix-h1 {
  font-size: 21px !important; }

.navbar_agriculture_menu {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,474747+39,2c2c2c+50,111111+60,2b2b2b+76,1c1c1c+91,666666+100,131313+100 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #666666 100%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #666666 100%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #666666 100%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */ }

.do_you_want_done .bg_li_menu {
  color: white; }
  .do_you_want_done .bg_li_menu:hover {
    color: #C4C4C4 !important; }

.do_you_want_done .navbar_agriculture_menu ul li a {
  color: #fff; }

.do_you_want_done .navbar_agriculture_menu ul li ul li a {
  color: #000 !important; }

.do_you_want_done .navbar_agriculture_menu ul li:hover a {
  color: black !important; }

iframe.frames_document_show {
  width: 100%;
  height: 1000px; }

/* Visit http://www.menucool.com/responsive-slider for instructions */
#ninja-slider {
  width: 100%;
  background: #FFF;
  padding: 0 !important;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box; }

#ninja-slider .slider-inner {
  /*max-width:720px;*/
  margin: 0 auto;
  /*center-aligned */
  font-size: 0px;
  position: relative;
  box-sizing: border-box; }

#ninja-slider ul {
  position: relative;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  background: black; }

#ninja-slider li {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box; }

/*
#ninja-slider li::after {
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background:transparent url(pattern.png) repeat 0 0;
    top:0;left:0;
}
*/
#ninja-slider li.ns-show {
  opacity: 1; }

/* --------- slider image ------- */
#ninja-slider .ns-img {
  background-color: rgba(0, 0, 0, 0.8);
  background-size: contain;
  /*Note: If transitionType is zoom, it will be overridden to cover.*/
  /*box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);*/
  border-radius: 4px;
  cursor: default;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

/*---------- Captions -------------------*/
#ninja-slider .caption {
  font-size: 10em;
  font-family: 'Bree Serif', sans-serif;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  bottom: 20%; }

#ninja-slider li[class*='-s'] .caption {
  /* 5s = (delay + transitionSpeed) set in the ninja-slider.js */
  -webkit-animation: titleAnimation 5s linear both;
  animation: titleAnimation 5s linear both; }

@keyframes titleAnimation {
  0% {
    opacity: 0; }
  10% {
    opacity: 0;
    transform: translateY(-20%); }
  20% {
    opacity: 1;
    transform: translateY(0%); }
  70% {
    opacity: 1;
    transform: translateY(0%); }
  80% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 0;
    transform: translateY(100%); } }

@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0; }
  10% {
    opacity: 0;
    -webkit-transform: translateY(-20%); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0%); }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0%); }
  80% {
    opacity: 0;
    -webkit-transform: translateY(100%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%); } }

/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
/* Usually the ninja-slider.js will create the arrow buttons and pager(nav dots) automatically, unless you have added their markup manually to the HTML as this demo did.
   This demo has put them inside a DIV.navWrapper. 
*/
div.navsWrapper {
  position: absolute;
  height: 52px;
  right: 90px;
  bottom: 9%;
  z-index: 10; }

#ninja-slider-prev,
#ninja-slider-next {
  position: absolute;
  display: inline-block;
  width: 52px;
  height: 52px;
  line-height: 52px;
  margin: 0;
  border: 2px solid white;
  backface-visibility: hidden;
  color: white;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 14px;
  transition: all 0.5s;
  cursor: pointer; }

#ninja-slider-prev {
  left: auto;
  right: -1px; }

#ninja-slider-next {
  left: -1px;
  right: auto; }

#ninja-slider-prev:hover,
#ninja-slider-next:hover {
  width: 80px;
  background-color: rgba(0, 0, 0, 0.6); }

/*pagination within the prev/next buttons*/
#ninja-slider-prev div {
  margin-right: 41px;
  white-space: nowrap;
  float: right;
  opacity: 0; }

#ninja-slider-next div {
  margin-left: 41px;
  white-space: nowrap;
  opacity: 0; }

#ninja-slider-prev:hover div,
#ninja-slider-next:hover div {
  opacity: 1; }

/* arrows */
#ninja-slider-prev::before,
#ninja-slider-next::before {
  position: absolute;
  top: 17px;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-left: 4px solid white;
  border-top: 4px solid white;
  backface-visibility: hidden; }

#ninja-slider-prev::before {
  -ms-transform: rotate(-45deg);
  /*IE 9*/
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 15px; }

#ninja-slider-next::before {
  -ms-transform: rotate(135deg);
  /*IE 9*/
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 15px; }

/*------ pager(nav bullets) ------*/
/* The pager id should be: slider id + "-pager" */
#ninja-slider-pager,
#ninja-slider-pause-play {
  display: none; }

/*Responsive settings*/
@media only screen and (max-width: 500px) {
  #ninja-slider-prev,
  #ninja-slider-next,
  #ninja-slider-pager {
    display: none; } }

@media only screen and (max-width: 1100px) {
  #ninja-slider .caption {
    font-size: 7em; } }

@media only screen and (max-width: 700px) {
  #ninja-slider .caption {
    font-size: 3em; } }

@media (max-width: 1200px) {
  .page-content.container {
    width: 100%;
    padding: 0; }
  .message.container {
    width: 100%; } }

@media (max-width: 1200px) {
  .exam-list .container_site .list-document .frame-container .exam-button {
    padding: 0; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .box-min-height {
    min-height: 193px; }
  .navbar-header {
    float: none !important; }
    .navbar-header .navbar-toggle {
      display: block !important; }
    .navbar-header .navbar-brand.header-home {
      line-height: 40px !important; }
  .navbar-collapse {
    margin-right: -15px !important;
    margin-left: -15px !important;
    border-top: 1px solid #e7e7e7 !important; }
    .navbar-collapse .navbar-nav {
      float: none !important; }
      .navbar-collapse .navbar-nav li {
        float: none !important; }
        .navbar-collapse .navbar-nav li a {
          line-height: 20px !important; } }

@media (max-width: 1200px) {
  .header_test_yourself {
    /**
         * Change break point for navbar bootstrap
         */
    /**
         * End change break point for navbar bootstrap
         */ }
    .header_test_yourself .navbar-header {
      float: none; }
    .header_test_yourself .navbar-left,
    .header_test_yourself .navbar-right {
      float: none !important; }
    .header_test_yourself .navbar-toggle {
      display: block; }
    .header_test_yourself .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .header_test_yourself .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px; }
    .header_test_yourself .navbar-collapse.collapse {
      display: none !important; }
    .header_test_yourself .navbar-nav {
      float: none !important;
      margin-top: 7.5px; }
    .header_test_yourself .navbar-nav > li {
      float: none; }
    .header_test_yourself .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px; }
    .header_test_yourself .navbar-collapse.in {
      display: block !important; }
    .header_test_yourself #myNavbar .dropdown.li_menu_test > ul {
      display: none !important; }
    .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent > a {
      background-color: #e7e7e7; }
    .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent > ul {
      display: block !important; }
      .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent > ul .sub_li_menu_test > ul {
        display: none !important; }
      .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent > ul .sub_li_menu_test.open-parent > ul {
        background-color: #111112;
        padding-left: 20px;
        display: block !important; }
    .header_test_yourself #myNavbar .dropdown.li_menu_test.open > a:hover {
      color: #000 !important; }
    .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent .dropdown-menu li a {
        color: #fff !important; }
    .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent .menu-child {
      display: block !important; }
      .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent .menu-child li a {
        color: #fff;
        width: calc(100% - 70px); }
        .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent .menu-child li a .caret {
          display: none; }
      .header_test_yourself #myNavbar .dropdown.li_menu_test.open-parent .menu-child li .caret {
        position: absolute;
        right: 5px;
        top: 15px;
        color: #fff; } }

@media (max-width: 1200px) {
  #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flop .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.professional-tests .flop .test_bg {
    line-height: 28px; } }

@media (max-width: 1200px) {
  .school-ranking-container .school-ranking-filter,
  .school-ranking-container .school-ranking-content,
  .school-ranking-container .school-ranking-pagination {
    padding: 0; } }

@media (max-width: 1200px) {
  .header_test_yourself .dropdown-header,
  .header_test_yourself .dropdown-menu > li > a {
    padding: 12px 20px; }
  .header_test_yourself .navbar-toggle {
    margin-right: 0; }
  .header_test_yourself .container_site .navbar .header-home {
    height: 100%;
    margin: 0; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li a {
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 992px) {
  #blankpage .post .left-link-row .left-link {
    margin-bottom: 15px; }
  #blankpage .post .left-link-row .right-link .row {
    margin: 0; }
  #blankpage .post .left-link-row .right-link .sub-right-link {
    padding: 0;
    margin-bottom: 15px; }
  #blankpage .post .left-link-row .right-link .introduction-content {
    padding-right: 0; } }

@media (max-width: 992px) {
  #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flippety .test_bg {
    line-height: 28px; }
  #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flop .test_bg {
    line-height: 18px; }
  #home .container_home .home_page .title .testyourself-test .general-tests.professional-tests .flippety .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flippety .test_bg {
    line-height: 28px; } }

@media only screen and (max-width: 992px) {
  .th-image {
    min-height: 130px; }
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */ }
  table.responsive-table td:empty:before {
    content: '\00a0'; }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top; }
  table.responsive-table th {
    text-align: left; }
  table.responsive-table thead {
    display: block;
    float: left; }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0; }
  table.responsive-table thead tr th::before {
    content: "\00a0"; }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top; }
  table.responsive-table th {
    display: block !important;
    text-align: right;
    padding: 15px 5px; }
  table.responsive-table td {
    display: block !important;
    min-height: 1.25em;
    text-align: left;
    padding: 15px 5px; }
  table.responsive-table tr {
    padding: 0 10px; }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid #d0d0d0; }
  table.responsive-table.bordered th {
    border-bottom: 0;
    border-left: 0; }
  table.responsive-table.bordered td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
  table.responsive-table.bordered tr {
    border: 0; }
  table.responsive-table.bordered tbody tr {
    border-right: 1px solid #d0d0d0; } }

@media (max-width: 992px) {
  .footer_test_yourself .footer_test {
    line-height: 24px;
    height: initial;
    font-size: 14px; }
    .footer_test_yourself .footer_test .footer_left,
    .footer_test_yourself .footer_test .footer_right {
      float: none;
      text-align: center;
      width: 100%; }
    .footer_test_yourself .footer_test .footer_left {
      margin-top: 15px; }
    .footer_test_yourself .footer_test .footer_right {
      margin-bottom: 15px; }
      .footer_test_yourself .footer_test .footer_right p {
        float: none; }
  .footer_test_yourself .footer_below {
    font-size: 14px;
    line-height: 24px;
    height: initial;
    font-size: 14px; } }

@media (max-width: 768px) {
  .exam-container .page-content #areaCoundown {
    float: none !important;
    margin-bottom: 20px; }
    .exam-container .page-content #areaCoundown #Stage_jbeeb_3 {
      margin: 0 auto !important; }
  .exam-container .page-content .total-attempted {
    text-align: center; } }

@media (max-width: 768px) {
  .footer_test_yourself .footer_test {
    font-size: 12px; }
    .footer_test_yourself .footer_test .footer_right {
      margin-bottom: 30px; }
  .footer_test_yourself .footer_below {
    font-size: 12px; } }

@media (max-width: 768px) {
  #home .container_home .home_page .title .testyourself-test {
    width: 100%; }
    #home .container_home .home_page .title .testyourself-test .general-tests {
      width: 80%;
      float: none;
      margin: auto; }
      #home .container_home .home_page .title .testyourself-test .general-tests.professional-tests .flippety .test_bg,
      #home .container_home .home_page .title .testyourself-test .general-tests.professional-tests .flop .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flippety .test_bg,
      #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flop .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flippety .test_bg,
      #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flop .test_bg {
        line-height: 60px; }
      #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flop .test_bg {
        line-height: 28px; }
  #home .container_home .home_page .title #tys_textanimation .jumbotron1 .tlt {
    font-size: 50px !important; } }

@media (max-width: 768px) {
  .school-ranking-container .school-ranking-filter {
    margin-bottom: 20px; }
    .school-ranking-container .school-ranking-filter .search-button {
      padding: 0 15px; } }

@media (max-width: 768px) {
  .header_test_yourself .navbar-nav .open .dropdown-menu .dropdown-header,
  .header_test_yourself .navbar-nav .open .dropdown-menu > li > a {
    padding: 15px 15px 15px 25px; }
  .header_test_yourself .navbar-nav {
    margin-top: 0; }
  .header_test_yourself .container_site .logo_register {
    height: 80px; }
    .header_test_yourself .container_site .logo_register .logo {
      height: 70px; }
    .header_test_yourself .container_site .logo_register .register p {
      top: 20% !important; }
  .header_test_yourself .container_site .navbar .header-home {
    line-height: 40px;
    margin: 0 15px; }
  .header_test_yourself .navbar-toggle {
    margin-right: 15px; }
  .login .container h3 span {
    font-size: 16px !important;
    font-weight: bold !important; } }

@media (min-width: 768px) {
  .header_test_yourself .container_site .navbar .navbar-brand {
    line-height: 70px; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li a {
    line-height: 50px; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li .dropdown-menu li a {
    line-height: 25px !important; }
  .header_test_yourself .container_site .navbar .navbar-right {
    font-size: 15px; } }

@media (max-width: 768px) {
  #signup .container_sign_up .register {
    padding: 0 30px; } }

@media (max-width: 480px) {
  .full-xs {
    width: 100% !important; }
  .half-xs {
    width: 50% !important; } }

@media (max-width: 480px) {
  #frontend_document .search-wrapper .form-group-search {
    width: 100%; }
  #frontend_document .search-wrapper .form-group-payment .btn {
    width: 100%; } }

@media (max-width: 480px) {
  #home .home_page .title .algin {
    font-size: 14px; } }

@media (max-width: 480px) {
  #home .container_home .home_page .title .testyourself-test .general-tests.professional-tests .flippety .test_bg,
  #home .container_home .home_page .title .testyourself-test .general-tests.professional-tests .flop .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flippety .test_bg,
  #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flop .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flippety .test_bg,
  #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flop .test_bg {
    line-height: 60px; }
  #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flop .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flop .test_bg {
    line-height: 28px; }
  #home .container_home .home_page .title #tys_textanimation .jumbotron1 .tlt {
    font-size: 32px !important; } }

@media (max-width: 480px) {
  .school-detail-container .school-detail-content .school .school-image {
    margin-bottom: 15px; }
    .school-detail-container .school-detail-content .school .school-image img {
      width: 100%; } }

@media (max-width: 480px) {
  .exam-list-container .page-content .exam-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .exam-list-container .page-content .exam-table tr {
    display: block;
    margin-top: 30px; }
    .exam-list-container .page-content .exam-table tr:first-child, .exam-list-container .page-content .exam-table tr:last-child {
      margin-top: 0; }
  .exam-list-container .page-content .exam-table th.td-make-payment-unnecessary,
  .exam-list-container .page-content .exam-table td.td-make-payment-unnecessary {
    display: none; }
  .exam-list-container .page-content .exam-table td {
    display: block;
    overflow: hidden; }
  .exam-list-container .page-content .exam-table .title-on-mobile {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    padding-right: 15px; }
  .exam-list-container .page-content .exam-table .content {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: right; }
  .exam-list-container .page-content .back {
    text-align: center; }
  .exam-list-container .page-content .term-use {
    text-align: center; } }

@media (max-width: 480px) {
  .modal-footer .popup-control a {
    display: block;
    width: 100%;
    margin: 0 !important;
    margin-bottom: 15px !important; }
    .modal-footer .popup-control a:last-child {
      margin-bottom: 0 !important; } }

@media (max-width: 480px) {
  .header_test_yourself .container_site .logo_register {
    height: 160px; }
    .header_test_yourself .container_site .logo_register .logo {
      background-position: center !important; }
    .header_test_yourself .container_site .logo_register .register_col {
      margin-top: 20px;
      height: initial; }
      .header_test_yourself .container_site .logo_register .register_col .register p {
        float: none;
        position: relative;
        text-align: center; }
  .header_test_yourself .container_site .navbar .header-home {
    height: 100%;
    line-height: 50px;
    float: none; } }

@media (max-width: 320px) {
  #home .container_home .home_page .title .testyourself-test .general-tests {
    width: 100%; }
    #home .container_home .home_page .title .testyourself-test .general-tests.professional-tests .flippety .test_bg,
    #home .container_home .home_page .title .testyourself-test .general-tests.professional-tests .flop .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flippety .test_bg,
    #home .container_home .home_page .title .testyourself-test .general-tests.academic-tests .flop .test_bg, #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flippety .test_bg,
    #home .container_home .home_page .title .testyourself-test .general-tests.job-aptitude-tests .flop .test_bg {
      line-height: 28px; } }

@media (max-width: 320px) {
  .login .login-options {
    width: 100%; } }
