<div class="list-page list-nationalities">
    <div class="row filter">
        <div class="col-sm-2 col-xs-12 filter-status">
            <label class="ui-label" for="status">Status</label>
            <select class="ui-select" ng-model="vm.status" ng-change="vm.filterStatus(vm.status)" ng-options="options as options.name for options in vm.statuses"></select>
        </div>
        <div class="col-sm-3 col-sm-offset-7 text-right item-action new-record-wrapper">
            <ul>
                <li class="active">
                    <a ng-click="vm.changeStatusAllItem('active')" title="Active">
                        <i class="icon fa fa-check-circle"></i>
                    </a>
                </li>
                <li class="pending">
                    <a ng-click="vm.changeStatusAllItem('pending')" title="Pending">
                        <i class="icon fa fa-pause-circle"></i>
                    </a>
                </li>
                <li class="new-item">
                    <a ui-sref="app.nationality.create" title="Create new Nationality">
                        <i class="icon fa fa-plus-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row search-box">
        <div class="col-xs-12 col-sm-6 select-all">
            <input type="checkbox" id="select-all" ng-model="vm.selectedAll" ng-change="vm.selectAll()">
            <label for="select-all">Select all</label>
            <span class="number-select" ng-show="vm.selectedItem.length > 0"> ( All {{vm.selectedItem.length}} {{vm.selectedItem.length === 1 ? 'item' : 'items'}}  on this page are selected.)</span>
        </div>
        <div class="search col-xs-12 col-sm-6">
            <div class="search-wrapper card">
                <input id="search" class="input-search form-control" ng-model="vm.params.search" placeholder="Search..." ng-keydown="vm.searchKeyEvent($event, vm.params.search)"><i class="icon-search fa fa-search" ng-click="vm.searchPage(vm.params.search)"></i>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-xs-12 col-sm-6">
            Sort By:
            <sortable-attributes></sortable-attributes>
        </div>
    </div> -->
    <preloader ng-if="vm.nationalities | isUndefined"></preloader>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped ui-table table-items table-nationalities" ng-if="vm.nationalities !== undefined">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID <!-- <span sortable="id"></span> --></th>
                        <th>Name <!-- <span sortable="name"></span> --></th>
                        <th>Order <!-- <span sortable="order"></span> --></th>
                        <th>Active <!-- <span sortable="status"></span> --></th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nationality in vm.nationalities">
                        <td>
                            <input type="checkbox" ng-model="nationality.selected" ng-change="vm.updateSelectedItem()">
                        </td>
                        <td ng-bind="nationality.getId()"></td>
                        <td ng-bind="nationality.getName()"></td>
                        <td ng-bind="nationality.getOrder()"></td>
                        <td>
                            {{ nationality.getStatus() === 1 ? 'Active' : 'Pending' }}
                        </td>
                        <td class="text-right action">
                            <a ui-sref="app.nationality.edit({id: nationality.getId()})" class="edit">
                                <p class="ui-p"><i class="icon fa fa-pencil-square-o"></i></p>
                            </a>
                            <a ng-click="vm.deleteItem(nationality)" class="delete">
                                <p class="ui-p"><i class="icon fa fa-trash"></i></p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination data="vm.pagination"></pagination>
        </div>
    </div>
</div>