<div id="register">
    <div class="container">
        <div class="col-xs-12">
            <div class="employee-register-form">
                <div class="title animated nf-fade-out" ng-class="{'fadeInUp': vm.isStateEq('modal.register.employee.general_infomation')}">
                    <h2 class="center-align">Create new Employee</h2>
                </div>
                <form name="vm.employee_register_form" ng-submit="vm.employee_register_form.$valid && vm.registerEmployeeProfile(vm.user)" novalidate>
                    <div class="row">
                        <div class="col s6">
                            <div class="form-group float-input">
                                <label>E-mail</label>
                                <input ng-focus="vm.employee_register_form.email.$focused = true" type="email" class="form-control" ng-model="vm.user.email" name="email" required ng-maxlength="40">
                                <div class="icons" ng-show="vm.employee_register_form.email.$focused">
                                    <i ng-if="!vm.employee_register_form.email.$error.required && !vm.employee_register_form.email.$error.maxlength && !vm.employee_register_form.email.$error.email" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                    <i ng-if="vm.employee_register_form.email.$error.required || vm.employee_register_form.email.$error.maxlength || vm.employee_register_form.email.$error.email" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                                </div>
                                <div class="errors">
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.email.$error.required">Required</span>
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.email.$error.email">Please enter a valid email</span>
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.email.$error.maxlength">The value is too long</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 salary-box">
                            <div class="form-group float-input">
                                <label>Salary.</label>
                                <input ng-focus="vm.employee_register_form.salary.$focused = true" type="text" ng-model="vm.user.salary" class="form-control" name="salary" ng-pattern="/^\d+$/" ng-maxlength="20">
                                <div class="icons" ng-show="vm.employee_register_form.salary.$focused">
                                    <i ng-if="!vm.employee_register_form.salary.$error.maxlength && !vm.employee_register_form.salary.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                    <i ng-if="vm.employee_register_form.salary.$error.maxlength || vm.employee_register_form.salary.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                                </div>
                                <div class="errors">
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.salary.$error.maxlength">The value is too long</span>
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.salary.$error.pattern">Please enter a series of numbers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-input">
                        <label>Password</label>
                        <input ng-focus="vm.employee_register_form.password.$focused = true" type="password" class="form-control" ng-model="vm.user.password" name="password" required ng-minlength="6" ng-maxlength="40">
                        <div class="icons" ng-show="vm.employee_register_form.password.$focused">
                            <i ng-if="!vm.employee_register_form.password.$error.required && !vm.employee_register_form.password.$error.maxlength && !vm.employee_register_form.password.$error.minlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                            <i ng-if="vm.employee_register_form.password.$error.required || vm.employee_register_form.password.$error.maxlength || vm.employee_register_form.password.$error.minlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="errors">
                            <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.password.$error.required">Required</span>
                            <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.password.$error.maxlength">The value is too long</span>
                            <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.password.$error.minlength">The value is too short</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m4 country-box">
                            <div class="form-group float-input">
                                <select name="country" ng-focus="vm.employee_register_form.country.$focused = true" class="form-control select-box" ng-model="vm.country" ng-options="country as country.display() for country in vm.countries" required></select>
                                <div class="icons" ng-show="vm.employee_register_form.country.$focused">
                                    <i ng-if="!vm.employee_register_form.country.$error.required" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                    <i ng-if="vm.employee_register_form.country.$error.require" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                                </div>
                                <div class="errors">
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.country.$error.required">Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 m8 phone-box">
                            <div class="form-group float-input">
                                <label>Phone No.</label>
                                <input ng-focus="vm.employee_register_form.phone_number.$focused = true" type="text" ng-model="vm.user.phone_number" class="form-control" name="phone_number" ng-pattern="/^(\d{6,12})$/" required ng-maxlength="40">
                                <div class="icons" ng-show="vm.employee_register_form.phone_number.$focused">
                                    <i ng-if="!vm.employee_register_form.phone_number.$error.required && !vm.employee_register_form.phone_number.$error.maxlength && !vm.employee_register_form.phone_number.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                    <i ng-if="vm.employee_register_form.phone_number.$error.required || vm.employee_register_form.phone_number.$error.maxlength || vm.employee_register_form.phone_number.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                                </div>
                                <div class="errors">
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.phone_number.$error.required">Required</span>
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.phone_number.$error.maxlength">The value is too long</span>
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.phone_number.$error.pattern">Please enter a valid phone number</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="form-group float-input">
                                <label>First Name</label>
                                <input ng-focus="vm.employee_register_form.first_name.$focused = true" type="text" class="form-control" ng-model="vm.user.first_name" name="first_name" required ng-maxlength="40">
                                <div class="icons" ng-show="vm.employee_register_form.first_name.$focused">
                                    <i ng-if="!vm.employee_register_form.first_name.$error.required && !vm.employee_register_form.first_name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                    <i ng-if="vm.employee_register_form.first_name.$error.required || vm.employee_register_form.first_name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                                </div>
                                <div class="errors">
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.first_name.$error.required">Required</span>
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.first_name.$error.maxlength">The value is too long</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="form-group float-input">
                                <label>Last name</label>
                                <input ng-focus="vm.employee_register_form.last_name.$focused = true" type="text" class="form-control" ng-model="vm.user.last_name" name="last_name" required ng-maxlength="40">
                                <div class="icons" ng-show="vm.employee_register_form.last_name.$focused">
                                    <i ng-if="!vm.employee_register_form.last_name.$error.required && !vm.employee_register_form.last_name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                    <i ng-if="vm.employee_register_form.last_name.$error.required || vm.employee_register_form.last_name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                                </div>
                                <div class="errors">
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.last_name.$error.required">Required</span>
                                    <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.last_name.$error.maxlength">The value is too long</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="form-group float-input">
                                <label>Date of Birth</label>
                                <input type="text" pick-a-date="vm.user.birth" pick-a-date-options="{'selectYears': 60, 'selectMonths': true, 'today': '', 'clear': '','close': 'Close'}" class="form-control" name="birth" max-date="vm.maxBirthYear" required>
                                <div class="icons" ng-show="vm.employee_register_form.birth.$focused">
                                    <i ng-if="!vm.employee_register_form.birth.$error.required" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                    <i ng-if="vm.employee_register_form.birth.$error.required" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                                </div>
                                <div class="errors">
                                    <span ng-show="vm.employee_register_form.$submitted && !vm.user.birth">Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 gender">
                            <div class="form-group">
                                <label for="male">Male</label>
                                <md-radio-group ng-model="vm.user.gender" name="gender" required>
                                    <md-radio-button ng-value="vm.genders.male" aria-label="Male">
                                        {{ d.label }}
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                            <div class="form-group">
                                <label for="female">Female</label>
                                <md-radio-group ng-model="vm.user.gender" name="gender" required>
                                    <md-radio-button ng-value="vm.genders.female" aria-label="Female">
                                        {{ d.label }}
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.gender.$error.required">Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>Select Industry:</p>
                            <ul class="industries">
                                <li class="industry-item" ng-repeat="industry in vm.industries" ng-class="{'active': industry.selected}" ng-click="industry.selected = !industry.selected">{{industry.getName()}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>Select Tags:</p>
                            <md-chips ng-model="vm.user.tags" md-autocomplete-snap md-transform-chip="vm.transformChip($chip)" md-require-match="vm.autocompleteRequireMatch">
                                <md-autocomplete md-no-cache="true" md-selected-item="vm.selectedTag" md-search-text="searchTag" md-items="item in vm.querySearch(searchTag)" md-item-text="item.name" placeholder="Enter Tags">
                                    <span md-highlight-text="searchTag">{{item.name}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span><strong>{{$chip.name}}</strong></span>
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </div>
                    <div class="form-group float-input height-auto about-yourself">
                        <label>Write a few words about yourself. <span ng-show="vm.user.summary != undefined && vm.user.summary != ''">({{vm.user.summary | length}}/1000)</span></label>
                        <textarea ng-focus="vm.employee_register_form.summary.$focused = true" type="text" class="form-control animated" ng-model="vm.user.summary" name="summary" ng-maxlength="1000" maxlength="1000"></textarea>
                        <div class="icons" ng-show="vm.employee_register_form.summary.$focused">
                            <i ng-if="!vm.employee_register_form.summary.$error.required && !vm.employee_register_form.summary.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                            <i ng-if="vm.employee_register_form.summary.$error.required || vm.employee_register_form.summary.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="errors">
                            <span ng-show="vm.employee_register_form.$submitted && vm.employee_register_form.summary.$error.maxlength">The value is too long</span>
                        </div>
                    </div>
                    <div class="form-group center-align">
                        <input ng-disabled="inProgress" type="submit" class="btn btn-primary orange-btn-sm" value="REGISTER EMPLOYEE">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
