<div class="acl-users">
    <div class="user-action">
        <div class="new-user-box right">
            <a ui-sref="app.acl.list.create" ng-if="user.can('create.admins')" class="add-new bg-box"><i class="material-icons">add</i>Create new user</a>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <div class="users">
                <table class="striped table-users">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th class="right-align" ng-if="user.can('update.admins')">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in vm.users">
                            <td ng-bind="u.getId()"></td>
                            <td ng-bind="u.getEmail()"></td>
                            <td ng-bind="u.getName()"></td>
                            <td class="action role">
                                <md-input-container>
                                    <md-select ng-model="u.selected_role" ng-disabled="!user.can('update.roles')" aria-label="role">
                                        <md-option ng-value="role" ng-repeat="role in vm.roles">{{ role.name }}</md-option>
                                    </md-select>
                                </md-input-container>
                                <span ng-show="u|roleChanged"><i class="material-icons">restore_page</i></span>
                            </td>
                            <td class="right-align action">
                                <a ng-if="user.can('update.admins')" ui-sref="app.acl.list.edit({id: u.getId()})" class="edit"><i class="material-icons">mode_edit</i></a>
                                <a ng-if="user.can('delete.admins')" ng-click="vm.deleteUser(u)" class="delete"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <button ng-click="vm.save(vm.users)" ng-show="vm.users | hasUpdateRole" class="btn waves-effect waves-light " ng-class="{ 'disabled': vm.inProgress} " ng-disabled="vm.inProgress " type="submit " name="action ">Save
                    <i class="material-icons right ">trending_flat</i>
                    <i class="material-icons right icon-pending ">replay</i>
                </button>
            </div>
            <div class="right">
                <pagination data="vm.pagination"></pagination>
            </div>
        </div>
    </div>
</div>
