<div class="edit-page edit-industry">
    <div class="col-xs-12">
        <div class="edit-form edit-industry-form">
            <h2 class="text-center">Edit Industry</h2>
            <form name="vm.edit_industry_form" ng-submit="vm.edit_industry_form.$valid && vm.editIndustry(vm.industry)" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Name *</label>
                            <input type="text" ng-focus="vm.edit_industry_form.name.$focused = true" class="form-control" ng-model="vm.store.getState().UpdateIndustry.name" name="name" required ng-maxlength="255" ng-change="vm.changeName(vm.store.getState().UpdateIndustry.name)">
                            <div class="icons" ng-show="vm.edit_industry_form.name.$focused">
                                <i ng-if="!vm.edit_industry_form.name.$error.required && !vm.edit_industry_form.name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.edit_industry_form.name.$error.required || vm.edit_industry_form.name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.edit_industry_form.$submitted && vm.edit_industry_form.name.$error.required">Required</span>
                                <span ng-show="vm.edit_industry_form.$submitted && vm.edit_industry_form.name.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Order</label>
                            <input type="text" ng-focus="vm.edit_industry_form.order.$focused = true" class="form-control" ng-model="vm.store.getState().UpdateIndustry.order" name="order" ng-pattern="/^\d+$/" ng-change="vm.changeOrder(vm.store.getState().UpdateIndustry.order)">
                            <div class="icons" ng-show="vm.edit_industry_form.order.$focused">
                                <i ng-if="!vm.edit_industry_form.order.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.edit_industry_form.order.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.edit_industry_form.$submitted && vm.edit_industry_form.order.$error.pattern">Please enter a number</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="active">Active</label>
                            <input type="checkbox" ng-focus="vm.edit_industry_form.status.$focused = true" ng-model="vm.store.getState().UpdateIndustry.status" name="status" ng-true-value="1" ng-false-value="0" ng-change="vm.changeStatus(vm.store.getState().UpdateIndustry.status)">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-disabled="inProgress" type="submit" class="btn ui-btn btn-full-width orange-btn-sm" value="Edit">
                </div>
            </form>
        </div>
    </div>
</div>