@media (max-width: 480px) {
    #frontend_document {
        .search-wrapper {
            .form-group-search {
                width: 100%;
            }
            .form-group-payment {
                .btn {
                    width: 100%;
                }
            }
        }
    }
}