@media (max-width: 480px) {
    #home {
        .container_home {
            .home_page {
                .title {
                    .testyourself-test {
                        .general-tests {
                            &.professional-tests,
                            &.academic-tests,
                            &.job-aptitude-tests {
                                .flippety,
                                .flop {
                                    .test_bg {
                                        line-height: 60px;
                                    }
                                }
                            }
                            &.academic-tests,
                            &.job-aptitude-tests {
                                .flop {
                                    .test_bg {
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                    #tys_textanimation {
                        .jumbotron1 {
                            .tlt {
                                font-size: 32px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}
