@media (max-width: 480px) {
    .school-ranking-container {
        .school-ranking-content {
            // .school {
            //     tr {
            //         th, td {
            //             display: block;
            //             width: 100%;
            //         }
            //     }
            // }
        }
    }
}
