@media (max-width: 480px) {
    .exam-list-container {
        .page-content {
            .exam-table {
                thead {
                    border: none;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
                tr {
                    display: block;
                    margin-top: 30px;
                    &:first-child,
                    &:last-child {
                        margin-top: 0;
                    }
                }
                th,
                td {
                    &.td-make-payment-unnecessary {
                        display: none;
                    }
                }
                td {
                    display: block;
                    overflow: hidden;
                }
                .title-on-mobile {
                    display: inline-block;
                    width: 50%;
                    text-align: center;
                    float: left;
                    padding-right: 15px;
                }
                .content {
                    display: inline-block;
                    width: 50%;
                    text-align: center;
                    float: right;
                }
            }
            .back {
                text-align: center;
            }
            .term-use {
                text-align: center;
            }
        }
    }
}