@media (max-width: 480px) {
    .modal-footer {
        .popup-control {
			a {
				display: block;
				width: 100%;
				margin: 0!important;
				margin-bottom: 15px!important;
				&:last-child {
					margin-bottom: 0!important;
				}
			}
        }
    }
}
