<div class="acl-roles">
    <div class="role-action">
        <div class="new-role-box right">
            <a ng-click="createRole($event)" ng-if="user.can('create.roles')" class="add-new bg-box"><i class="material-icons">add</i>Create new role</a>
        </div>
    </div>
    <div class="users">
        <table class="striped table-users">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Role</th>
                    <th>Permissions</th>
                    <th class="right-align" ng-if="user.can('update.roles')">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in vm.roles">
                    <td ng-bind="role.getId()"></td>
                    <td ng-bind="role.getName()"></td>
                    <td>
                        <ul class="permissions">
                            <li class="item" ng-repeat="permission in role.getPermissions()">{{permission.getName()}}<i ng-show="user.can('update.roles')" ng-click="vm.removePermission(role, permission)" class="material-icons close">close</i></li>
                        </ul>
                    </td>
                    <td class="right-align actions" ng-if="user.can('update.roles')">
                        <ul>
                            <li ng-if="vm.permissions|availablePermissions:role|hasItem">
                                <md-menu>
                                    <md-button aria-label="role" class="md-icon-button add-permisson" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                        <i class="material-icons">add</i>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item ng-repeat="permission in vm.permissions|availablePermissions:role">
                                            <md-button ng-click="vm.addPermission(role, permission)">{{permission.getName()}}</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </li>
                            <li><a class="edit" ng-click="editRole($event, role)"><i class="material-icons">mode_edit</i></a></li>
                            <li><a class="delete" ng-click="vm.deleteRole(role)"><i class="material-icons">delete</i></a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-show="user.can('update.roles')" ng-click="vm.save(vm.roles)" class="btn waves-effect waves-light " ng-class="{ 'disabled': vm.inProgress} " ng-disabled="vm.inProgress " type="submit " name="action ">Save
        <i class="material-icons right ">trending_flat</i>
        <i class="material-icons right icon-pending ">replay</i>
    </button>
</div>
