<div class="create-role-modal">
    <div class="modal-header">
        <h2 class="title">Create Role</h2>
    </div>
    <div class="modal-body">
        <form name="createRoleForm" ng-submit="createRoleForm.$valid && createRole(role)" novalidate>
            <div class="row">
                <md-input-container class="col s12">
                    <label class="required">Role Name *</label>
                    <input type="text" ng-model="role.name" name="name" required ng-maxlength="255">
                    <div class="errors">
                        <span ng-show="createRoleForm.$submitted && createRoleForm.name.$error.required">Required</span>
                        <span ng-show="createRoleForm.$submitted && createRoleForm.name.$error.maxlength">The value is too long</span>
                    </div>
                </md-input-container>
            </div>
            <div class="row action-btn">
                <button class="btn waves-effect waves-light" ng-class="{'disabled': inProgress}" type="submit" name="action">create new
                    <i class="material-icons right">trending_flat</i>
                    <i class="material-icons right icon-pending">replay</i>
                </button>
                <a ng-click="cancel()" class="cancel waves-effect waves-light btn right">cancel<i class="material-icons left">skip_previous</i></a>
            </div>
        </form>
    </div>
</div>
