.acl-tabs {
    margin-bottom: 0px;
    .tabs {
        background: #eee;
    }
}

%bg-box {
    display: inline-block;
    background: #039be5;
    padding: 10px;
    color: #fff;
    height: 44px;
    i {
        vertical-align: middle;
    }
}

.acl-users {
    .user-action {
        overflow: auto;
        margin-top: 15px;
        .bg-box {
            @extend %bg-box;
        }
    }
    .users {
        table {
            td.action {
                a {
                    display: inline-block;
                    border-radius: 2px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background: #16a085;
                    i {
                        font-size: 20px;
                        color: #fff;
                        line-height: 30px;
                    }
                    &.delete {
                        background: #c0392b;
                    }
                }
            }
            td.role {
                i {
                    font-size: 11px;
                    color: #999;
                }
                md-input-container {
                    margin: 0px;
                    md-select-value {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.acl-roles {
    .role-action {
        overflow: auto;
        margin-top: 15px;
        .bg-box {
            @extend %bg-box;
        }
    }
    table {
        td.actions {
            min-width: 150px;
            ul {
                li {
                    display: inline-block;
                    float: left;
                    margin-right: 5px;
                    a {
                        display: inline-block;
                        border-radius: 2px;
                        width: 36px;
                        height: 36px;
                        text-align: center;
                        background: #16a085;
                        i {
                            font-size: 20px;
                            color: #fff;
                            line-height: 36px;
                        }
                        &.delete {
                            background: #c0392b;
                        }
                    }
                }
            }
        }
        .permissions {
            padding: 0px;
            margin: 0px;
            list-style: none;
            li {
                display: inline-block;
                margin-top: 5px;
                &:focus {
                    outline: none;
                }
            }
            .add-permisson-btn {
                padding-top: 8px;
            }
            .item {
                padding: 5px 10px;
                border-radius: 5px;
                background: #eee;
                margin-right: 5px;
                border: 1px solid #999;
                font-size: 12px;
                line-height: 20px;
                .material-icons {
                    font-size: 16px;
                    margin-left: 5px;
                    display: inline-block;
                    background: #7f8c8d;
                    padding: 2px;
                    border-radius: 4px;
                    color: #fff;
                    float: right;
                    cursor: pointer;
                }
            }
        }
        .add-permisson {
            background-color: #c0392b;
            border-radius: 100%;
            color: #fff;
            height: 36px;
            width: 36px;
            padding: 0px;
            margin: 0px;
            text-align: center;
            .material-icons {
                font-size: 24px;
                line-height: 32px;
            }
            &:hover {
                background-color: #27ae60!important;
            }
        }
    }
}

.create-role,
.create-user,
.edit-user {
    .card {
        box-shadow: none;
        md-input-container {
            padding: 0px;
            width: 100%;
        }
    }
    .back {
        background: #ffc107;
        &:hover {
            background: #2bbbad;
        }
    }
}

.create-role-modal,
.edit-role-modal {
    min-width: 600px;
    .modal-header,
    .modal-body {
        padding: 15px;
    }
    .modal-header {
        background: rgb(16, 108, 200);
        .title {
            color: #fff;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0;
        }
    }
    .modal-body {
        input {
            margin: 0;
        }
        md-input-container {
            margin-bottom: 0;
        }
    }
    .cancel {
        background: #ffc107;
        &:hover {
            background: #2bbbad;
        }
    }
    .modal-message {
        color: #fff;
        text-align: center;
        font-size: 14px;
        padding: 5px 0;
    }
    .modal-message.success {
        background: #00e676;
    }
    .modal-message.warning {
        background: #fa9325;
    }
}
