.list-application {
    margin-top: 15px;
    .application-action {
        .select-all {
            height: 36px;
            line-height: 56px;
        }
        #select-all {
            height: initial;
        }
        .apply-box {
            .apply {
                text-transform: uppercase;
            }
        }
        .approve {
            .btn {
                background-color: #039be5;
                &:hover {
                    background-color: #2bbbad;
                }
            }
        }
    }
    select {
        display: block;
    }
    input[type=search]:focus:not([readonly]) {
        border-bottom: 0;
        box-shadow: initial;
    }
    .select2-container {
        .select2-search--inline {
            .select2-search__field {
                margin: 0px;
                height: initial;
            }
        }
    }
    .filter-status,
    .apply-box {
        select {
            height: 32px;
        }
    }
}
