#change-password-user {
    $blue-color: #2196f3;
    $grey-color: #9e9e9e;
    .btn {
        box-shadow: initial;
    }
    select {
        &:focus {
            outline: 0;
        }
    }
    .edit-right {
        h2 {
            font-family: $museo_sans300;
            font-size: 48px;
            color: #ef6b59;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}
