$color-header: #ee6e73;
$red: #EF6B59;
$green: #27ae60;
$normal: 13px;
$small: 12px;
$light-pink: #ef6b59;
$bold-pink: #c50000;
$small-font: 12px;
$grey-color: #4f4f4f;
$fontsize-normal: 14px;
$museo_sans100: 'museo_sans100';
$museo_sans300: 'museo_sans300';
$museo_sans500: 'museo_sans500';
$museo_sans700: 'museo_sans700';
@font-face {
    font-family: $museo_sans100;
    src: url('../fonts/museo/museosans_100/museosans_100-webfont.eot');
    src: url('../fonts/museo/museosans_100/museosans_100-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/museosans_100/museosans_100-webfont.woff2') format('woff2'), url('../fonts/museo/museosans_100/museosans_100-webfont.woff') format('woff'), url('../fonts/museo/museosans_100/museosans_100-webfont.ttf') format('truetype'), url('../fonts/museo/museosans_100/museosans_100-webfont.svg#museo_sans100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $museo_sans300;
    src: url('../fonts/museo/museosans_300/museosans_300-webfont.eot');
    src: url('../fonts/museo/museosans_300/museosans_300-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/museosans_300/museosans_300-webfont.woff2') format('woff2'), url('../fonts/museo/museosans_300/museosans_300-webfont.woff') format('woff'), url('../fonts/museo/museosans_300/museosans_300-webfont.ttf') format('truetype'), url('../fonts/museo/museosans_300/museosans_300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $museo_sans500;
    src: url('../fonts/museo/museosans_500/museosans_500-webfont.eot');
    src: url('../fonts/museo/museosans_500/museosans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/museosans_500/museosans_500-webfont.woff2') format('woff2'), url('../fonts/museo/museosans_500/museosans_500-webfont.woff') format('woff'), url('../fonts/museo/museosans_500/museosans_500-webfont.ttf') format('truetype'), url('../fonts/museo/museosans_500/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $museo_sans700;
    src: url('../fonts/museo/museo-sans-700-594b3da617f71.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/museo/museo-sans-700-594b3da617f71.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/museo/museo-sans-700-594b3da617f71.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/museo/museo-sans-700-594b3da617f71.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/museo/museo-sans-700-594b3da617f71.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/museo/museo-sans-700-594b3da617f71.svg') format('svg');
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/myriad-pro-regular.otf);
}

ul,
li {
    list-style: none;
}






/** Menu Icon */

.side-nav li>a>i,
.side-nav li>a>[class^="mdi-"],
.side-nav li>a>[class*="mdi-"],
.side-nav li>a>i.material-icons {
    margin: 0 10px 0 0;
}

.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}

body {
    font-size: $normal;
    background: rgb(250, 250, 250);
    h2 {
        font-family: $museo_sans500;
        font-size: 30px;
        color: #323232;
    }
    h3 {
        font-family: $museo_sans500;
        color: #323232;
    }
    p {
        font-family: $museo_sans100;
        font-size: 16px;
    }
    .row {
        margin-bottom: 20px;
    }
    .text-uppercase {
        text-transform: uppercase;
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }
    [sortable] {
        padding: 5px;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 3px black;
        }
    }
    .md-dialog-container {
        left: 50px;
    }
    user-profile-image {
        width: 100%;
        display: block;
        cursor: pointer;
        .user-profile-image {
            position: relative;
            .upload-icon {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: initial;
                background: rgba(0, 0, 0, 0.5);
                padding: 10px;
                color: #fff;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                opacity: 0;
                .icon {
                    width: 30px;
                    float: left;
                    i {
                        color: #fff;
                        font-size: 16px;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                    }
                }
                p {
                    overflow: hidden;
                    font-size: 12px;
                    color: #fff;
                    font-family: $museo_sans300;
                    margin-bottom: 0px;
                }
            }
            &:hover {
                .upload-icon {
                    opacity: 1;
                    .icon {
                        font-size: 14px;
                    }
                }
            }
            img {
                background-size: cover;
                background-position: center;
                width: 100%; // border-radius: 100%;
            }
            .placeholder-picture {
                /*                font-size: 20px;
                color: grey;
                padding: 40px 100px 40px 30px;*/
                font-size: 18px;
                color: grey;
                padding: 20px 75px 20px 20px;
            }
        }
    }
    .sortable-attributes {
        ul {
            display: inline-block;
            li {
                display: inline-block;
                border: 1px solid #333;
                padding: 5px 7px;
                margin-right: 5px;
                border-radius: 2px;
                span,
                i {
                    color: #999;
                    &.fa-remove {
                        margin-left: 5px;
                        padding: 5px;
                        border: 1px solid #333;
                        border-radius: 2px;
                        &:hover {
                            border: 1px solid $red;
                            color: $red;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .left-dash {
        position: relative;
        margin-bottom: 20px;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            border-top: 5px solid $red;
        }
    }
    .center-dash {
        position: relative;
        text-align: center;
        color: $red;
        padding-bottom: 20px;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 30px;
            border-top: 5px solid $red;
        }
    } // Class for when element is above threshold
    .pin-top {
        position: relative;
    } // Class for when element is below threshold
    .pin-bottom {
        position: relative;
    } // Class for when element is pinned
    .pinned {
        position: fixed !important;
        width: 100%;
    }
    .brand-logo {
        img {
            height: 57px;
            padding-top: 3px;
        }
    }
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

#nf-preloader {
    .nf-preloader-bg {
        z-index: 100;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        .progress {
            position: relative;
            height: 4px;
            display: block;
            width: 100%;
            background-color: #acece6;
            border-radius: 2px;
            overflow: hidden;
            .indeterminate {
                background-color: $red;
                &:before {
                    content: '';
                    position: absolute;
                    background-color: inherit;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    will-change: left, right;
                    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
                    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
                }
                &:after {
                    content: '';
                    position: absolute;
                    background-color: inherit;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    will-change: left, right;
                    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                    -webkit-animation-delay: 1.15s;
                    animation-delay: 1.15s;
                }
            }
        }
    }
}

md-checkbox {
    position: relative!important;
    left: 0!important;
    opacity: 1!important;
}

.text-capitalize {
    text-transform: capitalize;
}

.btn-primary {
    &.orange-btn-sm {
        font-family: $museo_sans500;
        font-size: 17px;
        color: #fff;
        background-color: #ef6b59;
        border: none;
        border-color: #fb7260;
        width: 100%;
        max-width: none;
        padding: 10px 12px;
        margin-bottom: 20px;
        height: initial;
        text-transform: capitalize;
        box-shadow: initial;
        &:hover {
            background-color: #f9968f;
            border-color: #fb7260;
            box-shadow: initial;
        }
    }
    &.white-btn-2 {
        font-family: "museo_sans500";
        font-size: 17px;
        color: #666666;
        background-color: #fff;
        border-color: #666666;
        width: 100%;
        max-width: 170px;
        padding: 5px 12px;
        border: 1px solid #666;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border-color: rgba(239, 107, 89, 0.62);
        &.active-white {
            background-color: #fff;
            color: #ef6b59;
        }
        &:hover {
            background: #ef6b59;
            color: #fff;
        }
    }
}

%search-box {
    .search {
        .search-wrapper {
            position: relative;
            margin: 0;
            box-shadow: initial;
            .input-search {
                margin: 0px;
                padding: 0 38px 0 15px;
                box-sizing: border-box;
                border: 1px solid #9e9e9e;
                border-radius: 2px;
                height: 36px;
                &:hover,
                &:focus {
                    box-shadow: initial;
                }
            }
            .icon-search {
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 24px;
                line-height: 24px;
                font-size: $large;
                cursor: pointer;
                &:hover,
                &:focus {
                    outline: 0;
                }
            }
        }
    }
}

%card {
    .card-title {
        padding: 5px 10px;
        overflow: hidden;
        font-size: 15px;
        color: #fff;
        padding: 5px 20px;
        background-color: #929292 !important;
        font-weight: 400;
        p {
            font-weight: bold;
            margin-bottom: 0px;
            font-size: 16px;
        }
        md-checkbox {
            margin: 0px;
            padding: 0px;
            height: auto;
        }
    }
    .card-content {
        overflow: hidden;
        .cover-preview {
            img {
                width: 100%;
            }
        }
        .row {
            md-input-container.col {
                padding-left: 0px;
                margin: 0px;
                label.active {
                    color: #26a69a!important;
                }
                input,
                md-select {
                    height: 50px;
                    margin-bottom: 0px;
                    border-bottom: 1px solid #9e9e9e;
                    md-select-value {
                        .md-text {
                            color: #333;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .upload-avatar {
                margin-bottom: 20px;
                text-align: center;
                .image-preview {
                    .user-profile-image {
                        img {
                            max-width: 100%;
                            height: 150px;
                            width: 150px;
                            border-radius: 100%;
                        }
                    }
                }
                .change-avatar-btn {
                    font-size: 12px;
                    cursor: pointer;
                    .material-icons {
                        font-size: 16px;
                        vertical-align: middle;
                    }
                }
                .dz-preview {
                    display: none;
                }
            }
        }
    }
    .card-action {
        a {
            cursor: pointer;
        }
    }
}

#update-profile {
    padding-top: 20px;
    .card {
        @extend %card;
    }
    .update_role {
        margin-top: 100px;
    }
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

body {
    header {
        #nav-mobile {
            a {
                cursor: pointer;
            }
            .logo {
                padding: 10px 0px;
                text-align: center;
                border-bottom: 1px solid #ddd;
                a {
                    height: 68px;
                    line-height: 68px;
                    &:hover {
                        background: transparent;
                    }
                    img {
                        max-width: 100%;
                        display: block;
                        max-height: 100%;
                        height: auto;
                        margin: auto;
                    }
                }
            }
            .collapsible-header {
                padding: 0 30px;
            }
            .collapsible-body {
                li {
                    cursor: pointer;
                    a {
                        padding: 0 37.5px 0 45px;
                    }
                    &:hover {
                        background: transparent;
                    }
                    &.active {
                        a:hover {
                            color: #333;
                        }
                    }
                }
            }
        }
        nav {
            box-shadow: none;
            .nav-wrapper {
                background: #fff;
            }
        }
    }
    button .icon-pending {
        display: none;
        -webkit-animation: spin 1s linear infinite;
        -moz-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
    form .errors span {
        font-size: 13px;
        color: #c0392b;
    }
    button.disabled .material-icons {
        display: none;
    }
    button.disabled .material-icons.icon-pending {
        display: inline-block;
    }
    .btn {
        &:not(.ui-select-toggle),
        &:not(.form-control) {
            background-color: #c44e38;
            color: white;
            .grey {
                background-color: #cccccc;
                color: white;
            }
        }
    }
    button {
        .icon-pending {
            display: none;
            -webkit-animation: spin 1s linear infinite;
            -moz-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
        @-moz-keyframes spin {
            100% {
                -moz-transform: rotate(-360deg);
            }
        }
        @-webkit-keyframes spin {
            100% {
                -webkit-transform: rotate(-360deg);
            }
        }
        @keyframes spin {
            100% {
                -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
            }
        }
    }
    button.disabled {
        .material-icons {
            display: none;
        }
        .material-icons.icon-pending {
            display: inline-block;
        }
    }
    md-select-menu {
        md-content {
            md-select-label {
                text-transform: capitalize;
                color: #333;
            }
            md-option {
                .md-text {
                    text-transform: capitalize;
                }
            }
        }
    }
    md-select {
        md-select-value {
            span {
                div {
                    display: inline;
                }
            }
        }
    }
    md-checkbox {
        height: 50px;
        .md-container:after {
            display: none;
        }
        .md-label {
            line-height: 50px;
            color: #333;
        }
    }
    user-profile-image {
        width: 100%;
        display: block;
        .user-profile-image {
            img {
                background-size: cover;
                background-position: center;
                width: 100%;
            }
            .placeholder-picture {
                font-size: 20px;
                color: grey;
                padding: 40px 100px 40px 30px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
        }
    }
    simple-pagination {
        .pagination {
            li {
                &.active {
                    background: transparent;
                }
                &:nth-child(2) {
                    margin-top: 4px;
                }
            }
        }
    }
    .show-entities {
        font-size: 1.2rem;
        float: left;
        margin-top: 24px;
        font-family: $museo_sans100;
    }
    .pagination>li:first-child>a,
    .pagination>li:first-child>span {
        border-radius: 0;
    }
    .pagination>li:last-child>a,
    .pagination>li:last-child>span {
        border-radius: 0;
    }
    .pagination {
        font-family: $museo_sans100;
        border-radius: 0;
        li {
            &:hover,
            &:focus {
                outline: 0;
            }
            a {
                border: 0;
                color: #444;
                border-radius: 0;
                &:hover,
                &:focus {
                    outline: 0;
                }
                &:hover {
                    background-color: $red;
                    border-color: $red;
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: $red;
                    border-color: $red;
                    &:hover {
                        background-color: $red;
                        border-color: $red;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// Select2
.select2 {
    width: 100%!important;
}

// Datepicker
.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}

.full-width {
    width: 100%;
}

#nf-preloader {
    .nf-preloader-bg {
        z-index: 20;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        .progress {
            position: relative;
            height: 4px;
            display: block;
            width: 100%;
            background-color: #acece6;
            border-radius: 2px;
            overflow: hidden;
            margin: 0;
            .indeterminate {
                background-color: $red;
                &:before {
                    content: '';
                    position: absolute;
                    background-color: inherit;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    will-change: left, right;
                    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
                    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
                }
                &:after {
                    content: '';
                    position: absolute;
                    background-color: inherit;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    will-change: left, right;
                    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                    -webkit-animation-delay: 1.15s;
                    animation-delay: 1.15s;
                }
            }
        }
    }
}

.modal-system {
    .modal-footer {
        button {
            padding: 0 6px;
            min-width: 88px;
            min-height: 36px;
        }
    }
}

.list-page {
    margin-top: 15px;
    .new-record-wrapper {
        margin-top: 15px;
    }
    .item-action {
        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                margin: 0 5px;
                .icon {
                    font-size: 36px;
                }
            }
            .pending {
                .icon {
                    color: #fa9325;
                }
            }
        }
    }
    preloader {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .table-items {
        .edit,
        .delete {
            .icon {
                font-size: $large;
            }
        }
        .edit {
            color: #009688;
        }
        .delete {
            color: $color-header;
        }
    }
    .search-box {
        .search {
            .search-wrapper {
                position: relative;
                margin: 0;
                box-shadow: initial;
                .input-search {
                    margin: 0px;
                    padding: 0 38px 0 15px;
                    box-sizing: border-box;
                    border: 1px solid #9e9e9e;
                    border-radius: 2px;
                    height: 36px;
                }
                .icon-search {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: 24px;
                    line-height: 24px;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

.create-page,
.edit-page {
    position: relative;
    font-family: $museo_sans300;
    padding-bottom: 40px;
    .row {
        margin-bottom: 0;
    }
    select {
        display: inline-block;
    }
    .float-input {
        position: relative;
        height: 60px;
        label {
            position: absolute;
            z-index: 1;
            color: $grey-color;
            font-size: 14px;
            transition: all 0.2s;
            top: 10px;
            left: 10px;
            &.active {
                font-size: 10px;
                top: -12px;
                left: 0px;
            }
            &.relative {
                position: relative;
                top: 0;
                left: 0;
            }
        }
        i {
            position: absolute;
            right: 5px;
            font-size: 24px;
            top: 6px;
            &.valid {
                color: $red;
            }
            &.invalid {
                color: #bdc3c7;
            }
        }
    }
    .create-form,
    .edit-form {
        max-width: 600px;
        margin: 0 auto;
        &.edit-advertisement-form {
            max-width: initial;
        }
        h2 {
            font-family: $museo_sans300;
            font-size: 48px;
            color: $red;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    p {
        color: $grey-color;
    }
    .form-group {
        margin-bottom: 15px;
        .form-control {
            border: 1px solid transparent;
            border-radius: 0px;
            box-shadow: none;
            background: transparent;
            border-bottom: 1px solid $grey-color;
            color: $grey-color;
            margin-bottom: 0;
            z-index: 2;
            position: relative;
            &.select-box {
                background: initial;
                &:hover,
                &:focus {
                    outline: 0;
                }
            }
        }
        .btn-default {
            background: transparent;
            border: 2px solid $grey-color;
            box-shadow: none;
            color: $grey-color;
            border-radius: 6px;
            height: initial;
            padding: 12px 30px;
            margin-top: 40px;
            font-family: $museo_sans300;
            font-size: 22px;
        }
        .btn-full-width {
            width: 100%;
            margin-top: 20px;
            font-size: 20px;
            padding: 10px;
            text-transform: uppercase;
            &:focus {
                outline: none;
            }
        }
    }
    .sub-btn {
        background: transparent;
        border: 2px solid $grey-color;
        box-shadow: none;
        color: $grey-color;
        border-radius: 6px;
        font-size: 22px;
        padding: 12px 30px;
        width: initial;
        text-transform: uppercase;
    }
}

.create-job-title,
.edit-job-title {
    .attributes {
        margin-bottom: 15px;
    }
}

.ui-select-multiple {
    height: initial!important;
    .btn {
        background: #e0e0e0!important;
    }
    .ui-select-match-item {
        color: #777!important;
        &:hover {
            background-color: #e0e0e0!important;
        }
    }
}