header,
main,
footer {
    padding-left: 300px;
    &.section-collapse {
        padding-left: 100px;
    }
    a {
        cursor: pointer!important;
    }
}

.admin-header {
    nav {
        background-color: $red;
    }
    .side-nav {
        height: calc(100% - 50px);
        width: 100px;
        li {
            .text {
                display: none;
            }
        }
        &.aria-expand {
            width: 300px;
            li {
                .text {
                    display: block;
                }
            }
        }
    }
    .sidebar-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100px;
        background: #fff;
        z-index: 1;
        &.footer-expand {
            width: 300px;
        }
        .sidebar-footer-toggle {
            float: right;
            width: 50px;
            &:hover {
                background: #e6e6e6;
            }
            .icon {
                height: 50px;
                line-height: 50px;
                padding: 0 16px;
                color: #b6b6b6;
                font-size: 20px;
            }
        }
    }
}
