.admin-header {
    .nav-wrapper {
        position: relative;
        height: 100%;
        overflow: auto;
        .nav {
            position: fixed;
            overflow: auto;
            height: calc(100% - 50px);
            left: 0;
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            background: #fff;
            border-bottom: 1px solid #ccc;
            li {
                a {
                    color: rgba(0, 0, 0, 0.87);
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 32px;
                    .icon {
                        display: inline-block;
                        vertical-align: middle;
                        float: left;
                        height: 48px;
                        line-height: 48px;
                        margin: 0 10px 0 0;
                        width: 24px;
                        color: rgba(0, 0, 0, 0.87);
                        text-align: center;
                        font-size: 20px;
                    }
                }
                &.active {
                    a {
                        background-color: #eee;
                    }
                }
            }
        }
        .brand-wrapper {
            height: 60px;
        }
    }
}