%display-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin align-item($align) {
    -webkit-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}

#nf-notify {
    height: 0px;
    color: #FFF;
    overflow: hidden;
    @extend %display-flex;
    @include align-item(center);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    .notify-container {
        text-align: center;
        width: 100%;
        .fa {
            vertical-align: middle;
            font-size: 18px;
            margin-top: -2px;
            margin-right: 3px;
        }
        .right-align {
            float: right;
            cursor: pointer;
        }
        .notify-message {
            font-size: 14px;
        }
        .fa-close {
            float: right;
            cursor: pointer;
        }
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}

#nf-notify.notify-success {
    background: #00e676;
}

#nf-notify.notify-warning {
    background: #fa9325;
}
