.offer-filter {
    margin-top: 15px;
    select {
        display: block;
    }
    .disabled {
        pointer-events: none;
        background-color: #DFDFDF !important;
        box-shadow: none;
        color: #9F9F9F !important;
        cursor: default;
    }
    input[type=search]:focus:not([readonly]) {
        border-bottom: 0;
        box-shadow: initial;
    }
    .select2-container {
        .select2-search--inline {
            .select2-search__field {
                margin: 0px;
                height: initial;
            }
        }
    }
    .select2-container .select2-selection--multiple {
        min-height: 46px;
    }
    .filter {
        margin-top: 15px;
    }
}

.offers {
    .send-email {
        color: #009688;
    }
    .image-col {
        max-width: 80px;
        img {
            max-width: 100%;
        }
    }
    .phone-col {
        min-width: 120px;
    }
}