#admin-tags {
    preloader {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .tag {
        margin-top: 15px;
        select {
            display: block;
        }
        .search-box {
            @extend %search-box;
        }
        .select-all {
            margin-top: 8px;
        }
        .clickable {
            cursor: pointer;
        }
        .filter-status {
            select {
                height: 32px;
            }
        }
        .action-box {
            margin-bottom: 10px;
            .tag-action {
                height: 51px;
                line-height: 51px;
                ul {
                    margin: 0;
                    li {
                        display: inline-block;
                        a {
                            i {
                                font-size: 3em;
                                vertical-align: middle;
                            }
                        }
                    }
                    .pending {
                        i {
                            color: #fa9325
                        }
                    }
                }
            }
        }
        .table-tags {
            .id-col {
                min-width: 75px;
            }
            tr {
                th {
                    outline: 0;
                    .orderBy-icon {
                        width: 24px;
                        height: 24px;
                        float: right;
                    }
                    i {
                        vertical-align: middle;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
            }
            tbody {
                .edit {
                    color: #009688;
                }
                .delete {
                    color: $color-header;
                }
                .action {
                    width: 8.33%;
                }
            }
        }
    }
}

.create-tag-modal,
.edit-tag-modal {
    min-width: 600px;
    .modal-header,
    .modal-body {
        padding: 15px;
    }
    .modal-header {
        background: rgb(16, 108, 200);
        color: #fff;
        font-size: 18px;
        text-transform: capitalize;
        .close {
            cursor: pointer;
            color: #ccc;
        }
        .title {
            color: #fff;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0;
        }
    }
    .modal-body {
        input {
            margin: 0;
        }
        md-input-container {
            margin-bottom: 0;
        }
        .content {
            margin-bottom: 10px;
            textarea {
                border: 0;
                box-shadow: initial;
                outline: 0;
                min-height: 200px;
                border-bottom: 1px solid #9e9e9e;
                &:focus {
                    border: 0;
                    box-shadow: initial;
                    outline: 0;
                }
            }
        }
        .action {
            .send {
                background: #26a69a;
                &:hover {
                    background: #2bbbad;
                }
            }
            .cancel {
                background: #ffc107;
                &:hover {
                    background: #2bbbad;
                }
            }
        }
    }
}
