.ui-btn {
    font-family: $museo_sans300;
    font-size: 19px;
    padding: 15px 30px;
    border: 2px solid transparent;
    border-radius: 4px;
    &:hover,
    &:focus {
        outline: 0;
    }
    &.btn-orange {
        color: #fff;
        border-color: #fb7260;
        background-color: $red;
        border: 2px solid $red;
        &:focus {
            background-color: $red;
            border-color: #fb7260;
        }
        &:hover {
            background-color: #f9968f;
            border-color: #fb7260;
        }
    }
    &.btn-active-white {
        border-color: $grey-color;
        color: $grey-color;
        &:hover {
            background: $grey-color;
            color: #fff;
        }
    }
    &.btn-white {
        color: $red;
        background-color: #fff;
        border-color: $red;
        border: 2px solid $red;
    }
    &.btn-slim-border {
        border-width: 1px;
    }
    &.btn-transparent {
        background-color: transparent;
        border-color: $red;
        color: $red;
    }
    &.btn-full-width {
        width: 100%;
    }
    &.btn-large {
        font-size: 20px;
    }
    &.btn-small {
        font-size: 14px;
        padding: 5px 7px;
    }
    &.btn-bold {
        font-family: $museo_sans500;
    }
    &.btn-light {
        font-family: $museo_sans100;
    }
    &.btn-text-large {
        font-size: 17px;
        font-family: $museo_sans500;
    }
    &.disabled,
    &[disabled="disabled"] {
        opacity: 0.5;
    }
}

.ui-text {
    font-size: 14px;
    &.text-red {
        color: $red;
    }
    &.text-green {
        color: $green;
    }
    &.text-grey {
        color: $grey-color;
    }
    &.text-larger {
        font-size: 18px;
    }
    &.text-large {
        font-size: 16px;
    }
    &.text-small {
        font-size: 12px;
    }
    &.text-smaller {
        font-size: 10px;
    }
}

.btn-icon {
    margin-top: 6px;
    text-align: center;
    img {
        width: 18px;
        margin-right: 5px;
        vertical-align: text-top;
    }
    .text {
        font-size: 18px;
        font-family: $museo_sans300;
        display: inline-block;
        vertical-align: middle;
        &.green,
        &.red,
        &.yellow {
            vertical-align: top;
        }
        &.green {
            color: #48B02C;
        }
        &.yellow {
            color: #ffbb33;
        }
        &.red {
            color: $red;
        }
    }
}

%ui-input {
    border: 1px solid #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-right: 20px;
    &:checked {
        background: $red;
        border-color: $red;
    }
    &:focus {
        outline: none;
    }
}

.ui-input {
    &[type="radio"],
    &[type="checkbox"] {
        @extend %ui-input;
    }
}

.ui-label {
    font-size: $normal;
    color: $grey;
}

.ui-select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 2px;
}

.ui-p {
    margin: 16px 0 16px 0;
}

.ui-table {
    tr {
        th,
        td {
            padding: 15px 5px!important;
            display: table-cell!important;
            text-align: left!important;
            vertical-align: middle!important;
            border-radius: 2px!important;
        }
    }
}

@media screen and (max-width: 768px) {
    .ui-btn {
        font-size: 19px;
        &.btn-full-with-xs {
            width: 100%;
        }
    }
}