<header ng-class="{'section-collapse': !vm.expandSidebar}"></header>
<main ng-class="{'section-collapse': !vm.expandSidebar}">
    <div class="admin-header">
        <nav>
            <div class="nav-wrapper">
                <ul class="nav nav-pills nav-stacked side-nav" ng-class="{'aria-expand': vm.expandSidebar}">
                    <li role="presentation" ng-class="{'bold': !vm.hasSubmenu(item), 'no-padding': vm.hasSubmenu(item)}" ng-repeat="item in vm.adminSidebarMenus" ui-sref-active="active">
                        <a ng-if="item.state" ui-sref="{{item.state}}" ui-sref-opts="{reload: item.state}" title="{{item.menu}}">
                            <i class="icon {{item.icon}}"></i>
                            <span class="text">{{item.menu}}</span>
                        </a>
                        <a ng-if="!item.state" ng-href="{{ item.custom_url }}" force-reload>
                            <i class="icon {{item.icon}}"></i>
                            <span class="text">{{item.menu}}</span>
                        </a>
                    </li>
                </ul>
                <div class="sidebar-footer" ng-class="{'footer-expand': vm.expandSidebar}">
                    <a ng-if="!vm.expandSidebar" ng-click="vm.expandSidebar = !vm.expandSidebar" class="sidebar-footer-toggle" title="Expand sidebar"><i class="icon fa fa-backward"></i></a>
                    <a ng-if="vm.expandSidebar" ng-click="vm.expandSidebar = !vm.expandSidebar" class="sidebar-footer-toggle" title="Collapse sidebar"><i class="icon fa fa-forward"></i></a>
                </div>
                <div class="brand-wrapper text-center">
                    <a href="{{ asset(BASE_URL + '/admin') }}" class="brand-logo">
                        <img ng-src="{{ asset('/assets/images/button_home.png')}}" alt="Globaltestpoint logo" />
                    </a>
                </div>
                <!-- <ul class="right">
                    <li>
                        <md-menu md-position-mode="target-right target" md-offset="0 60" width="4">
                            <md-button aria-label="Open phone interactions menu" ng-click="openMenu($mdOpenMenu, $event)">
                                Account
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="coming()">
                                        Profile
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="logout()">
                                        Logout
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </li>
                </ul> -->
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div ui-view="content"></div>
    </div>
</main>