<header class="white">
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a ui-sref="app.homepage" class="brand-logo"><img ng-src="{{ asset('/assets/images/logo.png')}}" alt="Ushift logo" /></a>
            </div>
        </nav>
    </div>
    <breadcrumb ng-if="isLoggedIn" items="breadcrumbItems"></breadcrumb>
</header>
