<div class="create-page create-experience">
    <div class="col-xs-12">
        <div class="create-form create-experience-form">
            <h2 class="text-center">Create new Experience</h2>
            <form name="vm.create_experience_form" ng-submit="vm.create_experience_form.$valid && vm.createExperience(vm.experience)" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Label *</label>
                            <input type="text" ng-focus="vm.create_experience_form.label.$focused = true" class="form-control" ng-model="vm.experience.label" name="label" required ng-maxlength="255">
                            <div class="icons" ng-show="vm.create_experience_form.label.$focused">
                                <i ng-if="!vm.create_experience_form.label.$error.required && !vm.create_experience_form.label.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_experience_form.label.$error.required || vm.create_experience_form.label.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_experience_form.$submitted && vm.create_experience_form.label.$error.required">Required</span>
                                <span ng-show="vm.create_experience_form.$submitted && vm.create_experience_form.label.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Order</label>
                            <input type="text" ng-focus="vm.create_experience_form.order.$focused = true" class="form-control" ng-model="vm.experience.order" name="order" ng-pattern="/^\d+$/">
                            <div class="icons" ng-show="vm.create_experience_form.order.$focused">
                                <i ng-if="!vm.create_experience_form.order.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_experience_form.order.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_experience_form.$submitted && vm.create_experience_form.order.$error.pattern">Please enter a number</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="active">Active</label>
                            <input type="checkbox" ng-focus="vm.create_experience_form.status.$focused = true" ng-model="vm.experience.status" name="status" ng-true-value="1" ng-false-value="0">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-disabled="inProgress" type="submit" class="btn ui-btn btn-full-width orange-btn-sm" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>