<div class="update-job">
    <div class="container-fluid">
        <div class="div-right">
            <section id="main-content">
                <section id="post-my-job" class="animated fadeIn">
                    <div class="form-container">
                        <form ng-submit="isValidFormOrScrollToError(vm.update_job_form) && vm.update()" name="vm.update_job_form" novalidate>
                            <h3>Job Info</h3>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Employer</label>
                                        <ui-select ng-model="vm.store.getState().UpdateJob.employer" post-job-ui-select on-select="vm.onSelectEmployer($item, $model)">
                                            <ui-select-match placeholder="Select company">
                                                <span>{{vm.store.getState().UpdateJob.employer.getName()}} - {{vm.store.getState().UpdateJob.employer.getEmail()}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="employer in vm.employers | postJobEmployerSelectionFilter:$select.search">
                                                <div class="item ">
                                                    <p>{{employer.getName()}} - {{employer.getEmail()}}</p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="errors">
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.employer.$error.required">Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Job Title</label>
                                        <ui-select ng-model="vm.store.getState().UpdateJob.job_title" post-job-ui-select on-select="vm.onSelectJobTitle($item, $model)">
                                            <ui-select-match placeholder="Select job title">
                                                <span ng-bind="vm.store.getState().UpdateJob.job_title.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="job_title in vm.store.getState().JobTitle.items">
                                                <div class="item ">
                                                    <p ng-bind="job_title.getName()"></p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" class="form-control" ng-model="vm.store.getState().UpdateJob.title" ng-model-options="{debounce: 500}" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'title', data: vm.store.getState().UpdateJob.title})" required>
                                        <div class="errors">
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.title.$error.required">Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Short Description</label>
                                        <textarea name="short_desc" ng-model="vm.store.getState().UpdateJob.short_desc" ng-model-options="{debounce: 500}" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'short_desc', data: vm.store.getState().UpdateJob.short_desc})" class="form-control" placeholder="..." rows="4" required></textarea>
                                        <div class="errors">
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.short_desc.$error.required">Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea name="description" ng-model="vm.store.getState().UpdateJob.description" ng-model-options="{debounce: 500}" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'description', data: vm.store.getState().UpdateJob.description})" class="form-control" placeholder="..." rows="4" required></textarea>
                                        <div class="errors">
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.description.$error.required">Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Desired Candidate Profile</label>
                                        <textarea name="desired_candidate_profile" ng-model="vm.store.getState().UpdateJob.desired_candidate_profile" ng-model-options="{debounce: 500}" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'desired_candidate_profile', data: vm.store.getState().UpdateJob.desired_candidate_profile})" class="form-control" placeholder="..." rows="4" required></textarea>
                                        <div class="errors">
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.desired_candidate_profile.$error.required">Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row industry-wrapper">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Industries</label>
                                        <ui-select multiple ng-model="vm.store.getState().UpdateJob.industries" post-job-ui-select on-select="vm.onSelectIndustry(vm.store.getState().UpdateJob.industries, $model)" on-remove="vm.onRemoveIndustry(vm.store.getState().UpdateJob.industries, $model)">
                                            <ui-select-match placeholder="Select your industry">
                                                <span>{{ $item.name }}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="industry in vm.store.getState().Industry.items">
                                                <div class="item">
                                                    <p ng-bind="industry.getName()"></p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Tags</label>
                                        <ui-select multiple ng-model="vm.store.getState().UpdateJob.tags" post-job-ui-select on-select="vm.onSelectTag(vm.store.getState().UpdateJob.tags, $model)" on-remove="vm.onRemoveTag(vm.store.getState().UpdateJob.tags, $model)">
                                            <ui-select-match placeholder="Select your tag">
                                                <span>{{ $item.name }}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="tag in vm.store.getState().Tag.items">
                                                <div class="item">
                                                    <p ng-bind="tag.getName()"></p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Experience</label>
                                        <ui-select ng-model="vm.store.getState().UpdateJob.experience" post-job-ui-select on-select="vm.onSelectExperience($item, $model)">
                                            <ui-select-match placeholder="Select your experience">
                                                <span ng-bind="vm.store.getState().UpdateJob.experience.label"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="experience in vm.store.getState().Experience.items">
                                                <div class="item">
                                                    <p ng-bind="experience.getLabel()"></p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Qualification</label>
                                        <ui-select ng-model="vm.store.getState().UpdateJob.qualification" post-job-ui-select on-select="vm.onSelectQualification($item, $model)">
                                            <ui-select-match placeholder="Select your qualification">
                                                <span ng-bind="vm.store.getState().UpdateJob.qualification.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="qualification in vm.store.getState().Qualification.items">
                                                <div class="item">
                                                    <p ng-bind="qualification.getName()"></p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Nationality</label>
                                        <ui-select ng-model="vm.store.getState().UpdateJob.nationality" post-job-ui-select on-select="vm.onSelectNationality($item, $model)">
                                            <ui-select-match placeholder="Select your nationality">
                                                <span ng-bind="vm.store.getState().UpdateJob.nationality.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="nationality in vm.store.getState().Nationality.items">
                                                <div class="item">
                                                    <p ng-bind="nationality.getName()"></p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <h3>Job Type</h3>
                            <div class="checkbox-wrapper row">
                                <div class="col-sm-2">
                                    <div class="form-group check">
                                        <label>
                                            <input name="job_type" type="radio" name="language-required" ng-model="vm.store.getState().UpdateJob.type" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'type', data: vm.store.getState().UpdateJob.type})" ng-value="1">
                                            <span>Normal Job</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group check">
                                        <label>
                                            <input name="job_type" type="radio" name="language-required" ng-model="vm.store.getState().UpdateJob.type" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'type', data: vm.store.getState().UpdateJob.type})" ng-value="2">
                                            <span>International Job</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="vm.store.getState().UpdateJob.type == 1">
                                <div class="row country-wrapper">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <ui-select ng-model="vm.store.getState().UpdateJob.country" post-job-ui-select on-select="vm.onSelectCountry($item, $model)">
                                                <ui-select-match placeholder="Select your country">
                                                    <span ng-bind="vm.store.getState().UpdateJob.country.name"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="country in vm.store.getState().Country.items">
                                                    <div class="item">
                                                        <p ng-bind="country.getName()"></p>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row state-wrapper">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>State</label>
                                            <ui-select ng-model="vm.store.getState().UpdateJob.state" post-job-ui-select on-select="vm.onSelectState($item, $model)">
                                                <ui-select-match placeholder="Select your state">
                                                    <span ng-bind="vm.store.getState().UpdateJob.state.name"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="state in vm.store.getState().State.items">
                                                    <div class="item">
                                                        <p ng-bind="state.getName()"></p>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <div class="no-state">
                                                <span ng-show="vm.store.getState().UpdateJob.country !== undefined && vm.store.getState().State.items.length === 0">{{ vm.store.getState().UpdateJob.country.name }} doesn't have any state</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row city-wrapper">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>City</label>
                                            <ui-select ng-model="vm.store.getState().UpdateJob.city" post-job-ui-select on-select="vm.onSelectCity($item, $model)">
                                                <ui-select-match placeholder="Select your city">
                                                    <span ng-bind="vm.store.getState().UpdateJob.city.name"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="city in vm.store.getState().City.items">
                                                    <div class="item">
                                                        <p ng-bind="city.getName()"></p>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <div class="no-city">
                                                <span ng-show="vm.store.getState().UpdateJob.state !== undefined && vm.store.getState().City.items.length === 0">{{ vm.store.getState().UpdateJob.state.name }} doesn't have any city</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="vm.store.getState().UpdateJob.type == 2">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group location">
                                            <label>Location</label>
                                            <input autocomplete-address="vm.store.getState().UpdateJob.location" type="text" class="form-control" ng-model-options="{ debounce: 500 }" name="location" ng-model="vm.store.getState().UpdateJob.location" ng-change="vm.store.dispatch({type: 'UPDATE_JOB_ADDRESS', data: vm.store.getState().UpdateJob.location})" required placeholder="Enter a location">
                                            <div class="errors">
                                                <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.location.$error.required">Required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group location">
                                        <label>Address</label>
                                        <input autocomplete-address="vm.store.getState().UpdateJob.address" type="text" class="form-control" ng-model-options="{ debounce: 500 }" name="address" ng-model="vm.store.getState().UpdateJob.address" ng-change="vm.store.dispatch({type: 'UPDATE_JOB_ADDRESS', data: vm.store.getState().UpdateJob.address})" placeholder="Enter a address" required>
                                        <div class="errors">
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.address.$error.required">Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group location">
                                        <label>Certificate</label>
                                        <input type="text" name="certificate" class="form-control" ng-model="vm.store.getState().UpdateJob.certificate" ng-model-options="{debounce: 500}" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'certificate', data: vm.store.getState().UpdateJob.certificate})">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group location">
                                        <label>Min Salary</label>
                                        <input type="text" name="min_salary" class="form-control" placeholder="Min Salary" ng-model="vm.store.getState().UpdateJob.min_salary" ng-model-options="{debounce: 500}" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'min_salary', data: vm.store.getState().UpdateJob.min_salary})" ng-pattern="/^\d{1,8}$|^\d{1,8}\.\d{1,2}$/" required>
                                        <div class="errors">
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.min_salary.$error.required">Required</span>
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.min_salary.$error.pattern">Please enter a valid number</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group location">
                                        <label>Max Salary</label>
                                        <input type="text" name="max_salary" class="form-control" placeholder="Min Salary" ng-model="vm.store.getState().UpdateJob.max_salary" ng-model-options="{debounce: 500}" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'max_salary', data: vm.store.getState().UpdateJob.max_salary})" ng-pattern="/^\d{1,8}$|^\d{1,8}\.\d{1,2}$/" required>
                                        <div class="errors">
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.max_salary.$error.required">Required</span>
                                            <span ng-show="vm.update_job_form.$submitted && vm.update_job_form.max_salary.$error.pattern">Please enter a valid number</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Job Requirements</h3>
                            <div class="checkbox-wrapper">
                                <!--  <div class="form-group check">
                                    <label>
                                        <input type="checkbox" name="language-required" ng-model="vm.store.getState().UpdateJob.language_required" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'language_required', data: vm.store.getState().UpdateJob.language_required})">
                                        <span>Additional Language</span>
                                    </label>
                                    <div class="row" ng-if="vm.store.getState().UpdateJob.language_required">
                                        <div class="col-xs-12 col-sm-6">
                                            <ui-select post-job-ui-select ng-model="vm.store.getState().UpdateJob.language" on-select="vm.onSelectLanguage($item, $model)">
                                                <ui-select-match>
                                                    <span ng-bind="vm.store.getState().UpdateJob.language.name"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="language in vm.store.getState().UpdateJob.languages">
                                                    <div class="item ">
                                                        <p ng-bind="language.name"></p>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <div class="errors">
                                                <span ng-show="vm.update_job_form.$submitted && !vm.store.getState().UpdateJob.language">Please select a language.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group check">
                                    <label>
                                        <input type="checkbox" ng-model="vm.store.getState().UpdateJob.gender_required" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'gender_required', data: vm.store.getState().UpdateJob.gender_required})">
                                        <span>Gender</span>
                                    </label>
                                    <div class="row" ng-if="vm.store.getState().UpdateJob.gender_required">
                                        <div class="col-xs-12 col-sm-6">
                                            <ui-select post-job-ui-select ng-model="vm.store.getState().UpdateJob.gender" on-select="vm.onSelectGender($item, $model)">
                                                <ui-select-match>
                                                    <span ng-bind="vm.store.getState().UpdateJob.gender.name"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="gender in vm.candidate_genders">
                                                    <div class="item ">
                                                        <p ng-bind="gender.name"></p>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <div class="errors">
                                                <span ng-show="vm.update_job_form.$submitted && !vm.store.getState().UpdateJob.gender">Please select a gender.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group check">
                                    <label>
                                        <input type="checkbox" ng-model="vm.store.getState().UpdateJob.driving_license_required" ng-change="vm.store.dispatch({type: 'UPDATE_POST_JOB', field: 'driving_license_required', data: vm.store.getState().UpdateJob.driving_license_required})">
                                        <span>Driving License</span>
                                    </label>
                                    <div class="row" ng-if="vm.store.getState().UpdateJob.driving_license_required">
                                        <div class="col-xs-12 col-sm-6">
                                            <ui-select post-job-ui-select ng-model="vm.store.getState().UpdateJob.driving_license" on-select="vm.onSelectDrivingLicense($item, $model)">
                                                <ui-select-match>
                                                    <span ng-bind="vm.store.getState().UpdateJob.driving_license.label"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="license in vm.driving_licenses">
                                                    <div class="item ">
                                                        <p ng-bind="license.label"></p>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <div class="errors">
                                                <span ng-show="vm.update_job_form.$submitted && !vm.store.getState().UpdateJob.driving_license">Please select a driving license.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row ">
                                <div class="col-sm-6 control-btns">
                                    <!-- <a href="#" class="btn btn-primary btn-grey">Delete Job Offer</a> -->
                                    <a ng-click="vm.saveAsDraft()" class="btn btn-primary btn-grey">Save as Draft</a>
                                    <button type="submit" class="btn btn-primary btn-orange">Update Job Offer</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>