<div class="email-management-users">
    <div ng-if="!user.can('update.email.management')">
        <p class="center-align">Permission denied</p>
    </div>
    <div class="list-users" ng-if="user.can('update.email.management')">
        <div class="row action-box">
            <div class="col s12 user-action right-align">
                <ul>
                    <li>
                        <button class="btn bg-green" ng-click="vm.subscribe('enable_job_email')">Subscribe Job Email</button>
                        <button class="btn bg-green" ng-click="vm.subscribe('enable_marketing_email')">Subscribe Marketing Email</button>
                    </li>
                    <li>
                        <button class="btn red" ng-click="vm.unsubscribe('enable_job_email')">Unsubscribe Job Email</button>
                        <button class="btn red" ng-click="vm.unsubscribe('enable_marketing_email')">Unsubscribe Marketing Email</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row filter">
            <div class="col m6 s6 filter-status">
                <label for="status">Status</label>
                <select ng-model="vm.store.getState().EmailManagement.selected_status" ng-change="vm.filterStatus(vm.store.getState().EmailManagement.selected_status)" ng-options="options as options.status for options in vm.store.getState().UserStatus.forFilterSelection"></select>
            </div>
        </div>
        <div class="row search-box">
            <div class="col s12 m6 select-all">
                <input type="checkbox" id="select-all" ng-model="vm.selectedAll" ng-click="vm.store.dispatch({type: 'EMAIL_MANAGEMENT_SET_SELECT_ALL', data :vm.selectedAll})">
                <label for="select-all">Select all</label>
                <span class="number-select" ng-show="vm.selectedUser.length > 0"> ( All {{vm.selectedUser.length}} {{vm.selectedUser.length === 1 ? 'item' : 'items'}}  on this page are selected.)</span>
            </div>
            <div class="search col m6 s12">
                <div class="search-wrapper card">
                    <input id="search" class="input-search" ng-model="vm.search" placeholder="Search..." ng-keydown="vm.searchKeyEvent($event, vm.search)"><i class="icon-search material-icons" ng-click="vm.searchPage(vm.search)">search</i>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    Sort By:
                    <sortable-attributes></sortable-attributes>
                </div>
            </div>
        </div>
        <preloader ng-if="!vm.store.getState().EmailManagement.fetched"></preloader>
        <div class="row">
            <div class="col s12">
                <table class="striped table-users" ng-if="vm.store.getState().EmailManagement.fetched">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="clickable id-col">ID <span sortable="id"></span></th>
                            <th class="clickable email-col">Email <span sortable="email"></span></th>
                            <th class="clickable name-col">Name <span sortable="first_name"></span></th>
                            <th class="clickable city-col">City <span sortable="city"></span></th>
                            <th>Status <span sortable="status"></span></th>
                            <th>Date of registration <span sortable="created_at"></span></th>
                            <th>Activated <span sortable="activated"></span></th>
                            <th>Job Email</th>
                            <th>Marketing Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in vm.store.getState().EmailManagement.users">
                            <td>
                                <md-checkbox ng-model="u.selected" aria-label="Select User" ng-change="vm.updateSelectedUser()"></md-checkbox>
                            </td>
                            <td ng-bind="u.getId()"></td>
                            <td>
                                <a ui-sref="app.employees.edit({id: u.id})"><span ng-bind="u.getEmail()"></span></a>
                                <i ng-if="u.getEmailVerified()" class="icon-verify material-icons green-text">check_circle</i>
                                <i ng-if="u.getIsLoggedOnApp()" class="material-icons green-text">stay_current_portrait</i>
                            </td>
                            <td>
                                <span ng-bind="u.getName()"></span>
                            </td>
                            <td ng-bind="u.getCity()"></td>
                            <td ng-bind="u.user_status.status"></td>
                            <td ng-bind="u.getCreatedAt() | timeFormat: 'lll'"></td>
                            <td>
                                <span ng-show="u.getActivated() != '0000-00-00 00:00:00'" ng-bind="u.getActivated() | timeFormat: 'DD/MM/YYYY'"></span>
                            </td>
                            <td>
                                <button style="transition: none" class="btn bg-green" ng-if="!u.getEnableJobEmail()" ng-click="vm.store.dispatch({type: 'TOGGLE_SUBSCRIBE_STATUS', field: 'enable_job_email', user_id: u.getId(), data: true})">Subscribe</button>
                                <button style="transition: none" class="btn red" ng-if="u.getEnableJobEmail()" ng-click="vm.store.dispatch({type: 'TOGGLE_SUBSCRIBE_STATUS', field: 'enable_job_email', user_id: u.getId(), data: false})">Unsubscribe</button>
                            </td>
                            <td>
                                <button style="transition: none" class="btn bg-green" ng-if="!u.getEnableMarketingEmail()" ng-click="vm.store.dispatch({type: 'TOGGLE_SUBSCRIBE_STATUS', field: 'enable_marketing_email', user_id: u.getId(), data: true})">Subscribe</button>
                                <button style="transition: none" class="btn red" ng-if="u.getEnableMarketingEmail()" ng-click="vm.store.dispatch({type: 'TOGGLE_SUBSCRIBE_STATUS', field: 'enable_marketing_email', user_id: u.getId(), data: false})">Unubscribe</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination data="vm.store.getState().EmailManagement.pagination"></pagination>
            </div>
        </div>
    </div>
</div>
