#admin-jobs {
    %job-candidate-header {
        padding-left: 15px;
        background: #EF6B59;
        height: 37px;
        line-height: 37px;
        font-size: 16px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .job-candidate {
        md-checkbox[disabled]:not(.md-checked) .md-icon {
            border-color: rgba(0, 0, 0, 0.1);
        }
        margin-top: 15px;
        .ee-tags {
            .md-chips {
                box-shadow: none;
            }
            .md-chip-content {
                strong {
                    font-size: 12px;
                    font-family: $museo_sans300;
                }
            }
        }
        select {
            &:focus {
                outline: 0;
            }
        }
        .filter-status {
            margin-top: -19px;
            select {
                display: block;
                height: 36px
            }
        }
        .filter-tag {
            margin-top: -19px;
            label {
                width: 100%;
                display: block;
            }
            .select2 {
                width: calc(100% - 120px)!important;
            }
            .select2-selection {
                height: 36px;
            }
            input.select2-search__field {
                height: 30px!important;
            }
        }
        .action-box {
            .find-candidate-action {
                .more-action {
                    float: right;
                    margin-left: 10px;
                    md-menu {
                        button {
                            margin: 0;
                            padding: 0;
                            height: 36px;
                            span {
                                display: inline-block;
                            }
                            .icon {
                                vertical-align: middle;
                                height: 28px;
                            }
                        }
                    }
                }
                .send-candidate-to-employer {
                    float: right;
                    .btn {
                        background: #039be5;
                        box-shadow: initial;
                        &:hover,
                        &:focus {
                            background: #2bbbad;
                            box-shadow: initial;
                        }
                    }
                }
            }
        }
        .filter {
            .select-all {
                margin-top: 8px;
            }
        }
        .job-content {
            margin-bottom: 20px;
            .card-header {
                @extend %job-candidate-header;
            }
            .card-content {
                background: rgba(204, 204, 204, 0.13);
                strong {
                    text-transform: capitalize;
                }
                .row {
                    margin-bottom: 0;
                }
                .shifts {
                    .shift {
                        border: 1px dashed #EF6B59;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        padding: 5px;
                        overflow: auto;
                        p {
                            margin-top: 0px;
                            margin-bottom: 0px;
                        }
                        .shift-content {
                            .shift-title {
                                p {
                                    margin-top: 0;
                                }
                            }
                            .shift-date {
                                color: #333;
                                font-size: 12px;
                                margin: 0px;
                            }
                            strong {
                                font-family: $museo_sans500;
                                color: #333;
                            }
                        }
                        .shift-actions {
                            p {
                                margin-top: 0px;
                                margin-bottom: 10px;
                            }
                            .opened {
                                color: $green;
                            }
                            button {
                                margin-bottom: 10px;
                                &[disabled="disabled"] {
                                    border-color: #ddd;
                                    color: #ddd;
                                }
                            }
                            .featured-shift {
                                padding-top: 15px;
                                border-top: 1px dashed #ddd;
                            }
                        }
                        .shift-duration {
                            .shift-hour {
                                font-size: 24px;
                                .total-hour {
                                    margin: 6px 0px;
                                    color: #EF6B59;
                                    span {
                                        font-size: 12px;
                                    }
                                }
                                .shift-time {
                                    color: #333;
                                    font-size: 14px;
                                    margin: 0px;
                                }
                            }
                            .salary-per-hour {
                                font-size: 24px;
                                color: #C44E38;
                                p {
                                    margin: 5px 0px;
                                    span {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        input[type=search]:focus:not([readonly]) {
            border: 0;
            box-shadow: initial;
        }
        input[type=search]:focus:not([readonly]) {
            border-bottom: 0;
            box-shadow: initial;
        }
        .select2-container {
            .select2-search--inline {
                .select2-search__field {
                    margin: 0px;
                    height: initial;
                }
            }
        }
        .clickable {
            cursor: pointer;
        }
        .search {
            .search-wrapper {
                position: relative;
                margin: 0;
                box-shadow: initial;
                .input-search {
                    margin: 0px;
                    padding: 0 15px;
                    box-sizing: border-box;
                    border: 1px solid #9e9e9e;
                    border-radius: 2px;
                    height: 36px;
                    &:hover,
                    &:focus {
                        box-shadow: initial;
                    }
                }
                .icon-search {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: 24px;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
        .search-box {
            @extend %search-box;
            margin-bottom: 20px;
        }
        .table-users {
            tr {
                th {
                    outline: 0;
                    &.id-col {
                        padding: 0;
                    }
                    .downup {
                        color: rgba(50, 50, 50, 0.5);
                    }
                    i {
                        vertical-align: middle;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
            }
            tbody {
                .icon-warning {
                    color: #fa9325;
                }
                table {
                    tr {
                        td {
                            padding: 2px 5px;
                            md-radio-button,
                            md-checkbox {
                                margin-bottom: 0px;
                            }
                            md-checkbox {
                                height: auto;
                            }
                        }
                    }
                }
                .edit {
                    color: #009688;
                }
                .delete {
                    color: $color-header;
                }
                .action {
                    width: 8.33%;
                }
                .shift-box {
                    background: rgb(224, 224, 224);
                    color: rgb(66, 66, 66);
                    text-align: center;
                    padding: 10px 0;
                    border-radius: 16px;
                    font-weight: bold;
                }
                .ee-comment {
                    a {
                        display: inline-block;
                        width: 30px;
                        height: 38px;
                        .icon {
                            width: 20px;
                            height: 20px;
                            font-size: 20px;
                            vertical-align: middle;
                            color: #fff;
                            background: #039be5;
                        }
                    }
                }
                .applied {
                    .md-checked {
                        .md-off {
                            border-color: #48B02C;
                        }
                        .md-on {
                            background-color: #48B02C;
                        }
                    }
                }
            }
        }
    }
}