.job-invoice-page {
    .table-jobs {
        tr {
            th {
                outline: none;
                &:focus {
                    outline: none;
                }
                i {
                    vertical-align: middle;
                }
                &.id-col {
                    padding: 0;
                }
                &.completed-col {
                    padding: 0;
                    width: 80px;
                }
            }
        }
        .tags-col {
            .md-chips {
                box-shadow: none;
                .md-chip {
                    height: 22px;
                    line-height: 22px;
                    padding: 0px 8px;
                    margin: 4px 4px 0px 0px;
                    span,
                    strong {
                        font-size: 10px;
                    }
                }
            }
        }
        .image-col {
            max-width: 120px;
            img {
                width: 100%;
                max-height: 120px;
            }
        }
        .title-col {
            max-width: 200px;
        }
        .shifts-col {
            width: 300px;
            ul {
                margin: 0;
                li {
                    p {
                        font-size: 12px;
                        margin: 0px;
                    }
                    border: 1px solid #ddd;
                    padding: 5px 10px;
                    border-radius: 2px;
                    margin: 4px 4px 0px 0px;
                    strong {
                        font-family: $museo_sans500;
                    }
                }
            }
        }
    }
}
