#admin-jobs {
    $blue-color: #2196f3;
    $grey-color: #9e9e9e;
    preloader {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .btn {
        box-shadow: initial;
    }
    select {
        &:focus {
            outline: 0;
        }
    }
    .back-button {
        background: #ffc107;
        &:hover {
            background: #2bbbad;
        }
    }
    .job-filter {
        margin-top: 15px;
        select {
            display: block;
            height: 32px;
        }
        .disabled {
            pointer-events: none;
            background-color: #DFDFDF !important;
            box-shadow: none;
            color: #9F9F9F !important;
            cursor: default;
        }
        input[type=search]:focus:not([readonly]) {
            border-bottom: 0;
            box-shadow: initial;
        }
        .select2-container {
            .select2-search--inline {
                .select2-search__field {
                    margin: 0px;
                    height: initial;
                }
            }
        }
        .filter {
            margin-top: 15px;
        }
        .all-box,
        .job-created-box {
            margin-top: 18px;
        }
        .select-all {
            height: 51px;
            line-height: 51px;
        }
        .job-action {
            margin-top: 8px;
            ul {
                margin: 0;
                li {
                    display: inline-block;
                    a {
                        i {
                            font-size: 3em;
                        }
                    }
                }
                .pending {
                    i {
                        color: #fa9325
                    }
                }
                .archive {
                    i {
                        color: #f44336;
                    }
                }
            }
        }
        .bg-green {
            background-color: #039be5;
            &:hover {
                background-color: #2bbbad;
            }
        }
        .bg-yellow {
            background-color: #fa9325;
            &:hover {
                background-color: #2bbbad;
            }
        }
    }
    .jobs {
        .search-box {
            @extend %search-box;
        }
        .select-all {
            margin-top: 8px;
        }
        .clickable {
            cursor: pointer;
        }
        .table-jobs {
            tr {
                th {
                    outline: none;
                    &:focus {
                        outline: none;
                    }
                    i {
                        vertical-align: middle;
                    }
                    &.id-col {
                        padding: 0;
                    }
                    &.completed-col {
                        padding: 0;
                        width: 80px;
                    }
                }
            }
            .tags-col {
                .md-chips {
                    box-shadow: none;
                    .md-chip {
                        height: 22px;
                        line-height: 22px;
                        padding: 0px 8px;
                        margin: 4px 4px 0px 0px;
                        span,
                        strong {
                            font-size: 10px;
                        }
                    }
                }
            }
            .image-col {
                max-width: 120px;
                img {
                    width: 100%;
                    max-height: 120px;
                }
            }
            .title-col {
                max-width: 200px;
            }
            .shifts-col {
                ul {
                    li {
                        p {
                            font-size: 12px;
                            margin: 0px;
                        }
                        border: 1px solid #ddd;
                        padding: 5px 10px;
                        border-radius: 2px;
                        margin: 4px 4px 0px 0px;
                        strong {
                            font-family: $museo_sans500;
                        }
                    }
                }
            }
            .icon-verify {
                font-size: 14px;
            }
            // .phone-col,
            // .completed-col {
            //     min-width: 120px;
            // }
            // .employer-col,
            // .status-col {
            //     min-width: 100px;
            // }
            // .id-col {
            //     min-width: 50px;
            // }
            .action {
                display: inline-block;
                padding: 2px;
                font-size: 10px;
                color: #fff;
                i {
                    font-size: 18px;
                }
                &.edit {
                    background-color: #009688;
                }
                &.delete {
                    background-color: $color-header;
                }
                &.view {
                    background-color: #999;
                }
                &.view-invoice {
                    background-color: #76ff03;
                }
                &.send-via-email {
                    background-color: #ff6d00;
                }
                &.find-candidate {
                    background-color: #e91e63;
                }
            }
        }
    }
    .update-job {
        .card {
            @extend %card;
        }
    }
    .job-invoice {
        padding: 15px;
        .job-info {
            .job-title {
                color: $blue-color;
            }
            .job-description,
            .employer {
                font-size: 14px;
            }
        }
        .company-information {
            border: 1px solid #ccc;
            .company-name {
                width: 75%;
                .company {
                    color: $blue-color;
                    font-size: 24px;
                }
                .invoice {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $grey-color;
                }
            }
            .company-address {
                font-size: 14px;
                width: 25%;
            }
        }
        .job-image {
            border: 1px solid #ccc;
            padding-bottom: 10px;
        }
        .shift-table {
            border: 1px solid $grey-color;
            thead,
            tfoot {
                tr {
                    background: $grey-color;
                    border: 0;
                    color: #fff;
                }
            }
            tbody {
                tr {
                    td {
                        border-radius: 0;
                        border: 1px solid #9e9e9e;
                        outline: 0;
                    }
                }
            }
        }
        .send-invoice {
            margin-top: 15px;
            .btn {
                background: $red;
                &:hover {
                    background: #e85f4c;
                }
            }
        }
    }
}

.offer-send-email-modal,
.offer-send-sms-modal {
    min-width: 600px;
    .modal-header,
    .modal-body {
        padding: 15px;
    }
    .modal-header {
        background: $red;
        color: #fff;
        font-size: 18px;
        text-transform: capitalize;
        .close {
            cursor: pointer;
            color: #ccc;
        }
        .title {
            color: #fff;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0;
        }
    }
    .modal-body {
        input {
            margin: 0;
        }
        md-input-container {
            margin-bottom: 0;
        }
        .content {
            margin-bottom: 10px;
            border-bottom: 1px solid #9e9e9e;
            textarea {
                border: 0;
                box-shadow: initial;
                outline: 0;
                min-height: 200px;
                &:focus {
                    border: 0;
                    box-shadow: initial;
                    outline: 0;
                }
            }
        }
        .action {
            .send {
                background: $red;
                &:hover {
                    background: #e85f4c;
                }
            }
        }
    }
}
