.update-job,
.post-job {
    overflow: auto;
    .job-salary {
        p,
        span {
            font-size: 14px;
            font-family: $museo_sans700;
        }
        small {
            font-family: $museo_sans300;
        }
        .sf-label {
            display: inline-block;
            min-width: 120px;
        }
    }
    .payment-method {
        .form-group {
            margin-bottom: 5px;
            .form-control {
                height: 45px;
                box-shadow: none;
                border: none;
                border-radius: 0px;
                margin-bottom: 0px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            .errors {
                margin-top: -10px;
            }
        }
        .alert-warning {
            background: #fff;
            border-color: #edeef0;
        }
        .alert {
            border-radius: 4px;
            padding-top: 30px;
            margin-bottom: 0px;
        }
    }
    .animated {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        &.ng-enter {
            visibility: hidden;
        }
        &.nf-fade-in-right {
            &.ng-enter-active,
            &.ng-hide-remove-active {
                visibility: visible;
                -webkit-animation-name: fadeInRight;
                animation-name: fadeInRight;
            }
        }
        &.nf-fade-in-up {
            &.ng-enter-active,
            &.ng-hide-remove-active {
                visibility: visible;
                -webkit-animation-name: fadeInUp;
                animation-name: fadeInUp;
            }
        }
        &.nf-fade-out {
            &.ng-leave-active,
            &.ng-hide-add-active {
                -webkit-animation-name: fadeOut;
                animation-name: fadeOut;
            }
        }
        &.nf-fade-out-left {
            &.ng-leave-active,
            &.ng-hide-add-active {
                -webkit-animation-name: fadeOutLeft;
                animation-name: fadeOutLeft;
            }
        }
    }
    .form-group {
        .form-control {
            font-family: $museo_sans700;
        }
        .form-control::-webkit-input-placeholder {
            font-family: $museo_sans700;
            opacity: 1;
            color: #eaeaea;
        }
        .errors {
            position: relative;
            width: 100%;
            background: transparent;
            span {
                position: absolute;
                display: inline-block;
                width: 100%;
                left: 0px;
                overflow: auto;
                font-family: $museo_sans300;
                line-height: 16px;
                background: #F00000;
                font-size: 11px;
                color: #fff;
            }
        }
    }
    .btn-default-focus {
        outline: 0;
        box-shadow: initial;
        background: initial;
    }
    .ui-select-container,
    .ui-select-match,
    .job-template {
        p {
            margin-top: 0px;
        }
        &:focus {
            outline: 0;
            box-shadow: initial;
        }
        .ui-select-match-text,
        .ui-select-placeholder {
            line-height: 35px;
            font-family: $museo_sans700;
        }
    }
    .ui-select-choices {
        // max-height: none;
        max-height: 200px; // top: -200px;
        padding: 0px;
        .ui-select-choices-row {
            .item {
                p {
                    margin-bottom: 0px;
                    line-height: 35px;
                }
            }
            &.active {
                span {
                    background-color: $red;
                    p {
                        color: #fff;
                    }
                }
            }
        }
    }
    .country-wrapper,
    .city-wrapper {
        .ui-select-choices {
            max-height: 200px; // top: -200px;
        }
    }
    .city-wrapper {
        .no-city {
            margin-top: 15px;
            color: #999;
        }
    }
    .btn[disabled] {
        cursor: default;
        &.btn-primary {
            &.btn-orange {
                &:hover {
                    opacity: 0.65;
                }
            }
        }
    }
    .btn-primary.btn-white {
        font-family: $museo_sans700;
        color: #ef6b59 !important;
        background-color: #ffffff;
        border-color: #ffffff;
        font-size: 18px;
    }
    .btn-primary.btn-white:hover,
    .btn-primary.btn-white:active,
    .btn-primary.btn-white:focus {
        color: #333 !important;
        background-color: #fff !important;
        border-color: #fff !important;
        outline: 0;
    }
    .btn-primary.btn-orange {
        font-family: $museo_sans700;
        color: #fff;
        background-color: #f16b60;
        border-color: #f16b60;
        font-size: 15px;
        padding: 12px 33px;
        background-image: none;
    }
    .btn-primary.btn-orange:hover,
    .btn-primary.btn-orange:focus,
    .btn-primary.btn-orange:active {
        color: #fff;
        background-color: #f16b60;
        border-color: #f16b60;
        opacity: .9;
    }
    .btn-primary.btn-grey {
        font-family: $museo_sans700;
        color: #fff;
        background-color: #ced5d9;
        border-color: #ced5d9;
        font-size: 15px;
        padding: 12px 33px;
        background-image: none;
    }
    .btn-primary.btn-grey:hover,
    .btn-primary.btn-grey:focus,
    .btn-primary.btn-grey:active {
        color: #fff;
        background-color: #ced5d9;
        border-color: #ced5d9;
        opacity: .9;
    }
    .navbar {
        position: relative;
        min-height: 90px;
        margin-bottom: 0px;
        border: 1px solid transparent;
    }
    .navbar-default {
        background: #ee6b59;
        background: -webkit-linear-gradient(left, #ee6b59 5%, #f08150 95%);
        background: -o-linear-gradient(right, #ee6b59 5%, #f08150 95%);
        background: -moz-linear-gradient(right, #ee6b59 5%, #f08150 95%);
        background: linear-gradient(to right, #ee6b59 5%, #f08150 95%);
        border: none;
        border-radius: 0px;
    }
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .navbar-brand img {
        height: 50px;
    }
    .navbar-default .navbar-nav>li>a img {
        height: 15px;
        position: relative;
        top: -2px;
        margin-right: 4px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-size: 18px;
        padding: 15px 35px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .navbar-default .navbar-nav>li>a:hover {
        background-color: #f17a6a;
        color: #fff;
    }
    .shift-details {
        list-style-type: none;
        transition: all 0.5s;
        .form-control[readonly] {
            background: #fff;
        }
        select {
            &.form-control {
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: linear-gradient(45deg, transparent 50%, #4f4f4f 50%), linear-gradient(135deg, #4f4f4f 50%, transparent 50%)!important;
                background-position: calc(100% - 10px) calc(1.5em + 2px), calc(100% - 5px) calc(1.5em + 2px), calc(100% - 2.5em) 0.5em!important;
                background-size: 5px 5px, 5px 5px, 1px 1.5em!important;
                background-repeat: no-repeat!important;
            }
        }
        .disabled {
            .form-control {
                background: #efefef;
                border-color: #ddd;
                box-shadow: none;
                cursor: default;
                opacity: 0.7;
            }
        }
        li {
            margin-bottom: 40px;
            .form-group {
                width: calc(20% - 5px);
                display: inline-block;
                padding: 0px;
                &.location {
                    width: calc(60% - 5px);
                }
                &.onsite-contact-phone-number {
                    width: calc(17% - 5px);
                }
                &.remove-shift {
                    width: 3%;
                    text-align: center;
                    img {
                        max-width: 100%;
                        &.trash-white {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #post-my-job {
        padding: 0px 0px 60px 0px;
    }
    #post-my-job h2 {
        font-size: 36px;
        position: relative;
    }
    #post-my-job h2 .btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    .checkbox-wrapper-2 {
        padding-left: 40px;
    }
    .form-container h3 {
        margin-top: 70px;
        margin-bottom: 35px;
        color: #2c2f32;
        font-size: 24px;
    }
    .form-container .form-control {
        border-color: #edeef0;
        height: 50px;
    }
    .form-container label {
        font-family: $museo_sans300;
        font-weight: normal;
        color: #868e96;
        font-size: 15px;
    }
    .form-control::-webkit-input-placeholder {
        font-family: $museo_sans700;
        color: #2c2f32;
        opacity: 1;
    }
    .form-control:-moz-placeholder {
        /* Firefox 18- */
        font-family: $museo_sans700;
        color: #2c2f32;
        opacity: 1;
    }
    .form-control::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $museo_sans700;
        color: #2c2f32;
        opacity: 1;
    }
    .form-control:-ms-input-placeholder {
        font-family: $museo_sans700;
        color: #2c2f32;
        opacity: 1;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        font-family: $museo_sans700;
        color: #2c2f32;
    }
    .bootstrap-select .btn {
        padding: 14px 12px;
        border-color: #edeef0;
    }
    .checkbox-wrapper {
        padding-left: 25px;
    }
    .check label {
        position: relative;
        cursor: pointer;
    }
    .check label input {
        position: absolute;
        display: none;
    }
    .check label span {
        font-family: $museo_sans700;
        color: #2c2f32;
        font-size: 16px;
        position: relative;
    }
    .check label span:before {
        content: '\f096';
        font-family: Fontawesome;
        font-size: 18px;
        position: absolute;
        top: -2px;
        left: -24px;
    }
    .check label input:checked+span:before {
        content: '\f14a';
        color: #f16b60;
    }
    .control-btns {
        margin-top: 40px;
    }
    .control-btns .btn {
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .trash {
        cursor: pointer;
    }
    .bootstrap-select .caret {
        border: none;
        position: relative;
    }
    .bootstrap-select .caret:before {
        content: "\f107";
        font-family: Fontawesome;
        position: relative;
        top: -8px;
        right: 13px;
        font-size: 16px;
        color: #f16b60;
    }
    .back-grey {
        background: #eceff1;
    }
    .form-box {
        min-height: 200px;
        min-height: 200px;
        background: #fff;
        padding: 75px 60px;
        margin: 80px 0px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        box-shadow: 0px 0px 40px #dfdfdf;
    }
    .form-box .btn-orange {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        width: 136px;
    }
    .form-box .form-group {
        width: 100%;
        max-width: calc(100% - 136px);
        float: left;
        padding-right: 15px;
        margin-bottom: 0px;
    }
    .post-type-1 .form-container {
        width: 100%;
        padding: 0px 20px;
    }
    .form-container textarea {
        min-height: 160px;
    }
}