@media only screen and (max-width: 1500px) {
    .post-job.bootstrap {
        #post-my-job {
            padding: 20px 0px;
        }
        #post-my-job h2 {
            font-size: 24px;
        }
        #post-my-job h2 .btn {
            top: -10px;
            font-size: 13px;
            padding: 8px 21px;
        }
        .form-container h3 {
            margin-top: 45px;
            margin-bottom: 25px;
            font-size: 20px;
        }
        .form-container label {
            font-size: 13px;
            margin-bottom: 2px;
        }
        .form-container .form-control {
            height: 40px;
            font-size: 12px;
        }
        .bootstrap-select .btn {
            padding: 11px 12px;
            font-size: 12px;
        }
        .form-container textarea {
            min-height: 120px;
        }
        .btn-primary.btn-orange {
            font-size: 13px;
            padding: 9px 26px;
        }
        .check label span {
            font-size: 13px;
        }
        .check label span:before {
            top: -4px;
        }
        .btn-primary.btn-grey {
            font-size: 13px;
            padding: 9px 25px;
        }
    }
}

@media screen and (max-width: 769px) {
    .post-job.bootstrap {
        .shift-details {
            li {
                .form-group {
                    width: 50%;
                    &.left {
                        width: calc(50% - 5px);
                    }
                    &.date,
                    &.location {
                        width: 100%;
                    }
                    &.onsite-contact-phone-number {
                        width: 50%;
                    }
                    &.remove-shift {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        background-color: #ced5d9;
                        border-color: #ced5d9;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        width: 100%;
                        img {
                            &.trash-grey {
                                display: none;
                            }
                            &.trash-white {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .select-job-template {
        .col-lg-6 {
            width: 70%;
        }
        .col-lg-offset-3 {
            margin-left: 15%;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .post-job.bootstrap {
        .ui-select-container {
            .ui-select-match-text,
            .ui-select-placeholder {
                line-height: 28px;
            }
        }
    }
}

@media (min-width: 1600px) {
    .select-job-template {
        .col-lg-6 {
            width: 50%;
        }
        .col-lg-offset-3 {
            margin-left: 25%;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .post-job.bootstrap {
        .form-box {
            min-height: 157px;
            padding: 54px 30px;
            margin: 60px 0px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .select-job-template {
        .form-box {
            .btn-orange,
            .form-group {
                width: 100%;
                max-width: 100%;
            }
            .form-group {
                float: none;
                margin-bottom: 15px;
                padding-right: 0px;
            }
        }
        .form-box {
            min-height: 0;
            padding: 48px 25px;
            margin: 60px 0px;
        }
        .form-box .btn-orange {
            float: none;
        }
    }
    .post-job.bootstrap {
        .control-btns {
            text-align: center;
        }
        .ui-select-container {
            .ui-select-match-text,
            .ui-select-placeholder {
                line-height: 26px;
                font-family: $museo_sans700;
            }
        }
        #post-my-job {
            padding: 45px 0px;
        }
        #post-my-job h2 .btn {
            top: 36px;
        }
        #post-my-job h2 {
            font-size: 24px;
        }
        .form-container h3 {
            margin-top: 68px;
            margin-bottom: 25px;
            font-size: 20px;
        }
        .btn-primary.btn-orange,
        .btn-primary.btn-grey {
            font-size: 13px;
            padding: 8px 20px;
        }
        .bootstrap-select .btn {
            padding: 11px 12px;
        }
        .form-container .form-control {
            height: 40px;
        }
        .form-container label {
            font-size: 13px;
        }
        .check label span {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 640px) {}
