@media (max-width: 320px) {
	#home {
        .container_home {
            .home_page {
                .title {
                    .testyourself-test {
                        .general-tests {
                        	width: 100%;
                            &.professional-tests,
                            &.academic-tests,
                            &.job-aptitude-tests {
                                .flippety,
                                .flop {
                                    .test_bg {
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}