@media(max-width: 768px) {
    .exam-container {
        .page-content {
            #areaCoundown {
                float: none !important;
                margin-bottom: 20px;
                #Stage_jbeeb_3 {
                    margin: 0 auto !important;
                }
            }
            .total-attempted {
            	text-align: center;
            }
        }
    }
}
