@media(max-width: 768px) {
    .footer_test_yourself {
        .footer_test {
        	font-size: 12px;
            .footer_right {
                margin-bottom: 30px;
            }
        }
        .footer_below {
        	font-size: 12px;
        }
    }
}
