@media (max-width: 768px) {
    #home {
        .container_home {
            .home_page {
                .title {
                    .testyourself-test {
                        width: 100%;
                        .general-tests {
                            width: 80%;
                            float: none;
                            margin: auto;
                            &.professional-tests,
                            &.academic-tests,
                            &.job-aptitude-tests {
                                .flippety,
                                .flop {
                                    .test_bg {
                                        line-height: 60px;
                                    }
                                }
                            }
                            &.job-aptitude-tests {
                                .flop {
                                    .test_bg {
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                    #tys_textanimation {
                        .jumbotron1 {
                            .tlt {
                                font-size: 50px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}