.exam-result-container {
	.required {
		color: #a94442;
	}
	.no-padding {
		padding: 0;
	}
    .page-header {
        h1 {
            font-size: 20px;
        }
    }
    .page-body {
        .table-result-content {
            .pdf-print {
                margin-bottom: 10px;
                .pdf-button,
                .print-button {
                    background: #1269b1;
                    border-color: #03579f;
                    &:active {
                        background-image: linear-gradient(to bottom, #449d44 0, #449d44 100%);
                        background-image: -webkit-linear-gradient(top, #449d44 0, #449d44 100%);
                        background-image: -o-linear-gradient(top, #449d44 0, #449d44 100%);
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#449d44), to(#449d44));
                        border-color: #398439;
                    }
                    &:hover {
                        background: #03579f;
                        border-color: #014c8c;
                    }
                }
            }
            .table-result {
                font-size: 12px;
            }
        }
        .review-content {
            .review_test_result {
            	cursor: pointer;
                padding: 8px 15px;
                height: auto;
                width: auto;
                background-image: linear-gradient(to bottom, #337ab7 0, #337ab7 100%);
                background-image: -webkit-linear-gradient(top, #337ab7 0, #337ab7 100%);
                background-image: -o-linear-gradient(top, #337ab7 0, #337ab7 100%);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#337ab7));
                border-radius: 30px;
                &:hover {
                	background-color: #337ab7;
                }
                .title {
                    font-size: 17px;
                    &:hover {
                    	text-decoration: none;
                    }
                }
                @-webkit-keyframes glowing {
                  0% { background-color: #F95140; -webkit-box-shadow: 0 0 3px #F95140; }
                  50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
                  100% { background-color: #F95140; -webkit-box-shadow: 0 0 3px #F95140; }
                }
                 
                @-moz-keyframes glowing {
                  0% { background-color: #F95140; -moz-box-shadow: 0 0 3px #F95140; }
                  50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
                  100% { background-color: #F95140; -moz-box-shadow: 0 0 3px #F95140; }
                }
                 
                @-o-keyframes glowing {
                  0% { background-color: #F95140; box-shadow: 0 0 3px #F95140; }
                  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
                  100% { background-color: #F95140; box-shadow: 0 0 3px #F95140; }
                }
                 
                @keyframes glowing {
                  0% { background-color: #F95140; box-shadow: 0 0 3px #F95140; }
                  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
                  100% { background-color: #F95140; box-shadow: 0 0 3px #F95140; }
                }
                 
                .review-animation
                {
                    -webkit-animation: glowing 1500ms infinite;
                    -moz-animation: glowing 1500ms infinite;
                    -o-animation: glowing 1500ms infinite;
                    animation: glowing 1500ms infinite;
                    background-color: #004A7F;
 
                    -webkit-border-radius: 10px;
                     
                    border-radius: 10px;
                       
                    border: none;
                       
                    color: #FFFFFF;
                       
                    cursor: pointer;
                       
                    display: inline-block;
                       
                    font-family: Arial;
                       
                    font-size: 20px;
                       
                    padding: 5px 10px;
                       
                    text-align: center;
                       
                    text-decoration: none;
                }
            }
            .table-review {
            	border: 1px solid #ccc;
            	tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th {
					border-top: 0;
            	}
            }
        }
    }
}
