//2ecc70 - 78a4d8 - 27ae5f - 017d35
@mixin bg_home_oxay_one {
    background: #0098F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
    background: -webkit-linear-gradient(top, #0098F9, #0098F9);
    background: -moz-linear-gradient(top, #0098F9, #0098F9);
    background: -ms-linear-gradient(top, #0098F9, #0098F9);
    background: -o-linear-gradient(top, #0098F9, #0098F9);
    background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #057534 0 1px 0;
    color: #ffffff;
    border: 1px solid #2f4664;
    vertical-align: middle;
}

@mixin bg_home_oxay_one_active {
    text-shadow: #057534 0 1px 0;
    border: 1px solid #057534;
    background: #0098F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
    background: -webkit-linear-gradient(top, #0098F9, #0098F9);
    background: -moz-linear-gradient(top, #0098F9, #0098F9);
    background: -ms-linear-gradient(top, #0098F9, #0098F9);
    background: -o-linear-gradient(top, #0098F9, #0098F9);
    background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
}

@mixin bg_home_oxay_one_hover {
    border: 1px solid #057534;
    text-shadow: #057534 0 1px 0;
    background: #0098F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
    background: -webkit-linear-gradient(top, #0098F9, #0098F9);
    background: -moz-linear-gradient(top, #0098F9, #0098F9);
    background: -ms-linear-gradient(top, #0098F9, #0098F9);
    background: -o-linear-gradient(top, #0098F9, #0098F9);
    background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
    color: #ffffff;
}

@mixin bg_home_oxay_two {
    border: 1px solid #e83e2e;
    background: #c03a2b;
    background: -webkit-gradient(linear, left top, left bottom, from(#e74d3c), to(#c03a2b));
    background: -webkit-linear-gradient(top, #e74d3c, #c03a2b);
    background: -moz-linear-gradient(top, #e74d3c, #c03a2b);
    background: -ms-linear-gradient(top, #e74d3c, #c03a2b);
    background: -o-linear-gradient(top, #e74d3c, #c03a2b);
    background-image: -ms-linear-gradient(top, #e74d3c 0%, #c03a2b 100%);
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #e74d3c 0 1px 0;
}

@mixin bg_home_oxay_two_active {
    text-shadow: #e74d3c 0 1px 0;
    border: 1px solid #e83e2e;
    background: #c03a2b;
    background: -webkit-gradient(linear, left top, left bottom, from(#e74d3c), to(#e74d3c));
    background: -webkit-linear-gradient(top, #e74d3c, #c03a2b);
    background: -moz-linear-gradient(top, #e74d3c, #c03a2b);
    background: -ms-linear-gradient(top, #e74d3c, #c03a2b);
    background: -o-linear-gradient(top, #e74d3c, #c03a2b);
    background-image: -ms-linear-gradient(top, #e74d3c 0%, #c03a2b 100%);
    color: #fff;
}

@mixin bg_home_oxay_two_hover {
    border: 1px solid #e83e2e;
    text-shadow: #e74d3c 0 1px 0;
    background: #e74d3c;
    background: -webkit-gradient(linear, left top, left bottom, from(#c03a2b), to(#e74d3c));
    background: -webkit-linear-gradient(top, #c03a2b, #e74d3c);
    background: -moz-linear-gradient(top, #c03a2b, #e74d3c);
    background: -ms-linear-gradient(top, #c03a2b, #e74d3c);
    background: -o-linear-gradient(top, #c03a2b, #e74d3c);
    background-image: -ms-linear-gradient(top, #c03a2b 0%, #e74d3c 100%);
    color: #ffffff;
}

@mixin bg_home_oxay_three {
    border: 1px solid #2f4664;
    background: #0098F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
    background: -webkit-linear-gradient(top, #0098F9, #0098F9);
    background: -moz-linear-gradient(top, #0098F9, #0098F9);
    background: -ms-linear-gradient(top, #0098F9, #0098F9);
    background: -o-linear-gradient(top, #0098F9, #0098F9);
    background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #0098F9 0 1px 0;
}

@mixin bg_home_oxay_three_active {
    border: 1px solid #2f4664;
    text-shadow: #0098F9 0 1px 0;
    background: #0098F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
    background: -webkit-linear-gradient(top, #0098F9, #0098F9);
    background: -moz-linear-gradient(top, #0098F9, #0098F9);
    background: -ms-linear-gradient(top, #0098F9, #0098F9);
    background: -o-linear-gradient(top, #0098F9, #0098F9);
    background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
    color: #fff;
}

@mixin bg_home_oxay_three_hover {
    border: 1px solid #2f4664;
    text-shadow: #0098F9 0 1px 0;
    background: #0098F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#0098F9), to(#0098F9));
    background: -webkit-linear-gradient(top, #0098F9, #0098F9);
    background: -moz-linear-gradient(top, #0098F9, #0098F9);
    background: -ms-linear-gradient(top, #0098F9, #0098F9);
    background: -o-linear-gradient(top, #0098F9, #0098F9);
    background-image: -ms-linear-gradient(top, #0098F9 0%, #0098F9 100%);
    color: #ffffff;
}

.global_test_poin {
    margin-bottom: 30px;
}

#home {
    .home_page {
        .title {
            margin-top: 20vh;
            a {
                text-decoration: none;
            }
            .algin {
                text-align: center;
                font-size: 17px;
                line-height: 60px;
                letter-spacing: 0;
                font-weight: 400;
                color: #fff;
                font-family: inherit;
                height: 60px;
                overflow: hidden;
            }
            .test_bg {
                @include bg_home_oxay_one;
                &:active {
                    @include bg_home_oxay_one_active;
                }
                &:hover {
                    @include bg_home_oxay_one_hover;
                }
            }
            .flop {
                .test_bg {
                    @include bg_home_oxay_three;
                    &:active {
                        @include bg_home_oxay_three_active;
                    }
                    &:hover {
                        @include bg_home_oxay_three_hover;
                    }
                }
            }
            .agriculture_bg {
                @include bg_home_oxay_two;
                &:active {
                    @include bg_home_oxay_two_active;
                }
                &:hover {
                    @include bg_home_oxay_two_hover;
                }
            }
            .bt {
                margin: 2% 0px;
            }
            #tys_textanimation {
                .jumbotron1 {
                    .tlt {
                        color: #fff;
                        text-align: center;
                        font-size: 65px !important;
                    }
                }
            }
        }
        .cube {
            text-align: center;
            margin: 0 auto;
            height: 50px;
            -webkit-transition: -webkit-transform .33s;
            transition: transform .33s;
            -ms-transition: transform .33s;
            /* Animate the transform properties */
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            /* <-NB */
        }
        /* The two faces of the cube */
        .flippety,
        .flop {
            height: 50px;
        }
        /* Position the faces */
        .flippety {
            -webkit-transform: translateZ(50px);
            transform: translateZ(25px);
            -ms-transform: translateZ(25px);
        }
        .flop {
            -webkit-transform: rotateX(-90deg) translateZ(-50px);
            transform: rotateX(-90deg) translateZ(-25px);
            -ms-transform: rotateX(-90deg) translateZ(-25px);
        }
        /* Rotate the cube */
        .cube:hover {
            -webkit-transform: rotateX(89deg);
            transform: rotateX(89deg);
            -ms-transform: rotateX(89deg);
            /* Text bleed at 90º */
        }
        /**
         * Apply CSS for IE 9 & 10
         */
        @media screen and (min-width:0\0) {
            .flippety {
                height: 50px;
                -webkit-transform: translateZ(50px);
                transform: translateZ(25px);
                -ms-transform: translateZ(25px);
            }
            .flop {
                height: 0;
                -webkit-transform: rotateX(-90deg) translateZ(-50px);
                transform: rotateX(-90deg) translateZ(-25px);
                -ms-transform: rotateX(-90deg) translateZ(-25px);
            }
            .cube {
                -ms-transform-style: none;
                -ms-transform: none;
                &:hover {
                    -ms-transform-style: none;
                    -ms-transform: none;
                    .flippety {
                        height: 0;
                        -webkit-transition: -webkit-transform .33s;
                        transition: transform .33s;
                        -ms-transition: transform .33s;
                        -webkit-transform: rotateX(-90deg) translateZ(50px);
                        transform: rotateX(-90deg) translateZ(25px);
                        -ms-transform: rotateX(-90deg) translateZ(25px);
                    }
                    .flop {
                        height: 50px;
                        -webkit-transition: -webkit-transform .33s;
                        transition: transform .33s;
                        -ms-transition: transform .33s;
                        -webkit-transform: translateZ(-50px);
                        transform: translateZ(-25px);
                        -ms-transform: translateZ(-25px);
                    }
                }
            }
        }
        .f-top-al {
            margin-top: 2%;
        }
    }
}