.login_site {
    margin-top: 10%;
}

.login {
    .login-options {
        overflow: auto;
        width: 100%;
        height: 40px;
        .social-icon-color {
            display: block;
            height: 100%;
            padding: 5px 0;
            font-size: 16px;
            &:hover {
                text-decoration: none;
            }
            i {
                color: #FFF;
                font-size: 28px;
                margin-left: 20px;
                float: left;
            }
            .social-title {
                display: inline-block;
                color: #FFF;
                line-height: 30px;
                overflow: hidden;
                display: block;
                text-align: center;
                .icon-linkedin {
                    float: none;
                    margin-left: 2px;
                    font-size: 20px;
                }
            }
        }
    }
    .login-facebook {
        background: #3B5998;
    }
    .login-google {
        background: #dd4b39;
        margin: 15px 0;
    }
    .login-linkedin {
        background: #6ecae8;
    }
    .login-andy {
        background: red;
    }
}