.payment-container {
    .custom-alert {
        margin-bottom: 15px;
    }
    .alert-payment {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .centered-form {
        .tabbable-panel {
            border: 1px solid #eee;
            padding: 10px;
        }
        /* Default mode */
        .tabbable-line > {
            .nav-tabs {
                border: none;
                margin: 0px;
                > li {
                    width: 100%;
                    text-align: center;
                    > a {
                        border: 0;
                        margin-right: 0;
                        color: #737373;
                        text-align: center;
                        > i {
                            color: #a6a6a6;
                        }
                    }
                    &.open,
                    &:hover {
                        border-bottom: 4px solid #fbcdcf;
                    }
                    &.open > a,
                    &:hover > a {
                        border: 0;
                        background: none !important;
                        color: #333333;
                    }
                    &.open > a > i,
                    &:hover > a > i {
                        color: #a6a6a6;
                    }
                    &.open .dropdown-menu,
                    &:hover .dropdown-menu {
                        margin-top: 0px;
                    }
                    &.active {
                        border-bottom: 4px solid #f3565d;
                        position: relative;
                        > a {
                            border: 0;
                            color: #333333;
                            > i {
                                color: #404040;
                            }
                        }
                    }
                }
            }
            .tab-content {
                margin-top: -3px;
                background-color: #fff;
                border: 0;
                border-top: 1px solid #eee;
                padding: 15px 0;
            }
        }
        .portlet .tabbable-line > .tab-content {
            padding-bottom: 0;
        }
    }
}
