#andy-loader {
	position: fixed;
	text-align: center;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.1);
	.text {
		position: relative;
		top: 50%;
		color: #fff;
		font-size: 24px;
		width: 60%;
		margin: auto;
		background: #32ce79;
	}
}

#areaCoundown {
	#andy-loader {
		position: absolute;
		text-align: center;
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 999;
		background: initial;
		.text {
			top: 0;
			width: 100%;
		}
	}
}