.school-detail-container {
    .school-detail-content {
    	.school {
    		.school-image {
    			img {
    				width: 100%;
    			}
    		}
    		.school-content {
    			a {
                    color: #000;
					&:hover, &:active {
						text-decoration: none;
                        color: #000;
					}
				}
    			.school-name {
    				margin: 0;
    			}
    		}
    	}
    }
}
