.exam-list-container {
    .page-content {
        .exam-table {
            .title-on-mobile {
                display: none;
            }
            tr {
                th,
                td {
                    vertical-align: middle;
                }
            }
            .a-tag-exam+.tooltip>.tooltip-inner {
                background-color: #D02121;
            }
            .a-tag-exam+.tooltip.top>.tooltip-arrow {
                border-top: 5px solid #D02121;
            }
            .tooltip-mobile {
                display: none;
                background-color: #D02121;
                color: #fff;
                padding: 15px;
                line-height: 24px;
            }
        }
        .term-use {
            margin-top: 10px;
        }
    }
}

.main_content_inner_page {
    background: #fff none repeat scroll 0 0;
    .page-header {
        margin-top: 0;
        h1 {
            font-size: 21px;
        }
    }
}

#testyourself {
    .container-fluid {
        .bottom_contact_us_section {
            background: #373c50 url("../assets/images/testyourself/ban7.jpg") no-repeat scroll center bottom / cover;
            color: #fff;
            font-size: 15px;
            margin-top: 30px;
            img {
                height: 33px;
                margin-bottom: 10px;
                text-align: center;
                width: 33px;
            }
            div[class^="col-"] {
                margin: 40px 0;
                text-align: center;
            }
        }
        .footer {
            background: #101417 none repeat scroll 0 0;
            border-top: 1px solid #fff;
            color: #fff;
            padding: 30px 0;
            .footer_right {
                text-align: right;
                .connect {
                    img {
                        float: right;
                    }
                    div {
                        float: right;
                    }
                }
                img {
                    display: inline-block;
                }
            }
        }
    }
}