body {
    background: unset !important;
    .nav>li>a {
        padding: 15px 16px;
    }
}

.center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.header_test_yourself {
    .container_site {
        .logo_register {
            height: 135px;
            clear: left;
            float: left;
            width: 100%;
            position: relative;
            .logo {
                margin: 5px 0;
                height: 125px;
                background-size: contain !important;
            }
            .register_col {
                height: 100%;
                .register {
                    a {
                        font-size: 13px;
                    }
                    p {
                        float: right;
                        top: 50%;
                        right: 0;
                        position: absolute;
                        margin-top: -10px;
                        padding-right: 15px;
                        .login,
                        .sign_up {
                            color: #7b7b7b;
                        }
                    }
                }
            }
        }
        .navbar {
            clear: left;
            background-color: $blue;
            background-repeat: no-repeat;
            .navbar-brand {
                font-size: 17px;
                padding: 5px;
            }
            .navbar-collapse {
                ul {
                    li {
                        &:hover {
                            background: #2a445a;
                            >a {
                                color: #FFF;
                            }
                        }
                        a {
                            font-size: 17px;
                        }
                        .sub_li_menu_test {
                            a {
                                .caret {
                                    position: absolute;
                                    right: 5px;
                                    margin-top: 12px;
                                }
                            }
                        }
                    }
                    .dropdown-menu>li>a:focus,
                    .dropdown-menu>li>a:hover {
                        background-color: #2a445a;
                        background-image: -webkit-linear-gradient(top, #2a445a 0, #2a445a 100%);
                        background-image: -o-linear-gradient(top, #2a445a 0, #2a445a 100%);
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#2a445a), to(#2a445a));
                        background-image: linear-gradient(to bottom, #2a445a 0, #2a445a 100%);
                    }
                }
            }
            .navbar-right {
                font-size: 15px;
            }
        }
        .navbar-default {
            background-image: none !important;
        }
        .navbar-default .navbar-brand:focus,
        .navbar-default .navbar-brand:hover {
            color: white;
        }
        .navbar-default .navbar-nav>li>a,
        .navbar-default .navbar-brand {
            color: white;
        }
        .navbar-static-top {
            z-index: 10 !important;
        }
        .submenu-other {
            right: 100%;
            left: auto;
        }
    }
}

.slider_site {
    .item {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.feeture_test_yourself {
    .container_site {
        .slider_test_yourself {
            .owl-carousel {
                .owl-controls {
                    .owl-pagination {
                        position: absolute;
                        bottom: 3.5%;
                        left: 1.5%;
                        .owl-page {
                            span {
                                background-color: #fff;
                                opacity: 1;
                                filter: Alpha(Opacity=100);
                            }
                            &:hover {
                                span {
                                    background-color: #216b9a;
                                }
                            }
                        }
                        .owl-page.active {
                            span {
                                background-color: #2b2621;
                            }
                        }
                    }
                    .owl-buttons {
                        .owl-prev,
                        .owl-next {
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            cursor: pointer;
                            text-decoration: none;
                            overflow: hidden;
                            text-indent: -9999px;
                            background-repeat: no-repeat;
                            background-color: #fff;
                            transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
                            -moz-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
                            -webkit-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
                            -o-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            background-color: #fff;
                            color: #333;
                            top: 44%;
                            background-image: none !important;
                            text-indent: 0;
                            display: inline-block;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            border-radius: 0;
                            &:hover {
                                color: #fff;
                                background-color: #216b9a;
                            }
                        }
                        .owl-prev {
                            background-position: -2px 0;
                            left: 0;
                            &:before {
                                content: '\f053';
                                font-family: "Fontawesome";
                            }
                        }
                        .owl-next {
                            background-position: -48px 0;
                            right: 0;
                            &:before {
                                content: '\f054';
                                font-family: "Fontawesome";
                            }
                        }
                    }
                }
                &:hover {
                    .owl-buttons {
                        .owl-prev,
                        .owl-next {
                            opacity: 1;
                            filter: alpha(opacity=1);
                        }
                    }
                }
            }
        }
        .menu_test_yourself_right {
            border: 1px solid #eee;
            padding: 15px;
            ul {
                padding: 0;
                li {
                    list-style-type: none;
                    margin-bottom: 10px;
                    a {
                        font-size: 17px;
                        color: #7b7b7b;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.content_testyourself {
    clear: left;
    .container_site {
        .free_share {
            padding: 15px 0;
            p {
                color: #888888;
                font-size: 23px;
                text-align: center;
                .number,
                .subject {
                    color: #1269b1;
                    font-weight: bold;
                }
            }
        }
        .flash_video {
            margin-bottom: 30px;
            display: table;
            width: 100%;
            .list_step {
                margin-bottom: 15px;
                .img {
                    text-align: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    min-height: 130px;
                    max-width: 130px;
                    margin: auto;
                    img {
                        width: 100%;
                    }
                }
                .img2 {
                    padding-bottom: 53.5%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    max-width: 360px;
                    margin: auto;
                    max-height: 194px;
                }
                .img3 {
                    iframe {
                        width: 100%;
                        max-height: 188px;
                    }
                }
                .title {
                    background-color: #1269b1;
                    text-align: center;
                    font-size: 17px;
                    a {
                        text-decoration: none;
                        padding: 18px 0;
                        display: block;
                        color: white;
                    }
                }
            }
            .item1 {
                background: #ffdc64;
                border-bottom: #948550 solid 5px;
            }
            .item2 {
                background: #ffbc65;
                border-bottom: #8b7352 solid 5px;
            }
            .item3 {
                background: #95e5ff;
                border-bottom: #4c7f8f solid 5px;
            }
            .not-border {
                border-bottom: none;
            }
        }
        .big_black_title {
            color: #888888;
            margin: 20px 0;
            border-bottom: #7a7979 dashed 1px;
            padding-bottom: 30px;
            h2 {
                font-size: 55px;
                text-align: center;
                .for_learning {
                    color: #015295;
                }
            }
            p {
                text-align: center;
                font-size: 18px;
            }
        }
    }
}

.footer_test_yourself {
    a {
        text-decoration: none;
    }
    .hits {
        text-align: center;
        background-color: #07579a;
        padding: 10px 20px;
        display: table;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 30px;
        a {
            color: white;
        }
    }
    .contactUs {
        text-align: center;
        margin-top: 20px;
    }
    .bottom_contact_us_section {
        margin-top: 30px;
        background: url(../frontend/images/footer_top.jpg) no-repeat bottom #373C50;
        background-size: cover;
        color: #FFF;
        font-size: 15px;
        padding: 10px 0;
        .col-number-1 {}
        .col-number-2 {}
        .col-number-3 {}
    }
    .bottom_contact_us_section h2 {
        background: #FFF;
        display: block;
        padding-bottom: 20px;
        margin-top: 0;
    }
    .bottom_contact_us_section a {
        color: #FFF
    }
    .bottom_contact_us_section div[class^="col-"] {
        text-align: left;
        margin: 10px 0;
    }
    .bottom_contact_us_section img {
        margin-bottom: 10px;
        text-align: center;
        width: 33px;
        height: 33px;
    }
    .footer_test {
        background: #101417;
        float: left;
        width: 100%;
        color: white;
        height: 80px;
        line-height: 80px;
        .footer_right {
            p {
                float: right;
                .icon_twitter {
                    margin-left: 15px;
                }
                .icon_fb {
                    margin-left: 15px;
                }
            }
        }
        p {
            margin: 0;
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .footer-address {
        clear: both;
        background: #101417;
        color: #fff;
        padding: 15px;
        text-align: center;
        .title {
            font-size: 24px;
            margin-bottom: 30px;
            font-family: $cormorant;
        }
        .body {
            overflow: hidden;
            .icon {
                display: inline-block;
                vertical-align: top;
                i {
                    font-size: 20px;
                }
            }
            .content {
                display: inline-block;
            }
        }
    }
    .footer_below {
        background: #101417;
        float: left;
        width: 100%;
        color: white;
        height: 30px;
        line-height: 30px;
    }
}

.li_menu_test {
    ul {
        padding: 0;
        .sub_li_menu_test {
            position: relative;
            ul {
                position: absolute;
                top: -3px;
                left: 100%;
                margin-left: -1px;
            }
        }
    }
}

.message {
    clear: left;
}

.profile_img_current {
    width: 130px;
    border: 1px solid #ddd;
    padding: 2px;
}

.bg_white {
    background: white !important;
}