.main_content_inner_page {
    .page-content {
        .review_test_result
        {
            border-radius: 21px;
            height: 50px;
            margin: 0 auto 10px;
            padding-top: 10px;
            width: 164px;
            a
            {
                color: #fff !important;
                font-size: 20px;
            }
        }
        .review_test_result:hover
        {
            background-color: #286090;
        }
    }
}
