#signup {
    .container_sign_up {
        width: 100%;
        .cap_chart_site {
            overflow: hidden;
        }
        .sign-up-popup {
            .text-popup {
                font-size: 13px;
                letter-spacing: -0.5px;
                line-height: 13px;
                margin-bottom: 0px;
                padding: 3px;
                background-color: rgba(30, 116, 19, 0.74);
                border-radius: 3px;
                color: #fff;
            }
        }
    }
    .container_fluider_sigup {
        padding: 0;
        overflow: hidden;
    }
    .main_content_inner_page {
        .reg_box {
            .reg_title {
                font-size: 25px;
                height: 36px;
                margin-bottom: 60px;
                img {
                    float: left;
                }
                div {
                    float: left;
                    margin-left: 15px;
                    margin-top: 10px;
                }
            }
            .customfile-wrap {
                .customfile-upload {
                    background: #dfdfdf none repeat scroll 0 0;
                    border: 1px solid #cccccc;
                    border-radius: 3px;
                    color: #000;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 12px;
                    margin-left: -1px;
                    padding: 6px 10px;
                    position: absolute;
                    right: 16px;
                    text-transform: uppercase;
                    top: 1.4px;
                    width: 80px;
                }
                .customfile-filename {
                    border: 1px solid #e8e8e8;
                    border-radius: 3px;
                    box-sizing: border-box;
                    padding: 12px;
                    width: 100%;
                    margin: 0px;
                }
                .texbox_rounded {
                    border: 1px solid #e8e8e8;
                    border-radius: 3px;
                    box-sizing: border-box;
                    max-width: 360px;
                    padding: 12px;
                    width: 100%;
                }
            }
        }
    }
}

.label_gender_register {
    min-width: 60px;
}

.sign_up_page {
    clear: left;
}

// .container_fluider_sigup_recapcha {
//     overflow: hidden;
// }
