.header_test_yourself {
    .container_site {
        .navbar {
            .header-home {
                height: 80px;
                &:hover {
                    background: #2a445a;
                }
            }
        }
    }
}