<div id="register" class="create-page employer-register">
    <div class="col-xs-12">
        <div class="employer-register-form">
            <h2 class="text-center">Create new Company</h2>
            <form name="vm.employer_register_form" ng-submit="vm.employer_register_form.$valid && vm.registerEmployerProfile(vm.user)" class="animated fadeInUp" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Company Name *</label>
                            <input type="text" ng-focus="vm.employer_register_form.company_name.$focused = true" class="form-control" ng-model="vm.user.company_name" name="company_name" required ng-maxlength="64">
                            <div class="icons" ng-show="vm.employer_register_form.company_name.$focused">
                                <i ng-if="!vm.employer_register_form.company_name.$error.required && !vm.employer_register_form.company_name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.employer_register_form.company_name.$error.required || vm.employer_register_form.company_name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.company_name.$error.required">Required</span>
                                <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.company_name.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group float-input">
                            <label class="active">Registration Number *</label>
                            <input type="text" class="form-control" ng-focus="vm.employer_register_form.registration_number.$focused = true" ng-model="vm.user.registration_number" name="registration_number" required ng-maxlength="20">
                            <div class="icons" ng-show="vm.employer_register_form.registration_number.$focused">
                                <i ng-if="!vm.employer_register_form.registration_number.$error.required && !vm.employer_register_form.registration_number.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.employer_register_form.registration_number.$error.required || vm.employer_register_form.registration_number.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.registration_number.$error.required">Required</span>
                                <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.registration_number.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group float-input">
                    <label class="active">Company E-mail *</label>
                    <input id="email" type="email" ng-focus="vm.employer_register_form.email.$focused = true" class="form-control" ng-model="vm.user.email" name="email" required ng-maxlength="40">
                    <div class="icons" ng-show="vm.employer_register_form.email.$focused">
                        <i ng-if="!vm.employer_register_form.email.$error.required && !vm.employer_register_form.email.$error.maxlength && !vm.employer_register_form.email.$error.email" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                        <i ng-if="vm.employer_register_form.email.$error.required || vm.employer_register_form.email.$error.maxlength || vm.employer_register_form.email.$error.email" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="errors">
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.email.$error.required">Required</span>
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.email.$error.email">Please enter a valid email</span>
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.email.$error.maxlength">The value is too long</span>
                    </div>
                </div>
                <div class="form-group float-input">
                    <label class="active">Website URL</label>
                    <input id="website" type="text" ng-focus="vm.employer_register_form.website.$focused = true" class="form-control" ng-model="vm.user.website" name="website" ng-pattern="/(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/">
                    <div class="icons" ng-show="vm.employer_register_form.website.$focused">
                        <i ng-if="!vm.employer_register_form.website.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                        <i ng-if="vm.employer_register_form.website.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="errors">
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.website.$error.pattern">Website URL format invalid</span>
                    </div>
                </div>
                <div class="form-group float-input">
                    <label class="active">Company Address *</label>
                    <input type="text" ng-focus="vm.employer_register_form.company_address.$focused = true" ng-model="vm.user.company_address" class="form-control" name="company_address" required>
                    <div class="icons" ng-show="vm.employer_register_form.company_address.$focused">
                        <i ng-if="!vm.employer_register_form.company_address.$error.required" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                        <i ng-if="vm.employer_register_form.company_address.$error.required" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="errors">
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.company_address.$error.required">Required</span>
                    </div>
                </div>
                <div class="form-group float-input">
                    <label class="active">Contact Name *</label>
                    <input type="text" ng-focus="vm.employer_register_form.contact_name.$focused = true" ng-model="vm.user.contact_name" class="form-control" name="contact_name" required ng-maxlength="40">
                    <div class="icons" ng-show="vm.employer_register_form.contact_name.$focused">
                        <i ng-if="!vm.employer_register_form.contact_name.$error.required && !vm.employer_register_form.contact_name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                        <i ng-if="vm.employer_register_form.contact_name.$error.required || vm.employer_register_form.contact_name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="errors">
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.contact_name.$error.required">Required</span>
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.contact_name.$error.maxlength">The value is too long</span>
                    </div>
                </div>
                <div class="form-group float-input">
                    <label class="active">Contact Position *</label>
                    <input type="text" ng-focus="vm.employer_register_form.contact_position.$focused = true" ng-model="vm.user.contact_position" class="form-control" name="contact_position" required>
                    <div class="icons" ng-show="vm.employer_register_form.contact_position.$focused">
                        <i ng-if="!vm.employer_register_form.contact_position.$error.required" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                        <i ng-if="vm.employer_register_form.contact_position.$error.required" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="errors">
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.contact_position.$error.required">Required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 country-box">
                        <div class="form-group float-input">
                            <select name="country" ng-focus="vm.employer_register_form.country.$focused = true" class="form-control select-box" ng-model="vm.country" ng-options="country as country.display() for country in vm.countries" required></select>
                            <div class="icons" ng-show="vm.employer_register_form.country.$focused">
                                <i ng-if="!vm.employer_register_form.country.$error.required" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.employer_register_form.country.$error.require" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.country.$error.required">Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 phone-box">
                        <div class="form-group float-input">
                            <label class="active">Phone No. *</label>
                            <input type="text" ng-focus="vm.employer_register_form.mobile.$focused = true" ng-model="vm.user.mobile" class="form-control" name="mobile" ng-pattern="/^(\d{6,12})$/" required ng-maxlength="40">
                            <div class="icons" ng-show="vm.employer_register_form.mobile.$focused">
                                <i ng-if="!vm.employer_register_form.mobile.$error.required && !vm.employer_register_form.mobile.$error.maxlength && !vm.employer_register_form.mobile.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.employer_register_form.mobile.$error.required || vm.employer_register_form.mobile.$error.maxlength || vm.employer_register_form.mobile.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.mobile.$error.required">Required</span>
                                <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.mobile.$error.maxlength">The value is too long</span>
                                <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.mobile.$error.pattern">Please enter a valid phone number</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group float-input">
                    <label class="active">Password *</label>
                    <input id="email" ng-focus="vm.employer_register_form.password.$focused = true" type="password" class="form-control" ng-model="vm.user.password" name="password" required ng-minlength="6" ng-maxlength="40">
                    <div class="icons" ng-show="vm.employer_register_form.password.$focused">
                        <i ng-if="!vm.employer_register_form.password.$error.required && !vm.employer_register_form.password.$error.maxlength && vm.employer_register_form.password.$error.minlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                        <i ng-if="vm.employer_register_form.password.$error.required || vm.employer_register_form.password.$error.maxlength || vm.employer_register_form.password.$error.minlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="errors">
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.password.$error.required">Required</span>
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.password.$error.maxlength">The value is too long</span>
                        <span ng-show="vm.employer_register_form.$submitted && vm.employer_register_form.password.$error.minlength">Please enter your password at least 6 characters</span>
                    </div>
                </div>
                <div class="form-group float-input company-description-wrapper">
                    <label class="active">Company Description</label>
                    <textarea ng-focus="vm.employer_register_form.company_about.$focused = true" class="form-control" ng-model="vm.user.company_about" name="company_about" cols="30" rows="5"></textarea>
                    <div class="icons" ng-show="vm.employer_register_form.company_about.$focused">
                        <i ng-if="!vm.employer_register_form.company_about.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                        <i ng-if="vm.employer_register_form.company_about.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input ng-disabled="inProgress" type="submit" class="btn ui-btn btn-full-width orange-btn-sm" value="REGISTER COMPANY">
                </div>
            </form>
        </div>
    </div>
</div>