<div class="transaction-details">
    <div class="row">
        <div class="col s12">
            <p ng-bind="vm.transaction.getDescription()"></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table>
                <tr>
                    <td>Transaction ID</td>
                    <td ng-bind="vm.transaction.getTransactionId()"></td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td ng-bind="vm.transaction.getFormatedAmount()"></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td ng-bind="vm.transaction.getCurrency()"></td>
                </tr>
                <tr>
                    <td>Candidate</td>
                    <td>
                        <a ui-sref="app.employees.edit({id: vm.transaction.customer.getId()})" ng-bind="vm.transaction.customer.email"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
