<section id="change-password-user">
    <div class="container">
        <div class="row">
            <div class="col s9 offset-s1">
                <div class="edit-right">
                    <h2 class="center-align">Change password for {{vm.profile.getName()}}</h2>
                    <form ng-submit="isValidFormOrScrollToError(vm.change_password_form) && vm.changePassword(vm.password)" name="vm.change_password_form" novalidate>
                        <div class="edit-item">
                            <div class="row">
                                <div class="col s12">
                                    <div class="form-group">
                                        <label>New password *</label>
                                        <input type="password" ng-focus="vm.change_password_form.new_password.$focused = true" class="form-control" name="new_password" ng-model="vm.password.new_password" ng-minlength="6" ng-maxlength="40" required>
                                        <div class="errors">
                                            <span ng-show="vm.change_password_form.$submitted && vm.change_password_form.new_password.$error.required">Required</span>
                                            <span ng-show="vm.change_password_form.$submitted && vm.change_password_form.new_password.$error.minlength">The value is too short</span>
                                            <span ng-show="vm.change_password_form.$submitted && vm.change_password_form.new_password.$error.maxlength">The value is too long</span>
                                            <span ng-show="vm.change_password_form.$submitted && vm.password.new_password !== vm.password.password_confirmation">Two password does not match</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="form-group">
                                        <label>Password confirmation *</label>
                                        <input type="password" ng-focus="vm.change_password_form.password_confirmation.$focused = true" class="form-control" name="password_confirmation" ng-model="vm.password.password_confirmation" ng-minlength="6" ng-maxlength="40" required>
                                        <div class="errors">
                                            <span ng-show="vm.change_password_form.$submitted && vm.change_password_form.password_confirmation.$error.required">Required</span>
                                            <span ng-show="vm.change_password_form.$submitted && vm.change_password_form.password_confirmation.$error.minlength">The value is too short</span>
                                            <span ng-show="vm.change_password_form.$submitted && vm.change_password_form.password_confirmation.$error.maxlength">The value is too long</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="change-password">
                                        <input type="submit" ng-disabled="inProgress" class="btn btn-primary orange-btn-sm" value="Change Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
