@media (max-width: 768px) {
    .footer {
        .extra-links {
            a {
                display: block;
                margin-bottom: 10px;
                padding: 0;
                &:after {
                    content: '';
                    display: none;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .area-3 {
            clear: both;
        }
    }
}