<section id="edit-user" class="edit-employee-profile">
    <div class="ee-actions">
        <div class="container-fluid">
            <div class="row">
                <div class="more-action item pull-right">
                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" ng-click="openMenu($mdOpenMenu, $event)">
                            More Action <i class="icon material-icons">expand_more</i>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="vm.resendVerifyEmail(vm.profile)">
                                    Resend verify Email
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="user.can('send.sms')">
                                <md-button ui-sref="app.employees.send-sms({id: vm.profile.getId()})">
                                    Send SMS
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div class="item status pull-right">
                    <label>Status</label>
                    <select ng-model="vm.profile.status" ng-options="status.id as status.status for status in vm.user_status" ng-change="vm.updateStatus(vm.profile)"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m3">
            <div class="edit-left">
                <div class="img-wrapper">
                    <div class="user-image" upload-file="vm.avatar" accept="png|jpg|jpeg" on-complete="vm.avatarUploaded" progress-percentage="vm.avatar_upload_percentage" in-progress="vm.avatarUploadInProgress">
                        <user-profile-image image="vm.profile.getImage()" is-update-profile="true" user-role="employee"></user-profile-image>
                    </div>
                </div>
                <div class="progress" ng-show="vm.avatarUploadInProgress">
                    <div class="determinate" style="width: {{vm.avatar_upload_percentage}}%">
                        <span ng-if="vm.avatar_upload_percentage < 100">{{vm.avatar_upload_percentage}}%</span>
                        <span ng-if="vm.avatar_upload_percentage == 100">Processing</span>
                    </div>
                </div>
                <a upload-file="vm.avatar" accept="png|jpg|jpeg" on-complete="vm.avatarUploaded" progress-percentage="vm.avatar_upload_percentage" in-progress="vm.avatarUploadInProgress" class="btn btn-primary orange-btn-sm upload-picture">Upload Picture</a>
                <!-- <a ng-click="vm.showMessage('warning', 'Feature coming soon', 5000)" class="btn btn-primary orange-btn-sm upload-video">Upload Video</a> -->
                <div class="star" ng-if="vm.analyticReview && vm.analyticReview.total_reviews !== 0">
                    <input-stars max="5" ng-model="vm.analyticReview.avg_star" name="star" readonly></input-stars>
                    <p class="total-reviews">{{vm.analyticReview.total_reviews}} {{vm.analyticReview.message_total_reviews}}</p>
                </div>
            </div>
        </div>
        <div class="col m9">
            <div class="edit-right">
                <h2>Edit Profile</h2>
                <form name="vm.update_profile_form" ng-submit="isValidFormOrScrollToError(vm.update_profile_form) && vm.update(vm.profile)" novalidate>
                    <div class="edit-item">
                        <h3 class="left-dash">General Information</h3>
                        <div class="row">
                            <div class="col m6">
                                <div class="form-group">
                                    <input type="text" ng-model="vm.profile.first_name" name="first_name" class="form-control" placeholder="First Name *" required>
                                    <div class="errors">
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.first_name.$error.required">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col m6">
                                <div class="form-group">
                                    <input type="text" ng-model="vm.profile.last_name" name="last_name" class="form-control" placeholder="Last Name *" required>
                                    <div class="errors">
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.last_name.$error.required">Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <div class="form-group">
                                    <input type="text" pick-a-date="vm.profile.birth" pick-a-date-options="{'selectYears': 60, 'selectMonths': true, 'today': '', 'clear': '', 'close': ''}" placeholder="Birthday *" ng-model="birth" class="form-control" name="birth" min-date="vm.minBirthYear" max-date="vm.maxBirthYear" required>
                                    <div class="errors">
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.birth.$error.required">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 gender">
                                <div class="form-group">
                                    <label>Male
                                        <input type="radio" ng-model="vm.profile.gender" ng-value="'male'">
                                    </label>
                                    <label> Female
                                        <input type="radio" ng-model="vm.profile.gender" ng-value="'female'">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a class="change-password" ui-sref="app.change-password-user({id: vm.profile.getId()})">Change password</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Contact info</h3>
                        <div class="row">
                            <div class="col m12 l6">
                                <div class="form-group">
                                    <input type="email" class="form-control" ng-model="vm.profile.email" name="email" placeholder="Email *" required>
                                    <div class="errors">
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.email.$error.required">Required</span>
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.email.$error.email">Please enter a valid email address</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 l3">
                                <div class="form-group">
                                    <select class="form-control" title="Country" ng-model="vm.profile.country" ng-options="country as country.display() for country in vm.countries | filterBy:['is_supported_phone_area']:1"></select>
                                </div>
                            </div>
                            <div class="col s12 l3">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vm.profile.phone_number" name="phone_number" ng-pattern="/^(\d{6,12})$/" placeholder="Phone Number *" required>
                                    <div class="errors">
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.phone_number.$error.required">Required</span>
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.phone_number.$error.pattern">Please enter a valid phone number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row whats-app-different-mobile">
                            <div class="col m12">
                                <input id="is-whats-app" type="checkbox" ng-model="vm.isDifferentPhoneNumber" ng-true-value="true" ng-false-value="false">
                                <label for="is-whats-app">My whats app phone number is different</label>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.isDifferentPhoneNumber">
                            <div class="col m12 l3">
                                <div class="form-group">
                                    <select class="form-control" title="Phone area code" ng-model="vm.profile.optional_phone_area_code" ng-options="country as country.display() for country in vm.countries"></select>
                                </div>
                            </div>
                            <div class="col m12 l3">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vm.profile.optional_phone_number" name="optional_phone_number" ng-pattern="/^(\d{6,12})$/" placeholder="What's app *" required>
                                    <div class="errors">
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.optional_phone_number.$error.required">Required</span>
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.optional_phone_number.$error.pattern">Please enter a valid phone number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="form-group">
                                    <input autocomplete-address="vm.place" type="text" class="form-control" ng-model="vm.profile.address" placeholder="Address 1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="form-group">
                                    <input autocomplete-address type="text" class="form-control" ng-model="vm.profile.address2" placeholder="Address 2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Zipcode" name="zipcode" ng-model="vm.profile.zipcode" ng-pattern="/^\d{4,7}$/">
                                    <div class="errors">
                                        <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.zipcode.$error.pattern">Please enter a valid zipcode</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vm.profile.city" placeholder="City">
                                </div>
                            </div>
                            <div class="col s6 m6">
                                <div class="form-group">
                                    <select class="form-control" title="Nationality" ng-model="vm.profile.nationality" ng-options="nationality as nationality.name for nationality in vm.countries"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <input id="verify-email-cb" type="checkbox" ng-model="vm.profile.email_verified" ng-disabled="vm.profile.email_verified" ng-true-value="true" ng-false-value="false">
                                <label class="text" for="verify-email-cb">Verify Email</label>
                            </div>
                            <div class="col m12">
                                <input id="verify-phone_number-cb" type="checkbox" ng-model="vm.profile.phone_number_verified" ng-disabled="vm.profile.phone_number_verified" ng-true-value="true" ng-false-value="false">
                                <label class="text" for="verify-phone_number-cb">Verify Phone Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Write a few words about yourself</h3>
                        <div class="row about-yourself-box">
                            <div class="col s12">
                                <div class="form-group">
                                    <textarea class="form-control" ng-model="vm.profile.summary"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item industry-interest-box" ng-if="vm.industries | hasItem">
                        <h3 class="left-dash">Industry/Job Interest *</h3>
                        <div class="row industry-item" ng-repeat="industry in vm.industries">
                            <div class="col s12">
                                <div class="industry-title">
                                    <label class="no-placeholder">
                                        <input type="checkbox" ng-model="industry.selected" ng-true-value="true" ng-false-value="false" ng-change="vm.changeIndustry(vm.industries)">{{industry.getName()}}
                                    </label>
                                </div>
                                <div class="industry-wrapper" ng-if="industry.interested_jobs.length > 0 && industry.selected">
                                    <div class="job-duration col s12" ng-repeat="interested_job in industry.interested_jobs">
                                        <div class="interested-job col s6 m3">
                                            <label class="no-placeholder">
                                                <input type="checkbox" ng-model="interested_job.selected" ng-true-value="true" ng-false-value="false" ng-change="vm.changeIndustry(vm.industries)"> {{interested_job.getName()}}
                                            </label>
                                        </div>
                                        <div class="interested-job-duration col s6 m3">
                                            <select class="form-control" ng-disabled="!interested_job.selected" ng-model="interested_job.duration" ng-options="option as option.getName() for option in vm.durations"></select>
                                        </div>
                                        <div class="interested-job-duration col s12 m6" ng-if="interested_job.selected">
                                            <div class="row">
                                                <div class="tags">
                                                    <md-chips ng-model="interested_job.tags">
                                                        <md-chip-template>
                                                            <span><strong>{{$chip.name}}</strong></span>
                                                        </md-chip-template>
                                                    </md-chips>
                                                </div>
                                                <div class="company">
                                                    <md-autocomplete md-min-length="1" md-dropdown-position="bottom" md-selected-item="interested_job.tag" md-search-text-change="vm.searchTextChange(interested_job.searchText)" md-search-text="interested_job.searchText" md-selected-item-change="vm.selectedItemChange(item, interested_job)" md-items="item in vm.company_tags|tagsMatcher:interested_job.searchText" md-item-text="item.getName()" md-min-length="0" placeholder="Enter company name">
                                                        <md-item-template>
                                                            <span md-highlight-text="interested_job.searchText" md-highlight-flags="^i">{{item.getName()}}</span>
                                                        </md-item-template>
                                                        <md-not-found>
                                                            No states matching "{{interested_job.searchText}}" were found.
                                                            <a ng-click="vm.newState(interested_job.searchText, interested_job)">Create a new one!</a>
                                                        </md-not-found>
                                                    </md-autocomplete>
                                                </div>
                                                <div class="add">
                                                    <a class="btn btn-primary orange-btn-sm" ng-click="vm.addInterestedJobTag(interested_job)">Add</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="errors">
                            <span ng-show="vm.update_profile_form.$submitted && !vm.industryValid">Required</span>
                        </div>
                    </div>
                    <div class="edit-item employee-id">
                        <h3 class="left-dash">ID</h3>
                        <div class="form-group">
                            <h4>ID Type</h4>
                            <select class="form-control" ng-model="vm.id_type" ng-options="item as item.label for item in vm.id_types"></select>
                            <input ng-show="vm.id_type.label == 'Other'" placeholder="Your ID Type" type="text" class="form-control" ng-model="vm.profile.employee.id_type">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col s12 m4 id-image">
                                    <nf-pdf ng-if="vm.profile.getIdImageExtension() === 'pdf'" url="vm.profile.getIdImage()" options="vm.nfPdfOptions"></nf-pdf>
                                    <img ng-if="vm.profile.getIdImageExtension() !== 'pdf'" ng-src="{{vm.profile.getIdImage()}}">
                                    <div class="progress" ng-show="vm.idImageUploadInProgress">
                                        <div class="determinate" style="width: {{vm.id_image_upload_percentage}}%">
                                            <span ng-if="vm.id_image_upload_percentage < 100">{{vm.id_image_upload_percentage}}%</span>
                                            <span ng-if="vm.id_image_upload_percentage == 100">Processing</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 warning">
                                    <p ng-if="vm.profile.getIdImage() != '' && vm.profile.getIdentityCheckStatus() == 'verified'"><i class="fa fa-check"></i>Verified</p>
                                    <p ng-if="vm.profile.getIdImage() != '' && vm.profile.getIdentityCheckStatus() == 'pending'"><i class="fa fa-warning"></i>This ID is pending validation</p>
                                    <p ng-if="vm.profile.getIdImage() != '' && vm.profile.getIdentityCheckStatus() == 'rejected'"><i class="fa fa-warning"></i>This ID image is not good enough, requested user to updated new one.</p>
                                </div>
                            </div>
                            <a upload-file="vm.id_image" type="id" accept="png|jpg|jpeg" on-complete="vm.idImageUploadCompleted" progress-percentage="vm.id_image_upload_percentage" in-progress="vm.idImageUploadInProgress" class="btn btn-primary orange-btn-sm">Upload ID Image</a>
                            <a ng-cloak ng-if="vm.profile.getIdImage() != ''" ng-click="vm.verifyIdImage(vm.profile)" ng-hide="vm.profile.getIdImage() != '' && vm.profile.getIdentityCheckStatus() == 'verified'" class="btn btn-primary orange-btn-sm verify-id-image">Verify this Image</a>
                            <a ng-cloak ng-if="vm.profile.getIdImage() != ''" ng-click="vm.rejectIdImage(vm.profile)" class="btn btn-primary orange-btn-sm verify-id-image">Reject this Image</a>
                        </div>
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Language</h3>
                        <div class="row">
                            <div class="col s12">
                                <a ng-repeat="language in vm.languages" class="btn btn-primary language" ng-class="{'active': language.selected}" ng-click="language.selected = !language.selected" ng-bind="language.getName()"></a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item location-box">
                        <h3 class="left-dash">Preferred Location</h3>
                        <div class="row">
                            <div class="col s12">
                                <a ng-repeat="preferred_location in vm.preferred_locations" class="btn btn-primary preferred_location" ng-class="{'active': preferred_location.selected}" ng-click="preferred_location.selected = !preferred_location.selected" ng-bind="preferred_location.getName()"></a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Availabilities</h3>
                        <div class="row">
                            <div class="col s12">
                                <div class="day-wrapper set-availablity" ng-repeat="(key, day) in  vm.dayAvailabilities">
                                    <h5>{{day.name}} <span class="pull-right day-show" ng-click="vm.toggleSelectDay(day)" ng-class="{'active': day.selected}"></span></h5>
                                    <div class="select-wrap">
                                        <p id="day_{{key}}_{{k}}" ng-repeat="(k, availability) in day.availabilities">{{availability.getTitle()}} <span class="pull-right time-select" ng-click="availability.selected = !availability.selected" ng-class="{'time-color': availability.selected}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item employee-id university-box">
                        <h3 class="left-dash">University</h3>
                        <div class="form-group university">
                            <label for="student"> I am a student
                                <input type="checkbox" id="student" ng-model="vm.isStudent" ng-true-value="true" ng-false-value="false" ng-change="vm.changeUniversity(vm.isStudent)">
                            </label>
                            <div class="university-select">
                                <select class="form-control" title="University" ng-show="vm.isStudent" ng-model="vm.profile.university" ng-options="university as university.getName() for university in vm.universities"></select>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Driving License</h3>
                        <div class="form-group driving-license">
                            <h4>Your License</h4>
                            <label ng-repeat="item in vm.driving_licenses"> {{item.label}}
                                <input type="checkbox" ng-model="item.selected">
                            </label>
                            <div class="row">
                                <div class="col s12 m4 driving-license-image">
                                    <nf-pdf ng-if="vm.profile.getDrivingLicenseImageExtension() === 'pdf'" url="vm.profile.getDrivingLicenseImage()" options="vm.nfPdfOptions"></nf-pdf>
                                    <img ng-if="vm.profile.getDrivingLicenseImageExtension() !== 'pdf'" ng-src="{{vm.profile.getDrivingLicenseImage()}}">
                                    <div class="progress" ng-show="vm.drivingLicenseImageUploadInProgress">
                                        <div class="determinate" style="width: {{vm.driving_license_image_upload_percentage}}%">
                                            <span ng-if="vm.driving_license_image_upload_percentage < 100">{{vm.driving_license_image_upload_percentage}}%</span>
                                            <span ng-if="vm.driving_license_image_upload_percentage == 100">Processing</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <a upload-file="vm.driving_license_image" type="license" accept="png|jpg|jpeg|pdf" on-complete="vm.drivingLicenseImageUploadCompleted" progress-percentage="vm.driving_license_image_upload_percentage" in-progress="vm.drivingLicenseImageUploadInProgress" class="btn btn-primary orange-btn-sm upload_driving_license_image">Upload Driving License Image</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group vehicles">
                            <h4>Your Vehicle</h4>
                            <label ng-repeat="item in vm.vehicles"> {{item.label}}
                                <input type="checkbox" ng-model="item.selected">
                            </label>
                        </div>
                    </div>
                    <div class="edit-item background-experience-box">
                        <h3 class="left-dash">Background/Experience</h3>
                        <div class="row">
                            <div class="col s12">
                                <div class="table-responsive">
                                    <table class="table table-hover last-positions">
                                        <thead>
                                            <tr>
                                                <th>Role</th>
                                                <th>Company</th>
                                                <th>Start</th>
                                                <th>End</th>
                                                <th>Comment</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in vm.profile.employee.last_positions" ng-show="vm.profile.employee.last_positions | isArray">
                                                <td ng-bind="item.getRole()"></td>
                                                <td ng-bind="item.getCompanyName()"></td>
                                                <td ng-bind="item.getStartDate() | timeFormat:'DD MMM, YYYY'"></td>
                                                <td ng-bind="item.getEndDate() | timeFormat:'DD MMM, YYYY'"></td>
                                                <td ng-bind="item.comment"></td>
                                                <td class="trash-column"><a ng-click="vm.deleteLastPosition($index, item)" class="red-text"><i class="material-icons">delete</i></a></td>
                                            </tr>
                                            <tr ng-repeat="item in vm.last_positions">
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" name="role_{{$index}}" ng-model="item.role" required>
                                                        <div class="errors">
                                                            <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.role_{{$index}}.$error.required">Required</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" name="company_name_{{$index}}" ng-model="item.company_name" required>
                                                        <div class="errors">
                                                            <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.company_name_{{$index}}.$error.required">Required</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" ng-model="start_date" name="start_date_{{$index}}" pick-a-date-options="{'selectYears': 20, 'selectMonths': true, 'today': '', 'clear': '', 'close': ''}" max-date="vm.today" pick-a-date="item.start_date" required>
                                                        <div class="errors">
                                                            <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.start_date_{{$index}}.$error.required">Required</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" ng-model="end_date" name="end_date_{{$index}}" pick-a-date-options="{'selectYears': 20, 'selectMonths': true, 'today': '', 'clear': '', 'close': ''}" max-date="vm.today" min-date="item.start_date" pick-a-date="item.end_date" required>
                                                        <div class="errors">
                                                            <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.end_date_{{$index}}.$error.required">Required</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" ng-model="item.comment">
                                                        <div class="errors"></div>
                                                    </div>
                                                </td>
                                                <td class="trash-column"><a ng-click="vm.deleteLastPosition($index, item)" class="red-text"><i class="material-icons">delete</i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a ng-click="vm.addLastPosition()" class="btn btn-primary white-btn-2 active-white" id="up-pic-btn">Add More Work Experience</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Tags</h3>
                        <div class="row">
                            <div class="col s12">
                                <md-chips ng-model="vm.profile.tags" md-autocomplete-snap md-transform-chip="vm.transformChip($chip)" md-require-match="vm.autocompleteRequireMatch">
                                    <md-autocomplete md-no-cache="true" md-selected-item="vm.selectedTag" md-search-text="searchTag" md-items="item in vm.querySearch(searchTag)" md-item-text="item.name" placeholder="Enter Tags">
                                        <span md-highlight-text="searchTag">{{item.name}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span><strong>{{$chip.name}}</strong></span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item not-available-period">
                        <h3 class="left-dash title">Not Available Period</h3>
                        <div class="row">
                            <div class="col s12">
                                <p>If you are in holiday, please let us know.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user_not_avaiable in vm.profile.user_not_avaiables">
                                                <td>
                                                    <div class="form-group" name="date-{{$index}}">
                                                        <input class="user-not-avaiable-date" type="text" pick-a-date="user_not_avaiable.start_time" ng-model="start_time" pick-a-date-options="{'format': 'dd/mm/yyyy', 'selectYears': false, 'selectMonths': false, 'today': '', 'clear': '', 'close': ''}" min-date="vm.today" class="form-control" name="start{{$index}}" required>
                                                        <div class="errors">
                                                            <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.start{{$index}}.$error.required">Required</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group" name="date-{{$index}}">
                                                        <input class="user-not-avaiable-date" type="text" pick-a-date="user_not_avaiable.end_time" ng-model="end_time" pick-a-date-options="{'format': 'dd/mm/yyyy', 'selectYears': false, 'selectMonths': false, 'today': '', 'clear': '', 'close': ''}" min-date="user_not_avaiable.start_time" class="form-control" name="end{{$index}}" required>
                                                        <div class="errors">
                                                            <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.end{{$index}}.$error.required">Required</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="remove-btn" ng-click="vm.removeMoreNotAvailable(user_not_avaiable)"><i class="fa fa-times delete-row"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a ng-click="vm.addMoreNotAvailable()" class="btn btn-primary white-btn-2 active-white add-more-not-available" id="add-more-2">Add Not Available Period</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item referral-program">
                        <h3 class="left-dash">Referral Program</h3>
                        <div class="form-group">
                            <p>Activated Users: <strong ng-bind="vm.profile.getActivatedUsers()"></strong></p>
                            <p>Referral Code: <strong ng-bind="vm.profile.getReferralCode()"></strong></p>
                            <p ng-if="vm.referral_url">Referral Url: <strong ng-bind="vm.referral_url"></strong></p>
                            <a ng-click="vm.generateShortenUrl(vm.profile)" class="btn btn-primary orange-btn-sm">Generate easy share URL</a>
                            <!--                                 <h4>Your referral link below uniquely identifies your account. Use this code when register new Ushift account!</h4>
                                <ul>
                                    <li>
                                        <p>Referal Url: <span>{{vm.affiliate_url}}</span></p>
                                    </li>
                                    <li>
                                        <a class="action btn btn-default" ng-click="coming()">Copy URL</a>
                                    </li>
                                    <li>
                                        <a class="action btn btn-default" ng-click="coming()">Share</a>
                                    </li>
                                </ul> -->
                        </div>
                    </div>
                    <div class="edit-item interviewers">
                        <h3 class="left-dash">Interviewers</h3>
                        <div class="row">
                            <div class="col s12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Staff</th>
                                                <th class="text-center">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in vm.profile.getInterviewers()">
                                                <td ng-if="item.id != undefined" ng-bind="item.getInterviewerName()"></td>
                                                <td ng-if="item.id == undefined">
                                                    <div class="form-group">
                                                        <input type="text" name="interviewer_{{$index}}" ng-model="item.interviewer_name" required>
                                                        <div class="errors">
                                                            <span ng-show="vm.update_profile_form.$submitted && vm.update_profile_form.interviewer_{{$index}}.$error.required">Required</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td ng-if="item.id != undefined" ng-bind="item.getCreatedAt() | timeFormat:'MMM DD YYYY, h:mm'"></td>
                                                <td ng-if="item.id == undefined" ng-bind="vm.today | timeFormat:'MMM DD YYYY, h:mm'"></td>
                                                <td class="trash-column"><a ng-click="vm.deleteInterviewer(item)" class="red-text"><i class="material-icons">delete</i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a ng-click="vm.addInterviewer()" class="btn btn-primary white-btn-2 active-white" id="up-pic-btn">Add Interviewer</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item history-status">
                        <h3 class="left-dash">Status history</h3>
                        <div class="row">
                            <div class="col s12">
                                <div class="table-responsive history-status-table">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Activity</th>
                                                <th class="text-center">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="activity in vm.historyStatus">
                                                <td ng-if="activity.event == 'UserReactiveAccountEvent'"><a>{{activity.payload.user.email}}</a> have re-activated account</td>
                                                <td ng-if="activity.event == 'UserDeactiveAccountEvent'"><a>{{activity.payload.user.email}}</a> have deactivated account</td>
                                                <td ng-if="activity.event == 'UserUpdateStatusEvent'"><a>{{activity.payload.user.email}}</a> has marked <a>{{activity.payload.user.email}}</a> as {{activity.payload.user_status.status}}</td>
                                                <td ng-if="activity.event == 'AdminChangeStatusEmployee'"><a>{{activity.payload.admin.email}} {{activity.payload.admin.roles | showRoles}}</a> has marked <a>{{activity.payload.user.email}} {{activity.payload.user.roles | showRoles}}</a> as {{activity.payload.user_status.status}}</td>
                                                <td ng-bind="activity.getCreatedAt() | timeFormat:'MMM DD YYYY, h:mm'"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item">
                        <h3 class="left-dash">Salary Expectation</h3>
                        <div class="row">
                            <div class="col s12">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vm.profile.salary">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item history-transferred" ng-if="vm.salaries | hasItem">
                        <h3 class="left-dash">Transfer History</h3>
                        <p>No of Transfers: {{vm.amount_received.no_of_transfer}}</p>
                        <p>Total Amount: {{vm.amount_received.total_amount | number:2}}</p>
                        <p>Amount Transferred: {{vm.amount_received.amount_transferred | number:2}}</p>
                        <div class="row">
                            <div class="col s12">
                                <div class="table-responsive history-transferred-table">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Job</th>
                                                <th class="text-center">Shift</th>
                                                <th class="text-center">Expectation</th>
                                                <th class="text-center">Transferred</th>
                                                <th class="text-center">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="salary in vm.salaries">
                                                <td>
                                                    <a ui-sref="app.jobs.update({slug: salary.shift.job.getSlug()})" ng-bind="salary.shift.job.getTitle()"></a>
                                                </td>
                                                <td>
                                                    <p>{{salary.shift.getStartTime() | timeFormat:'ddd, MMM Do, YYYY'}}</p>
                                                    <p><span ng-bind="salary.shift.getStartTime() | timeFormat:'h:mma'"></span> - <span ng-bind="salary.shift.getEndTime() | timeFormat:'h:mma'"></span></p>
                                                </td>
                                                <td><span ng-bind="salary.shift.getSalary() | number:2"></span> <span ng-bind="salary.shift.job.getCurrency()"></span></td>
                                                <td><span ng-bind="salary.getSalary() | number:2"></span> <span ng-bind="salary.shift.job.getCurrency()"></span></td>
                                                <td><span ng-if="salary.isPaid()">Transferred</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item points">
                        <h3 class="left-dash">Points</h3>
                        <div class="row">
                            <div class="col s12">
                                <ul class="points">
                                    <li>
                                        <p class="good-point" ng-if="vm.profile.point > 0"><span>+{{vm.profile.point}}</span> <span>point</span></p>
                                        <p ng-if="vm.profile.point < 0"><span>{{vm.profile.point}}</span> <span>point</span></p>
                                        <p class="bad-point" ng-if="vm.profile.point == 0"><span>{{vm.profile.point}}</span> <span>point</span></p>
                                    </li>
                                    <li>
                                        <a ng-click="vm.profile.point = vm.profile.point + 1">
                                            <button class="ui-btn btn-white btn-small btn-green"><i class="fa fa-plus" aria-hidden="true"></i><span>1</span></button>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="vm.profile.point = vm.profile.point - 1">
                                            <button class="ui-btn btn-white btn-small btn-red"><i class="fa fa-minus" aria-hidden="true"></i><span>1</span></button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item private-note">
                        <h3 class="left-dash">Private note</h3>
                        <div class="row">
                            <div class="col s12">
                                <div class="form-group">
                                    <textarea class="form-control" ng-model="vm.profile.private_note"></textarea>
                                    <span ng-show="vm.profile.private_note != undefined && vm.profile.private_note != ''">({{vm.profile.private_note | length}}/1000)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-item review-score" ng-if="vm.profile.getAvgStar() != 0 && vm.profile.getTotalReview() != 0">
                        <h3 class="left-dash">Review Score: {{vm.profile.getAvgStar()}}({{vm.profile.getTotalReview()}})</h3>
                    </div>
                    <div class="edit-item history-jobs">
                        <h3 class="left-dash">Job history</h3>
                        <div class="form-group">
                            <p>No. of job Applied: <strong ng-bind="vm.applied_jobs.length"></strong></p>
                            <div class="col s12" ng-if="vm.applied_jobs.length > 0">
                                <div class="table-responsive job-accepted-table row">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col s9">Job Title</th>
                                                <th class="col s3">Employer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="job in vm.applied_jobs">
                                                <td class="col s9">
                                                    <a ui-sref="app.jobs.update({slug: job.getSlug()})" ng-bind="job.getTitle()"></a>
                                                </td>
                                                <td class="col s3">
                                                    <a ui-sref="app.companies.edit({id: job.employer.getId()})" ng-bind="job.employer.getName()"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>No. of job Accepted: <strong ng-bind="vm.accepted_jobs.length"></strong></p>
                            <div class="col s12" ng-if="vm.accepted_jobs.length > 0">
                                <div class="table-responsive job-accepted-table row">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col s9">Job Title</th>
                                                <th class="col s3">Employer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="job in vm.accepted_jobs">
                                                <td class="col s9">
                                                    <a ui-sref="app.jobs.update({slug: job.getSlug()})" ng-bind="job.getTitle()"></a>
                                                </td>
                                                <td class="col s3">
                                                    <a ui-sref="app.companies.edit({id: job.employer.getId()})" ng-bind="job.employer.getName()"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>No. of job Completed: <strong ng-bind="vm.completed_jobs.length"></strong></p>
                            <div class="col s12" ng-if="vm.completed_jobs.length > 0">
                                <div class="table-responsive job-completed-table row">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col s9">Job Title</th>
                                                <th class="col s3">Employer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="job in vm.completed_jobs">
                                                <td class="col s9">
                                                    <a ui-sref="app.jobs.update({slug: job.getSlug()})" ng-bind="job.getTitle()"></a>
                                                </td>
                                                <td class="col s3">
                                                    <a ui-sref="app.companies.edit({id: job.employer.getId()})" ng-bind="job.employer.getName()"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>No. of job Rejected: <strong ng-bind="vm.rejected_jobs.length"></strong></p>
                            <div class="col s12" ng-if="vm.rejected_jobs.length > 0">
                                <div class="table-responsive job-rejected-table row">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col s9">Job Title</th>
                                                <th class="col s3">Employer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="job in vm.rejected_jobs">
                                                <td class="col s9">
                                                    <a ui-sref="app.jobs.update({slug: job.getSlug()})" ng-bind="job.getTitle()"></a>
                                                </td>
                                                <td class="col s3">
                                                    <a ui-sref="app.companies.edit({id: job.employer.getId()})" ng-bind="job.employer.getName()"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>No. of job Canceled: <strong ng-bind="vm.canceled_jobs.length"></strong></p>
                            <div class="col s12" ng-if="vm.canceled_jobs.length > 0">
                                <div class="table-responsive job-canceled-table row">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col s9">Job Title</th>
                                                <th class="col s3">Employer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="job in vm.canceled_jobs">
                                                <td class="col s9">
                                                    <a ui-sref="app.jobs.update({slug: job.getSlug()})" ng-bind="job.getTitle()"></a>
                                                </td>
                                                <td class="col s3">
                                                    <a ui-sref="app.companies.edit({id: job.employer.getId()})" ng-bind="job.employer.getName()"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="edit-item history-status">
                        <h3 class="left-dash">History Status</h3>
                        <div class="row">
                            <div class="col s12">
                                <div class="table-responsive history-status-table">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Activity</th>
                                                <th class="text-center">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="activity in vm.historyStatus">
                                                <td><a>{{activity.payload.admin.email}} {{activity.payload.admin.roles | showRoles}}</a> has mark <a>{{activity.payload.user.email}} {{activity.payload.user.roles | showRoles}}</a> as {{activity.payload.user_status.status}}</td>
                                                <td ng-bind="activity.getCreatedAt() | timeFormat:'MMM DD YYYY, h:mm'"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row save-changes">
                        <div class="col s12">
                            <div class="save-all">
                                <input type="submit" ng-disabled="inProgress || !(vm.industries | hasItem)" class="btn btn-primary orange-btn-sm" value="Save all Changes">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
