<div class="show-entities" ng-show="data.getTotalPages() > 1">
    <p ng-if="minEntity">{{minEntity}} - {{maxEntity}} / {{total}}</p>
    <p ng-if="!minEntity">{{maxEntity}} / {{total}}</p>
</div>
<ul class="pagination text-right pull-right pagination-box" ng-show="data.getTotalPages() > 1">
    <li ng-repeat="page in pages" ng-click="goto(page)" ng-class="{active: page === currentPage}">
        <a ng-bind="page"></a>
    </li>
</ul>
