<div class="modal-system">
    <div class="modal-header">
        <h2 class="modal-title" id="modal-title" ng-bind="vm.data.title"></h2>
    </div>
    <div class="modal-body" id="modal-body">
        <p ng-if="vm.data.content" ng-bind="vm.data.content"></p>
        <div ng-if="vm.data.htmlContent" ng-bind-html="vm.data.htmlContent | trustAsHtml" compile-template></div>
    </div>
    <div class="modal-footer">
        <button class="btn ui-btn btn-white" type="button" ng-click="vm.cancel()" ng-bind="vm.data.cancel"></button>
        <button class="btn ui-btn btn-orange" type="button" ng-click="vm.ok()" ng-bind="vm.data.ok"></button>
    </div>
</div>
