<div class="admin-assign-role">
    <table class="striped table-users">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Mobile</th>
                <th class="right-align">Assign Role</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users">
                <td ng-bind="user.getId()"></td>
                <td ng-bind="user.getEmail()"></td>
                <td ng-bind="user.getName()"></td>
                <td ng-bind="user.getMobile()"></td>
                <td class="right-align">
                    <select class="roles" ng-model="user.assignRole" ng-change="vm.assignRole(user.assignRole, user)" ng-options="options as options.name for options in vm.roles"></select>
                </td>
            </tr>
        </tbody>
    </table>
    <simple-pagination page="vm.page"></simple-pagination>
</div>
