#admin-advertisements {
    .img-wrapper {
        width: 100%;
        max-width: 200px;
        max-height: 200px;
        border: 1px solid #fcd9d4;
        margin-top: 20px;
        margin-bottom: 26px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        cursor: pointer;
    }
    .btn-upload-picture {
        background: #c44e38;
        &:hover {
            background: #f9968f;
        }
    }
}