.footer {
    background: #565656;
    color: #a4a3a3;
    font-size: $normal;
    padding: 40px 0 0;
    min-width: 100%;
    margin-top: 35px;
    .scroll-top {
        position: fixed;
        right: 30px;
        bottom: 30px;
        cursor: pointer;
        .icon {
            background: #fff;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            color: #a4a3a3;
        }
    }
    .link-item {
        margin-bottom: 10px;
        a {
            color: #fff;
        }
    }
    .social-wrapper {
        a {
            clear: initial;
            &.social-facebook {
                .icon {
                    background: #fff;
                    color: #555;
                    border-radius: 4px;
                }
            }
            &.social-youtube {
                .icon {
                    background: #fff;
                    color: #555;
                    border-radius: 4px;
                }
            }
            &.social-instagram,
            &.social-twitter {
                .icon {
                    font-size: 23px;
                }
            }
        }
        .social-item {
            width: initial;
            height: initial;
            background: initial;
        }
        .icon {
            font-size: 18px;
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            vertical-align: middle;
            color: #fff;
        }
    }
    .follow-us-wrapper {
        .heading {
            color: #fff;
            margin-bottom: 10px;
        }
    }
    .extra-links {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
        color: #fff;
        margin-bottom: 15px;
        a {
            color: #fff;
            font-weight: 400;
            margin: 0 5px;
            position: relative;
            padding-left: 10px;
            &:after {
                content: '|';
                position: absolute;
                right: -15px;
            }
            &:last-child {
                &:after {
                    content: '';
                    display: none;
                }
            }
        }
    }
    .copy-right {
        text-align: center;
        color: #fff;
        display: block;
        background: #484848;
        padding: 10px 0;
        a {
            color: #fff;
        }
    }
}