.header {
    .logo {
        float: left;
        margin: 10px 0;
        width: 15%;
        img {
            max-height: 72px;
            max-witdh: 100%;
        }
    }
    .menu-toggle {
        display: none;
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 0;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-color: #ddd;
        border-radius: 4px;
        cursor: pointer;
        .icon-bar {
            background-color: #888;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            margin-top: 4px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .menu-header {
        display: block;
        float: right;
        height: 100%;
        ul {
            >li {
                float: left;
                cursor: pointer;
                height: 100%;
                position: relative;
                text-align: center;
                transition: all .4s ease-in-out;
                margin: 0 1px;
                border: 1px solid transparent;
                border-bottom: 0;
                &:hover {
                    box-shadow: 0 -10px 32px -12px #000;
                    border-color: #cdcdcd;
                    background-color: #3b4044;
                    a {
                        color: #fff;
                    }
                }
                >a {
                    font-weight: 400;
                    font-size: $normal;
                    color: #666;
                    padding: 20px 2px 21px;
                    display: block;
                    height: 100%;
                }
            }
            li {
                .icon {
                    width: 100%;
                    font-size: 20px;
                    margin: 0 auto 10px;
                }
                &.divider {
                    width: 1px;
                    height: 22px;
                    background-color: #b2b2b2;
                    float: left;
                    margin: 30px 0;
                    padding: 0;
                    cursor: auto;
                }
                &.tab-notification {
                    width: 65px;
                    margin-left: -2px;
                    margin-right: -2px;
                    position: relative;
                    z-index: 1;
                    a {
                        padding-top: 28px;
                        height: 91px;
                        position: relative;
                        z-index: 1;
                        box-sizing: border-box;
                    }
                    .icon {
                        font-size: 26px;
                    }
                    .text {
                        display: none;
                    }
                }
            }
        }
    }
}