<footer class="footer">
    <div class="scroll-top hide" scroll-top>
        <i class="fa fa-arrow-up icon"></i>
    </div>
    <div class="container custom-container">
        <div class="row">
            <section class="area-1 col-sm-3 col-xs-6 full-width-xs">
                <div class="link-item">
                    <a href="/testyourself/blank-page/your-cv" force-reload title="CV - Free Review">CV - Free Review</a>
                </div>
                <div class="link-item">
                    <a ui-sref="app.job-vacancies.list({page: 1})" title="Job Vacancies">Job Vacancies</a>
                </div>
                <div class="link-item">
                    <a href="/testyourself/exam-list/immigration-service" force-reload title="Job Aptitude Tests">Job Aptitude Tests</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Job Interview Tips" ng-click="featureComingSoon()">Job Interview Tips</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Scholarships" ng-click="featureComingSoon()">Scholarships</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Cover Letter & Statement of Purpose" ng-click="featureComingSoon()">Cover Letter & Statement of Purpose</a>
                </div>
            </section>
            <section class="area-2 col-sm-3 col-xs-6 full-width-xs">
                <div class="link-item">
                    <a href="#" title="Business Plans" ng-click="featureComingSoon()">Business Plans</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Bulk SMS Services" ng-click="featureComingSoon()">Bulk SMS Services</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Data Services" ng-click="featureComingSoon()">Data Services</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Marketing and Strategy" ng-click="featureComingSoon()">Marketing and Strategy</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Consultancy Services" ng-click="featureComingSoon()">Consultancy Services</a>
                </div>
            </section>
            <section class="area-3 col-sm-3 col-xs-6 full-width-xs">
                <div class="link-item">
                    <a href="/testyourself/document/popular-downloads-1" title="eBooks" force-reload>eBooks</a>
                </div>
                <div class="link-item">
                    <a href="#" title="E-Books" ng-click="featureComingSoon()">E-Books</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Softwares" ng-click="featureComingSoon()">Softwares</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Business Proposals" ng-click="featureComingSoon()">Business Proposals</a>
                </div>
                <div class="link-item">
                    <a href="#" title="News and Information" ng-click="featureComingSoon()">News and Information</a>
                </div>
                <div class="link-item">
                    <a href="#" title="Career Advice" ng-click="featureComingSoon()">Career Advice</a>
                </div>
            </section>
            <section class="area-4 col-sm-3 col-xs-6 full-width-xs">
                <div class="follow-us-wrapper">
                    <div class="heading">Follow Us</div>
                    <div class="social social-wrapper">
                        <a ng-if="web_info.getFacebook() !== ''" class="social-item social-facebook" ng-href="{{ web_info.getFacebook() }}" target="_blank">
                            <i class="icon fa fa-facebook"></i>
                        </a>
                        <a ng-if="web_info.getYoutube() !== ''" class="social-item social-youtube" ng-href="{{ web_info.getYoutube() }}" target="_blank">
                            <i class="icon fa fa-youtube"></i>
                        </a>
                        <a ng-if="web_info.getInstagram() !== ''" class="social-item social-instagram" ng-href="{{ web_info.getInstagram() }}" target="_blank">
                            <i class="icon fa fa-instagram"></i>
                        </a>
                        <a ng-if="web_info.getTwitter() !== ''" class="social-item social-twitter" ng-href="{{ web_info.getTwitter() }}" target="_blank">
                            <i class="icon fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="extra-links">
        <a href="#" ng-click="featureComingSoon()" title="Terms & Conditions and Privacy Policy">Terms & Conditions and Privacy Policy</a>
        <a href="/contact-us" force-reload title="Contact Us">Contact Us</a>
        <a href="/testyourself/show-faq" force-reload title="FAQs">FAQs</a>
    </div>
    <div class="copy-right">2017 © <a href="https://globaltestpoint.com/">www.globaltestpoint.com</a> All Rights Reserved.</div>
</footer>