<header class="header">
    <div class="container custom-container">
        <div class="logo">
            <a ui-sref="app.job-vacancies.list({page: 1})" ui-sref-opts="({inherit: false})">
				<img ng-src="{{ asset('/assets/frontend/images/testyourself/logo.png')}}" alt="Globaltestpoint logo" />
			</a>
        </div>
        <div class="menu-toggle" toggle-menu selector=".menu-header">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <nav class="menu-header">
            <ul>
                <li class="tab tab-jobs">
                    <a ui-sref="app.job-vacancies.list({page: 1})">
                        <i class="icon fa fa-suitcase"></i>
                        <span class="text">Jobs</span>
                    </a>
                </li>
                <li class="tab tab-interview-tips">
                    <a href="/testyourself/exam-list/promotion-exams-1" force-reload>
                        <i class="icon fa fa-cog"></i>
                        <span class="text">Interview Tips</span>
                    </a>
                </li>
                <li class="tab tab-aptitude-tests">
                    <a href="/testyourself/exam-list/immigration-service" force-reload>
                        <i class="icon fa fa-bolt"></i>
                        <span class="text">Aptitude Tests</span>
                    </a>
                </li>
                <li class="tab tab-cv-review">
                    <a href="/testyourself/blank-page/your-cv-free-review" force-reload>
						<i class="icon fa fa-hand-o-right"></i>
						<span class="text">CV Review</span>
					</a>
                </li>
                <li class="tab tab-ebooks">
                    <a href="/testyourself/blank-page/e-books" force-reload>
                        <i class="icon fa fa-book"></i>
                        <span class="text">Ebooks</span>
                    </a>
                </li>
                <li class="tab tab-login" ng-if="!user">
                    <a href="{{ asset('/login') }}" force-reload>
						<i class="icon fa fa-lock"></i>
						<span class="text">Login</span>
					</a>
                </li>
                <li class="tab tab-register" ng-if="!user">
                    <a href="{{ asset('/sign_up') }}" force-reload>
						<i class="icon fa fa-user-plus"></i>
						<span class="text">Register</span>
					</a>
                </li>
                <li class="divider"></li>
                <li class="tab tab-notification">
                    <a href="javascript:;" ng-click="featureComingSoon()">
						<i class="icon fa fa-bell-o"></i>
						<span class="text">Notification</span>
					</a>
                </li>
                <li class="divider"></li>
                <li class="tab tab-employers">
                    <a href="javascript:;" ng-click="featureComingSoon()">
						<i class="icon fa fa-users"></i>
						<span class="text">For Employers</span>
					</a>
                </li>
            </ul>
        </nav>
    </div>
</header>