<div class="admin-login-as-user" ng-if="admin_session">
    <div class="container">
        <div class="row">
            <!-- <div class="role col-md-2 col-xs-4">
                <span>role: </span>
                <strong ng-bind="admin_profile.roles[0].name"></strong>
            </div> -->
            <div class="return-to-your-account col-md-3 col-xs-5 pull-right">
                <a class="ui-btn btn-white btn-full-width" ng-click="vm.logoutAsUser()">Return to your account...</a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper employer-master">
    <div class="div-left">
        <div class="logo">
            <a ui-sref="app.dashboard.jobs.draft" ui-sref-opts="{reload: true}"><img ng-src="/assets/images/logo-ushift.png" alt="" /></a>
            <a ng-click="showMobileNabar = !showMobileNabar" id="nav-toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="side-nav" ng-class="{'show': showMobileNabar}">
            <!-- <ul class="navigation sub-navigation animated fadeIn" ng-if="subMenus | hasItem">
                <li ui-sref-active="active" ng-repeat="item in subMenus">
                    <a ng-if="item.state" ui-sref="{{item.state}}" ui-sref-opts="{reload: item.state}" title="{{item.menu}}">
                        <span>{{item.menu}} <span class="badge" ng-if="item.badge && item.badge > 0" ng-bind="item.badge"></span></span>
                    </a>
                    <a ng-if="!item.state" ng-click="item.action()" title="{{item.menu}}">
                        <span>{{item.menu}} <span class="badge" ng-if="item.badge && item.badge > 0" ng-bind="item.badge"></span></span>
                    </a>
                </li>
            </ul> -->
            <ul class="navigation animated fadeIn">
                <li ui-sref-active="active" ng-repeat="item in mainMenus">
                    <a ng-if="item.state" ui-sref="{{item.state}}" ui-sref-opts="{reload: item.state}" title="{{item.menu}}">
                        <span>{{item.menu}} <span class="badge" ng-if="item.badge && item.badge > 0" ng-bind="item.badge"></span></span>
                    </a>
                    <a ng-if="!item.state" ng-click="item.action()" title="{{item.menu}}">
                        <span>{{item.menu}} <span class="badge" ng-if="item.badge && item.badge > 0" ng-bind="item.badge"></span></span>
                    </a>
                </li>
            </ul>
            <!-- <div class="text-center">
                <a href="#" class="btn btn-primary btn--red"><img ng-src="/assets/images/calendar.png" alt="" /> Jobs Calendar</a>
            </div> -->
        </nav>
    </div>
    <div class="div-right">
        <div class="top-nav">
            <div class="top-nav-left">
                <ul>
                    <li>
                        <a ui-sref="app.inbox" ui-sref-opts="{reload: true}">
                            <i class="fa fa-envelope"></i> Inbox <span class="unread-count" ng-if="vm.store.getState().Inbox.has_unread">({{vm.store.getState().Inbox.unread}})</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown" id="main-menu-dropdown">
                            <i class="fa fa-user"></i> My Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="main-menu-dropdown">
                            <li><a ui-sref="app.profile.update" ui-sref-opts="{reload: true}"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a ui-sref="app.payment.account" ui-sref-opts="{reload: true}"><i class="fa fa-credit-card"></i> Payment</a></li>
                            <li><a ui-sref="app.account-settings" ui-sref-opts="{reload: true}"><i class="fa fa-gear"></i> Account Settings</a></li>
                            <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-nav-right">
                <ul>
                    <li class="xs-hide dropdown">
                        <a type="button" data-toggle="dropdown" id="call-support-dropdown">
                            <i class="fa fa-phone"></i> Call Support
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="call-support-dropdown">
                            <li><a href="tel:6531389711"><i class="fa fa-phone-square"></i> +65 3138 9711</a></li>
                        </ul>
                    </li>
                    <li class="top-nav-right-action">
                        <a ng-if="!$state.is('app.post-job')" ui-sref="app.post-job" class="btn--white">Post/Renew a Job</a>
                        <a ng-if="$state.is('app.post-job')" ui-sref="app.dashboard.jobs.draft" class="btn--white">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
        <section id="main-content" ng-class="{'employer-dashboard': $state.current.name == 'app.job'}">
            <div class="container-fluid">
                <div ui-view="content"></div>
            </div>
        </section>
    </div>
</div>
<!-- <div ng-include="'/webapp/js/app/common/partials/layouts/_footer.tpl.html'"></div> -->
