<div class="admin-login-as-user" ng-if="admin_session">
    <div class="container">
        <div class="row">
            <!-- <div class="role col-md-2 col-xs-4">
                <span>role: </span>
                <strong ng-bind="admin_profile.roles[0].name"></strong>
            </div> -->
            <div class="return-to-your-account col-md-3 col-xs-5 pull-right">
                <a class="ui-btn btn-white btn-full-width" ng-click="vm.logoutAsUser()">Return to your account...</a>
            </div>
        </div>
    </div>
</div>
<header class="fixed-header" ng-class="{'fixed-header-admin-login-as-user': admin_session}" ng-if="!user.isEmployer() || (user.isEmployer() && !isStateOrChildOf('app.dashboard') && !isStateOrChildOf('app.my_account'))">
    <div class="menu-top">
        <div class="main-nav">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="sms-inbox-mobile visible-mobile">
                            <a ui-sref="app.inbox">
                                <i class="glyphicon glyphicon-envelope icon"></i>
                                <span class="unread-count" ng-if="vm.store.getState().Inbox.has_unread">({{vm.store.getState().Inbox.unread}})</span>
                            </a>
                        </div>
                        <a ng-if="$state.current.name != 'app.dashboard.jobs.all'" class="navbar-brand" ui-sref="app.dashboard.jobs.all({'page': 1})">
                            <img ng-src="{{ asset('/assets/images/logo-new.png')}}" alt="Ushift logo" />
                        </a>
                        <a ng-if="$state.current.name == 'app.dashboard.jobs.all'" class="navbar-brand" ui-sref="app.dashboard.jobs.all({'page': 1})" force-reload>
                            <img ng-src="{{ asset('/assets/images/logo-new.png')}}" alt="Ushift logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav left-list">
                            <li>
                                <a ng-if="user.isEmployer() && $state.current.name != 'app.post-job'" ui-sref="app.post-job">POST A JOB</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-if="user.needUpdateRole()">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a ng-click="logout()">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-if="user.isEmployer()">
                            <li class="dropdown hidden-mobile">
                                <a ui-sref="app.inbox">Inbox <span ng-show="vm.store.getState().Inbox.has_unread">({{vm.store.getState().Inbox.unread}})</span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a ui-sref="app.dashboard.jobs.all({'page': 1})">Dashboard</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.profile.update">Profile</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.payment.account">Payment</a>
                                    </li>
                                    <li>
                                        <a ui-sref="app.account-settings">Account Settings</a>
                                    </li>
                                    <li>
                                        <a ng-click="logout()">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-if="user.isEmployee()">
                            <li class="dropdown hidden-mobile" ng-if="user.isSocialAccount() || user.isVerifiedPhoneNumber()">
                                <a ui-sref="app.inbox">Inbox <span ng-show="vm.store.getState().Inbox.has_unread">({{vm.store.getState().Inbox.unread}})</span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ng-if="user.isVerifiedPhoneNumber()">
                                        <a ui-sref="app.dashboard.jobs.all({'page': 1})">Dashboard</a>
                                    </li>
                                    <li ng-if="user.isVerifiedPhoneNumber()">
                                        <a ui-sref="app.profile.update({'user_id': me})">Profile</a>
                                    </li>
                                    <li ng-if="user.isVerifiedPhoneNumber()">
                                        <a ui-sref="app.payment.account">Payment</a>
                                    </li>
                                    <li ng-if="user.isVerifiedPhoneNumber()">
                                        <a ui-sref="app.account-settings">Account Settings</a>
                                    </li>
                                    <li>
                                        <a ng-click="logout()">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<div ui-view="content" class="employee-master"></div>
<div ng-include="'/webapp/js/app/common/partials/layouts/_footer.tpl.html'"></div>
