<header class="no-login-header">
    <div class="menu-top">
        <div class="main-nav">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/" force-reload>
                            <img src="/assets/images/logo-new.png" alt="Ushift logo" />
                        </a>
                    </div>
                    <div class="homepage-btn pull-left">
                        <a href="/" force-reload class="btn btn-primary orange-btn-sm job-seekers">Homepage</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="$state.is('user.login')">
                            <a ui-sref="user.register.employer">REGISTER</a>
                        </li>
                        <li ng-if="$state.is('user.register') || $state.is('user.password.forgot') || $state.is('user.password.reset')">
                            <a ui-sref="user.login">LOGIN</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<div ui-view="content" class="no-login"></div>
<div ng-include="'/webapp/js/app/common/partials/layouts/_footer.tpl.html'"></div>
