body {
    background: #e8e8e8;
    color: #555;
    font-size: 13px;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.btn {
    .red {
        background-color: $red;
    }
}

.custom-container {
    width: 990px;
}

.full-wrap {
    min-width: 100%;
    .bg-wrap
    {
        background: url(../images/bg-wrap.jpg) center/cover no-repeat #465764;
        float: left;
        height: 100%;
        min-width: 100%;
        position: absolute;
        width: 990px;
        z-index: -1;
        overflow: hidden;
        opacity: .9;
        &:after {
            background: url(../images/bg-wrap.jpg) center/cover no-repeat #465764;
            float: left;
            height: 100%;
            min-width: 100%;
            position: absolute;
            width: 990px;
            z-index: -1;
            content: "";
            -moz-filter: blur(20px);
            -o-filter: blur(20px);
            -ms-filter: blur(20px);
            filter: blur(20px);
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
        }
    }
}

.social {
    .social-heading {
        font-size: 12px;
        color: #555;
        font-weight: bold;
    }
    .social-item {
        margin: 4px 0 0 2px;
        line-height: 16px;
        clear: none;
        font-size: 20px;
        display: inline-block;
        transition: all .5s;
        &:hover {
            webkit-transform: scale(1.2, 1.2);
            -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
        }
    }
}

.breadcrumb {
    background: initial;
    padding: 0;
    margin: 17px 0;
    li {
        font-size: 11px;
        &.active {}
        a {
            text-decoration: underline;
            color: #dae0e4;
        }
    }
    >.active {
        color: #dae0e4;
    }
}

.breadcrumb>li+li:before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #919ea9;
}

.pagination {
    margin: 15px 0;
    li {
        a {
            cursor: pointer;
        }
    }
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-radius: 0;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}

.pagination>li>a,
.pagination>li>span {
    border: 0;
    margin: 0 1px;
    color: #666;
    font-size: 12px;
    padding: 3px 8px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: #fff;
    border-color: #fff;
    color: #666;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}