.picker {
    &:not(.picker--opened) {
        .picker__list {
            position: absolute;
            z-index: -1;
        }
    }
    &:not(.picker--time) {
        width: 300px;
        font-family: $museo_sans500;
        font-size: 14px;
        .picker__holder {
            border-radius: 6px;
            background: #2C6E8E;
            color: #fff;
            &:focus {
                outline: none;
            }
        }
        .picker__wrap {
            margin-bottom: 5px;
            .picker__header {
                .picker__nav--prev {
                    left: -5px;
                    &:before {
                        border-right: 0.75em solid #fff;
                    }
                }
                .picker__nav--next {
                    right: -5px;
                    &:before {
                        border-left: 0.75em solid #fff;
                    }
                }
                .picker__nav--prev,
                .picker__nav--next {
                    border-radius: 4px;
                    padding: 5px;
                }
                .picker__nav--prev:hover,
                .picker__nav--next:hover {
                    background: #50A2C9;
                }
                .picker__year {
                    color: #fff;
                    font-style: normal;
                }
                .picker__select--month,
                .picker__select--year {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    background-image: none!important;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    option {
                        color: #333!important;
                    }
                    &:hover {
                        color: #FF8000;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .picker__button--clear,
                .picker__button--close {
                    background: transparent;
                }
            }
            .picker__table {
                .picker__weekday {
                    color: #fff;
                }
                .picker__day--disabled {
                    background: transparent;
                    border: none;
                    opacity: 0.5;
                }
                .picker__day--outfocus {
                    &:not(.picker__day--disabled) {
                        color: #FF8000;
                    }
                }
            }
        }
    }
}