.ui-btn {
    transition: all .3s;
    color: #fff;
    padding: 8px 22px;
    display: inline-block;
    font-size: $normal;
    width: 150px;
    text-align: center;
    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }
    &.btn-red {
        background-color: #ee0000;
        &:hover {
            background-color: #bf2b2b;
        }
    }
    &.btn-blue-sky {
        background-color: #09c;
        &:hover {
            background-color: #1a7d9e;
        }
    }
    &.btn-white {
        background-color: #fff;
        &:hover {
            background-color: #fff;
        }
    }
    &.color-red {
        color: #ff2e49;
    }
}