<div class="create-page create-advertisement">
    <div class="col-xs-12">
        <div class="create-form create-advertisement-form">
            <h2 class="text-center">Create new Advertisement</h2>
            <form name="vm.create_advertisement_form" ng-submit="vm.create_advertisement_form.$valid && vm.createAdvertisement(vm.advertisement)" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group float-input">
                            <label class="active">Name *</label>
                            <input type="text" ng-focus="vm.create_advertisement_form.name.$focused = true" class="form-control" ng-model="vm.advertisement.name" name="name" required ng-maxlength="255">
                            <div class="icons" ng-show="vm.create_advertisement_form.name.$focused">
                                <i ng-if="!vm.create_advertisement_form.name.$error.required && !vm.create_advertisement_form.name.$error.maxlength" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_advertisement_form.name.$error.required || vm.create_advertisement_form.name.$error.maxlength" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_advertisement_form.$submitted && vm.create_advertisement_form.name.$error.required">Required</span>
                                <span ng-show="vm.create_advertisement_form.$submitted && vm.create_advertisement_form.name.$error.maxlength">The value is too long</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group float-input">
                            <label class="active">URL *</label>
                            <input type="text" ng-focus="vm.create_advertisement_form.url.$focused = true" class="form-control" ng-model="vm.advertisement.url" name="url" required ng-maxlength="255" ng-pattern="/(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/">
                            <div class="icons" ng-show="vm.create_advertisement_form.url.$focused">
                                <i ng-if="!vm.create_advertisement_form.url.$error.required && !vm.create_advertisement_form.url.$error.maxlength && !vm.create_advertisement_form.url.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_advertisement_form.url.$error.required || vm.create_advertisement_form.url.$error.maxlength || vm.create_advertisement_form.url.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_advertisement_form.$submitted && vm.create_advertisement_form.url.$error.required">Required</span>
                                <span ng-show="vm.create_advertisement_form.$submitted && vm.create_advertisement_form.url.$error.maxlength">The value is too long</span>
                                <span ng-show="vm.create_advertisement_form.$submitted && vm.create_advertisement_form.url.$error.pattern">URL format invalid</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group float-input">
                            <label class="active">Order</label>
                            <input type="text" ng-focus="vm.create_advertisement_form.order.$focused = true" class="form-control" ng-model="vm.advertisement.order" name="order" ng-pattern="/^\d+$/">
                            <div class="icons" ng-show="vm.create_advertisement_form.order.$focused">
                                <i ng-if="!vm.create_advertisement_form.order.$error.pattern" class="valid fa fa-check-circle-o" aria-hidden="true"></i>
                                <i ng-if="vm.create_advertisement_form.order.$error.pattern" class="invalid fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="errors">
                                <span ng-show="vm.create_advertisement_form.$submitted && vm.create_advertisement_form.order.$error.pattern">Please enter a number</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group float-input advertisement-position-wrapper">
                            <label class="active">Position</label>
                            <div class="content">
                                <label class="relative" for="above-relative-search">Display above Related search</label>
                                <input type="radio" id="above-relative-search" ng-focus="vm.create_advertisement_form.position.$focused = true" ng-model="vm.advertisement.position" name="position" ng-value="1">
                                <label class="relative" for="under-relative-search">Display under Related search</label>
                                <input type="radio" id="under-relative-search" ng-focus="vm.create_advertisement_form.position.$focused = true" ng-model="vm.advertisement.position" name="position" ng-value="2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="active">Active</label>
                            <input type="checkbox" ng-focus="vm.create_advertisement_form.status.$focused = true" ng-model="vm.advertisement.status" name="status" ng-true-value="1" ng-false-value="0">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-disabled="inProgress" type="submit" class="btn ui-btn btn-full-width orange-btn-sm" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>