<div class="edit-user">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <form name="vm.editUserForm" ng-submit="vm.editUserForm.$valid && vm.editUser(vm.user)" update-text-fields novalidate class="form-edit-user">
                                <div class="row">
                                    <div class="col s12">
                                        <md-input-container>
                                            <label>Role *</label>
                                            <md-select ng-model="vm.role" aria-label="role" name="role" required>
                                                <md-option ng-value="role" ng-repeat="role in vm.roles">{{ role.name }}</md-option>
                                            </md-select>
                                            <div class="errors">
                                                <span ng-show="vm.editUserForm.$submitted && vm.editUserForm.role.$error.required">Required</span>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <md-input-container>
                                            <label class="required">First Name</label>
                                            <input type="text" ng-model="vm.user.first_name" name="first_name" required ng-maxlength="20">
                                            <div class="errors">
                                                <span ng-show="vm.editUserForm.$submitted && vm.editUserForm.first_name.$error.required">Required</span>
                                                <span ng-show="vm.editUserForm.$submitted && vm.editUserForm.first_name.$error.maxlength">The value is too long</span>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col s6">
                                        <md-input-container>
                                            <label class="required">Last Name</label>
                                            <input type="text" ng-model="vm.user.last_name" name="last_name" required ng-maxlength="20">
                                            <div class="errors">
                                                <span ng-show="vm.editUserForm.$submitted && vm.editUserForm.last_name.$error.required">Required</span>
                                                <span ng-show="vm.editUserForm.$submitted && vm.editUserForm.last_name.$error.maxlength">The value is too long</span>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <md-input-container>
                                            <label class="required">Email</label>
                                            <input type="email" ng-model="vm.user.email" name="email" required ng-maxlength="40">
                                            <div class="errors">
                                                <span ng-show="vm.editUserForm.$submitted && vm.editUserForm.email.$error.required">Required</span>
                                                <span ng-show="vm.editUserForm.$submitted && vm.editUserForm.email.$error.email">Please enter a valid email</span>
                                                <span ng-show="vm.editUserForm.$submitted && vm.editUserForm.email.$error.maxlength">The value is too long</span>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row action-btn">
                                    <div class="col s12">
                                        <button class="btn waves-effect waves-light" ng-disabled="inProgress" ng-class="{'disabled': inProgress}" type="submit" name="action">update
                                            <i class="material-icons right">trending_flat</i>
                                            <i class="material-icons right icon-pending">replay</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
